.c-mortgage
	
	&--lot
		padding 35px 0 19px
		
	&--page
		padding 28px 0 74px
		
	&--installments
		.c-mortgage__button
			margin-top 60px
		
	&__sort-row
		
		&--adaptive
			display none
		
	&__sort
		max-width 258px
		display block
		margin-left auto
		margin-right auto
		
		.jq-selectbox
			
			&__trigger
				opacity 0

			&__select
				padding-right 35px
				background transparent
			
			&__select-text
				font-size: 12px;
				text-decoration-line: underline;
				color: #0F496D;
				text-align left
				padding-left 34px
				position relative
				width 100% !important
				
				&:before
					content "сортировать "
					
				&:after
					content ""
					position absolute
					left 12px
					top 50%
					margin-top -6px
					width 12px
					height 12px
					background url('../img/sort.svg') 0 0 no-repeat
					
			&__dropdown ul
				padding-bottom 15px
					
		&.jq-selectbox
			li
				font-size: 12px;
				line-height: 18px;
				color: #000000;

		&.opened
			.jq-selectbox
				
				&__select
					background #E9F3F9
					
				&__trigger
					opacity 1
			
			
	&__main-layout
		display flex
		margin-top 20px
		
	&__main-layout-item
		flex 1 1 auto
		
		&--block
			flex 0 0 567px
			margin-right 30px
			
	&__filter
		background: #E9F3F9;
		border-radius: 50px;
		padding 60px 65px 71px 52px
		
	&__filter-title
		font-weight: 700;
		font-size: 39px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #002C3E;
		margin-bottom 20px
		
	&__filter-item
		margin-bottom 34px
		
		&:last-child
			margin-bottom 0
		
	&__filter-item-title
		font-size: 16px;
		line-height: 24px;
		color: #002C3E;
		
	&__filter-item-range
		margin-top 3px
		.noUi-horizontal .noUi-origin.noUi-background,.noUi-horizontal
			background #fff
			
	&__price-row
		display flex
		justify-content space-between
		align-items center
		margin-top 55px
		
	&__price-desc
		font-size: 24px;
		line-height: 100%;
		color: #002C3E;
		margin-right 10px
		
	&__price
		font-weight: 700;
		font-size: 44px;
		line-height: 120%;
		letter-spacing: 0.05em;
		color: #002C3E;
		
	&__payment
		margin-top 10px
		
	&__payment-link
		font-size: 18px;
		line-height: 100%;
		color: #00AAE7;

	&__button
		margin-top 40px
		
		.default-button
			max-width 100%
			
	&__list
		margin-top 123px
		padding 0 50px
		
	&__banks-grid
		display flex
		flex-wrap wrap
		margin-left -30px
		
	&__banks-elem
		flex 0 0 50%
		padding-left 30px
		padding-bottom 30px
	
	&__banks-item
		height 100%

	&__banks-item-topline
		background #E2F0F9
		border-radius 40px 40px 0 0 
		padding 33px 15px 33px 30px
		display flex
		align-items center
		
	&__banks-item-icon
		flex 0 0 83px
		margin-right 25px
		font-size 0
		
		img
			max-width 100%
	
	&__banks-item
		display flex
		flex-direction column

	&__banks-item-name
		font-family: rm;
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		line-height: 100%;
		text-transform: uppercase;
		color: #002C3E;
		
	&__banks-item-bottom
		background #fff
		border-radius 0 0 40px 40px
		padding 35px 30px 40px
		flex 1 1 auto
		display flex
		flex-direction column
		
	&__banks-item-price
		font-weight: 700;
		font-size: 35px;
		line-height: 100%;
		color: #002C3E;
		
	&__banks-item-years
		display flex
		margin-top 13px
		
	&__banks-item-year
		font-weight: 700;
		font-size: 16px;
		line-height: 100%;
		margin 0 17px 10px 0
		color: #002C3E;
		
	&__banks-item-buttons
		margin 25px 0 12px -18px
		display flex
		flex-wrap wrap
		
	&__banks-item-button
		background: #E9F3F9;
		border-radius: 50px;
		margin 0 0 20px 18px
		font-size: 16px;
		text-align: center;
		color: #00AAE7;
		padding 11px 32px 10px
		
	&__banks-item-link
		margin-top auto
		
		.default-button
			height 51px
			border-radius 20px
			font-size 14px
			max-width 100%
			
	&__adaptive-all
		display none
			
	&__adaptive-all-button
		display inline-flex
		align-items center
		justify-content center
		width 100%
		text-decoration none
		border: 1px solid #00AAE7;
		box-sizing: border-box;
		border-radius: 10px;
		font-family: 'Montserrat';
		font-weight: 700;
		font-size: 10px;
		line-height: 130%;
		letter-spacing: 0.02em;
		height 36px
		color: #002C3E;
		
	&__all
		margin 30px 0 0
		
	&__all-button
		border: 1.5px solid #00AAE7;
		box-sizing: border-box;
		border-radius: 20px;
		max-width 250px
		width 100%
		height 66px
		font-family: 'Montserrat';
		font-weight: 500;
		font-size: 16px;
		line-height: 130%;
		text-align: center;
		letter-spacing: 0.02em;
		color: #002C3E;
		display flex
		align-items center
		justify-content center
		text-decoration none
		margin 0 auto
		
	&__installments
		background: #FFFFFF;
		border-radius: 40px;
		padding 30px 30px 60px
		
	&__installments-top
		display flex
		justify-content center
		align-items center
		background #E2F0F9
		border-radius: 40px;
		padding 30px 20px 30px 46px
		min-height 180px
		margin-bottom 30px
		
	&__installments-title
		font-family: rm;
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		line-height: 100%;
		text-transform: uppercase;
		color: #002C3E;
		margin-right 24px
		margin-top 10px
		
	&__installments-description
		font-weight: 700;
		font-size: 35px;
		line-height: 100%;
		color: #E60000;
		margin-top 10px
		
	&__installments-row
		display flex
		align-items center
		margin-bottom 24px
		
	&__installments-row-title
		flex 0 0 50%
		font-size: 22px;
		line-height: 100%;
		color: #002C3E;
		
	&__installments-row-text
		flex 0 0 50%
		font-weight: 700;
		font-size: 22px;
		line-height: 100%;
		color: #002C3E;
		padding-left 7px
		
	&__installments-button
		margin-top 30px
		
		.default-button
			max-width 200px
			height 51px
			font-size 14px
		
@media all and (max-width: 1480px)
	.c-mortgage
		
		&__main-layout-item
			
			&--block
				flex 0 0 490px
				
		&__filter
			padding 50px 35px 60px
			
		&__price
			font-size 40px
			
		&__banks-item-name
			font-size 24px
			
		&__installments-top
			padding 30px 20px
			
		&__installments-title
			margin-right 14px
			
@media all and (max-width: 1280px)
	.c-mortgage
		
		&__banks-elem
			flex 0 0 100%
			
		&__installments-row-title
			font-size 20px
			
		&__installments-row-text
			font-size 20px
			
@media all and (max-width: 900px)
	.c-mortgage
		
		&--lot
			padding 30px 0 20px
		
		&__main-layout
			display block
			margin-top 0
			
		&__main-layout-item
			
			&--block
				margin-right 0
				
		&__list
			margin-top 40px
			padding 0
			
		&__sort-row
			display none
			
			&--adaptive
				display block
				text-align left
				margin 25px 0 20px
				
@media all and (max-width: 768px)
	.c-mortgage
		
		&__price-desc
			font-size 20px
			
		&__price
			font-size 36px
			
@media all and (max-width: 480px)
	.c-mortgage
		
		&--lot
			padding 16px 0 24px
			
		&--page
			padding 11px 0 13px
			
			.c-mortgage
				
				&__filter
					padding 23px 10px
					
				&__filter-title
					text-align center
			
		&--installments
			.c-mortgage__button
				margin-top 15px
		
		&__inner {}
		
		&__filter
			margin-left -10px
			margin-right -10px
			padding 39px 10px 21px
			border-radius 30px
			
		&__filter-title
			font-weight: 700;
			font-size: 16px;
			line-height: 130%;
			letter-spacing: 0.02em;
			color: #002C3E;
			margin-bottom 16px
			
		&__filter-item-title
			font-size: 10px;
			line-height: 15px;
			color: #A1C4DA;
		
		&__price-row
			margin-top 33px
			
		&__price-desc
			font-size 12px
			
		&__price
			font-size 28px
			
		&__payment
			margin-top 16px
			
		&__payment-link
			font-size 12px
			
		&__button
			margin-top 10px
			
			.default-button
				height 36px
				padding 0
				border-radius: 10px;
				font-size 10px
				
		&__list
			margin-top 20px
			
		&__sort
			font-size 8px
			margin 0
			
			.jq-selectbox__select-text
				font-size 10px
			
		&__sort-row
			&--adaptive
				margin-bottom 13px
			
		&__banks-grid
			margin-left -10px
			margin-right -10px
			
		&__banks-elem
			padding-left 0
			flex 0 0 100%
			padding-bottom 18px
			
		&__banks-item
			background: #FFFFFF;
			border-radius: 30px 30px 0px 0px;
			padding 14px 9px 16px
			
		&__banks-item-topline
			padding 15px 20px 14px 70px
			border-radius: 20px;
			
		&__banks-item-icon
			flex 0 0 54px
			margin-right 15px
			
		&__banks-item-name
			font-size 21px
			
		&__banks-item-bottom
			padding 10px 0 0
			
		&__banks-item-adaptive-price
			display flex
			align-items center
			
		&__banks-item-price
			font-size 22px
			margin-right auto
			
		&__banks-item-year
			font-size 10px
			margin-right 14px
			margin-bottom 0
			margin-top 3px
			
		&__banks-item-buttons
			margin 10px 0 0 -9px
			
		&__banks-item-button
			font-size 12px
			padding 6px 22px
			margin 0 0 11px 9px
			
		&__banks-item-link
			.default-button
				height 36px
				padding 0
				font-size 10px
				border-radius: 10px;
				
		&__adaptive-all
			display block
			
		&__installments
			border-radius: 30px 30px 0px 0px;
			padding 14px 10px
			
		&__installments-top
			min-height 83px
			padding 16px 40px
			margin-bottom 13px
			border-radius 20px
			
		&__installments-title
			font-size 24px
			margin 0 30px 0 0
			
		&__installments-description
			font-size 24px
			margin 0
			
		&__installments-row
			margin-bottom 14px
			
		&__installments-row-title,&__installments-row-text
			font-size 14px
			
		&__installments-button
			margin-top 16px
			.default-button
				height 36px
				padding 0
				font-size 10px
				max-width 100%
				
		&__all
			margin-top 0
			
		&__all-button
			height 36px
			border: 1px solid #00AAE7;
			font-size 10px
			border-radius: 10px;
			max-width 100%