<div block="c-mortgage" mods="{{mortgageMods}}">
	<div elem="inner" class="container2">
		<div elem="sort-row">
			<select name="" id="" elem="sort">
				<option value="1">по умолчанию</option>
				<option value="2">по цене</option>
				<option value="3">по площади</option>
			</select>
		</div>
		<div elem="main-layout">
			<div elem="main-layout-item" mods="block">
				<div elem="filter">
					<div elem="filter-title">
						Расчет ипотеки
					</div>
					<div elem="filter-item-wrap">
						<div elem="filter-item">
							<div elem="filter-item-title">
								Стоимость, млн ₽
							</div>
							<div elem="filter-item-range" class="custom-range" data-step="0.1" data-decimals="1">
								<div elem="filter-item-range-inner" class="custom-range__inner">
									<div class="custom-range__block">
										<div class="custom-range__fields custom-range__fields--low">
											<span>от</span>
											<input autocomplete="off" type="text" class="custom-range__low" value="3" data-val="1">
										</div>
										<div class="custom-range__fields custom-range__fields--high">
											<span>до</span>
											<input autocomplete="off" type="text" class="custom-range__high" value="36,5" data-val="40,2">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div elem="filter-item">
							<div elem="filter-item-title">
								Первоначальный взнос
							</div>
							<div elem="filter-item-range" class="custom-range" data-step="0.1" data-decimals="1">
								<div elem="filter-item-range-inner" class="custom-range__inner">
									<div class="custom-range__block">
										<div class="custom-range__fields custom-range__fields--low">
											<span>от</span>
											<input autocomplete="off" type="text" class="custom-range__low" value="3" data-val="1">
										</div>
										<div class="custom-range__fields custom-range__fields--high">
											<span>до</span>
											<input autocomplete="off" type="text" class="custom-range__high" value="36,5" data-val="40,2">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div elem="filter-item">
							<div elem="filter-item-title">
								Срок кредит, лет
							</div>
							<div elem="filter-item-range" class="custom-range" data-step="0.1" data-decimals="1">
								<div elem="filter-item-range-inner" class="custom-range__inner">
									<div class="custom-range__block">
										<div class="custom-range__fields custom-range__fields--low">
											<span>от</span>
											<input autocomplete="off" type="text" class="custom-range__low" value="3" data-val="1">
										</div>
										<div class="custom-range__fields custom-range__fields--high">
											<span>до</span>
											<input autocomplete="off" type="text" class="custom-range__high" value="36,5" data-val="40,2">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div elem="price-row">
						<div elem="price-desc">
							Сумма кредита:
						</div>
						<div elem="price">
							5 000 000 ₽	
						</div>
					</div>
					<div elem="payment">
						<a href="#" elem="payment-link">
							график платежей
						</a>
					</div>
					<div elem="button">
						<a href="#" class="default-button default-button--orange">
							Подать заявку
						</a>
					</div>
				</div>
				<div elem="list">
					<ul class="c-green-list">
						<li>Персональный менеджер по ипотеке</li>
						<li>Подбор оптимальной программы кредитования</li>
						<li>Предварительный расчет ежемесячных платежей и оптимизация выплат</li>
						<li>Возможность оформления заявки на ипотеку дистанционно, в офисе продаж застройщика</li>
						<li>Подача документов в банк кредитным менеджером</li>
						<li>Контроль процесса рассмотрения заявки</li>
						<li>Сопровождение ипотечной сделки</li>
					</ul>
				</div>
			</div>
			<div elem="main-layout-item" mods="items">
				<div elem="banks-grid">
					<div elem="banks-elem">
						<div elem="banks-item">
							<div elem="banks-item-topline">
								<div elem="banks-item-icon">
									<img src="img/banks1.png" alt="">
								</div>
								<div elem="banks-item-name">
									альфа <br/>банк
								</div>
							</div>
							<div elem="banks-item-bottom">
								<div elem="banks-item-adaptive-price">
									<div elem="banks-item-price">
										от 30 000 ₽/мес.
									</div>
									<div elem="banks-item-years">
										<div elem="banks-item-year">
											от 5%
										</div>
										<div elem="banks-item-year">
											до 20 лет
										</div>
									</div>
								</div>
								<div elem="banks-item-buttons">
									<div elem="banks-item-button">
										без первого взноса
									</div>
									<div elem="banks-item-button">
										военная
									</div>
									<div elem="banks-item-button">
										семейная
									</div>
								</div>
								<div elem="banks-item-link">
									<a href="#" class="default-button default-button--blue">
										Подать заявку
									</a>
								</div>
							</div>
						</div>
					</div>
					<div elem="banks-elem">
						<div elem="banks-item">
							<div elem="banks-item-topline">
								<div elem="banks-item-icon">
									<img src="img/banks2.png" alt="">
								</div>
								<div elem="banks-item-name">
									Райффайзен <br/>Банк Аваль
								</div>
							</div>
							<div elem="banks-item-bottom">
								<div elem="banks-item-adaptive-price">
									<div elem="banks-item-price">
										от 30 000 ₽/мес.
									</div>
									<div elem="banks-item-years">
										<div elem="banks-item-year">
											от 5%
										</div>
										<div elem="banks-item-year">
											до 20 лет
										</div>
									</div>
								</div>
								<div elem="banks-item-buttons">
									<div elem="banks-item-button">
										без первого взноса
									</div>
									<div elem="banks-item-button">
										военная
									</div>
									<div elem="banks-item-button">
										семейная
									</div>
								</div>
								<div elem="banks-item-link">
									<a href="#" class="default-button default-button--blue">
										Подать заявку
									</a>
								</div>
							</div>
						</div>
					</div>
					<div elem="banks-elem">
						<div elem="banks-item">
							<div elem="banks-item-topline">
								<div elem="banks-item-icon">
									<img src="img/banks3.png" alt="">
								</div>
								<div elem="banks-item-name">
									Газпромбанк
								</div>
							</div>
							<div elem="banks-item-bottom">
								<div elem="banks-item-adaptive-price">
									<div elem="banks-item-price">
										от 30 000 ₽/мес.
									</div>
									<div elem="banks-item-years">
										<div elem="banks-item-year">
											от 5%
										</div>
										<div elem="banks-item-year">
											до 20 лет
										</div>
									</div>
								</div>
								<div elem="banks-item-buttons">
									<div elem="banks-item-button">
										без первого взноса
									</div>
									<div elem="banks-item-button">
										военная
									</div>
									<div elem="banks-item-button">
										семейная
									</div>
								</div>
								<div elem="banks-item-link">
									<a href="#" class="default-button default-button--blue">
										Подать заявку
									</a>
								</div>
							</div>
						</div>
					</div>
					<div elem="banks-elem">
						<div elem="banks-item">
							<div elem="banks-item-topline">
								<div elem="banks-item-icon">
									<img src="img/banks4.png" alt="">
								</div>
								<div elem="banks-item-name">
									Сбербанк <br/>России
								</div>
							</div>
							<div elem="banks-item-bottom">
								<div elem="banks-item-adaptive-price">
									<div elem="banks-item-price">
										от 30 000 ₽/мес.
									</div>
									<div elem="banks-item-years">
										<div elem="banks-item-year">
											от 5%
										</div>
										<div elem="banks-item-year">
											до 20 лет
										</div>
									</div>
								</div>
								<div elem="banks-item-buttons">
									<div elem="banks-item-button">
										без первого взноса
									</div>
									<div elem="banks-item-button">
										военная
									</div>
									<div elem="banks-item-button">
										семейная
									</div>
								</div>
								<div elem="banks-item-link">
									<a href="#" class="default-button default-button--blue">
										Подать заявку
									</a>
								</div>
							</div>
						</div>
					</div>
					<div elem="banks-elem">
						<div elem="banks-item">
							<div elem="banks-item-topline">
								<div elem="banks-item-icon">
									<img src="img/banks5.png" alt="">
								</div>
								<div elem="banks-item-name">
									Тинькофф <br/>банк
								</div>
							</div>
							<div elem="banks-item-bottom">
								<div elem="banks-item-adaptive-price">
									<div elem="banks-item-price">
										от 30 000 ₽/мес.
									</div>
									<div elem="banks-item-years">
										<div elem="banks-item-year">
											от 5%
										</div>
										<div elem="banks-item-year">
											до 20 лет
										</div>
									</div>
								</div>
								<div elem="banks-item-buttons">
									<div elem="banks-item-button">
										без первого взноса
									</div>
									<div elem="banks-item-button">
										военная
									</div>
									<div elem="banks-item-button">
										семейная
									</div>
								</div>
								<div elem="banks-item-link">
									<a href="#" class="default-button default-button--blue">
										Подать заявку
									</a>
								</div>
							</div>
						</div>
					</div>
					<div elem="banks-elem">
						<div elem="banks-item">
							<div elem="banks-item-topline">
								<div elem="banks-item-icon">
									<img src="img/banks6.png" alt="">
								</div>
								<div elem="banks-item-name">
									Московский<br/>Кредитный Банк
								</div>
							</div>
							<div elem="banks-item-bottom">
								<div elem="banks-item-adaptive-price">
									<div elem="banks-item-price">
										от 30 000 ₽/мес.
									</div>
									<div elem="banks-item-years">
										<div elem="banks-item-year">
											от 5%
										</div>
										<div elem="banks-item-year">
											до 20 лет
										</div>
									</div>
								</div>
								<div elem="banks-item-buttons">
									<div elem="banks-item-button">
										без первого взноса
									</div>
									<div elem="banks-item-button">
										военная
									</div>
									<div elem="banks-item-button">
										семейная
									</div>
								</div>
								<div elem="banks-item-link">
									<a href="#" class="default-button default-button--blue">
										Подать заявку
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div elem="adaptive-all">
					<a href="#" elem="adaptive-all-button">
						Смотреть все
					</a>
				</div>
			</div>	
		</div>
	</div>
</div><!-- b:c-mortgage -->