.c-tabs
	
	&__links-wrap
		padding 0 160px

	&__link-wrap
		&.r-tabs-tab
			margin 0 50px 30px 0
			
			&:last-child
				margin-right 0
			
		&.r-tabs-state-active
			.c-tabs__link
				color #002C3E
			
				&:before
					background  #00AAE7
		
	&__link
		text-decoration none
		font-family: rm;
		font-weight: 700;
		font-size: 48px;
		line-height: 100%;
		text-transform: uppercase;
		color:  #D1E4F0;
		position relative
		transition color ease-out 0.3s
		
		&:before
			content ""
			position absolute
			bottom 5px
			left 0
			right 0
			height 2px
			background #D1E4F0

		&:hover
			color #002C3E
			
			&:before
				background  #00AAE7
				
	&__blocks
		.tabsSwiper
			
			.swiper-slide
				border-radius 50px
				overflow hidden
				font-size 0

				img	
					width 100%
					position relative
					left 50%
					transform translateX(-50%)

			.swiper-button-next
				right 50px
				
			.swiper-button-prev
				left 50px
				
			.swiper-slider-text
				font-weight: 700;
				font-size: 20px;
				line-height: 130%;
				letter-spacing: 0.02em;
				color: #FFFFFF;
				position absolute
				bottom 45px
				left 150px
				right 150px
				

	&__block
		
		&.r-tabs-panel
			padding 0
			margin-top 10px
			
	&--lot
		margin-top 14px
		.c-tabs
			
			&__link
				font-size 30px
			
			&__links
				text-align center
				background #fff
				border-radius 50px 50px 0 0 
				padding 45px 0 20px
				
			&__link-wrap
				margin-right 188px
				
			&__blocks
				.tabsSwiper
					.swiper-button-next,.swiper-button-prev
						bottom 53px
						top auto
						
					.swiper-button-next
						right 60px
						
					.swiper-button-prev
						right 148px
						left auto
						

			&__block
				&.r-tabs-panel
					margin-top -20px
					
		
			
@media all and (max-width: 1200px)
	.c-tabs
		
		&__link
			font-size 30px
		
		&__links-wrap
			padding 0 60px
			
		&__blocks
			.tabsSwiper
				.swiper-slider-text
					left 50px
					right 50px
					
				.swiper-slide
					img
						height 390px
						
		&--lot
			.c-tabs
				
				&__link
					font-size 22px
					
					&:before
						bottom 0
						
				&__link-wrap
					margin-right 100px
				
			
@media all and (max-width: 768px)
	.c-tabs
		
		&__link
			font-size 24px
			
			&:before
				bottom 0
				
		&__link-wrap
			&.r-tabs-tab
				margin 0 20px 15px 0
		
		&__links-wrap
			padding 0 40px
			
		&__block
			&.r-tabs-panel
				margin-top 0
			
		&__blocks
			.tabsSwiper
				.swiper-button-next
					right 30px
					
				.swiper-button-prev
					left 30px

				.swiper-slider-text
					left 30px
					right 30px
					font-size 14px
					
				.swiper-slide
					img
						height 300px
						
		&--lot
			.c-tabs
					
				&__blocks
					.tabsSwiper
						.swiper-button-next,.swiper-button-prev
							bottom 20px
							top auto
							
						.swiper-button-next
							right 47px
							
						.swiper-button-prev
							right 107px
						
@media all and (max-width: 480px)
	.c-tabs

		&__link
			font-size 16px
		
		&__links-wrap
			padding 0 10px
			
		&__blocks
			.tabsSwiper

				.swiper-slider-text
					font-size 12px
					
		&--lot
			margin-top 0
			.c-tabs
				
				&__block
					&.r-tabs-panel
						margin-top -40px
					
				&__blocks
					padding 0
					margin-top 14px
					.tabsSwiper
						
						.swiper-slide
							border-radius 30px
							
						.swiper-button-prev
							right 87px
				
				&__link
					font-size 16px

				&__links
					padding 18px 60px 40px
					text-align left
					border-radius 30px 30px 0 0 

				&__links-wrap
					padding 0
					
					.r-tabs-tab
						margin-right 30px
						
						&:nth-child(even)
							margin-right 0