<div block="c-tabs" mods="{{tabsMods}}" id="responsiveTabs">
	<div elem="inner">
		<div elem="links-wrap" class="container">
			<ul elem="links">
				<li elem="link-wrap"><a elem="link" href="#responsiveTabItem1"><span>Отделка 1</span></a></li>
				<li elem="link-wrap"><a elem="link" href="#responsiveTabItem2"><span>Отделка 2</span></a></li>
			</ul>
		</div>
		<div elem="blocks" class="container">
			<div id="responsiveTabItem1" elem="block">
				<div class="swiper tabsSwiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-section-bg="img/decor1.jpg">
							<img src="img/decor1.jpg" alt="">
							<div class="swiper-slider-text">Описание данной отделки1</div>
						</div>
						<div class="swiper-slide" data-section-bg="img/banner1.jpg"><img src="img/banner1.jpg" alt=""><div class="swiper-slider-text">Описание данной отделки2</div></div>
					 </div>
					<div class="swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg></div>
					<div class="swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg></div>
				</div>
			</div>
			<div id="responsiveTabItem2" elem="block">
				<div class="swiper tabsSwiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" data-section-bg="img/banner1.jpg"><img src="img/banner1.jpg" alt=""><div class="swiper-slider-text">Описание данной отделки1</div></div>
						<div class="swiper-slide" data-section-bg="img/decor1.jpg"><img src="img/decor1.jpg" alt=""><div class="swiper-slider-text">Описание данной отделки2</div></div>
					 </div>
					<div class="swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg></div>
					<div class="swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg></div>
				</div>
			</div>
		</div>
	</div>
</div><!-- b:c-tabs -->