.c-callbackpopup 
	background: #E9F3F9;
	border-radius: 50px;
	padding 57px 128px 30px
	position relative
	
	&__title
		font-weight: 700;
		font-size: 48px;
		line-height: 100%;
		text-transform: uppercase;
		color: #002C3E;
		text-align center
		margin-bottom 33px

	&__close
		position absolute
		width 30px
		height 30px
		right 50px
		top 50px
		cursor pointer
		
		svg
			width 30px
			height 30px
			fill #002C3E
			
	&__form-row
		display flex
		margin 0 0 0 -60px
		
		.c-callbackpopup__form-item
			flex 0 0 50%
			padding-left 60px
			
	&__form-item
		font-size 0
		margin-bottom 33px
		
		&--button
			.default-button
				max-width 250px
				margin 0 auto
				
@media all and (max-width: 768px)
	.c-callbackpopup
		padding 37px 40px 20px
		
		&__title
			font-size 36px
			
		&__form-item
			margin-bottom 20px
			
		&__form-row
			margin-left -20px
			
			.c-callbackpopup__form-item
				padding-left 20px
				
@media all and (max-width: 480px)
	.c-callbackpopup
		background #f5fbfe
		padding 35px 0 0
		border-radius 0
		
		&__title
			font-size 22px
			margin-bottom 45px
			
		&__close
			width 18px
			height 18px
			top 120px
			right 20px
			
			svg
				width 18px
				height 18px
			
		&__form
			background: #E9F3F9;
			border-radius: 30px;
			padding 63px 10px 25px
			
		&__form-row
			display block
			margin-left 0
			
			.c-callbackpopup__form-item
				padding-left 0
				
	&__form-item
		margin-bottom 17px
				

[data-remodal-id=callbackpopup]
	max-width 876px
	background transparent
	padding 0
	

@media all and (max-width: 480px)
	[data-remodal-id=callbackpopup]
		max-width 100%
		background #f5fbfe
		margin-bottom 0
		height 100%

