<div block="c-callbackpopup" mods="{{callbackpopupMods}}">
	<div elem="title">
		Напишите нам
	</div>	
	<div elem="close">
		<svg  viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M17.777 14.5L3.27668 29L0.169556 25.8928L11.5626 14.4998L0.169868 3.10713L3.27704 0L17.777 14.5Z"/>
		<path d="M11.8864 14.5L26.3867 29L29.4939 25.8928L18.1008 14.4998L29.4935 3.10713L26.3864 0L11.8864 14.5Z"/>
		</svg>
	</div>
	<form elem="form" action="#">
		<div elem="form-row">
			<div elem="form-item" mods="input">
				<input type="text" placeholder="Ваше имя">
			</div>
			<div elem="form-item" mods="input phone">
				<input class="masked-input" type="tel">
			</div>
		</div>
		<div elem="form-item" mods="textarea">
			<textarea placeholder="Введите текст"></textarea>
		</div>
		<div elem="form-item" mods="button">
			<button href="#" class="default-button default-button--green">Отправить</button>
		</div>
	</form>
</div><!-- b:c-callbackpopup -->