@require 'components/bootstrap.min.css';
@require 'components/_variables';
@require 'components/_mixins';
@require 'components/normalize';
@require 'components/iconizer';

*
  min-width 0
  min-height 0
  box-sizing: border-box
  -webkit-tap-highlight-color rgba(0,0,0, 0)

  &::before,
  &::after
    box-sizing: border-box

html
  font-family sans-serif
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)

body
  font-family: $body.fontFamily
  font-size: $body.fontSize
  font-weight: $body.fontWeight
  line-height: $body.lineHeight
  color: $body.color
  background-color: $body.bgc

svg:not(:root)
  overflow hidden

blockquote
  padding: 15px
  padding-left: 20px
  border-left: 5px solid $colors.theme
  background-color: rgba($colors.theme, .03)

.theme-color
  color: $colors.primary
  

.container
    max-width 1780px
    width 100%
    padding-left 10px
    padding-right 10px
    margin-left auto
    margin-right auto
    
.default-button
  max-width 207px
  width 100%
  font-size 16px
  font-weight: 700;
  color #fff
  line-height: 21px;
  padding 23px 25px 22px 25px
  display flex
  align-items center
  justify-content center
  text-decoration none
  border-radius: 20px;
  position relative
  cursor pointer
  border none
  opacity 1
  font-family 'Montserrat', sans-serif;
  
  &--orange
    background #F15A22
    transition opacity ease-out 0.3s
    
    &:hover
      opacity 0.7
      
  &--blue
    background #00AAE7

    &:hover
      opacity 0.7
      
  &--green
    background #8DC63F
    
    &:hover
      opacity 0.7
      
.custom-range

  &__border
    .noUi-horizontal .noUi-connect
      border-top-left-radius: 10px;

  &__fields
    position absolute
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    top 50%
    transform translateY(-50%)
    z-index 2
    
    input[type=text]
      font-size: 20px;
      line-height: 29px;
      color: #000000;
      width 45px
      background transparent
      border none
      box-shadow none
      outline none
      height auto
      border-radius 0
      padding-left 0

    &--low
      left 12px
      
    &--high
      right 55px
      
.custom-range--one
  .noUi-horizontal 
    background #89D1FC
    
    .noUi-origin.noUi-background
      background #fff
      
  .custom-range__fields input
    width 110px
    text-align right
      
  &.custom-range__border
    .noUi-origin.noUi-background
      border-top-left-radius 10px
    

.noUi-horizontal
  height 65px
  border-radius 10px
  background #E9F3F9
  width 100%

  .noUi-base
    margin 0

  .noUi-connect
    height 65px
    background #89D1FC
    border-radius 0px 10px 10px 0px
    
  .noUi-origin.noUi-background
    background #E9F3F9
    height 65px
    border-radius 0px 10px 10px 0px

  .noUi-handle
    width: 21.06px;
    height: 21.06px;
    background: #FFFFFF;
    box-shadow: 0px -1px 11px rgba(161, 196, 218, 0.57);
    border-radius: 40px 40px 0px 40px;
    transform: rotate(-135deg)
    border none
    bottom -21px
    left -10px
    
    &:before
      content ""
      position absolute
      width 12px
      height 12px
      background #00AAE7
      border-radius 50%
      top 50%
      left 50%
      transform translate(-50%, -50%)
      
.default-title
  font-family: rm;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  text-transform: uppercase;
  color: #002C3E;
  
.container2
  max-width 1494px
  width 100%
  padding-left 20px
  padding-right 20px
  margin-left auto
  margin-right auto

.3d-tour
  iframe
    max-width 100%
    width 100%
    max-height 100%
    height 640px
    
textarea
  background: #FFFFFF;
  border-radius: 10px;
  height 132px
  border none
  width 100%
  outline none
  box-shadow none
  padding 20px 33px
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  resize none
  
  &::-webkit-input-placeholder
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #A1C4DA;

    
  &::-moz-placeholder
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #A1C4DA;

    
  &:-ms-input-placeholder
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #A1C4DA;

    
  &:-moz-placeholder
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #A1C4DA;

    
  &:focus
    outline none
    
input[type=text],
input[type=tel],
input[type=email],
input[type=password],
input[type=url],
input[type=search]
  width 100%
  background: #FFFFFF;
  border-radius: 10px;
  height 65px
  border none
  box-sizing border-box
  resize none
  padding-left 24px
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  color: #002C3E;

  
  &::-webkit-input-placeholder
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #A1C4DA;

    
  &::-moz-placeholder
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #A1C4DA;

    
  &:-ms-input-placeholder
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #A1C4DA;

    
  &:-moz-placeholder
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #A1C4DA;

    
  &:focus
    outline none
    
a
  color: #00aae7;
  
  &:hover
    text-decoration none
  

h1,.h1
  font-family: rm;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  margin 0

[data-section-bg] {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

[data-section-bg] > img {
  opacity: 0;
}

.orange-list
  padding 0
  margin 0
  list-style-type none
  
  li
    padding-left 20px
    position relative
    
    &:before
      content ""
      position absolute
      left 0
      top 11px
      width 6px
      height 6px
      background #E60000
      
.threed-tour
  border-radius 50px
  overflow hidden
  
[data-remodal-id="3dpopup"]
  .remodal-close
    width 50px
    height 50px
    
    &:before
      font-size 50px
      line-height 50px
      width 50px
      color #cfcaca

/**
 * The CSS class screen-reader-text
 *
 * @link https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */
.visuallyhidden,
.screen-reader-text
  border: 0
  clip: rect(1px, 1px, 1px, 1px)
  clip-path: inset(50%)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px
  word-wrap: normal !important

  &:active,
  &:focus
    background-color: #eee
    clip: auto !important
    clip-path: none
    color: #444
    display: block
    font-size: 1em
    height: auto
    left: 5px
    line-height: normal
    padding: 15px 23px 14px
    text-decoration: none
    top: 5px
    width: auto
    z-index: 100000 /* Above WP toolbar. */
    
.jq-selectbox
  width 100%
  font-family 'Circe', sans-serif
  
  &.dropup
    .jq-selectbox__dropdown
      border-radius 10px 10px 0 0
      margin-bottom -4px
    
  &__dropdown
    border none
    border-radius 0 0 10px 10px
    margin -4px 0 0
    ul
      padding-top 7px
      
  li
    color #000
    font-size 20px
    line-height 29px
    padding 5px 20px
    
    &.selected
      background-color transparent
      color #000
      text-decoration underline
      
    &:hover
      background-color transparent
      color #000
      text-decoration underline
  
  .placeholder
    background transparent
    color #000
    
  &.focused
    .jq-selectbox__select
      border none
      
  &.opened
    .jq-selectbox__trigger-arrow
      transform rotate(180deg) translateY(50%)
  
  &__select
    z-index 1
    height 65px
    background: #E9F3F9;
    border-radius: 10px;
    border none
    padding 0 40px 0 20px
    box-shadow none
    font-family 'Circe', sans-serif
    
    &:hover
      background #E9F3F9
      .jq-selectbox__trigger-arrow
        width 21px
        height 24px
      
    
  &__select-text
    height 65px
    font-size: 20px;
    line-height: 65px;
    color: #000000;

  &__trigger
    border-left none
    
  &__trigger-arrow
    background url('../img/angle-down.svg') 50% 50% no-repeat
    background-size contain
    border none
    width 15px
    height 16px
    top 50%
    transform translateY(-50%)
    transition all ease-out 0.2s
    right 18px

.c-green-list
  padding 0
  margin 0
  list-style-type none
    
  li
    padding-left 20px
    position relative
    margin-bottom 8px
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: lowercase;
    color: #002C3E;

    &:before
      content ""
      position absolute
      width 6px
      height 6px
      background #8DC63F
      left 0
      top 10px
      border-radius 100%

@require '../_blocks/**/*.styl';
@require 'components/_keyframes';

@media all and (max-width: 1660px)
  h1,.h1
    font-size 50px
    
@media all and (max-width: 1360px)
  h1,.h1
    font-size 45px

@media all and (max-width: 1200px)
  input[type=text],
  input[type=tel],
  input[type=email],
  input[type=password],
  input[type=url],
  input[type=search]
    height 50px
    
  .default-button
    height 50px

  h1,.h1
    font-size 38px
    
  .default-title
    font-size 38px
    line-height 38px


@media all and (max-width: 768px)
  h1,.h1
    font-size 32px
    
  .remodal[data-remodal-id="3dpopup"]
    padding 0

@media all and (max-width: 480px)
  .default-title
    font-size 22px
    line-height 22px
    
  h1,.h1
    font-size 28px
    
  .noUi-horizontal
    height 36px

    .noUi-connect
      height 36px
      
    .noUi-origin.noUi-background
      height 36px
      
    .noUi-handle
      border-radius 100%
      background #00AAE7
      box-shadow none
      width 12px
      height 12px
      bottom -6px
      left -6px
      
      &:before
        content none
        
      
  .custom-range

    &__fields
      font-size 12px
      line-height 18px
      
      input[type=text]
        font-size 12px
        line-height 18px
        font-weight 700
        
  .jq-selectbox
    
    li
      font-size 14px
      line-height 18px    
    
    &__select
      height 30px
      
      &:hover
        .jq-selectbox__trigger-arrow
          width 10px
          height 6px
      
    &__select-text
      height 30px
      font-size 12px
      line-height 30px
      
    &__trigger-arrow
      width 10px
      height 6px
      
  .container2
    padding-left 10px
    padding-right 10px
    
  .c-green-list li
    font-size: 12px;
    padding-left 16px
    margin-bottom 6px
    
    &:before
      width 4px
      height 4px
      top 6px
      
  .default-button
    border-radius 10px
    height 36px
    padding 0
    font-size 10px
    
  input[type=text], input[type=tel], input[type=email], input[type=password], input[type=url], input[type=search]
    height 36px
    font-size 12px
    font-weight 400
    padding-left 11px
    
    &::-webkit-input-placeholder
      font-size 12px
      font-weight 400

      
    &::-moz-placeholder
      font-size 12px
      font-weight 400

      
    &:-ms-input-placeholder
      font-size 12px
      font-weight 400

      
    &:-moz-placeholder
      font-size 12px
      font-weight 400
      
  textarea
    height 122px
    padding 10px 12px
    font-size 12px
    
    &::-webkit-input-placeholder
      font-size: 12px;
      
    &::-moz-placeholder
      font-size: 12px;

    &:-ms-input-placeholder
      font-size: 12px;
      
    &:-moz-placeholder
      font-size: 12px;