<header block="app-header">
	{% if maintopline %}
	<div elem="topline">
		<div elem="topline-inner" class="container">
			Ипотека со ставкой 2,9 до 1 января 2021
		</div>
	</div>
	{% endif %}
	<div elem="middle">
		<div elem="middle-inner" class="container">
			<div elem="logo">
				<a href="#" elem="logo-link">
					<img src="img/logo.svg" alt="logo" elem="logo-img">
					<img src="img/logo2.svg" alt="logo" elem="logo-img-adaptive">
				</a>
			</div>
			<nav elem="menu">
				<ul>
					{% if not mainmenu %}
					<li class="active">
					{% endif %}
					{% if mainmenu %}
					<li>
					{% endif %}
						<a href="#">О проекте</a>
						<ul>
							<li><a href="#" data-title="Расположение">Расположение</a></li>
							<li><a href="#" data-title="Инфраструктура">Инфраструктура</a></li>
							<li><a href="#" data-title="Ход строительства">Ход строительства</a></li>
							<li><a href="#" data-title="Отделка">Отделка</a></li>
							<li><a href="#" data-title="Инвесторам">Инвесторам</a></li>
							<li><a href="#" data-title="Застройщик">Застройщик</a></li>
							<li><a class="active" href="#" data-title="Документы">Документы</a></li>
						</ul>
					</li>
					<li class="app-header__menu-sl">
						<a href="#">Условия покупки</a>
						<ul>
							<li><a href="#" data-title="Расположение">Ипотека</a></li>
							<li><a href="#" data-title="Инфраструктура">Рассрочка</a></li>
						</ul>
					</li>
					<li class="app-header__menu-yel"><a href="#">Контакты</a></li>
					<li class="app-header__menu-red">
						<a href="#">Выбор апартаментов</a>
						<ul>
							<li><a href="#" data-title="Расположение">Расположение</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<div elem="icons">
				<div elem="icon">
					<a href="#" elem="icon-link">
						{{ _icon('arrows') }}
						<span elem="icon-text">сравнение квартир</span>
					</a>
				</div>
				<div elem="icon">
					<a href="#" elem="icon-link">
						{{ _icon('personal') }}
						<span elem="icon-text">личный кабинет</span>
					</a>
				</div>
				<div elem="icon">
					<a href="#" elem="icon-link">
						{{ _icon('favorites') }}
						<span elem="icon-text">избранное</span>
					</a>
				</div>
			</div>
			<div elem="callback-button">
				<a href="tel:+7 4951111111" class="default-button default-button--orange">
					+7 495 111 11 11
				</a>
			</div>
			<div elem="adaptive-menu-wrap">
				<div elem="adaptive-menu" class="l-aside-menu-btn">
					<span elem="adaptive-menu-open"></span>
				</div>
			</div>
		</div>
	</div>
	{% if not mainmenu %}
	<div elem="bottom">

	</div>
	{% endif %}

	<div elem="fixed-buttons">
		<a elem="fixed-button" mods="red" href="#">
			<svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M23.8126 31H23.767C17.5013 30.8458 11.522 28.3438 7.01357 23.9896C2.65808 19.4849 0.154812 13.5076 0.00018067 7.24329C-0.00904617 6.36576 0.335476 5.52145 0.956121 4.90105L5.38259 0.477559C6.01949 -0.159186 7.0519 -0.159186 7.68879 0.477559L14.2127 7.00189C14.8494 7.63882 14.8494 8.6713 14.2127 9.30824L11.6097 11.9066C12.0924 13.7104 12.9818 15.3798 14.2094 16.7867C15.6138 18.0149 17.2809 18.9049 19.0828 19.3883L21.6924 16.7884C22.3293 16.1516 23.3617 16.1516 23.9986 16.7884L30.5225 23.3127C31.1592 23.9496 31.1592 24.9821 30.5225 25.6191L26.096 30.0442C25.4924 30.6541 24.6706 30.9981 23.8126 31ZM6.53243 3.93871H6.52428L3.26232 7.2074C3.39532 12.6204 5.556 17.7861 9.31651 21.6816C13.212 25.4411 18.3763 27.6017 23.7882 27.7362L27.0615 24.4659L22.834 20.2495L20.7252 22.3569C20.4235 22.662 20.0125 22.834 19.5835 22.8348C19.4689 22.8348 19.3547 22.8228 19.2426 22.7989C16.5248 22.1977 14.0013 20.9241 11.9032 19.0947C10.074 16.9965 8.80049 14.4728 8.19929 11.7549C8.08588 11.2146 8.25342 10.6536 8.64455 10.2641L10.7518 8.15506L6.53243 3.93871Z" fill="white"/>
			</svg>
		</a>
		<a elem="fixed-button" mods="green" href="#">
			<svg width="38" height="39" viewBox="0 0 38 39" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M37.8 18.8426C37.8 29.0139 29.4917 37.2566 19.2433 37.2566C15.9879 37.2566 12.933 36.4234 10.2716 34.9654L0 38.2286L3.348 28.3504C1.65857 25.5772 0.686571 22.3217 0.686571 18.8426C0.686571 8.6713 8.99486 0.428589 19.2433 0.428589C29.4917 0.428589 37.8 8.6713 37.8 18.8426ZM19.2433 3.36002C10.6419 3.36002 3.64114 10.3029 3.64114 18.8426C3.64114 22.2292 4.74429 25.3689 6.615 27.9184L4.66714 33.6694L10.6611 31.764C13.1259 33.3802 16.0766 34.3252 19.2433 34.3252C27.8447 34.3252 34.8454 27.3823 34.8454 18.8464C34.8454 10.3067 27.8447 3.36002 19.2433 3.36002ZM28.6123 23.0816C28.4966 22.8926 28.1957 22.7807 27.7406 22.5532C27.2854 22.3294 25.0483 21.234 24.6317 21.0874C24.2151 20.937 23.9104 20.8599 23.6096 21.3112C23.3087 21.7624 22.4331 22.7769 22.1709 23.0816C21.9047 23.3824 21.6386 23.421 21.1834 23.1973C20.7283 22.9736 19.2626 22.4953 17.5269 20.9563C16.1769 19.7606 15.2627 18.2833 14.9966 17.832C14.7304 17.3807 14.9696 17.1377 15.1971 16.9102C15.4016 16.7096 15.6523 16.3817 15.8799 16.1194C16.1074 15.8572 16.1846 15.6682 16.335 15.3673C16.4893 15.0664 16.4121 14.8042 16.2964 14.5766C16.1846 14.3529 15.2743 12.1312 14.8924 11.2247C14.5144 10.3222 14.1364 10.4726 13.8703 10.4726C13.6041 10.4726 13.3033 10.434 12.9986 10.434C12.6939 10.434 12.204 10.5459 11.7836 10.9972C11.367 11.4484 10.1906 12.54 10.1906 14.7617C10.1906 16.9834 11.8183 19.128 12.0459 19.4289C12.2734 19.7297 15.1933 24.4354 19.8141 26.2406C24.4389 28.0457 24.4389 27.444 25.272 27.3707C26.1051 27.2936 27.9643 26.2792 28.3423 25.2262C28.728 24.1732 28.728 23.2706 28.6123 23.0816Z" fill="white"/>
			</svg>
		</a>
	</div>
</header><!-- b:app-header -->
