.app-header
	flex none

	&.scroller
		padding-top 120px

		.app-header
			
			&__middle
				background #fff
				position fixed
				top 0
				left 0
				right 0
				width 100%
				height 120px
				
			&__menu
				
				& > ul
					
					& > li
						&.active
							
							& > ul
								opacity 0
								visibility hidden
								pointer-events none
				
	
	&__topline
		background #8DC63F

	&__topline-inner
		padding 16px 10px
		text-align center
		font-weight 700
		font-size 20px
		line-height 29px
		color #fff
		
	&__middle
		z-index 9999
		
	&__middle-inner
		display flex
		position relative
		
	&__bottom
		height 120px

	&__logo
		margin 0 167px 0 90px
		flex 0 0 127px
		font-size 0
		display flex

	&__logo-link
		display flex
		text-decoration none
		align-items center
		width 100%
		padding-bottom 16px
		
		img
			max-width 100%
			width 100%
				
	&__logo-img-adaptive
		display none
			
	&__menu
		flex 1 1 auto
		
		ul
			padding 0
			margin 0
			list-style-type none
			
		a
			text-decoration none
			
		& > ul
			display flex
			justify-content space-between
			
			& > li

				&.app-header__menu-sl 
					& > a
						color #095371
						
						&:before
							background #804199
							
					&:hover
						& > a
							color #804199
							
				&.app-header__menu-yel
					
					&:hover
						& > a
							color #d3bb2a
						
							&:before
								background #d3bb2a
							
				&.app-header__menu-red
					
					&:hover
						& > a
							color #F15A22
							
							&:before
								background #F15A22
				
				&:hover
					& > a
						
						&:before
							opacity 1

				&.active
					
					& > a
						
						&:before
							opacity 1
							
					& > ul
						pointer-events auto
						visibility visible
						opacity 1
				
				& > a
					font-weight 700
					font-size 20px
					line-height 29px
					color #002C3E
					position relative
					padding 54px 10px 37px 10px
					display block
					
					&:before
						content ""
						transition opacity ease-out 0.3s
						opacity 0
						position absolute
						width 6px
						height 39px
						background #8DC63F
						top 0
						left 50%
						margin-left -3px

				& > ul
					position absolute
					background #E2F0F9
					border-radius 20px
					left 10px
					top 100%
					right 10px
					display flex
					// justify-content center
					padding 0 100px
					opacity 0
					visibility hidden
					pointer-events none
					z-index 2
					
					& > li
						padding 0
						flex 1 1 auto
						text-align center
						
						& > a
							font-size: 18px;
							line-height: 27px;
							color: #0F496D;
							display block
							padding 27px 0 23px
							
							&:before
								content attr(data-title)
								display block
								font-weight 700
								height 0
								overflow hidden
								visibility hidden
							
							&:hover,&.active
								font-weight 700
				

	&__icons
		display flex
		align-items center
		margin-left 88px
		
		&.app-header__icons--adaptive
			margin 0 auto
			max-width 300px
			width 100%
			padding 0 10px
			justify-content space-between
			
			.app-header
				
				&__icon
					flex 0 0 70px
					text-align center
					a
						.svg-icon
							width 40px
							
				&__icon-text
					font-weight: 700;
					font-size: 14px;
					line-height: 12px;
					text-align: center;
					color: #002C3E;
					display block
					margin-top 10px
			
	&__icon
		flex 0 0 30px
		margin-right 20px

		a
			text-decoration none
			font-size 0
			
			.svg-icon
				fill #09121F
				width 30px
				height 26px
		
		&:last-child
			margin-right 0
			
	&__callback-button
		flex 0 0 207px
		margin-left 88px
		display flex
		align-items center

	&__adaptive-menu-wrap
		display none
		align-items center

	&__adaptive-menu
		font-size 0
		overflow hidden
		position relative
		width 50px
		height 50px
		cursor pointer
		
		&.js-opening
			.app-header__adaptive-menu-open
				background transparent
				transform rotate(180deg)
				
				&:before
					transform: translateY(-8px) rotate(45deg);
					
				&:after
					transform: translateY(8px) rotate(-45deg);
		
	&__adaptive-menu-open
		top 50%
		margin-top -1.5px
		left 50%
		margin-left -15px
		position absolute
		width 30px
		height 3px
		background #000
		transition all ease-out 0.3s

		&:before,&:after
			content ""
			position absolute
			width 30px
			height 3px
			background #000
			left 0
			transition all ease-out 0.3s
			
		&:before
			top 8px
			
		&:after
			bottom 8px
			
	&__fixed-buttons
		position fixed
		z-index 100
		right 100px
		bottom 50px
		
	&__fixed-button
		display flex
		justify-content center
		align-items center
		padding 2px
		width 60px
		height 60px
		margin-bottom 36px
		border-radius 100%
		box-shadow none
		transition all ease-out 0.3s
		box-shadow: 0px 4px 4px rgba(0, 16, 62, 0.45);
		
		&:last-child
			margin-bottom 0
			
		&--red
			background #F15A22
			
		&--green
			background #8DC63F
			
		&:hover
			transform scale(1.17)
			box-shadow: 0px 4px 4px rgba(0, 44, 62, 0.45);
			
@media all and (max-width: 1600px)
	.app-header
		
		&__logo
			margin 0 80px 0 60px
			
		&__icons
			margin-left 40px
			
		&__callback-button
			margin-left 30px
			
		
@media all and (max-width: 1360px)
	.app-header
		
		&__logo
			margin 0 30px 0 0
			
		&__icons
			margin-left 20px
			
		&__callback-button
			margin-left 20px
			
		&__menu
			
			& > ul
				
				& > li
					
					& > ul
						padding 0 50px
						
@media all and (max-width: 1280px)
	.app-header

		&.scroller 
			padding-top 100px
		
			.app-header__middle
				height 100px
		
		&__logo
			margin-right 10px
			flex 0 0 100px
			
		&__menu
			
			& > ul
				
				& > li
					
					& > a
						font-size 18px
						padding 35px 10px 36px 10px
						
		&__icons
			margin-right 10px
			
		&__icon
			margin-right 8px
			flex 0 0 25px
			
			a
				.svg-icon
					width 25px
					
		&__callback-button
			flex 0 0 180px
			margin-left 10px
			
			.default-button
				padding 18px 30px
				
@media all and (max-width: 1200px)
	.app-header
		&__menu > ul > li > ul > li
			padding 0 1%
		
		&.scroller
			padding-top 0

			.app-header__middle
				height auto
				position relative
				background #F5FBFE
				// top -100%
				// transition all ease-out 0.3s
				
		&.upscroll
			
			.app-header
				
				&__middle
					background #F5FBFE
					position fixed
					top 0
					left 0
					right 0
					width 100%
					
				&__logo-img
					display none
					
				&__logo-img-adaptive
					display block
					
			
			&.not-visible
				.app-header__fixed-button
					opacity 0
					pointer-events none
		
		&.not-visible
			.app-header
				&__fixed-buttons
					pointer-events auto
					
				&__fixed-button
					opacity 1
					pointer-events auto
					
		&__topline
			display none
		
		&__menu,&__icons:not(.app-header__icons--adaptive)
			display none

		&__adaptive-menu-wrap
			display flex
			
		&__callback-button
			margin-left auto
			
			.default-button
				padding 12px 30px
			
		&__logo
			flex 0 0 90px
			
		&__middle
			padding 10px 0	
			
		&__middle-inner
			padding 0 10px 0 60px
			
		&__bottom
			display none	
			
		&__fixed-buttons
			right 20px
			pointer-events none
			
		&__fixed-button
			opacity 0
			transition opacity ease-out 0.3s
			pointer-events none
			
			&:hover
				transform scale(1)	

@media all and (max-width: 768px)
	.app-header
		
		&__middle-inner
			padding 0 10px 0 40px

@media all and (max-width: 480px)
	.app-header
		
		&__middle
			padding 7px 0 9px

		&__middle-inner
			padding 0 10px
			
		&__callback-button 
			flex 0 0 122px
			
			.default-button
				border-radius 5px
				font-size 10px
				max-width 122px
				padding 5px 2px
				height 30px
		&__logo
			flex 0 0 67px
			
		&__adaptive-menu
			width 30px
			height 30px
			
		&__adaptive-menu-wrap
			margin-left 6px
			
		&__adaptive-menu-open
			width 20px
			margin-left -10px
			
			&:before,&:after
				width 20px
				
		&__fixed-button
			width 40px
			height 40px
			padding 10px
			margin-bottom 10px