<div block="c-company-slider" mods="{{companysliderMods}}">
	<div elem="inner" class="container">
		<div elem="block">
			<div elem="title">
				<strong>За период с 2009 года и по настоящее время</strong> компания реализовала ряд коммерческих инфраструктурных проектов:
			</div>
			<div elem="swiper" class="swiper">
				<div elem="slider" class="swiper-wrapper">
					<a href="#" elem="slider-item" class="swiper-slide">
						<div elem="slider-item-img" data-section-bg="img/companysl1.jpg">
							<img src="img/companysl1.jpg" alt="">
						</div>
						<div elem="slider-item-title">
							ЖК Два дома
						</div>
					</a>
					<a href="#" elem="slider-item" class="swiper-slide">
						<div elem="slider-item-img" data-section-bg="img/companysl2.jpg">
							<img src="img/companysl2.jpg" alt="">
						</div>
						<div elem="slider-item-title">
							ЖК ФилиЧета-2
						</div>
					</a>
					<a href="#" elem="slider-item" class="swiper-slide">
						<div elem="slider-item-img" data-section-bg="img/companysl3.jpg">
							<img src="img/companysl3.jpg" alt="">
						</div>
						<div elem="slider-item-title">
							Средняя общеобразовательная школа №15
						</div>
					</a>
					<a href="#" elem="slider-item" class="swiper-slide">
						<div elem="slider-item-img" data-section-bg="img/companysl4.jpg">
							<img src="img/companysl4.jpg" alt="">
						</div>
						<div elem="slider-item-title">
							ЖК О'Пушкино
						</div>
					</a>
					<a href="#" elem="slider-item" class="swiper-slide">
						<div elem="slider-item-img" data-section-bg="img/companysl5.jpg">
							<img src="img/companysl5.jpg" alt="">
						</div>
						<div elem="slider-item-title">
							ЖК ФилиЧета
						</div>
					</a>
					<a href="#" elem="slider-item" class="swiper-slide">
						<div elem="slider-item-img" data-section-bg="img/companysl6.jpg">
							<img src="img/companysl6.jpg" alt="">
						</div>
						<div elem="slider-item-title">
							Детский сад «Яблонька»
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div><!-- b:c-company-slider -->