.c-company-slider
	padding 70px 0
	overflow hidden
	
	&__block
		padding 0 148px
		
	&__title
		max-width 860px
		font-size: 39px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #002C3E;
		
	&__swiper
		margin-top 80px
		overflow: inherit;
		
	&__slider-item
		max-width 418px
		position relative
		text-decoration none
		
	&__slider-item-img
		border-radius 40px
		font-size 0
		
		img
			max-width 100%
			
	&__slider-item-title
		font-weight: bold;
		font-size: 20px;
		line-height: 130%
		letter-spacing: 0.02em;
		color: #FFFFFF;
		position absolute
		left 38px
		right 38px
		top 35px
		
@media all and (max-width: 1200px)
	.c-company-slider
		
		&__block
			padding 0 50px
			
		&__title
			font-size 30px
			
		&__slider-item
			max-width 380px
			
@media all and (max-width: 768px)
	.c-company-slider
		padding 40px 0
		
		&__block
			padding 0 30px
			
		&__title
			font-size 28px
			
		&__swiper
			margin-top 30px
			
		&__slider-item
			max-width 320px
			
@media all and (max-width: 480px)
	.c-company-slider
		padding 20px 0 0
		
		&__block
			padding 0
			
		&__title
			font-size 12px
			
		&__swiper
			margin-top 26px
			
		&__slider-item
			max-width 222px
			
		&__slider-item-img
			border-radius 30px
			
		&__slider-item-title
			font-size 12px
			top 15px
			left 14px
			right 14px
			font-weight 400