.c-flat
	padding 16px 42px 35px
	background #fff
	border-radius: 40px;
	position relative
	
	&--lot
		padding-bottom 30px
	
	&__topline
		display flex
		align-items center
		justify-content space-between
		min-height 42px
		
	&__sett
		display flex
		align-items center
		font-size: 14px;
		line-height: 21px;
		color: #00AAE7;
		
	&__sett-time
		font-weight 700
		margin-left 3px
		
	&__favorites
		margin-right -10px
	
	&__added-favorites
		font-size 0
		position absolute
		top 66px
		right 42px	
		
		svg
			width 28px
			height 25px
			fill #F15A22
			
	&__add-favorites
		display flex
		align-items center
		cursor pointer
		padding 7px 15px 7px 12px
		border-radius 50px
		background transparent
		transition ease-out 0.3s
		height 37px
		
		&:hover
			background #EE845D
			
			.c-flat__add-favorites-title
				color #fff
				
			.c-flat__add-favorites-icon
				svg
					display none
					
					&.second
						fill #fff
						display block
					
		&.active
			background #F15A22
			
			.c-flat__add-favorites-title
				color #fff
				
				&:before
					content attr(data-active)
				
			.c-flat__add-favorites-icon
				svg
					display none
					
					&.second
						fill  #fff
						display block
		
	&__add-favorites-icon
		flex 0 0 13px
		margin-right 11px
		height 12px
		font-size 0
		
		svg
			width 13px
			height 12px
			fill #002C3E
			display none
			
		.first
			display block
	
	&__add-favorites-title
		font-size: 12px;
		line-height: 18px;
		text-align: center;
		color: #002C3E;
		&:before
			content attr(data-hover)

	&__title
		margin-top 15px
		font-weight: 700;
		font-size: 24px;
		line-height: 100%;
		letter-spacing: 0.02em;
		color: #002C3E;
		
		sup
			font-size 15px
			font-weight 900
		
	&__description
		font-size: 16px;
		line-height: 24px;
		color: #002C3E;
		margin-top 7px
		
	&__img
		font-size 0
		display flex
		justify-content center
		align-items center
		margin-top 17px
		padding 0 30px
		
		img
			max-width 100%
			
	&__price-row
		margin-top 40px
		display flex
		// align-items center
		justify-content space-between
		
	&__price-row-layout
		
		&--right
			padding-right 10px
		
	&__price
		font-weight: 700;
		font-size: 24px;
		line-height: 120%;
		letter-spacing: 0.05em;
		color: #002C3E;
		
	&__price2
		font-size: 14px;
		line-height: 21px;
		color: #002C3E;
		
	&__mortgage
		display flex
		align-items center
		
	&__mortgage-icon
		flex 0 0 40px
		margin-right 15px
		width 40px
		height 40px
		border-radius 50%
		background #8DC63F
		display flex
		justify-content center
		align-items center
		
	&__mortgage-title
		font-size: 16px;
		line-height: 24px;
		color: #002C3E;
		
	&__buttons
		margin-top 38px
		display flex
		margin-left -12px
		
	&__button-wrap
		flex 0 0 50%
		padding-left 12px
		
	&__button
		width 100%
		background: #00AAE7;
		border-radius: 20px;
		height 59px
		font-family: Montserrat;
		font-weight: 700;
		font-size: 16px;
		line-height: 130%;
		display: flex;
		align-items: center;
		justify-content center
		text-decoration none
		letter-spacing: 0.02em;
		color: #FFFFFF;
		padding 10px
		border: 2px solid #00AAE7;
		transition background ease-out 0.3s
		
		&:hover
			color #00AAE7
			background transparent
			
		&--border
			color #00AAE7
			background transparent
			
			&:hover
				background: #00AAE7;
				color #fff
				
@media all and (max-width: 1380px)
	.c-flat
		padding 20px 28px 47px
		
		&__add-favorites
			padding 7px
		
		&__add-favorites-title
			font-size 12px
			
		&__add-favorites-icon
			margin-right 7px
			
@media all and (max-width: 1024px)
	.c-flat
		
		&__add-favorites-title
			font-size 11px
			
		&__sett
			font-size 13px
		
		&__title
			font-size 20px
			
			sup
				font-size 14px
			
		&__description
			font-size 14px
			
		&__price-row
			margin-top 25px
			
		&__price
			font-size 20px
			
		&__mortgage-title
			font-size 14px
			
		&__button
			font-size 14px
			
@media all and (max-width: 768px)
	.c-flat
		
		&__topline
			min-height 30px
			
		&__favorites
			margin-right 15px
		
		&__add-favorites
			height 18px
			justify-content center
			padding 0
			width 20px
			
			svg
				width 20px
				height 18px
			
			&.active
				background transparent
				
				.c-flat__add-favorites-icon svg.second
					fill #F15A22
					
			&:hover
				background transparent
				
				.c-flat__add-favorites-icon svg.second
					fill #F15A22
		
		&__add-favorites-title
			display none
			
		&__add-favorites-icon
			margin-right 0
			flex 0 0 20px
			height 18px
			
		&__price-row-layout
			&--right
				padding-right 0
				
@media all and (max-width: 480px)
	.c-flat
		border-radius 10px
		padding 10px 10px 15px
		
		&__added-favorites
			right 25px
			top 15px
			
			svg
				width 20px
				height 18px
		
		&__sett
			font-size 10px
			line-height 15px
			
		&__title
			margin-top 0
			
		&__description
			font-size 12px
			margin-top 0
			
		&__img
			padding 0 69px
			margin-top 5px
			
		&__price-row
			margin-top 18px
			
		&__price
			font-size 16px
			
		&__price2
			font-size 9px
			line-height 13px
			
		&__mortgage-icon
			flex 0 0 30px
			width 30px
			height 30px
			margin-right 13px
			
			svg
				width 14px
				height 14px
				
		&__mortgage-title
			font-size 12px
			line-height 18px
			
		&__buttons
			margin 10px 0 0 -8px
			
		&__button-wrap
			padding-left 8px
			
		&__button
			height 36px
			font-size 10px
			border-radius 10px