.c-grid
	
	&__items
		display flex
		flex-wrap wrap
		margin-left -27px
		
	&__elem
		flex 0 0 33.33%
		width 33.33%
		max-width 33.33%
		padding-left 27px
		padding-bottom 73px
		
	&__item
		height 100%
		
		.c-flat
			height 100%
			
	&__all
		margin-top 46px
		
	&__all-link
		margin 0 auto
		text-decoration none
		width 250px
		height 66px
		border: 1.5px solid #00AAE7;
		box-sizing: border-box;
		border-radius: 20px;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 130%;
		display flex
		justify-content center
		align-items center
		letter-spacing: 0.02em;
		color: #002C3E;
		transition background ease-out 0.3s
		
		&:hover
			background #00AAE7
			color #fff
	
	&__pagers
		margin 30px 0 24px

	&__pagers-block
		display flex
		align-items center
		max-width 220px
		width 100%
		margin-left auto
		margin-right auto
		
	&__pagers-button
		width 56px
		height 56px
		border-radius 50%
		border: 3px solid #002C3E;
		display flex
		justify-content center
		align-items center
		cursor pointer
		
		svg
			width 12px
			height 20px
			fill #002C3E
			
		&--disabled
			border-color #A1C4DA
			pointer-events none
			
			svg
				fill #A1C4DA
			
	&__pagers-numbers
		flex 1 1 auto
		font-size: 12px;
		line-height: 18px;
		color: #0F496D;
		padding 0 5px
		text-align center

			
@media all and (max-width: 1200px)
	.c-grid
		
		&__items
			margin-left -20px
		
		&__elem
			flex 0 0 50%
			width 50%
			max-width 50%
			padding-left 20px
			
@media all and (max-width: 768px)
	.c-grid
		
		&__elem
			flex 0 0 100%
			width 100%
			max-width 100%
			padding-bottom 30px
			
@media all and (max-width: 480px)
	.c-grid
		
		&__items
			margin-left 0

		&__elem
			padding-left 0
			padding-bottom 14px
			
		&__all
			margin-top 0
			
		&__all-link
			height 36px
			font-size 10px
			width 300px
			max-width 100%
		
		&__pagers
			margin 14px 0 0

		&__pagers-block
			max-width 140px
			
		&__pagers-button
			width 25px
			height 25px
			border 2px solid #002C3E
			
			svg
				width 6px
				height 9px
				
		&__pagers-numbers{
					}
