<div block="c-grid" mods="{{gridMods}}">
	<div elem="items">
		<div elem="elem">
			<div elem="item">
				<div block="c-flat" mods="{{flatMods}}">
					<div elem="topline">
						<div elem="sett">
							Заселение  - <div elem="sett-time">01.01.2022</div>
						</div>
						<div elem="favorites">
							<div elem="add-favorites">
								<div elem="add-favorites-icon">
									<svg class="first" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.425 0C11.3997 0 13 1.62162 13 3.89189C13 8.43243 8.125 11.027 6.5 12C4.875 11.027 0 8.43243 0 3.89189C0 1.62162 1.625 0 3.575 0C4.784 0 5.85 0.648649 6.5 1.2973C7.15 0.648649 8.216 0 9.425 0ZM7.1071 10.1215C7.67975 9.76086 8.1965 9.40216 8.6801 9.01816C10.6177 7.48086 11.7 5.80086 11.7 3.89189C11.7 2.36108 10.7009 1.2973 9.425 1.2973C8.7256 1.2973 7.969 1.66703 7.4191 2.21449L6.5 3.13168L5.5809 2.21449C5.031 1.66703 4.2744 1.2973 3.575 1.2973C2.314 1.2973 1.3 2.37146 1.3 3.89189C1.3 5.80151 2.3829 7.48086 4.31925 9.01816C4.8035 9.40216 5.32025 9.76087 5.8929 10.1209C6.08725 10.2435 6.27965 10.3609 6.5 10.4919C6.72035 10.3609 6.91275 10.2435 7.1071 10.1215Z"/>
									</svg>
									<svg class="second" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.425 0C11.3997 0 13 1.62162 13 3.89189C13 8.43243 8.125 11.027 6.5 12C4.875 11.027 0 8.43243 0 3.89189C0 1.62162 1.625 0 3.575 0C4.784 0 5.85 0.648649 6.5 1.2973C7.15 0.648649 8.216 0 9.425 0Z"/>								
									</svg>

								</div>
								<div elem="add-favorites-title" data-hover="Добавить в избранное" data-active="Добавлено в избранное">
									
								</div>
							</div>
						</div>
					</div>
					<div elem="title">
						Студия 30 м<sup>2</sup>
					</div>
					<div elem="description">
						корпус №155, секция 1, этаж 10 
					</div>
					<div elem="img">
						<img src="img/flat1.png" alt="">
					</div>
					<div elem="price-row">
						<div elem="price-row-layout" mods="left">
							<div elem="price">
								5 000 000 ₽
							</div>
							<div elem="price2">
								160 000 ₽/м2
							</div>
						</div>
						<div elem="price-row-layout" mods="right">
							<div elem="mortgage">
								<div elem="mortgage-icon">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_660_13219)">
										<path d="M18.8994 18.2498H17.519V10.888H18.4392C18.8113 10.888 19.1469 10.6638 19.2895 10.3199C19.4318 9.97609 19.3533 9.58039 19.0901 9.31691L10.8081 1.03493C10.6284 0.85549 10.3929 0.765625 10.1573 0.765625C9.92168 0.765625 9.68613 0.85549 9.50668 1.03526L6.9365 3.60511V2.60606C6.9365 2.09779 6.52456 1.68584 6.01629 1.68584H5.09607C4.58779 1.68584 4.17585 2.09779 4.17585 2.60606V6.36577L1.22471 9.31691C0.961512 9.5801 0.882683 9.9758 1.02532 10.3199C1.16763 10.6638 1.50322 10.888 1.8753 10.888H2.79552V18.2498H1.41519C1.16091 18.2498 0.955078 18.4556 0.955078 18.7099C0.955078 18.9642 1.16091 19.17 1.41519 19.17H18.8994C19.1536 19.17 19.3595 18.9642 19.3595 18.7099C19.3595 18.4556 19.1536 18.2498 18.8994 18.2498ZM5.09607 2.60606H6.01629V4.52533L5.09607 5.44555V2.60606V2.60606ZM16.5988 18.2498H3.71574V9.96782H1.8753L10.1573 1.68584L18.4392 9.96782H16.5988V18.2498Z" fill="white"/>
										<path d="M13.513 8.72045L6.15137 16.082L6.80205 16.7327L14.1636 9.37114L13.513 8.72045Z" fill="white"/>
										<path d="M7.85704 8.58691C6.84235 8.58691 6.0166 9.41234 6.0166 10.4274C6.0166 11.4424 6.84264 12.2678 7.85704 12.2678C8.87173 12.2678 9.69748 11.4424 9.69748 10.4274C9.69748 9.41234 8.87173 8.58691 7.85704 8.58691ZM7.85704 11.3476C7.34937 11.3476 6.93682 10.9347 6.93682 10.4274C6.93682 9.92001 7.34937 9.50713 7.85704 9.50713C8.36471 9.50713 8.77726 9.92001 8.77726 10.4274C8.77726 10.9347 8.36471 11.3476 7.85704 11.3476Z" fill="white"/>
										<path d="M12.4576 13.1875C11.4429 13.1875 10.6172 14.0129 10.6172 15.0279C10.6172 16.0429 11.4429 16.8684 12.4576 16.8684C13.4723 16.8684 14.2981 16.0429 14.2981 15.0279C14.2981 14.0129 13.4723 13.1875 12.4576 13.1875ZM12.4576 15.9482C11.95 15.9482 11.5374 15.5353 11.5374 15.0279C11.5374 14.5206 11.95 14.1077 12.4576 14.1077C12.9653 14.1077 13.3778 14.5206 13.3778 15.0279C13.3778 15.5353 12.9653 15.9482 12.4576 15.9482Z" fill="white"/>
										</g>
										<defs>
										<clipPath id="clip0_660_13219">
										<rect width="18.4045" height="18.4045" fill="white" transform="translate(0.955078 0.764648)"/>
										</clipPath>
										</defs>
										</svg>
								</div>
								<div elem="mortgage-content">
									<div elem="mortgage-title">
										В ипотеку 
									</div>
									<strong elem="mortgage-text">
										от 30 000 ₽/м2 
									</strong>
								</div>
							</div>
						</div>
					</div>
				</div><!-- b:c-flat -->
			</div>
		</div>
		<div elem="elem">
			<div elem="item">
				<div block="c-flat" mods="{{flatMods}}">
					<div elem="topline">
						<div elem="sett">
							Заселение  - <div elem="sett-time">01.01.2022</div>
						</div>
						<div elem="favorites">
							<div elem="add-favorites" class="active">
								<div elem="add-favorites-icon">
									<svg class="first" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.425 0C11.3997 0 13 1.62162 13 3.89189C13 8.43243 8.125 11.027 6.5 12C4.875 11.027 0 8.43243 0 3.89189C0 1.62162 1.625 0 3.575 0C4.784 0 5.85 0.648649 6.5 1.2973C7.15 0.648649 8.216 0 9.425 0ZM7.1071 10.1215C7.67975 9.76086 8.1965 9.40216 8.6801 9.01816C10.6177 7.48086 11.7 5.80086 11.7 3.89189C11.7 2.36108 10.7009 1.2973 9.425 1.2973C8.7256 1.2973 7.969 1.66703 7.4191 2.21449L6.5 3.13168L5.5809 2.21449C5.031 1.66703 4.2744 1.2973 3.575 1.2973C2.314 1.2973 1.3 2.37146 1.3 3.89189C1.3 5.80151 2.3829 7.48086 4.31925 9.01816C4.8035 9.40216 5.32025 9.76087 5.8929 10.1209C6.08725 10.2435 6.27965 10.3609 6.5 10.4919C6.72035 10.3609 6.91275 10.2435 7.1071 10.1215Z"/>
									</svg>
									<svg class="second" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.425 0C11.3997 0 13 1.62162 13 3.89189C13 8.43243 8.125 11.027 6.5 12C4.875 11.027 0 8.43243 0 3.89189C0 1.62162 1.625 0 3.575 0C4.784 0 5.85 0.648649 6.5 1.2973C7.15 0.648649 8.216 0 9.425 0Z"/>								
									</svg>

								</div>
								<div elem="add-favorites-title" data-hover="Добавить в избранное" data-active="Добавлено в избранное">
									
								</div>
							</div>
						</div>
					</div>
					<div elem="title">
						Студия 30 м<sup>2</sup>
					</div>
					<div elem="description">
						корпус №155, секция 1, этаж 10 
					</div>
					<div elem="img">
						<img src="img/flat1.png" alt="">
					</div>
					<div elem="price-row">
						<div elem="price-row-layout" mods="left">
							<div elem="price">
								5 000 000 ₽
							</div>
							<div elem="price2">
								160 000 ₽/м2
							</div>
						</div>
						<div elem="price-row-layout" mods="right">
							<div elem="mortgage">
								<div elem="mortgage-icon">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_660_13219)">
										<path d="M18.8994 18.2498H17.519V10.888H18.4392C18.8113 10.888 19.1469 10.6638 19.2895 10.3199C19.4318 9.97609 19.3533 9.58039 19.0901 9.31691L10.8081 1.03493C10.6284 0.85549 10.3929 0.765625 10.1573 0.765625C9.92168 0.765625 9.68613 0.85549 9.50668 1.03526L6.9365 3.60511V2.60606C6.9365 2.09779 6.52456 1.68584 6.01629 1.68584H5.09607C4.58779 1.68584 4.17585 2.09779 4.17585 2.60606V6.36577L1.22471 9.31691C0.961512 9.5801 0.882683 9.9758 1.02532 10.3199C1.16763 10.6638 1.50322 10.888 1.8753 10.888H2.79552V18.2498H1.41519C1.16091 18.2498 0.955078 18.4556 0.955078 18.7099C0.955078 18.9642 1.16091 19.17 1.41519 19.17H18.8994C19.1536 19.17 19.3595 18.9642 19.3595 18.7099C19.3595 18.4556 19.1536 18.2498 18.8994 18.2498ZM5.09607 2.60606H6.01629V4.52533L5.09607 5.44555V2.60606V2.60606ZM16.5988 18.2498H3.71574V9.96782H1.8753L10.1573 1.68584L18.4392 9.96782H16.5988V18.2498Z" fill="white"/>
										<path d="M13.513 8.72045L6.15137 16.082L6.80205 16.7327L14.1636 9.37114L13.513 8.72045Z" fill="white"/>
										<path d="M7.85704 8.58691C6.84235 8.58691 6.0166 9.41234 6.0166 10.4274C6.0166 11.4424 6.84264 12.2678 7.85704 12.2678C8.87173 12.2678 9.69748 11.4424 9.69748 10.4274C9.69748 9.41234 8.87173 8.58691 7.85704 8.58691ZM7.85704 11.3476C7.34937 11.3476 6.93682 10.9347 6.93682 10.4274C6.93682 9.92001 7.34937 9.50713 7.85704 9.50713C8.36471 9.50713 8.77726 9.92001 8.77726 10.4274C8.77726 10.9347 8.36471 11.3476 7.85704 11.3476Z" fill="white"/>
										<path d="M12.4576 13.1875C11.4429 13.1875 10.6172 14.0129 10.6172 15.0279C10.6172 16.0429 11.4429 16.8684 12.4576 16.8684C13.4723 16.8684 14.2981 16.0429 14.2981 15.0279C14.2981 14.0129 13.4723 13.1875 12.4576 13.1875ZM12.4576 15.9482C11.95 15.9482 11.5374 15.5353 11.5374 15.0279C11.5374 14.5206 11.95 14.1077 12.4576 14.1077C12.9653 14.1077 13.3778 14.5206 13.3778 15.0279C13.3778 15.5353 12.9653 15.9482 12.4576 15.9482Z" fill="white"/>
										</g>
										<defs>
										<clipPath id="clip0_660_13219">
										<rect width="18.4045" height="18.4045" fill="white" transform="translate(0.955078 0.764648)"/>
										</clipPath>
										</defs>
										</svg>
								</div>
								<div elem="mortgage-content">
									<div elem="mortgage-title">
										В ипотеку 
									</div>
									<strong elem="mortgage-text">
										от 30 000 ₽/м2 
									</strong>
								</div>
							</div>
						</div>
					</div>
				</div><!-- b:c-flat -->
			</div>
		</div>
		<div elem="elem">
			<div elem="item">
				<div block="c-flat" mods="{{flatMods}}">
					<div elem="topline">
						<div elem="sett">
							Заселение  - <div elem="sett-time">01.01.2022</div>
						</div>
						<div elem="favorites">
							<div elem="add-favorites" class="active">
								<div elem="add-favorites-icon">
									<svg class="first" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.425 0C11.3997 0 13 1.62162 13 3.89189C13 8.43243 8.125 11.027 6.5 12C4.875 11.027 0 8.43243 0 3.89189C0 1.62162 1.625 0 3.575 0C4.784 0 5.85 0.648649 6.5 1.2973C7.15 0.648649 8.216 0 9.425 0ZM7.1071 10.1215C7.67975 9.76086 8.1965 9.40216 8.6801 9.01816C10.6177 7.48086 11.7 5.80086 11.7 3.89189C11.7 2.36108 10.7009 1.2973 9.425 1.2973C8.7256 1.2973 7.969 1.66703 7.4191 2.21449L6.5 3.13168L5.5809 2.21449C5.031 1.66703 4.2744 1.2973 3.575 1.2973C2.314 1.2973 1.3 2.37146 1.3 3.89189C1.3 5.80151 2.3829 7.48086 4.31925 9.01816C4.8035 9.40216 5.32025 9.76087 5.8929 10.1209C6.08725 10.2435 6.27965 10.3609 6.5 10.4919C6.72035 10.3609 6.91275 10.2435 7.1071 10.1215Z"/>
									</svg>
									<svg class="second" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.425 0C11.3997 0 13 1.62162 13 3.89189C13 8.43243 8.125 11.027 6.5 12C4.875 11.027 0 8.43243 0 3.89189C0 1.62162 1.625 0 3.575 0C4.784 0 5.85 0.648649 6.5 1.2973C7.15 0.648649 8.216 0 9.425 0Z"/>								
									</svg>

								</div>
								<div elem="add-favorites-title" data-hover="Добавить в избранное" data-active="Добавлено в избранное">
									
								</div>
							</div>
						</div>
					</div>
					<div elem="title">
						Студия 30 м<sup>2</sup>
					</div>
					<div elem="description">
						корпус №155, секция 1, этаж 10 
					</div>
					<div elem="img">
						<img src="img/flat1.png" alt="">
					</div>
					<div elem="price-row">
						<div elem="price-row-layout" mods="left">
							<div elem="price">
								5 000 000 ₽
							</div>
							<div elem="price2">
								160 000 ₽/м2
							</div>
						</div>
						<div elem="price-row-layout" mods="right">
							<div elem="mortgage">
								<div elem="mortgage-icon">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_660_13219)">
										<path d="M18.8994 18.2498H17.519V10.888H18.4392C18.8113 10.888 19.1469 10.6638 19.2895 10.3199C19.4318 9.97609 19.3533 9.58039 19.0901 9.31691L10.8081 1.03493C10.6284 0.85549 10.3929 0.765625 10.1573 0.765625C9.92168 0.765625 9.68613 0.85549 9.50668 1.03526L6.9365 3.60511V2.60606C6.9365 2.09779 6.52456 1.68584 6.01629 1.68584H5.09607C4.58779 1.68584 4.17585 2.09779 4.17585 2.60606V6.36577L1.22471 9.31691C0.961512 9.5801 0.882683 9.9758 1.02532 10.3199C1.16763 10.6638 1.50322 10.888 1.8753 10.888H2.79552V18.2498H1.41519C1.16091 18.2498 0.955078 18.4556 0.955078 18.7099C0.955078 18.9642 1.16091 19.17 1.41519 19.17H18.8994C19.1536 19.17 19.3595 18.9642 19.3595 18.7099C19.3595 18.4556 19.1536 18.2498 18.8994 18.2498ZM5.09607 2.60606H6.01629V4.52533L5.09607 5.44555V2.60606V2.60606ZM16.5988 18.2498H3.71574V9.96782H1.8753L10.1573 1.68584L18.4392 9.96782H16.5988V18.2498Z" fill="white"/>
										<path d="M13.513 8.72045L6.15137 16.082L6.80205 16.7327L14.1636 9.37114L13.513 8.72045Z" fill="white"/>
										<path d="M7.85704 8.58691C6.84235 8.58691 6.0166 9.41234 6.0166 10.4274C6.0166 11.4424 6.84264 12.2678 7.85704 12.2678C8.87173 12.2678 9.69748 11.4424 9.69748 10.4274C9.69748 9.41234 8.87173 8.58691 7.85704 8.58691ZM7.85704 11.3476C7.34937 11.3476 6.93682 10.9347 6.93682 10.4274C6.93682 9.92001 7.34937 9.50713 7.85704 9.50713C8.36471 9.50713 8.77726 9.92001 8.77726 10.4274C8.77726 10.9347 8.36471 11.3476 7.85704 11.3476Z" fill="white"/>
										<path d="M12.4576 13.1875C11.4429 13.1875 10.6172 14.0129 10.6172 15.0279C10.6172 16.0429 11.4429 16.8684 12.4576 16.8684C13.4723 16.8684 14.2981 16.0429 14.2981 15.0279C14.2981 14.0129 13.4723 13.1875 12.4576 13.1875ZM12.4576 15.9482C11.95 15.9482 11.5374 15.5353 11.5374 15.0279C11.5374 14.5206 11.95 14.1077 12.4576 14.1077C12.9653 14.1077 13.3778 14.5206 13.3778 15.0279C13.3778 15.5353 12.9653 15.9482 12.4576 15.9482Z" fill="white"/>
										</g>
										<defs>
										<clipPath id="clip0_660_13219">
										<rect width="18.4045" height="18.4045" fill="white" transform="translate(0.955078 0.764648)"/>
										</clipPath>
										</defs>
										</svg>
								</div>
								<div elem="mortgage-content">
									<div elem="mortgage-title">
										В ипотеку 
									</div>
									<strong elem="mortgage-text">
										от 30 000 ₽/м2 
									</strong>
								</div>
							</div>
						</div>
					</div>
				</div><!-- b:c-flat -->
			</div>
		</div>
		<div elem="elem">
			<div elem="item">
				<div block="c-flat" mods="{{flatMods}}">
					<div elem="topline">
						<div elem="sett">
							Заселение  - <div elem="sett-time">01.01.2022</div>
						</div>
						<div elem="favorites">
							<div elem="add-favorites" class="active">
								<div elem="add-favorites-icon">
									<svg class="first" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.425 0C11.3997 0 13 1.62162 13 3.89189C13 8.43243 8.125 11.027 6.5 12C4.875 11.027 0 8.43243 0 3.89189C0 1.62162 1.625 0 3.575 0C4.784 0 5.85 0.648649 6.5 1.2973C7.15 0.648649 8.216 0 9.425 0ZM7.1071 10.1215C7.67975 9.76086 8.1965 9.40216 8.6801 9.01816C10.6177 7.48086 11.7 5.80086 11.7 3.89189C11.7 2.36108 10.7009 1.2973 9.425 1.2973C8.7256 1.2973 7.969 1.66703 7.4191 2.21449L6.5 3.13168L5.5809 2.21449C5.031 1.66703 4.2744 1.2973 3.575 1.2973C2.314 1.2973 1.3 2.37146 1.3 3.89189C1.3 5.80151 2.3829 7.48086 4.31925 9.01816C4.8035 9.40216 5.32025 9.76087 5.8929 10.1209C6.08725 10.2435 6.27965 10.3609 6.5 10.4919C6.72035 10.3609 6.91275 10.2435 7.1071 10.1215Z"/>
									</svg>
									<svg class="second" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.425 0C11.3997 0 13 1.62162 13 3.89189C13 8.43243 8.125 11.027 6.5 12C4.875 11.027 0 8.43243 0 3.89189C0 1.62162 1.625 0 3.575 0C4.784 0 5.85 0.648649 6.5 1.2973C7.15 0.648649 8.216 0 9.425 0Z"/>								
									</svg>

								</div>
								<div elem="add-favorites-title" data-hover="Добавить в избранное" data-active="Добавлено в избранное">
									
								</div>
							</div>
						</div>
					</div>
					<div elem="title">
						Студия 30 м<sup>2</sup>
					</div>
					<div elem="description">
						корпус №155, секция 1, этаж 10 
					</div>
					<div elem="img">
						<img src="img/flat1.png" alt="">
					</div>
					<div elem="price-row">
						<div elem="price-row-layout" mods="left">
							<div elem="price">
								5 000 000 ₽
							</div>
							<div elem="price2">
								160 000 ₽/м2
							</div>
						</div>
						<div elem="price-row-layout" mods="right">
							<div elem="mortgage">
								<div elem="mortgage-icon">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_660_13219)">
										<path d="M18.8994 18.2498H17.519V10.888H18.4392C18.8113 10.888 19.1469 10.6638 19.2895 10.3199C19.4318 9.97609 19.3533 9.58039 19.0901 9.31691L10.8081 1.03493C10.6284 0.85549 10.3929 0.765625 10.1573 0.765625C9.92168 0.765625 9.68613 0.85549 9.50668 1.03526L6.9365 3.60511V2.60606C6.9365 2.09779 6.52456 1.68584 6.01629 1.68584H5.09607C4.58779 1.68584 4.17585 2.09779 4.17585 2.60606V6.36577L1.22471 9.31691C0.961512 9.5801 0.882683 9.9758 1.02532 10.3199C1.16763 10.6638 1.50322 10.888 1.8753 10.888H2.79552V18.2498H1.41519C1.16091 18.2498 0.955078 18.4556 0.955078 18.7099C0.955078 18.9642 1.16091 19.17 1.41519 19.17H18.8994C19.1536 19.17 19.3595 18.9642 19.3595 18.7099C19.3595 18.4556 19.1536 18.2498 18.8994 18.2498ZM5.09607 2.60606H6.01629V4.52533L5.09607 5.44555V2.60606V2.60606ZM16.5988 18.2498H3.71574V9.96782H1.8753L10.1573 1.68584L18.4392 9.96782H16.5988V18.2498Z" fill="white"/>
										<path d="M13.513 8.72045L6.15137 16.082L6.80205 16.7327L14.1636 9.37114L13.513 8.72045Z" fill="white"/>
										<path d="M7.85704 8.58691C6.84235 8.58691 6.0166 9.41234 6.0166 10.4274C6.0166 11.4424 6.84264 12.2678 7.85704 12.2678C8.87173 12.2678 9.69748 11.4424 9.69748 10.4274C9.69748 9.41234 8.87173 8.58691 7.85704 8.58691ZM7.85704 11.3476C7.34937 11.3476 6.93682 10.9347 6.93682 10.4274C6.93682 9.92001 7.34937 9.50713 7.85704 9.50713C8.36471 9.50713 8.77726 9.92001 8.77726 10.4274C8.77726 10.9347 8.36471 11.3476 7.85704 11.3476Z" fill="white"/>
										<path d="M12.4576 13.1875C11.4429 13.1875 10.6172 14.0129 10.6172 15.0279C10.6172 16.0429 11.4429 16.8684 12.4576 16.8684C13.4723 16.8684 14.2981 16.0429 14.2981 15.0279C14.2981 14.0129 13.4723 13.1875 12.4576 13.1875ZM12.4576 15.9482C11.95 15.9482 11.5374 15.5353 11.5374 15.0279C11.5374 14.5206 11.95 14.1077 12.4576 14.1077C12.9653 14.1077 13.3778 14.5206 13.3778 15.0279C13.3778 15.5353 12.9653 15.9482 12.4576 15.9482Z" fill="white"/>
										</g>
										<defs>
										<clipPath id="clip0_660_13219">
										<rect width="18.4045" height="18.4045" fill="white" transform="translate(0.955078 0.764648)"/>
										</clipPath>
										</defs>
										</svg>
								</div>
								<div elem="mortgage-content">
									<div elem="mortgage-title">
										В ипотеку 
									</div>
									<strong elem="mortgage-text">
										от 30 000 ₽/м2 
									</strong>
								</div>
							</div>
						</div>
					</div>
				</div><!-- b:c-flat -->
			</div>
		</div>
		<div elem="elem">
			<div elem="item">
				<div block="c-flat" mods="{{flatMods}}">
					<div elem="topline">
						<div elem="sett">
							Заселение  - <div elem="sett-time">01.01.2022</div>
						</div>
						<div elem="favorites">
							<div elem="add-favorites" class="active">
								<div elem="add-favorites-icon">
									<svg class="first" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.425 0C11.3997 0 13 1.62162 13 3.89189C13 8.43243 8.125 11.027 6.5 12C4.875 11.027 0 8.43243 0 3.89189C0 1.62162 1.625 0 3.575 0C4.784 0 5.85 0.648649 6.5 1.2973C7.15 0.648649 8.216 0 9.425 0ZM7.1071 10.1215C7.67975 9.76086 8.1965 9.40216 8.6801 9.01816C10.6177 7.48086 11.7 5.80086 11.7 3.89189C11.7 2.36108 10.7009 1.2973 9.425 1.2973C8.7256 1.2973 7.969 1.66703 7.4191 2.21449L6.5 3.13168L5.5809 2.21449C5.031 1.66703 4.2744 1.2973 3.575 1.2973C2.314 1.2973 1.3 2.37146 1.3 3.89189C1.3 5.80151 2.3829 7.48086 4.31925 9.01816C4.8035 9.40216 5.32025 9.76087 5.8929 10.1209C6.08725 10.2435 6.27965 10.3609 6.5 10.4919C6.72035 10.3609 6.91275 10.2435 7.1071 10.1215Z"/>
									</svg>
									<svg class="second" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.425 0C11.3997 0 13 1.62162 13 3.89189C13 8.43243 8.125 11.027 6.5 12C4.875 11.027 0 8.43243 0 3.89189C0 1.62162 1.625 0 3.575 0C4.784 0 5.85 0.648649 6.5 1.2973C7.15 0.648649 8.216 0 9.425 0Z"/>								
									</svg>

								</div>
								<div elem="add-favorites-title" data-hover="Добавить в избранное" data-active="Добавлено в избранное">
									
								</div>
							</div>
						</div>
					</div>
					<div elem="title">
						Студия 30 м<sup>2</sup>
					</div>
					<div elem="description">
						корпус №155, секция 1, этаж 10 
					</div>
					<div elem="img">
						<img src="img/flat1.png" alt="">
					</div>
					<div elem="price-row">
						<div elem="price-row-layout" mods="left">
							<div elem="price">
								5 000 000 ₽
							</div>
							<div elem="price2">
								160 000 ₽/м2
							</div>
						</div>
						<div elem="price-row-layout" mods="right">
							<div elem="mortgage">
								<div elem="mortgage-icon">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_660_13219)">
										<path d="M18.8994 18.2498H17.519V10.888H18.4392C18.8113 10.888 19.1469 10.6638 19.2895 10.3199C19.4318 9.97609 19.3533 9.58039 19.0901 9.31691L10.8081 1.03493C10.6284 0.85549 10.3929 0.765625 10.1573 0.765625C9.92168 0.765625 9.68613 0.85549 9.50668 1.03526L6.9365 3.60511V2.60606C6.9365 2.09779 6.52456 1.68584 6.01629 1.68584H5.09607C4.58779 1.68584 4.17585 2.09779 4.17585 2.60606V6.36577L1.22471 9.31691C0.961512 9.5801 0.882683 9.9758 1.02532 10.3199C1.16763 10.6638 1.50322 10.888 1.8753 10.888H2.79552V18.2498H1.41519C1.16091 18.2498 0.955078 18.4556 0.955078 18.7099C0.955078 18.9642 1.16091 19.17 1.41519 19.17H18.8994C19.1536 19.17 19.3595 18.9642 19.3595 18.7099C19.3595 18.4556 19.1536 18.2498 18.8994 18.2498ZM5.09607 2.60606H6.01629V4.52533L5.09607 5.44555V2.60606V2.60606ZM16.5988 18.2498H3.71574V9.96782H1.8753L10.1573 1.68584L18.4392 9.96782H16.5988V18.2498Z" fill="white"/>
										<path d="M13.513 8.72045L6.15137 16.082L6.80205 16.7327L14.1636 9.37114L13.513 8.72045Z" fill="white"/>
										<path d="M7.85704 8.58691C6.84235 8.58691 6.0166 9.41234 6.0166 10.4274C6.0166 11.4424 6.84264 12.2678 7.85704 12.2678C8.87173 12.2678 9.69748 11.4424 9.69748 10.4274C9.69748 9.41234 8.87173 8.58691 7.85704 8.58691ZM7.85704 11.3476C7.34937 11.3476 6.93682 10.9347 6.93682 10.4274C6.93682 9.92001 7.34937 9.50713 7.85704 9.50713C8.36471 9.50713 8.77726 9.92001 8.77726 10.4274C8.77726 10.9347 8.36471 11.3476 7.85704 11.3476Z" fill="white"/>
										<path d="M12.4576 13.1875C11.4429 13.1875 10.6172 14.0129 10.6172 15.0279C10.6172 16.0429 11.4429 16.8684 12.4576 16.8684C13.4723 16.8684 14.2981 16.0429 14.2981 15.0279C14.2981 14.0129 13.4723 13.1875 12.4576 13.1875ZM12.4576 15.9482C11.95 15.9482 11.5374 15.5353 11.5374 15.0279C11.5374 14.5206 11.95 14.1077 12.4576 14.1077C12.9653 14.1077 13.3778 14.5206 13.3778 15.0279C13.3778 15.5353 12.9653 15.9482 12.4576 15.9482Z" fill="white"/>
										</g>
										<defs>
										<clipPath id="clip0_660_13219">
										<rect width="18.4045" height="18.4045" fill="white" transform="translate(0.955078 0.764648)"/>
										</clipPath>
										</defs>
										</svg>
								</div>
								<div elem="mortgage-content">
									<div elem="mortgage-title">
										В ипотеку 
									</div>
									<strong elem="mortgage-text">
										от 30 000 ₽/м2 
									</strong>
								</div>
							</div>
						</div>
					</div>
				</div><!-- b:c-flat -->
			</div>
		</div>
		<div elem="elem">
			<div elem="item">
				<div block="c-flat" mods="{{flatMods}}">
					<div elem="topline">
						<div elem="sett">
							Заселение  - <div elem="sett-time">01.01.2022</div>
						</div>
						<div elem="favorites">
							<div elem="add-favorites" class="active">
								<div elem="add-favorites-icon">
									<svg class="first" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.425 0C11.3997 0 13 1.62162 13 3.89189C13 8.43243 8.125 11.027 6.5 12C4.875 11.027 0 8.43243 0 3.89189C0 1.62162 1.625 0 3.575 0C4.784 0 5.85 0.648649 6.5 1.2973C7.15 0.648649 8.216 0 9.425 0ZM7.1071 10.1215C7.67975 9.76086 8.1965 9.40216 8.6801 9.01816C10.6177 7.48086 11.7 5.80086 11.7 3.89189C11.7 2.36108 10.7009 1.2973 9.425 1.2973C8.7256 1.2973 7.969 1.66703 7.4191 2.21449L6.5 3.13168L5.5809 2.21449C5.031 1.66703 4.2744 1.2973 3.575 1.2973C2.314 1.2973 1.3 2.37146 1.3 3.89189C1.3 5.80151 2.3829 7.48086 4.31925 9.01816C4.8035 9.40216 5.32025 9.76087 5.8929 10.1209C6.08725 10.2435 6.27965 10.3609 6.5 10.4919C6.72035 10.3609 6.91275 10.2435 7.1071 10.1215Z"/>
									</svg>
									<svg class="second" width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.425 0C11.3997 0 13 1.62162 13 3.89189C13 8.43243 8.125 11.027 6.5 12C4.875 11.027 0 8.43243 0 3.89189C0 1.62162 1.625 0 3.575 0C4.784 0 5.85 0.648649 6.5 1.2973C7.15 0.648649 8.216 0 9.425 0Z"/>								
									</svg>

								</div>
								<div elem="add-favorites-title" data-hover="Добавить в избранное" data-active="Добавлено в избранное">
									
								</div>
							</div>
						</div>
					</div>
					<div elem="title">
						Студия 30 м<sup>2</sup>
					</div>
					<div elem="description">
						корпус №155, секция 1, этаж 10 
					</div>
					<div elem="img">
						<img src="img/flat1.png" alt="">
					</div>
					<div elem="price-row">
						<div elem="price-row-layout" mods="left">
							<div elem="price">
								5 000 000 ₽
							</div>
							<div elem="price2">
								160 000 ₽/м2
							</div>
						</div>
						<div elem="price-row-layout" mods="right">
							<div elem="mortgage">
								<div elem="mortgage-icon">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_660_13219)">
										<path d="M18.8994 18.2498H17.519V10.888H18.4392C18.8113 10.888 19.1469 10.6638 19.2895 10.3199C19.4318 9.97609 19.3533 9.58039 19.0901 9.31691L10.8081 1.03493C10.6284 0.85549 10.3929 0.765625 10.1573 0.765625C9.92168 0.765625 9.68613 0.85549 9.50668 1.03526L6.9365 3.60511V2.60606C6.9365 2.09779 6.52456 1.68584 6.01629 1.68584H5.09607C4.58779 1.68584 4.17585 2.09779 4.17585 2.60606V6.36577L1.22471 9.31691C0.961512 9.5801 0.882683 9.9758 1.02532 10.3199C1.16763 10.6638 1.50322 10.888 1.8753 10.888H2.79552V18.2498H1.41519C1.16091 18.2498 0.955078 18.4556 0.955078 18.7099C0.955078 18.9642 1.16091 19.17 1.41519 19.17H18.8994C19.1536 19.17 19.3595 18.9642 19.3595 18.7099C19.3595 18.4556 19.1536 18.2498 18.8994 18.2498ZM5.09607 2.60606H6.01629V4.52533L5.09607 5.44555V2.60606V2.60606ZM16.5988 18.2498H3.71574V9.96782H1.8753L10.1573 1.68584L18.4392 9.96782H16.5988V18.2498Z" fill="white"/>
										<path d="M13.513 8.72045L6.15137 16.082L6.80205 16.7327L14.1636 9.37114L13.513 8.72045Z" fill="white"/>
										<path d="M7.85704 8.58691C6.84235 8.58691 6.0166 9.41234 6.0166 10.4274C6.0166 11.4424 6.84264 12.2678 7.85704 12.2678C8.87173 12.2678 9.69748 11.4424 9.69748 10.4274C9.69748 9.41234 8.87173 8.58691 7.85704 8.58691ZM7.85704 11.3476C7.34937 11.3476 6.93682 10.9347 6.93682 10.4274C6.93682 9.92001 7.34937 9.50713 7.85704 9.50713C8.36471 9.50713 8.77726 9.92001 8.77726 10.4274C8.77726 10.9347 8.36471 11.3476 7.85704 11.3476Z" fill="white"/>
										<path d="M12.4576 13.1875C11.4429 13.1875 10.6172 14.0129 10.6172 15.0279C10.6172 16.0429 11.4429 16.8684 12.4576 16.8684C13.4723 16.8684 14.2981 16.0429 14.2981 15.0279C14.2981 14.0129 13.4723 13.1875 12.4576 13.1875ZM12.4576 15.9482C11.95 15.9482 11.5374 15.5353 11.5374 15.0279C11.5374 14.5206 11.95 14.1077 12.4576 14.1077C12.9653 14.1077 13.3778 14.5206 13.3778 15.0279C13.3778 15.5353 12.9653 15.9482 12.4576 15.9482Z" fill="white"/>
										</g>
										<defs>
										<clipPath id="clip0_660_13219">
										<rect width="18.4045" height="18.4045" fill="white" transform="translate(0.955078 0.764648)"/>
										</clipPath>
										</defs>
										</svg>
								</div>
								<div elem="mortgage-content">
									<div elem="mortgage-title">
										В ипотеку 
									</div>
									<strong elem="mortgage-text">
										от 30 000 ₽/м2 
									</strong>
								</div>
							</div>
						</div>
					</div>
				</div><!-- b:c-flat -->
			</div>
		</div>
	</div>
	<!-- <div elem="all">
		<a elem="all-link" href="#">
			Смотреть все
		</a>
	</div> -->
	<div elem="pagers">
		<div elem="pagers-block">
			<div elem="pagers-button" mods="prev disabled">
				<svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1.73088e-06 10.1005L9.89974 0.201021L12.021 2.32236L4.24277 10.1006L12.0208 17.8787L9.89949 20L1.73088e-06 10.1005Z" />
				</svg>
			</div>
			<div elem="pagers-numbers">
				1/10
			</div>
			<div elem="pagers-button" mods="next">
				<svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M13 10.1005L3.10027 0.201018L0.97896 2.32236L8.75723 10.1006L0.979172 17.8787L3.10051 20L13 10.1005Z"/>
				</svg>

			</div>
		</div>
	</div>
</div><!-- b:grid -->