.c-main-banner-row
	display flex
	
	&--about
		margin-top 62px
		padding-bottom 217px
		
	&__item
		margin-right 30px
		flex 1 1 auto
		
		&:last-child
			margin-right 0
			
		&--img
			font-size 0
			border-radius 50px
		
			img
				max-width 100%

.c-main-banner
	margin-top 13px
	padding-bottom 112px

	&--about
		margin-top 0
		padding-bottom 0

		.c-main-banner__content
			top 200px
			left 54px
			
	&--about-right
		&.c-main-banner--right 
			.c-main-banner__content
				top -178px
				
	&--main-padding
		padding-top 135px
		
	&__inner
		position relative
	
	&__img
		overflow hidden
		font-size 0
		border-radius 50px
		
		img
			width 100%
			position relative
			left 50%
			transform translateX(-50%)
			
	&__content
		position absolute
		top 62px
		left 70px
		width 697px
		max-width 100%
		border-radius 50px
		background #fff
		padding 114px 88px
		z-index 1
		
	&__logo
		position absolute
		width 99px
		height 91px
		font-size 0
		top -22px
		left 88px
		
		img
			max-width 100%
			
	&__title
		font-weight: 700;
		font-size: 64px;
		line-height: 64px;
		text-transform: uppercase;
		color: #000;
		font-family rm
		
		span
			color #F15A22
			
	&__title-green
		color #8DC63F !important
			
	&__text
		margin-top 50px
		font-size: 20px;
		line-height: 26px;
		letter-spacing: 0.02em;
		color: #002C3E;
		
	&__button
		margin-top 50px
		
		.default-button
			max-width 228px
		

	&__play-link
		position absolute
		width 104px
		height 104px
		background #00AAE7
		border-radius 50%
		bottom -45px
		right 158px
		display flex
		justify-content center
		align-items center
		text-decoration none
		
		svg
			width 20px
			height 20px
			transition all ease-out 0.3s
			margin-left 4px
			
		&:hover
			background #49c2ee
			
			svg
				width 40px
				height 40px
				
		&--adaptive
			display none
			
		&--360
			background #8DC63F
			width 150px
			height 150px
			font-weight: 700;
			font-size: 36px;
			line-height: 47px;
			letter-spacing: 0.02em;
			color #fff
			padding-top 4px
			padding 7px 0 0 7px
			left 159px
			right auto

			img
				position absolute
				top 50%
				left 50%
				max-width 100%
				transform translate(-50%,-50%)
				opacity 0
				transition opacity ease-out 0.3s
				
			&:hover
				background #84ab47
				font-size 0
				
				img
					opacity 1
			
	&--right
		padding-bottom 176px

		.c-main-banner
			&__content
				right 45px
				left auto
				padding-bottom 65px

@media all and (max-width: 1530px)
	.c-main-banner
		
		&--about-right
			&.c-main-banner--right 
				.c-main-banner__content
					top 20px
		
@media all and (max-width: 1480px)
	.c-main-banner-row
			
		&__item
				
			&--img
				flex 0 0 350px
				
	.c-main-banner-row
		&--about
			.c-main-banner__content
				top 70px

		
@media all and (max-width: 1200px)
	.c-main-banner-row

		&--about
			margin-top 20px
			padding-bottom 65px
			
		&__item
			margin-right 0
				
			&--img
				display none

	.c-main-banner

		&--about

			.c-main-banner__content
				top 167px
				left 10px
				
		&--main-padding
			padding-top 80px
		
		&__logo
			width 70px
			height 65px
			top -40px
			left 40px
			
		&__content
			border-radius 30px
			top 150px
			left 20px
			padding 50px 40px
			
		&__title
			font-size 38px
			line-height 38px
			
		&__text
			margin-top 30px
			font-size 18px
			line-height 22px
			
		&__button
			margin-top 30px
		
		&__play-link
			right 50px
			width 70px
			height 70px
			bottom -30px

			&--360
				width 120px
				height 120px
				bottom -45px
			
		&__img
			img
				height 390px

		&--right

			.c-main-banner
				&__content
					right 20px
					left auto
					
		&--about-right
			&.c-main-banner--right 
				.c-main-banner__content
					top 167px

@media all and (max-width: 1024px)
	.c-main-banner

		&__button
			display flex
		
		&__play-link
			display none
			
			&--360
				width 70px
				height 70px
				font-size 18px
				padding 5px 0 0 5px
				left 80px
				bottom -35px
				
				img
					max-width 30px
				
			&--adaptive
				display flex
				position relative
				left auto
				right auto
				bottom auto
				width 66px
				height 66px
				margin-left auto
				
				svg
					width 16px
					height 16px
					
				&:hover
					svg
						width 16px
						height 16px
			
@media all and (max-width: 768px)
	.c-main-banner-row
		.c-main-banner__content
			right 10px
			left 10px

	.c-main-banner
		
		&__content
			right 20px
			width auto
			padding 50px 20px
			
		&--right
			.c-main-banner
				
				&__content
					left 20px
					right 20px
					
		&--main-padding
			padding-top 50px
			
@media all and (max-width: 480px)
	.c-main-banner-row
		&--about
			padding-bottom 20px

	.c-main-banner
		margin-top 0
		padding-bottom 68px
		
		&__img
			border-radius 20px
			
			img
				height 391px
				
		&__content
			padding 58px 12px 26px
			
		&__logo
			width 70px
			height 64px
			top -32px
			left 14px
			
		&__title
			font-size 28px
			line-height 28px
			
			br
				display none
			
		&__text
			margin-top 20px
			font-size 12px
			line-height 14px
			
		&__button
			margin-top 20px
			
			.default-button
				font-size 10px
				padding 7px 0 
				max-width 206px
				margin-left auto
				
		&__play-link
			
			&--adaptive
				width 36px
				height 36px
				order -1
				margin-right 10px
				margin-left 0
				
				svg
					width 12px
					height 12px
					
				&:hover
					svg
						width 12px
						height 12px
						
			&--360
				font-size 11px
				padding 0
				
				img
					max-width 20px
		&--right
			padding-bottom 95px
			
			.c-main-banner__content
				padding 58px 12px 26px