<div block="c-main-banner" mods="{{mainbannerMods}}">
	<div elem="inner" class="container">
		<div elem="img" data-section-bg="img/banner1.jpg">
			<img src="img/banner1.jpg" alt="">
		</div>
		<div elem="content">
			<div elem="logo">
				<img src="img/logo-min.svg" alt="">
			</div>
			<div elem="title">
				<span>МФК CITI MIX</span> настоящий город в городе
			</div>
			<div elem="text">
				МФК на Никулинской — настоящий город в городе. На первых этажах вы найдете кофейни и рестораны, продуктовые магазины, центры бытовых услуг, фитнес-центр и коворкинг.
			</div>
			<div elem="button">
				<a href="#" class="default-button default-button--green">Подробнее</a>
				<a href="#" elem="play-link" mods="adaptive">
					<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z" fill="white"/>
					</svg>
				</a>
			</div>
		</div>
		<div elem="play">
			<a href="#" elem="play-link">
				<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z" fill="white"/>
				</svg>
			</a>
		</div>
	</div>
</div><!-- b:c-main-banner -->