<div block="c-content" mods="{{contentMods}}">
	<div elem="inner" class="container">
		<div elem="block">
			<div elem="site-path">
				<div block="c-site-path" mods="{{sitePathMods}}">
					<div elem="inner">
						<a elem="item" href="#" mods="first">
							Главная
						</a>
						<span elem="separator">
							•
						</span>
						<a elem="item" href="#">
							О проекте
						</a>	
						<span elem="separator">
							•
						</span>
						Инфраструктура
					</div>
				</div><!-- b:l-site-path -->
			</div>
			<div elem="layout">
				<h1 elem="title">
					Инфраструктура
				</h1>
				<div elem="text">
					Все, что может понадобиться современному горожанину можно найти поблизости: салоны красоты и магазины, кафе и рестораны, бытовые сервисы и развлекательные центры.
				</div>
			</div>
		</div>
	</div>
</div><!-- b:content -->