.c-content
	
	&__block
		padding 60px 148px
		
	&__site-path
		margin-bottom 34px
		
	&__layout
		display flex
		
	&__title
		flex 0 0 50%
		padding-right 50px
		margin 0
		
	&__text
		flex 0 0 50%
		padding-right 150px
		font-size: 20px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #002C3E;
		
	&__progress-row
		display flex
		align-items center
		
	&__progress-bar-wrap
		flex 1 1 auto
		margin-right 40px
	
	&__progress-bar
		position relative
		width 100%
		border-radius 10px
		background #E9F3F9
		height 42px
		
	&__progress-bar-line
		background #00AAE7
		border-radius: 10px 0px 0px 10px;
		height 100%
		
	&__progress-content
		position absolute
		left 23px
		right 18px
		top 0
		bottom 0
		display flex
		align-items center
		
	&__progress-bar-title
		font-size: 16px;
		line-height: 24px;
		color: #E9F3F9;
		flex 1 1 auto
		padding-right 10px
		
	&__progress-bar-percent
		font-weight: 700;
		font-size: 20px;
		line-height: 29px;
		text-align: right;
		color: #002C3E;
		
	&__mark-layout
		display flex
		
	&__mark-block
		display flex
		align-items center
		margin-right 34px
		
	&__mark
		flex 0 0 28px
		margin-right 9px
		
		svg
			width 28px
			height 28px
			fill #8DC63F
			
	&__mark-text
		font-size: 16px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #002C3E;

	&__loading-block
		display flex
		align-items center
		
	&__loading
		flex 0 0 30px
		margin-right 9px
		
		svg,img
			width 30px
			height 30px
			
	&__loading-text
		font-size: 16px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #002C3E;
		opacity: 0.3;
		
	&--build
		.c-content
			&__block
				padding-top 25px
				padding-right 90px
				
			&__text
				padding-right 0
				
			&__title
				padding-right 28px
				
	&--contacts
		.c-content 
			&__block
				padding 37px 0 74px
				
	&--steps
		background #fff
		position relative
		
		&:after
			content ""
			position absolute
			height 40px
			bottom -40px
			left 0
			right 0
			background #fff
			pointer-events none
			
		
		.c-content
			
			&__block
				padding 96px 0 64px
			
			&__text
				padding-right 0

@media all and (max-width: 1480px)	
	.c-content
		&--build
			.c-content
				
				&__layout
					display block
					
				&__text
					margin-top 30px
					

		&__progress-bar-wrap
			max-width 418px

@media all and (max-width: 1200px)	
	.c-content
		
		&__block
			padding 60px 50px
			
		&__title
			padding-right 50px
			
		&__text
			padding-right 50px
			font-size 16px
			
		&__progress-row
			margin-left -15px
				

		&__progress-bar-wrap
			flex 0 0 50%
			margin-right 0
			padding-left 15px
			max-width none
			
		&__mark-layout
			flex 0 0 50%
			padding-left 15px
			
		&--build
			.c-content
				
				&__title
					padding-right 0
				
				&__block
					padding-right 50px

@media all and (max-width: 768px)	
	.c-content
		
		&__site-path
			display none

		&__layout
			display block

		&__block
			padding 13px 30px 20px
			
		&__title
			padding 0
			
		&__text
			padding-right 0
			font-size 14px
			margin-top 20px
			
		&__progress-row
			display block
			margin-left 0
			
		&__progress-bar-wrap
			max-width 300px
			padding-left 0
			
		&__mark-layout
			margin-top 20px
			
		&--build
			.c-content
				
				&__title
					padding-right 0
				
				&__block
					padding-right 30px

@media all and (max-width: 480px)	
	.c-content
		
		&__block
			padding 13px 0 24px
			
		&__mark
			margin-right 3px
			flex 0 0 18px
			
			svg
				width 18px
				height 18px
				
		&__mark-text,&__loading-text
			font-size 10px
			
		&__loading
			margin-right 4px
			flex 0 0 20px
			
			img,svg
				width 18px
				height 18px
				
		&__progress-bar
			height 30px
			
		&__progress-bar-title
			font-size 12px
			line-height 18px
			
		&__progress-bar-percent
			font-size 12px
			line-height 18px
				
		&--build
			.c-content__block
				padding-right 0
				
		&--contacts
			position relative
			
			&:before
				content ""
				position absolute
				left 0
				right 0
				top 0
				height 10px
				pointer-events none
				background #F5FBFE
				
			.c-content
				
				&__inner
					border-radius 20px 20px 0 0 
					background #fff
					position relative
					
				&__block
					padding 20px 0 15px