.c-lotslider
	
	&--lot
		padding-bottom 50px
	
	&__title
		font-weight: 700;
		font-size: 39px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #002C3E;

	&__block-wrap
		position relative

	&__block
		margin-top 50px

	&__slider-navs
		.swiper-button-next, .swiper-button-prev
			border 3px solid #002C3E
			
			svg
				fill #002C3E
				
		.swiper-button-next
			right -120px
			
		.swiper-button-prev
			left -120px
			
@media all and (max-width: 1680px)
	.c-lotslider
		
		&__slider-navs
					
			.swiper-button-next
				right -60px
				
			.swiper-button-prev
				left -60px
				
@media all and (max-width: 1580px)
	.c-lotslider
		padding-left 56px
		padding-right 56px
		
@media all and (max-width: 1200px)
	.c-lotslider
		padding-left 0
		padding-right 0
		
		&__slider-navs
			display flex
			justify-content center
			align-items center
			margin-top 30px
			
			.swiper-button-next, .swiper-button-prev
				position static
				margin-top 0
				
			.swiper-button-prev
				margin-right 30px
				
@media all and (max-width: 768px)
	.c-lotslider
		
		&__slider-navs
				
			.swiper-button-prev
				margin-right 16px
				
		&__title
			font-size 30px
			
		&__block
			margin-top 30px
			
@media all and (max-width: 480px)
	.c-lotslider
		
		&--lot
			padding-bottom 15px
			
		&__slider-navs
			margin-top 14px
		
				
		&__title
			font-size 16px
			
		&__block-wrap
			margin-left -10px
			margin-right -10px
			
		&__block
			margin-top 11px