.c-company-block
	margin-top 30px
	
	&__layouts
		display flex
		
	&__layout
		flex 1 1 auto
		
		&--content
			flex 0 0 716px
			margin-left 30px
			background #fff
			border-radius 50px
			padding 106px 114px
			
		&--slider
			display flex
			
	&__slider-item
		font-size 0
		border-radius 50px
		
		img
			border-radius 50px
			max-width 100%
			
	&__navs
		width 132px
		right 53px	
		bottom 44px
		height 56px
		position absolute
		
		.swiper-button-next
			right 0
			
		.swiper-button-prev
			left 0
		
		.swiper-button-next, .swiper-button-prev
			margin-top 0
			top 0
			
	&__title
		font-size: 39px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #002C3E;
		
	&__list
		margin-top 60px
		font-size 20px
		line-height 130%
		letter-spacing: 0.02em;
	    color: #002C3E;
		
@media all and (max-width: 1480px)
	.c-company-block
		
		&__layout
			
			&--content
				flex 0 0 550px
				padding 106px 50px
				
@media all and (max-width: 1200px)
	.c-company-block
		padding-bottom 50px
		
		&__layouts
			position relative
			
		&__layout
			
			&--content
				position absolute
				bottom -40px
				left 50%
				transform translateX(-50%)
				z-index 1
				width 500px
				margin-left 0
				padding 40px 30px
				
		&__title
			font-size 28px
			
		&__list
			font-size 16px
			margin-top 30px
			
			.orange-list li:before
				top 7px
			
@media all and (max-width: 768px)
	.c-company-block
		
		&__slider-item
			img
				min-height 391px
				
		&__navs
			display none
			
		&__layout
			
			&--content
				width 460px
				
@media all and (max-width: 480px)
	.c-company-block
		
		&__layout
			
			&--content
				width 280px
				padding 25px 14px
				border-radius 30px
				bottom -34px
				
		&__title
			font-size 16px
			line-height 18px
			font-weight 700
			
		&__list
			margin-top 5px
			font-size 12px
			line-height 14px
			
			.orange-list li:before
				top 4px