<div block="c-company-block" mods="{{companyBlockMods}}">
	<div elem="inner" class="container">
		<div elem="layouts">
			<div elem="layout" mods="slider">
				<div elem="swiper" class="swiper">
					<div elem="slider" class="swiper-wrapper">
						<div elem="slider-item" class="swiper-slide" data-section-bg="img/company2.jpg">
							<img src="img/company2.jpg" alt="">
						</div>
						<div elem="slider-item" class="swiper-slide" data-section-bg="img/company2.jpg">
							<img src="img/company2.jpg" alt="">
						</div>
					</div>
					<div elem="navs">
						<div class="swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg></div>
						<div class="swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg></div>
					</div>
				</div>
			</div>
			<div elem="layout" mods="content">
				<div elem="content">
					<div elem="title">
						APSIS GLOBE выполняет полный девелоперский цикл, включающий в себя:
					</div>
					<div elem="list">
						<ul class="orange-list">
							<li>поиск инвестиционно-привлекательных участков,</li>
							<li>их юридическую экспертизу и надлежащее оформление,</li>
							<li>разработку концепции,</li>
							<li>инженерную подготовку,</li>
							<li>проектирование и строительство,</li>
							<li>реализацию недвижимости,</li>
							<li>и ее последующие управление и эксплуатацию</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- b:c-company-block -->