@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe_bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/circe_bold.woff') format('woff') /* Firefox >= 3.6, any other modern browser */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe_extrabold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/circe_extrabold.woff') format('woff') /* Firefox >= 3.6, any other modern browser */
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: 'Circe';
  src: url('../fonts/circe.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/circe.woff') format('woff') /* Firefox >= 3.6, any other modern browser */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Room';
  src: url('../fonts/rm-b.woff2') format('woff2') /* Firefox >= 3.6, any other modern browser */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Room';
  src: url('../fonts/rm-l.woff2') format('woff2') /* Firefox >= 3.6, any other modern browser */
  font-weight: 400;
  font-style: normal;
}

rm = 'Room', sans-serif


$system-font = unquote('Circe, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"')

$colors = {
  theme: convert($data.colors.theme),
  accent: convert($data.colors.accent),
}

$fonts = {
  base: $system-font,
  headings: $system-font
}

$body = {
  fontSize: 1rem,
  fontFamily: $fonts.base,
  fontSize: 1rem,
  fontWeight: 400,
  lineHeight: 1.5,
  color: #212529,
  bgc: #fff
}

$selection = {
  bgc: $colors.theme,
  color: #fff
}

$selectionHeadings = {
  bgc: $colors.accent,
  color: #000
}

$placeholders = {
  normal : getColor($body.color, 'hint'),
  focus  : transparent
}
