.c-main-slider
	
	&__items {}

		
	&__navs
		position absolute
		top 220px
		left 149px
		width 133px
		display flex
		justify-content space-between
		z-index 1
		
		& > a.swiper-prev,& > a.swiper-next
			width 56px
			height 56px
			border-radius 50%
			border: 3px solid #FFFFFF;
			display flex
			justify-content center
			align-items center
			
			svg
				fill #fff
				width 12px
				height 20px
				
			&.swiper-prev
				transform rotate(-180deg)
		
	&__item
		position relative
		
	&__item-img
		font-size 0
		overflow hidden
		border-radius 50px
		
		img
			width auto
			position relative
			left 50%
			transform translateX(-50%)
			
	&__item-content
		position absolute
		bottom 82px
		left 148px
		right 148px
		display flex
		
	&__item-title
		flex 0 0 50%
		font-family: rm;
		font-weight: bold;
		font-size: 64px;
		line-height: 64px;
		text-transform: uppercase;
		color: #FFFFFF;
		display flex
		align-items flex-end
		padding-right 150px
		
	&__item-decription
		display flex
		align-items flex-end
		flex 0 0 50%
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 26px;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		padding-right 150px
		
@media all and (max-width: 1660px)
	.c-main-slider

		&__navs
		
			top 300px
		
		&__item-title
			font-size 50px
			line-height 50px
			padding-right 100px
			
		&__item-decription
			font-size 18px
			line-height 24px
			padding-right 100px
			
@media all and (max-width: 1360px)
	.c-main-slider
		
		&__item-title
			font-size 45px
			line-height 45px
			padding-right 50px
			
		&__item-decription
			font-size 16px
			line-height 22px
			padding-right 50px
			
@media all and (max-width: 1200px)
	.c-main-slider 
		
		&__item-img
			
			img
				height 460px
				
		&__item-content
			left 50px
			right 50px
			bottom 40px
			
		&__item-title
			font-size 38px
			line-height 38px
					
		&__navs
			left 50px
			top 150px
				
@media all and (max-width: 768px)
	.c-main-slider 
		&__item-content
			left 30px
			right 30px
			bottom 62px
			display block

		&__navs
			width 90px
			left 30px
			
			& > a.swiper-prev,& > a.swiper-next
				width 36px
				height 36px
				border: 2px solid #FFFFFF;
				
				svg
					fill #fff
					width 9px
					height 15px
			
		&__item-title
			font-size 32px
			line-height 32px
			padding-right 0
			
		&__item-decription
			font-size 14px
			line-height 16px
			padding-right 0
			margin-top 20px
			
@media all and (max-width: 480px)
	.c-main-slider
		&__navs
			width 68px
			top 130px
			
			& > a.swiper-prev,& > a.swiper-next
				width 25px
				height 25px
				border: 1.5px solid #FFFFFF;
				
				svg
					fill #fff
					width 6px
					height 10px
					
		&__item-img
			border-radius 20px
						
		&__item-content
			left 20px
			right 20px

		&__item-title
			font-size 28px
			line-height 28px
			
		&__item-decription
			padding-right 0
			font-size 12px
			line-height 14px
			
		&__inner
			padding-left 0
			padding-right 0