<div block="c-main-slider" mods="{{mainsliderMods}}">
	<div elem="inner" class="container">
		<div elem="items" class="swiper">
			<div elem="swiper-wrapper" class="swiper-wrapper">
				<div elem="item" class="swiper-slide">
					<div elem="item-img" data-section-bg="img/main-slider.jpg">
						<img src="img/main-slider.jpg" alt="">
					</div>
					<div elem="item-content">
						<div elem="item-title">
							Комплекс апартаментов на Юго-Западе москвы
						</div>
						<div elem="item-decription">
							Комплекс апартаментов на юго-западе Москвы объединяет в себе лучшее, что может предложить большой город. Citi Mix — это просторные апартаменты в престижном районе с собственной, хорошо развитой инфраструктурой.
						</div>
					</div>
				</div>
				<div elem="item" class="swiper-slide">
					<div elem="item-img" data-section-bg="img/main-slider.jpg">
						<img src="img/main-slider.jpg" alt="">
					</div>
					<div elem="item-content">
						<div elem="item-title">
							Комплекс апартаментов на Юго-Западе москвы2
						</div>
						<div elem="item-decription">
							Комплекс апартаментов на юго-западе Москвы объединяет в себе лучшее, что может предложить большой город. Citi Mix — это просторные апартаменты в престижном районе с собственной, хорошо развитой инфраструктурой.2
						</div>
					</div>
				</div>
			</div>
			<div elem="navs">
				<a href="#" class="swiper-prev">
					<svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg>
				</a>
				<a href="#" class="swiper-next">
					<svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg>
				</a>
			</div>
		</div>
	</div>
</div><!-- b:c-main-slider -->