<footer block="app-footer">
	<div elem="inner" class="container">
		<div elem="topline">
			<div elem="layout" mods="logo">
				<div elem="logo">
					<a href="#">
						<img src="img/footerlogo.svg" alt="logo">
					</a>
				</div>
				<div elem="socials">
					<a elem="socials-item" href="#">
						<img src="img/fb.svg" alt="fb">
					</a>
					<a elem="socials-item" href="#">
						<img src="img/vk.svg" alt="vk">
					</a>
				</div>
			</div>
			<div elem="layout" mods="menu">
				<nav elem="nav">
					<ul elem="menu">
						<li>
							<a href="#">О проекте</a>
							<ul>
								<li><a href="#">Расположение</a></li>
								<li><a href="#">Инфраструктура</a></li>
								<li><a href="#">Ход строительства</a></li>
								<li><a href="#">Отделка</a></li>
								<li><a href="#">Инвесторам</a></li>
								<li><a href="#">Застройщик</a></li>
								<li><a href="#">Документы</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Выбор апартаментов</a>
							<ul>
								<li><a href="#">Подбор по параметрам</a></li>
								<li><a href="#">Визуальный выбор/Генплан</a></li>
								<li><a href="#">Визуальный выбор/Этаж</a></li>
								<li><a href="#">Апартаменты</a></li>
								<li class="design-margin"><a href="#">Избранное</a></li>
								<li><a href="#">Сравнение</a></li>
							</ul>
						</li>
						<div elem="design-wrap">
							<li>
								<a href="#">Условия покупки</a>
								<ul>
									<li><a href="#">Ипотека</a></li>
									<li><a href="#">Рассрочка</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Контакты</a>
							</li>
						</div>
					</ul>
				</nav>
			</div>
			<div elem="layout" mods="contacts">
				<div elem="contacts">
					<div elem="contacts-title">
						Офис продаж
					</div>
					<div elem="contacts-address">
						Москва, ул. Гиляровского, д. 57 БЦ «Особняк Центросоюза», оф. 608.   129110
					</div>
					<div elem="contacts-title" mods="adaptive">
						Есть вопросы или предложения?
					</div>
				</div>
				<div elem="contacts-button">
					<a href="#" class="default-button default-button--blue _js-callbackpopup">Напишите нам</a>
				</div>
			</div>
		</div>
		<div elem="bottom">	
			<div elem="copy">
				Все изображения (рендеры) и тексты носят иллюстративный и ознакомительный характер и не являются офертой <br/>© 2021 Официальный сайт Сити Микс. Застройщика ООО «КСАР-Сервис»
			</div>
		</div>
	</div>
</footer><!-- app-footer -->
