.app-footer
	flex none
	background #002C3E
	padding 60px 0 31px
	
	&__topline
		display flex
		padding 0 150px
		
	&__bottom
		padding 0 150px
		margin-top 29px
		
	&__copy
		font-size: 14px;
		line-height: 16px;
		color: rgba(255, 255, 255, 0.3);
		
	&__layout
		flex 1 1 auto
		
		&--logo
			flex 0 0 125px
			margin-right auto
			display flex
			flex-direction column
			justify-content space-between	
			padding-bottom 18px
		
		&--contacts
			flex 0 0 320px
			
		&--menu
			max-width 840px
			margin-left 20px
			
	&__logo
		a
			font-size 0
			text-decoration none
			
			img
				max-width 100%
				
	&__socials
		display flex
		
	&__socials-item
		text-decoration none
		font-size 0
		display flex
		justify-content center
		align-items center
		border-radius 100%
		background #fff
		margin-right 12px
		width 30px
		height 30px
		transition background ease-out 0.3s
		
		img
			max-width 100%
			
		&:hover
			background #00AAE7

		&:last-child
			margin-right 0
			
	&__nav
		ul
			padding 0
			margin 0
			list-style-type none

	&__menu,&__design-wrap
		display flex

		& > li
			margin-right 12%
			
			& > a
				font-weight 700
				font-size 20px
				line-height 20px
				color #fff
				text-decoration none
				
				&:hover
					color #00AAE7
					
			& > ul
				margin-top 19px
				
				& > li
					line-height 20px
					
					&.design-margin
						margin-top 20px
					
					& > a
						font-size 16px
						line-height 20px
						color #A1C4DA
						text-decoration none
						
						&:hover
							color #fff
					
	&__design-wrap
		flex-direction column
		margin-right 14%
		
		& > li
			margin-right 0
		
		& > li:last-child
			margin-top 26px
			
	&__contacts-title
		font-weight: bold;
		font-size: 20px;
		line-height: 20px;
		color: #FFFFFF;
		
	&__contacts-address
		font-size 16px
		line-height 20px
		color #fff
		margin 17px 0 10px
		max-width 290px
		
	&__contacts-button
		margin-top 26px
		
		.default-button
			max-width 200px
			padding 15px 25px
			
@media all and (max-width: 1600px)
	.app-footer
		
		&__menu
			justify-content space-around

		&__menu > li,&__design-wrap
			margin-right 20px
			
@media all and (max-width: 1400px)
	.app-footer
		
		&__layout
			
			&--contacts
				flex 0 0 250px
				
@media all and (max-width: 1280px)
	.app-footer
		
		&__topline
			flex-wrap wrap
			
		&__layout
			
			&--contacts
				margin-top 50px
				flex 0 0 100%
				
@media all and (max-width: 1200px)
	.app-footer
		
		&__topline
			flex-direction column
			padding 0 50px
			
		&__bottom
			padding 0 50px
			
		&__layout
			
			&--logo
				margin-left auto
				flex 1 1 auto
				order 2
				margin-top 30px
				padding-bottom 0
				
			&--menu
				flex 1 1 auto
				margin-left 0
				max-width 100%

		&__logo
			display none
			
		&__nav
			max-width 250px
			
		&__menu, &__design-wrap
			display block
			margin-right 0
			
			& > li
				margin 20px 0 0
				position relative
				
				&:last-child
					margin-top 20px
				
				& > ul
					display none
					
				& > a
					.menu-trigger
						width 20px
						height 20px
						position absolute
						right 0
						top 4px	
						tranform rotate(0)
						transition transform ease-out 0.3s
						
						svg
							width 20px
							height 20px
							fill #fff
							
				&.open
					.menu-trigger
						transform rotate(90deg)
						
		&__contacts-title
			
			&--adaptive
				text-align center
				
		&__contacts-button
			.default-button
				margin 0 auto
				
		&__copy
			text-align center
			
@media all and (max-width: 768px)
	.app-footer
		&__topline
			padding 0 30px
			
		&__bottom
			padding 0 30px
			
@media all and (max-width: 480px)
	.app-footer
		padding 28px 0
		
		&__topline
			padding 0
			
		&__bottom
			padding 0
			
		&__menu, &__design-wrap
			
			& > li
					
				& > a
					font-size 12px
					line-height 22px
					
					.menu-trigger
						width 6px
						height 10px
						
						svg
							width 6px
							height 10px
							
				& > ul
					margin-top 10px
					
					& > li
						
						& > a
							font-size 10px
							
		&__layout
			
			&--contacts
				margin-top 22px
				
		&__contacts-title
			font-size 12px
			line-height 20px
			
		&__contacts-address
			font-size 10px
			line-height 12px
			max-width 190px
			
		&__contacts-button
			.default-button
				max-width 100%
				font-size 10px
				padding 8px 25px
				
		&__copy
			font-size 10px
			line-height 12px