.c-contacts
	padding-bottom 119px
	
	&__blocks
		display flex
		margin-left -28px
		
	&__block
		flex 0 0 50%
		padding-left 28px
		
	&__block-item
		background: #F5FBFE;
		border-radius: 40px;
		padding 43px 50px 40px 58px
		height 100%
		
	&__block-title
		font-weight: 700;
		font-size: 24px;
		line-height: 100%
		margin-bottom 40px
		color: #002C3E;
		
	&__buttons-row
		display flex
		margin-bottom 40px
		
	&__buttons-item
		flex 0 0 50%
		display flex
		align-items center
		padding-right 20px
		
		&:last-child
			padding-right 0
		
		.default-button
			max-width 250px
		
	&__buttons-icon
		flex 0 0 38px
		margin-right 20px
		border-radius: 10px;
		height 38px
		padding 3px
		display flex
		justify-content center
		align-items center
		
		svg
			max-width 100%
			fill #fff
		
		&--green
			background #8DC63F
			
		&--red
			background #F15A22
			
		&--yellow
			background #F9DB26
			
	&__buttons-link
		display block
		font-size: 16px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #002C3E;
		text-decoration none
		margin-bottom 9px
		
		&:last-child
			margin-bottom 0
			
	&__buttons-content
		font-size: 16px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #002C3E;
		
	&__mapblock
		margin-top 36px
		
	&__map
		width 100%
		height 524px
		border-radius 50px
		overflow hidden
		
@media all and (max-width: 1400px)
	.c-contacts
		
		&__block-item
			padding 43px 30px 40px 30px
			
@media all and (max-width: 1200px)
	.c-contacts
		padding-bottom 70px
		
		&__buttons-row
			flex-direction column
			margin-bottom 0
			
		&__buttons-item
			padding-right 0
			flex 1 1 auto
			margin-bottom 20px
			
			&--button
				display none

		&__map
			height 450px
			
@media all and (max-width: 768px)
	.c-contacts
		
		&__blocks
			flex-direction column
			margin-left 0
			
		&__block
			flex 1 1 auto
			padding-left 0
			margin-bottom 30px
			
			&:last-child
				margin-bottom 0
				
@media all and (max-width: 480px)
	.c-contacts
		padding-bottom 15px
		
		&__block
			margin-bottom 14px
		
		&__block-item
			padding 14px 22px 3px
			border-radius: 20px;
			
		&__block-title
			font-size 16px
			margin-bottom 13px
			
		&__buttons-icon
			flex 0 0 25px
			width 25px
			height 25px
			border-radius: 7px;
			padding 0
			
			svg
				width 14px
				height 14px
				
		&__buttons-link
			font-size 12px
			
		&__buttons-content
			font-size 12px
			
		&__buttons-item
			margin-bottom 10px
			
		&__mapblock
			margin-top 13px
			
		&__map
			height 391px
		