<div block="c-contacts" mods="{{contactsMods}}">
	<div elem="inner">
		<div elem="blocks-wrap" class="container2">
			<div elem="blocks">
				<div elem="block">
					<div elem="block-item">
						<div elem="block-title">
							Офис продаж
						</div>
						<div elem="buttons-row">
							<div elem="buttons-item">
								<div elem="buttons-icon" mods="green">
									<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M16.8993 22H16.8669C12.4203 21.8905 8.17693 20.1149 4.97737 17.0249C1.88638 13.828 0.109867 9.58601 0.000128218 5.1404C-0.00641986 4.51764 0.23808 3.91845 0.678538 3.47817L3.81991 0.338913C4.2719 -0.112971 5.00457 -0.112971 5.45656 0.338913L10.0864 4.96908C10.5383 5.4211 10.5383 6.15383 10.0864 6.60585L8.23912 8.44981C8.58174 9.72996 9.21286 10.9147 10.0841 11.9132C11.0807 12.7848 12.2639 13.4164 13.5426 13.7595L15.3946 11.9143C15.8466 11.4625 16.5792 11.4625 17.0312 11.9143L21.6611 16.5445C22.113 16.9965 22.113 17.7292 21.6611 18.1813L18.5197 21.3217C18.0914 21.7545 17.5082 21.9986 16.8993 22ZM4.63592 2.79522H4.63013L2.3152 5.11493C2.40958 8.95642 3.94297 12.6224 6.61172 15.387C9.37625 18.0549 13.0413 19.5883 16.8819 19.6838L19.205 17.3629L16.2048 14.3706L14.7082 15.8662C14.4941 16.0827 14.2025 16.2048 13.898 16.2053C13.8167 16.2054 13.7356 16.1968 13.6561 16.1799C11.7273 15.7532 9.93641 14.8493 8.44746 13.5511C7.14931 12.0621 6.24551 10.2711 5.81885 8.34216C5.73836 7.95874 5.85727 7.56063 6.13484 7.28417L7.63029 5.78746L4.63592 2.79522Z"/>
									</svg>
								</div>
								<div elem="buttons-content">
									<a href="tel:+74951111111" elem="buttons-link">
										+7 495 111-11-11
									</a>
									<a href="tel:+74952222222" elem="buttons-link">
										+7 495 222-22-22
									</a>
								</div>
							</div>
							<div elem="buttons-item">
								<div elem="buttons-icon" mods="red">
									<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.4999 5.37402C9.94072 5.37402 7.85864 7.4561 7.85864 10.0153C7.85864 12.5745 9.94072 14.6565 12.4999 14.6565C15.0591 14.6565 17.1411 12.5745 17.1411 10.0153C17.1411 7.4561 15.0591 5.37402 12.4999 5.37402ZM12.4999 12.7023C11.0183 12.7023 9.81284 11.4969 9.81284 10.0153C9.81284 8.53364 11.0183 7.32822 12.4999 7.32822C13.9815 7.32822 15.187 8.53364 15.187 10.0153C15.187 11.4969 13.9815 12.7023 12.4999 12.7023Z"/>
									<path d="M12.5 0C6.97749 0 2.48462 4.49292 2.48462 10.0154V10.2922C2.48462 13.0852 4.08589 16.3399 7.24409 19.9657C9.53355 22.5942 11.791 24.4271 11.8859 24.5038L12.5 25L13.1141 24.5039C13.209 24.4271 15.4665 22.5943 17.7559 19.9658C20.9141 16.3399 22.5154 13.0853 22.5154 10.2923V10.0154C22.5154 4.49292 18.0225 0 12.5 0ZM20.5612 10.2923C20.5612 15.0123 14.4796 20.7259 12.5 22.4604C10.5199 20.7253 4.43882 15.0119 4.43882 10.2923V10.0154C4.43882 5.57051 8.05508 1.95425 12.5 1.95425C16.9449 1.95425 20.5612 5.57051 20.5612 10.0154V10.2923V10.2923Z"/>
									</svg>
								</div>
								<div elem="buttons-content">
									Москва, ул. Никулинская, вл.11г
								</div>
							</div>
						</div>
						<div elem="buttons-row">
							<div elem="buttons-item" mods="button">
								<a href="#" class="default-button default-button--blue">Обратный звонок</a>
							</div>
							<div elem="buttons-item">
								<div elem="buttons-icon" mods="yellow">
									<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M21.758 3.97161C21.044 1.66758 18.9121 0.0976463 16.5 0.0996112H5.49997C3.08787 0.0976967 0.955985 1.66763 0.241981 3.97161C0.0832299 4.49981 0.00171296 5.04816 0 5.59964V14.3996C0.00110839 17.4368 2.46289 19.8986 5.49997 19.8996H16.5C19.5371 19.8985 21.9989 17.4367 21.9999 14.3996V5.59964C21.9983 5.04816 21.9168 4.49981 21.758 3.97161ZM5.49997 2.29966H16.5C18.1167 2.3043 19.4935 3.47637 19.756 5.07164L10.9999 9.84562L2.24398 5.07164C2.50652 3.47637 3.88324 2.30425 5.49997 2.29966ZM19.8 14.3996C19.7947 16.22 18.3204 17.6943 16.5 17.6996H5.49997C3.67965 17.6943 2.20529 16.22 2.2 14.3996V7.55765L10.472 12.0676C10.8019 12.2441 11.1981 12.2441 11.528 12.0676L19.8 7.55765V14.3996Z"/>
									</svg>

								</div>
								<div elem="buttons-content">
									<a href="mailto:info@apsisinglobe.ru" elem="buttons-link">
										info@apsisinglobe.ru
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div elem="block">
					<div elem="block-item">
						<div elem="block-title">
							По остальным вопросам
						</div>
						<div elem="buttons-row">
							<div elem="buttons-item">
								<div elem="buttons-icon" mods="green">
									<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M16.8993 22H16.8669C12.4203 21.8905 8.17693 20.1149 4.97737 17.0249C1.88638 13.828 0.109867 9.58601 0.000128218 5.1404C-0.00641986 4.51764 0.23808 3.91845 0.678538 3.47817L3.81991 0.338913C4.2719 -0.112971 5.00457 -0.112971 5.45656 0.338913L10.0864 4.96908C10.5383 5.4211 10.5383 6.15383 10.0864 6.60585L8.23912 8.44981C8.58174 9.72996 9.21286 10.9147 10.0841 11.9132C11.0807 12.7848 12.2639 13.4164 13.5426 13.7595L15.3946 11.9143C15.8466 11.4625 16.5792 11.4625 17.0312 11.9143L21.6611 16.5445C22.113 16.9965 22.113 17.7292 21.6611 18.1813L18.5197 21.3217C18.0914 21.7545 17.5082 21.9986 16.8993 22ZM4.63592 2.79522H4.63013L2.3152 5.11493C2.40958 8.95642 3.94297 12.6224 6.61172 15.387C9.37625 18.0549 13.0413 19.5883 16.8819 19.6838L19.205 17.3629L16.2048 14.3706L14.7082 15.8662C14.4941 16.0827 14.2025 16.2048 13.898 16.2053C13.8167 16.2054 13.7356 16.1968 13.6561 16.1799C11.7273 15.7532 9.93641 14.8493 8.44746 13.5511C7.14931 12.0621 6.24551 10.2711 5.81885 8.34216C5.73836 7.95874 5.85727 7.56063 6.13484 7.28417L7.63029 5.78746L4.63592 2.79522Z"/>
									</svg>
								</div>
								<div elem="buttons-content">
									<a href="tel:+74951111111" elem="buttons-link">
										+7 495 333-33-33
									</a>
								</div>
							</div>
							<div elem="buttons-item">
								<div elem="buttons-icon" mods="red">
									<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.4999 5.37402C9.94072 5.37402 7.85864 7.4561 7.85864 10.0153C7.85864 12.5745 9.94072 14.6565 12.4999 14.6565C15.0591 14.6565 17.1411 12.5745 17.1411 10.0153C17.1411 7.4561 15.0591 5.37402 12.4999 5.37402ZM12.4999 12.7023C11.0183 12.7023 9.81284 11.4969 9.81284 10.0153C9.81284 8.53364 11.0183 7.32822 12.4999 7.32822C13.9815 7.32822 15.187 8.53364 15.187 10.0153C15.187 11.4969 13.9815 12.7023 12.4999 12.7023Z"/>
									<path d="M12.5 0C6.97749 0 2.48462 4.49292 2.48462 10.0154V10.2922C2.48462 13.0852 4.08589 16.3399 7.24409 19.9657C9.53355 22.5942 11.791 24.4271 11.8859 24.5038L12.5 25L13.1141 24.5039C13.209 24.4271 15.4665 22.5943 17.7559 19.9658C20.9141 16.3399 22.5154 13.0853 22.5154 10.2923V10.0154C22.5154 4.49292 18.0225 0 12.5 0ZM20.5612 10.2923C20.5612 15.0123 14.4796 20.7259 12.5 22.4604C10.5199 20.7253 4.43882 15.0119 4.43882 10.2923V10.0154C4.43882 5.57051 8.05508 1.95425 12.5 1.95425C16.9449 1.95425 20.5612 5.57051 20.5612 10.0154V10.2923V10.2923Z"/>
									</svg>
								</div>
								<div elem="buttons-content">
									Москва, ул. Гиляровского, 57
								</div>
							</div>
						</div>
						<div elem="buttons-row">
							<div elem="buttons-item" mods="button">
								
							</div>
							<div elem="buttons-item">
								<div elem="buttons-icon" mods="yellow">
									<svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M21.758 3.97161C21.044 1.66758 18.9121 0.0976463 16.5 0.0996112H5.49997C3.08787 0.0976967 0.955985 1.66763 0.241981 3.97161C0.0832299 4.49981 0.00171296 5.04816 0 5.59964V14.3996C0.00110839 17.4368 2.46289 19.8986 5.49997 19.8996H16.5C19.5371 19.8985 21.9989 17.4367 21.9999 14.3996V5.59964C21.9983 5.04816 21.9168 4.49981 21.758 3.97161ZM5.49997 2.29966H16.5C18.1167 2.3043 19.4935 3.47637 19.756 5.07164L10.9999 9.84562L2.24398 5.07164C2.50652 3.47637 3.88324 2.30425 5.49997 2.29966ZM19.8 14.3996C19.7947 16.22 18.3204 17.6943 16.5 17.6996H5.49997C3.67965 17.6943 2.20529 16.22 2.2 14.3996V7.55765L10.472 12.0676C10.8019 12.2441 11.1981 12.2441 11.528 12.0676L19.8 7.55765V14.3996Z"/>
									</svg>

								</div>
								<div elem="buttons-content">
									<a href="mailto:info@apsisinglobe.ru" elem="buttons-link">
										info@apsisinglobe.ru
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div elem="mapblock" class="container">
			<div elem="map" id="contactsMap">
			</div>
		</div>
	</div>
</div><!-- b:c-contacts -->