.c-callback
	
	&--main
		margin 50px 0	
	
	&__block
		padding 67px 148px 60px
		display flex
		align-items flex-start
		background: #E9F3F9;
		border-radius: 50px;
		
	&__layout
		flex 1 1 auto
		
		&--title
			flex 0 0 310px
			
		&--form
			padding-left 20px
			
	&__title
		font-family: rm;
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 100%;
		text-transform: uppercase;
		color: #002C3E;
		
	&__description
		font-family: rm;
		font-weight: 700;
		font-size: 18px;
		line-height: 100%;
		text-transform: uppercase;
		color: #6898AC;
		margin-top 6px

	&__form-row
		display flex
		align-items center
		
		&--inputs
			
			.c-callback__form-item
				margin-right 15px
				flex 1 1 auto
				
				&:last-child
					margin-right 0
					
				&--button
					flex 0 0 250px
					
					.default-button
						max-width 250px
						
	&__form-item
						
		&--personal
			font-size: 12px;
			line-height: 18px;
			color: #A1C4DA;
			margin-top 12px
			
@media all and (max-width: 1480px)
	.c-callback
		&__title
			font-size 30px
		
		&__layout
			
			&--title
				flex 0 0 180px
				
		&__form-row
			
			&--inputs
				.c-callback__form-item
					margin-right 10px
					
					&--button
						flex 0 0 190px
						
@media all and (max-width: 1200px)
	.c-callback
		
		&__block
			padding 50px
			
		&__description
			font-size 16px
			
@media all and (max-width: 1024px)
	.c-callback
		
		&__block
			display block
			
		&__layout
			
			&--form
				padding-left 0
				margin-top 20px
				
		&__form-row
			
			&--inputs
				flex-wrap wrap
				
				.c-callback__form-item
					
					&--input
						flex 0 0 31%
					
					
					&--button
						margin-top 20px
						flex 1 1 100%
						
@media all and (max-width: 768px)
	.c-callback
		
		&__block
			padding 30px
			
		&__form-row
			
			&--inputs
				display block
				
				.c-callback__form-item
					margin-bottom 20px
					
					&--button
						margin-top 0
					
					&--input
						margin-right 0
						flex 1 1 auto
						
@media all and (max-width: 480px)
	.c-callback
		
		&__inner
			padding-left 0
			padding-right 0
		
		&__block
			border-radius 30px
			padding 30px 10px 20px

		&__description
			font-size 12px
			margin-top 2px
			
		&__title
			font-size 22px
			
		&__form-row
			
			&--inputs
				.c-callback__form-item
					margin-bottom 10px
					
					&--button
						margin-top 25px
						.default-button
							max-width 100%
							height 36px
							padding 0
							font-size 10px
							
		&__form-item
			&--personal
				font-size 10px
				line-height 10px
				margin-top 3px
				max-width 230px

		&--main
			margin 15px 0 28px
			
