<div block="c-callback" mods="{{callbackMods}}">
	<div elem="inner" class="container">
		<div elem="block">
			<div elem="layout" mods="title">
				<div elem="title">
					Свяжитесь с нами
				</div>
			</div>
			<div elem="layout" mods="form">
				<form elem="form" action="#">
					<div elem="form-row" mods="inputs">
						<div elem="form-item" mods="input">
							<input type="text" placeholder="Ваше имя">
						</div>
						<div elem="form-item" mods="input">
							<input class="masked-input" type="tel" placeholder="+7 (___) ___-__-__">
						</div>
						<div elem="form-item" mods="input">
							<input type="text" placeholder="e-mail">
						</div>
						<div elem="form-item" mods="button">
							<button class="default-button default-button--green" type="submit">Позвоните мне</button>
						</div>
					</div>
					<div elem="form-row">
						<div elem="form-item" mods="personal">
							Нажимая кнопку вы подтверждаете свое согласие на <a href="#">обработку персональных данных</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div><!-- b:c-callback -->