<div block="c-steps" mods="{{stepsMods}}">
	<div elem="inner">
		<div elem="topline" class="container2">
			<div elem="links">
				<span href="#" elem="link">Визуальный <br/> выбор</span>
				<a href="#" elem="link" mods="icon">
					<span elem="link-icon">
						<svg viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M27.4525 25.5779C27.7509 25.5779 28.037 25.4593 28.248 25.2483C28.459 25.0374 28.5775 24.7512 28.5775 24.4529V20.9541C29.4887 20.7098 30.2939 20.1716 30.8681 19.4231C31.4424 18.6746 31.7537 17.7575 31.7537 16.8141C31.7537 15.8707 31.4424 14.9536 30.8681 14.2051C30.2939 13.4566 29.4887 12.9184 28.5775 12.6741V1.54785C28.5775 1.24948 28.459 0.963335 28.248 0.752356C28.037 0.541378 27.7509 0.422852 27.4525 0.422852C27.1541 0.422852 26.868 0.541378 26.657 0.752356C26.446 0.963335 26.3275 1.24948 26.3275 1.54785V12.6854C25.4163 12.9297 24.6111 13.4678 24.0369 14.2164C23.4626 14.9649 23.1514 15.8819 23.1514 16.8254C23.1514 17.7688 23.4626 18.6858 24.0369 19.4344C24.6111 20.1829 25.4163 20.721 26.3275 20.9654V24.4641C26.3305 24.7605 26.4503 25.0438 26.661 25.2523C26.8716 25.4609 27.1561 25.5779 27.4525 25.5779ZM25.3938 16.8141C25.3938 16.4069 25.5145 16.0089 25.7407 15.6703C25.9669 15.3318 26.2885 15.0679 26.6647 14.9121C27.0408 14.7562 27.4548 14.7155 27.8542 14.7949C28.2535 14.8743 28.6203 15.0704 28.9083 15.3583C29.1962 15.6463 29.3923 16.0131 29.4717 16.4125C29.5511 16.8118 29.5104 17.2258 29.3545 17.602C29.1987 17.9781 28.9349 18.2997 28.5963 18.5259C28.2577 18.7521 27.8597 18.8729 27.4525 18.8729C26.9065 18.8729 26.3828 18.656 25.9968 18.2699C25.6107 17.8838 25.3938 17.3601 25.3938 16.8141Z" />
						<path d="M16.0002 25.5781C16.2985 25.5781 16.5847 25.4596 16.7957 25.2486C17.0066 25.0376 17.1252 24.7515 17.1252 24.4531V8.86062C18.1334 8.58791 19.0083 7.95827 19.587 7.0888C20.1657 6.21934 20.4089 5.16925 20.2714 4.13389C20.1338 3.09852 19.6249 2.14836 18.8392 1.46016C18.0535 0.771964 17.0446 0.392578 16.0002 0.392578C14.9557 0.392578 13.9468 0.771964 13.1611 1.46016C12.3754 2.14836 11.8665 3.09852 11.7289 4.13389C11.5914 5.16925 11.8346 6.21934 12.4133 7.0888C12.9921 7.95827 13.8669 8.58791 14.8752 8.86062V24.4531C14.8752 24.7515 14.9937 25.0376 15.2047 25.2486C15.4156 25.4596 15.7018 25.5781 16.0002 25.5781ZM13.9414 4.73187C13.9392 4.32422 14.058 3.92508 14.2829 3.58504C14.5078 3.245 14.8285 2.97938 15.2045 2.82183C15.5805 2.66428 15.9948 2.6219 16.3949 2.70007C16.795 2.77823 17.1628 2.97341 17.4519 3.26088C17.7409 3.54835 17.9381 3.91516 18.0185 4.31482C18.0988 4.71448 18.0587 5.12901 17.9033 5.50585C17.7478 5.88269 17.4839 6.20489 17.1451 6.43161C16.8063 6.65833 16.4078 6.77936 16.0002 6.77937C15.4561 6.77938 14.9341 6.56402 14.5484 6.18036C14.1626 5.7967 13.9444 5.27593 13.9414 4.73187Z" />
						<path d="M3.42224 17.1404V24.4529C3.42224 24.7512 3.54076 25.0374 3.75174 25.2483C3.96272 25.4593 4.24887 25.5779 4.54724 25.5779C4.84561 25.5779 5.13175 25.4593 5.34273 25.2483C5.55371 25.0374 5.67224 24.7512 5.67224 24.4529V17.1404C6.58347 16.896 7.38862 16.3579 7.96287 15.6094C8.53712 14.8608 8.84838 13.9438 8.84838 13.0004C8.84838 12.0569 8.53712 11.1399 7.96287 10.3914C7.38862 9.64284 6.58347 9.10469 5.67224 8.86035V1.54785C5.67224 1.24948 5.55371 0.963335 5.34273 0.752356C5.13175 0.541378 4.84561 0.422852 4.54724 0.422852C4.24887 0.422852 3.96272 0.541378 3.75174 0.752356C3.54076 0.963335 3.42224 1.24948 3.42224 1.54785V8.86035C2.51101 9.10469 1.70585 9.64284 1.1316 10.3914C0.557349 11.1399 0.246094 12.0569 0.246094 13.0004C0.246094 13.9438 0.557349 14.8608 1.1316 15.6094C1.70585 16.3579 2.51101 16.896 3.42224 17.1404ZM4.54724 10.9416C4.95489 10.9394 5.35403 11.0582 5.69407 11.2831C6.0341 11.5079 6.29973 11.8287 6.45728 12.2047C6.61482 12.5807 6.6572 12.995 6.57904 13.3951C6.50088 13.7952 6.30569 14.163 6.01823 14.4521C5.73076 14.7411 5.36395 14.9383 4.96428 15.0187C4.56462 15.099 4.1501 15.0589 3.77326 14.9034C3.39641 14.748 3.07421 14.4841 2.8475 14.1453C2.62078 13.8065 2.49974 13.408 2.49974 13.0004C2.49973 12.4563 2.71509 11.9343 3.09875 11.5486C3.48241 11.1628 4.00317 10.9446 4.54724 10.9416Z" />
						</svg>
					</span>
					Подбор по <br/> параметрам
				</a>
			</div>
		</div>
		<div elem="block">
			<div elem="block-inner" class="container">
				<div elem="steps">
					<div elem="step" class="active" data-step="1" mods="first">
						<div elem="buildings">
							<img src="img/step2.png" usemap="#buildingsmap" alt="">
						</div>
						<map name="buildingsmap">
							<area shape="poly" data-floor="1" href="#" coords="509,674,699,644,693,551,633,284,397,309,377,416">
							<area shape="poly" href="#" coords="458,156,503,296,632,280,668,436,700,438,728,374,687,108,509,87">
							<area shape="poly" href="#" coords="864,249,886,327,977,318,1002,47,980,2,861,2">
							<area shape="poly" href="#" coords="972,420,1001,138,1106,96,1251,82,1288,131,1218,358,1073,298,989,332,980,419">
							<area shape="poly" href="#" coords="958,612,991,336,1073,301,1217,359,1374,496,1234,758,1166,794,1037,712">
						</map>
					</div>
					<div elem="step" data-step="2" mods="second">
						<div elem="floors">
							<div elem="floors-topline">
								<div elem="floors-topline-layout" mods="left">
									<div elem="floors-back" class="_js-stepsback">
										<svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 9.89951L9.89973 19.799L12.021 17.6776L4.24277 9.89938L12.0208 2.12131L9.89949 0L0 9.89951Z"/>
										</svg>
									</div>
									<div elem="floors-corp">
										Корпус 5 
									</div>
									<div elem="floors-plane">
										<a href="#" class="default-button default-button--blue">
											Посмотреть генплан
										</a>
									</div>
								</div>
								<div elem="floors-topline-layout" mods="right">
									<div elem="floors-select">
										<select name="floorselect" id="floorselect">
											<option value="all">Выбор корпуса</option>
											<option value="all">1</option>
											<option value="all">2</option>
										</select>
									</div>
								</div>
							</div>
							<div elem="floors-block">
								<div elem="floors-block-img">
									<img src="img/step3.png" alt="" usemap="#floorsmap">
								</div>
								<div elem="floors-block-items">
									<div elem="floors-block-item" data-floor="20">20</div>
									<div elem="floors-block-item" data-floor="19">19</div>
									<div elem="floors-block-item" data-floor="18">18</div>
									<div elem="floors-block-item" data-floor="17">17</div>
									<div elem="floors-block-item" data-floor="16">16</div>
									<div elem="floors-block-item" data-floor="15">15</div>
									<div elem="floors-block-item" data-floor="14">14</div>
									<div elem="floors-block-item" data-floor="13">13</div>
									<div elem="floors-block-item" data-floor="12">12</div>
									<div elem="floors-block-item" data-floor="11">11</div>
									<div elem="floors-block-item" data-floor="10">10</div>
									<div elem="floors-block-item" data-floor="9">9</div>
									<div elem="floors-block-item" data-floor="8">8</div>
									<div elem="floors-block-item" data-floor="7">7</div>
									<div elem="floors-block-item" data-floor="6">6</div>
									<div elem="floors-block-item" data-floor="5">5</div>
									<div elem="floors-block-item" data-floor="4">4</div>
									<div elem="floors-block-item" data-floor="3">3</div>
									<div elem="floors-block-item" data-floor="2">2</div>
									<div elem="floors-block-item" data-floor="1">1</div>
								</div>
								<map name="floorsmap" id="floorsmap">
									<area data-title="20 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="20" shape="poly" coords="1317,282,1578,144,1675,195,1674,221,1577,171,1315,301">
									<area data-title="19 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="19" shape="poly" coords="1315,306,1576,175,1674,226,1673,244,1578,198,1315,322">
									<area data-title="18 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="18" shape="poly" coords="1313,331,1579,206,1673,249,1674,270,1578,231,1312,352">
									<area data-title="17 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="17" shape="poly" coords="1313,357,1577,238,1672,277,1673,298,1577,257,1312,373">
									<area data-title="16 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="16" shape="poly" coords="1313,377,1578,266,1676,306,1675,332,1579,292,1314,399">
									<area data-title="15 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="15" shape="poly" coords="1314,403,1578,299,1676,336,1675,355,1579,316,1315,419">
									<area data-title="14 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="14" shape="poly" coords="1313,426,1578,326,1674,361,1671,383,1578,351,1312,445">
									<area data-title="13 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="13" shape="poly" coords="1312,452,1578,358,1675,389,1673,409,1578,378,1312,467">
									<area data-title="12 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="12" shape="poly" coords="1313,472,1576,386,1675,415,1675,440,1584,410,1577,412,1312,494">
									<area data-title="11 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="11" shape="poly" coords="1312,496,1578,419,1677,444,1677,467,1584,438,1576,437,1312,513">
									<area data-title="10 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="10" shape="poly" coords="1312,517,1570,448,1584,447,1675,471,1676,497,1582,473,1571,475,1310,537">
									<area data-title="9 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="9" shape="poly" coords="1312,541,1572,478,1676,500,1677,520,1584,498,1570,498,1311,560">
									<area data-title="8 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="8" shape="poly" coords="1314,566,1575,506,1677,526,1677,553,1585,534,1576,532,1314,590">
									<area data-title="7 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="7" shape="poly" coords="1314,594,1576,538,1679,559,1677,576,1585,558,1576,558,1314,608">
									<area data-title="6 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="6" shape="poly" coords="1315,614,1575,566,1676,583,1674,606,1583,589,1313,636">
									<area data-title="5 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="5" shape="poly" coords="1312,641,1570,597,1584,598,1678,614,1677,635,1584,619,1569,618,1314,654">
									<area data-title="4 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="4" shape="poly" coords="1315,662,1575,626,1676,640,1673,663,1587,652,1576,652,1314,683">
									<area data-title="3 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="3" shape="poly" coords="1314,687,1577,657,1587,656,1677,669,1674,688,1583,676,1575,677,1314,704">
									<area data-title="2 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="2" shape="poly" coords="1314,708,1571,688,1584,687,1672,694,1675,721,1579,711,1571,712,1316,727">
									<area data-title="1 этаж" data-count="2" data-desc=" 
									аппартамента" data-free="свободно" href="#" floor="1" shape="poly" coords="1313,732,1567,719,1581,718,1673,730,1672,749,1582,739,1571,740,1317,747,1313,747">
								</map>
							</div>
						</div>
					</div>
					<div elem="step" data-step="3" mods="third">
						<div elem="aparts">
							<div elem="aparts-topline">
								<div elem="aparts-corp">
									<a href="#" elem="aparts-back" class="_js-stepsback">
										<svg width="27" height="16" viewBox="0 0 27 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0.29286 7.29289C-0.0976639 7.68342 -0.0976639 8.31658 0.29286 8.7071L6.65682 15.0711C7.04735 15.4616 7.68051 15.4616 8.07103 15.0711C8.46156 14.6805 8.46156 14.0474 8.07103 13.6569L2.41418 8L8.07104 2.34314C8.46156 1.95262 8.46156 1.31945 8.07104 0.928931C7.68051 0.538406 7.04735 0.538406 6.65682 0.92893L0.29286 7.29289ZM27 7L0.999968 7L0.999967 9L27 9L27 7Z"/>
										</svg>
									</a>
									<div elem="aparts-corp-block">
										<div elem="aparts-corp-count">
											1
										</div>
										<div elem="aparts-corp-desc">
											Корпус
										</div>
									</div>
								</div>
								<div elem="aparts-select">
									<select name="apartsselect" id="apartsselect">
										<option value="all">Выбор корпуса</option>
										<option value="all">1</option>
										<option value="all">2</option>
									</select>
								</div>
								<div elem="aparts-sett">
									Заселение  - <strong>01.01.2022</strong>
								</div>
							</div>
							<div elem="aparts-bottom">
								<div elem="aparts-floors">
									<div elem="aparts-floors-button" mods="up">
										<svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M10.1005 -4.32721e-07L0.201019 9.89973L2.32236 12.021L10.1006 4.24277L17.8787 12.0208L20 9.89949L10.1005 -4.32721e-07Z"/>
										</svg>
									</div>
									<div elem="aparts-floors-count">
										<strong>10</strong>ЭТАЖ
									</div>
									<div elem="aparts-floors-button" mods="down disabled">
										<svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M10.1005 -4.32721e-07L0.201019 9.89973L2.32236 12.021L10.1006 4.24277L17.8787 12.0208L20 9.89949L10.1005 -4.32721e-07Z"/>
										</svg>
									</div>
								</div>
								<div elem="aparts-button-gen">
									<a href="#" class="default-button default-button--blue">Посмотреть генплан</a>
								</div>
								<div elem="aparts-img-block">
									<div elem="aparts-img">
										<img src="img/step4.png" alt="" usemap="#apartsmap">
									</div>
									<div elem="aparts-img-map">
										<map name="apartsmap" id="apartsmap">											
											<area data-title="Студия 30 м2" data-desc="корпус №155, секция 1, этаж 10 " data-img="img/step5.png" data-link="Подробнее" href="#" aparts="1" shape="poly" coords="845,249,911,249,909,264,908,274,923,274,923,348,845,346,844,273,848,272,848,265,844,264">
											<area data-title="Студия 30 м2" data-desc="корпус №155, секция 1, этаж 10 " data-img="img/step5.png" data-link="Подробнее" href="#" aparts="2" shape="poly" coords="916,250,959,251,960,264,954,264,954,273,966,273,967,256,972,257,974,248,998,248,998,257,1007,257,1006,347,928,347,929,272,935,273,933,265,918,263">
										</map>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- b:c-steps -->