.c-steps
	background #E9F3F9
	border-radius 40px 40px 0 0
	position relative
	
	&__topline
		padding-top 86px 
		padding-bottom 73px
	
	&__links
		display flex
		align-items center
		justify-content space-between
		
	&__link
		font-family: rm;
		font-weight: 700;
		font-size: 48px;
		line-height: 100%;
		text-transform: uppercase;
		color: #000000;
		text-decoration-color #00AAE7
		
		&--icon
			display inline-flex
			align-items center
			
	&__link-icon
		flex 0 0 90px
		width 90px
		height 90px
		border-radius 50%
		background #00AAE7
		display flex
		justify-content center
		align-items center
		padding 5px
		margin-right 50px
		
		svg
			width 36px
			height 36px
			fill #fff
			
	&__buildings
		border-radius 50px
		overflow hidden
			
	&__step
		padding-bottom 73px
		display none
		
		&.active
			display block
	
	&__floors
		padding 0
		position relative
		
	&__floors-block
		border-radius 50px
		overflow hidden
		position relative
		
	&__floors-block-items
		position absolute
		top 24.5%
		right 2.5%
		bottom 9%

	&__floors-block-item
		font-size: 18px
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		margin-bottom 11%
		text-align center
		position relative
		display flex
		align-items center
		justify-content center
		min-width 25px
		
		&:before
			content ""
			width 7px
			height 7px
			background #8DC63F
			border-radius 50%
			opacity 0
			margin-right 4px
		
		&.active
			color #8DC63F

			&:before
				opacity 1				

	&__floors-topline
		position absolute
		z-index 1
		top 45px
		left 86px
		right 56px
		display flex
		align-items center
		justify-content space-between
		
	&__floors-topline-layout
		
		&--left
			display flex
			align-items center
			
	&__floors-back
		width 56px
		flex 0 0 56px
		height 56px
		border: 3px solid #FFFFFF;
		border-radius 50%
		display flex
		justify-content center
		align-items center
		cursor pointer
		
		svg
			width 12px
			height 20px
			fill #fff
			
	&__floors-corp
		font-size: 33px;
		line-height: 49px;
		color: #FFFFFF;
		margin 0 78px 0 31px
		
	&__floors-plane
		.default-button
			width 268px
			max-width 100%
			
	&__floors-select
		width 374px
		max-width 100%
		
		.jq-selectbox__select
			background #fff
			padding-left 70px
			
	&__popup
		width 207px
		text-align center
		
	&__popup-topline
		background: #E2F0F9;
		border-radius: 20px 20px 0px 0px;
		font-family: rm;
		font-weight: 700;
		font-size: 28px;
		line-height: 100%;
		text-transform: uppercase;
		color: #002C3E;
		padding 15px 5px 17px
		position relative
		
	&__popup-topline-triangle
		content ""
		position absolute
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 0 6px 10px;
		border-color: transparent transparent transparent #E2F0F9;
		top 30px
		right -10px
		
	&__popup-bottom
		background #fff
		border-radius: 0 0 20px 20px;
		padding 5px 10px 10px
		
	&__popup-count
		font-family: rm;
		font-weight: 700;
		font-size: 65px;
		line-height: 100%;
		text-transform: uppercase;
		color: #8DC63F;
		
	&__popup-desc
		font-size: 22px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #002C3E;
		margin-top -9px
		
	&__popup-free
		font-weight: 400;
		font-size: 12px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #002C3E;
		
	&__aparts
		padding 0
		
	&__aparts-topline
		display flex
		align-items center
		
	&__aparts-corp
		background: #FFFFFF;
		border-radius: 50px 50px 0 0;
		flex 0 0 700px
		margin-right 83px
		padding 45px 60px 55px
		display flex
		align-items center
		
	&__aparts-corp-block
		display flex
		align-items center
		
	&__aparts-corp-count
		width 85px
		height 85px
		border-radius 50%
		background #F15A22
		margin-right 30px
		font-family: rm;
		font-weight: 700;
		font-size: 50px;
		line-height: 100%;
		text-transform: uppercase;
		color: #FFFFFF;
		display flex
		justify-content center
		align-items center
		
	&__aparts-corp-desc
		font-family: rm;
		font-weight: 700;
		font-size: 50px;
		line-height: 100%;
		text-transform: uppercase;
		color: #002C3E;
		
	&__aparts-back
		text-decoration none
		margin-right 43px
		font-size 0

		svg
			width 27px
			height 16px
			fill #002C3E 
			
	&__aparts-select
		flex 0 0 374px
		margin-right auto
		
		.jq-selectbox__select
			background #fff
			padding-left 70px
			
	&__aparts-sett
		background: #FFFFFF;
		border-radius: 25px;
		width 298px
		height 53px	
		font-size: 20px;
		line-height: 29px;
		color: #002C3E;
		display flex
		align-items center
		padding-left 46px
		
		strong
			margin-left 3px
			
	&__aparts-bottom
		background #fff
		border-radius: 0 0 40px 40px;
		position relative
		
	&__aparts-img
		padding 53px 54px
		
	&__aparts-floors
		position absolute
		display flex
		flex-direction column
		top 22px
		left 67px
		z-index 1
		
	&__aparts-floors-count
		display flex
		flex-direction column
		align-items center
		font-size: 20px;
		line-height: 29px;
		color: #000000;
		
		strong
			font-family: rm;
			font-size: 48px;
			line-height: 100%;
			text-transform: uppercase;
			color: #002C3E;
			margin-bottom 10px
				
	&__aparts-floors-button
		width 56px
		height 56px
		border: 3px solid #002C3E;
		border-radius 50%
		cursor pointer
		display flex
		justify-content center
		align-items center
		margin-bottom 20px
		z-index 1
		
		svg
			fill #002C3E
			width 12px
			height 20px
			
		&--down
			margin 20px 0 0
			
			svg
				transform rotate(180deg)
				
		&--disabled
			border 3px solid #A1C4DA
			
			svg
				fill #A1C4DA

	&__aparts-button-gen
		position absolute
		bottom 96px
		left 200px	
		z-index 1
		
		.default-button
			width 268px
			max-width 100%
			
	&__popup2
		width 291px
		
	&__popup2-topline-triangle
		content ""
		position absolute
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 0 6px 10px;
		border-color: transparent transparent transparent #8DC63F;
		top 36px
		right -10px
			
	&__popup2-topline
		background: #8DC63F;
		border-radius: 20px 20px 0px 0px;
		font-weight: 700;
		font-size: 24px;
		line-height: 100%;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #FFFFFF;
		display flex
		justify-content center
		align-items center
		padding 25px 10px
		position relative

	&__popup2-bottom
		background: #FFFFFF;
		padding 17px 30px 25px
		border-radius: 0 0 20px 20px;
		
	&__popup2-desc
		font-size: 16px;
		line-height: 24px;
		color: #002C3E;
		text-align center
		margin-bottom 20px
		
	&__popup2-img
		font-size 0
		margin-bottom 28px
		
		img
			max-width 100%

	&__popup2-link
		text-align: center;
		letter-spacing: 0.02em;
		color: #00AAE7;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size: 14px;
		line-height: 130%;


@media all and (max-width: 1680px)
	.c-steps
		
		&__floors-block-item
			font-size 17px
			
@media all and (max-width: 1600px)
	.c-steps
		
		&__floors-block-item
			font-size 16px
			
@media all and (max-width: 1530px)
	.c-steps
		
		&__floors-block-item
			font-size 15.5px
			
@media all and (max-width: 1480px)
	.c-steps
		
		&__floors-block-items
			right 2%
			
		
		&__floors-block-item
			font-size 15px
			min-width 24px
			
			&:before
				margin-right 2px
				width 5px
				height 5px
				
		&__aparts-corp
			flex 0 0 500px
			margin-right 30px
			padding-left 30px
			
		&__aparts-select
			flex 0 0 320px
			
		&__aparts-floors
			left 30px
				
@media all and (max-width: 1420px)
	.c-steps
		
		&__floors-block-item
			font-size 14.5px
			
		&__aparts-button-gen
			bottom 70px
			
@media all and (max-width: 1380px)
	.c-steps
		
		&__floors-block-item
			font-size 14px
			
@media all and (max-width: 1300px)
	.c-steps
		
		&__floors-block-item
			font-size 13px
			
@media all and (max-width: 1250px)
	.c-steps
		
		&__floors-block-item
			font-size 12.5px
			
@media all and (max-width: 1200px)
	.c-steps
		
		&__floors-block-item
			font-size 12px