.c-about
	
	&__block
		position relative
		
	&__img
		line-height 0
		font-size 0
		overflow hidden
		border-radius 50px
		
		img
			width auto
			position relative
			left 50%
			transform translateX(-50%)
			
	&__content
		position absolute
		left 148px
		right 148px
		top 70px
		bottom 90px
		display flex
		flex-direction column
		
	&__content-path
		.c-site-path
			color #fff
			
			a
				color #fff
				
			.c-site-path__item--first
				font-weight 400
		
	&__content-row
		margin-top auto
		display flex
		align-items flex-start
		
	&__content-title
		flex 0 0 50%
		padding-right 150px
		margin 0
		color #fff

	&__content-description
		flex 0 0 50%
		font-weight: 700;
		font-size: 20px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		padding-right 150px
		
@media all and (max-width: 1660px)
	.c-about
		
		&__content-title
			font-size 50px
			padding-right 100px
			
		&__content-description
			font-size 18px
			padding-right 100px
		
@media all and (max-width: 1360px)
	.c-about
		&__content-title
			font-size 45px
			padding-right 50px
			
		&__content-description
			font-size 16px
			padding-right 50px
			
@media all and (max-width: 1200px)
	.c-about
		
		&__img
			
			img
				height 460px
				
		&__content
			top 50px
			left 50px
			right 50px
			bottom 40px
			
		&__content-title
			font-size 38px
			
@media all and (max-width: 768px)
	.c-about
				
		&__content
			top 50px
			left 30px
			right 30px
			bottom 60px
			
		&__content-path
			display none
			
		&__content-row
			display block

		&__content-title
			font-size 32px
			padding-right 0
			
		&__content-description
			font-size 14px
			padding-right 0
			margin-top 20px

@media all and (max-width: 480px)
	.c-about
		
		&__inner
			padding 0
			
		&__content
			left 20px
			right 20px