<div block="c-about" mods="{{aboutMods}}">
	<div elem="inner" class="container">
		<div elem="block">
			<div elem="img" data-section-bg="img/about1.png">
				<img src="img/about1.png" alt="about">
			</div>
			<div elem="content">
				<div elem="content-path">
					<div block="c-site-path" mods="{{sitePathMods}}">
						<div elem="inner">
							<a elem="item" href="#" mods="first">
								Главная
							</a>
							<span elem="separator">
								•
							</span>
							<a elem="item" href="#">
								О проекте
							</a>	
							<span elem="separator">
								•
							</span>
							Расположение
						</div>
					</div><!-- b:l-site-path -->
				</div>
				<div elem="content-row">
					<h1 elem="content-title">
						Расположение
					</h1>
					<div elem="content-description">
						Дом на Никулинской расположен в самой тихой точке Юго-Запада Москвы, в окружении Тропаревского парка и Очаковских прудов. Выйти на пробежку, неспешно пройтись у воды или встретиться с друзьями — даже в большом городе можно наслаждаться тишиной и чистым воздухом.
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- b:c-about -->