<div block="c-build" mods="{{buildMods}}">
	<div elem="middle">
		<div elem="middle-inner" class="container">
			<form action="#" elem="form">
				<div elem="form-item">
					<div elem="form-item-title">
						Выберите месяц и год
					</div>
					<div elem="form-item-select">
						<select name="month" id="">
							<option value=>все</option>
							<option value="1">2021</option>
							<option value="2">2020</option>
							<option value="3">2019</option>
						</select>
					</div>
				</div>
				<div elem="form-item">
					<div elem="form-item-title">
						Корпус
					</div>
					<div elem="form-item-select">
						<select name="building" id="">
							<option value=>все</option>
							<option value="1">2021</option>
							<option value="2">2020</option>
							<option value="3">2019</option>
						</select>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div elem="slider">
		<div elem="slider-inner" class="container">
			<div elem="swiper" class="swiper">
				<div elem="swiper-wrapper" class="swiper-wrapper">
					<a href="#" elem="swiper-item" class="swiper-slide">
						<div elem="swiper-item-img" style="background-image: url(img/build1.jpg);"></div>
						<div elem="swiper-item-topline">
							<div elem="swiper-item-title">
								<span class="red"></span> Возведение стен
							</div>
							<div elem="swiper-item-count">
								20 фото
							</div>
						</div>
						<div elem="swiper-item-bottom">
							<div elem="swiper-item-date">
								<div elem="swiper-item-day">8 ноября </div>
								<div elem="swiper-item-year">2021 </div>
							</div>
						</div>
						<div elem="swiper-item-pics">
							<div block="c-popup" class="swiper">
								<div elem="wrapper" class="swiper-wrapper">
									<div elem="item" class="swiper-slide" style="background-image: url(img/build1.jpg);">
										<div elem="item-title">Возведение стен</div>
										<div elem="item-date">8 ноября  2021</div>
									</div>
									<div elem="item" class="swiper-slide" style="background-image: url(img/build1.jpg);">
										<div elem="item-title">Возведение стен</div>
										<div elem="item-date">8 ноября  2021</div>
									</div>
									<div elem="item" class="swiper-slide" style="background-image: url(img/build1.jpg);">
										<div elem="item-title">Возведение стен</div>
										<div elem="item-date">8 ноября  2021</div>
									</div>
								</div>
								<div class="swiper-button-prev">
									<svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg>
								</div>
								<div class="swiper-button-next">
									<svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg>
								</div>
							</div>
						</div>
					</a>
					<a href="#" elem="swiper-item" class="swiper-slide">
						<div elem="swiper-item-img" style="background-image: url(img/build2.jpg);"></div>
						<div elem="swiper-item-topline">
							<div elem="swiper-item-title">
								<span class="green"></span> Возведение стен
							</div>
							<div elem="swiper-item-count">
								14 фото
							</div>
						</div>
						<div elem="swiper-item-bottom">
							<div elem="swiper-item-date">
								<div elem="swiper-item-day">8 ноября </div>
								<div elem="swiper-item-year">2021 </div>
							</div>
						</div>

						<div elem="swiper-item-pics">
							<div block="c-popup" class="swiper">
								<div elem="wrapper" class="swiper-wrapper">
									<div elem="item" class="swiper-slide" style="background-image: url(img/build2.jpg);">
										<div elem="item-title">Возведение стен</div>
										<div elem="item-date">8 ноября  2021</div>
									</div>
									<div elem="item" class="swiper-slide" style="background-image: url(img/build2.jpg);">
										<div elem="item-title">Возведение стен</div>
										<div elem="item-date">8 ноября  2021</div>
									</div>
									<div elem="item" class="swiper-slide" style="background-image: url(img/build2.jpg);">
										<div elem="item-title">Возведение стен</div>
										<div elem="item-date">8 ноября  2021</div>
									</div>
								</div>
								<div class="swiper-button-prev">
									<svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg>
								</div>
								<div class="swiper-button-next">
									<svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg>
								</div>
							</div>
						</div>
					</a>
					<a href="#" elem="swiper-item" class="swiper-slide">
						<div elem="swiper-item-img" style="background-image: url(img/build3.jpg);"></div>
						<div elem="swiper-item-topline">
							<div elem="swiper-item-title">
								<span class="green"></span> Возведение стен
							</div>
							<div elem="swiper-item-count">
								14 фото
							</div>
						</div>
						<div elem="swiper-item-bottom">
							<div elem="swiper-item-date">
								<div elem="swiper-item-day">8 ноября </div>
								<div elem="swiper-item-year">2021 </div>
							</div>
						</div>

						<div elem="swiper-item-pics">
							<div block="c-popup" class="swiper">
								<div elem="wrapper" class="swiper-wrapper">
									<div elem="item" class="swiper-slide" style="background-image: url(img/build3.jpg);">
										<div elem="item-title">Возведение стен</div>
										<div elem="item-date">8 ноября  2021</div>
									</div>
									<div elem="item" class="swiper-slide" style="background-image: url(img/build3.jpg);">
										<div elem="item-title">Возведение стен</div>
										<div elem="item-date">8 ноября  2021</div>
									</div>
									<div elem="item" class="swiper-slide" style="background-image: url(img/build3.jpg);">
										<div elem="item-title">Возведение стен</div>
										<div elem="item-date">8 ноября  2021</div>
									</div>
								</div>
								<div class="swiper-button-prev">
									<svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg>
								</div>
								<div class="swiper-button-next">
									<svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div><!-- b:c-build -->



<div class="remodal" data-remodal-id="buildGallery" data-remodal-options="hashTracking: false, closeOnOutsideClick: true">
	<div data-remodal-action="close" class="remodal-close">
		{{ _icon('close') }}
	</div>
	<div class="remodal-content"><!-- галерея вставляется с помощью js --></div>
</div>