.c-build
	flex none
	&__form
		padding 0 148px
		display flex
		
	&__form-item
		flex 0 0 418px
		margin-right 30px
		
		&:last-child
			margin-right 0
			
	&__form-item-title
		font-size: 16px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #A1C4DA;
		margin-bottom 5px
		

	&__swiper-item
		text-decoration none
		display block
		
		&-img 
			border-radius: 50px;
			background-size cover 
			background-repeat no-repeat
			background-position 50% 50%
			&:before 
				content ''
				display block 
				padding-top 90%
		
	&__swiper-item-topline
		position absolute
		right 24px
		left 40px
		top 33px
		display flex
		align-items center
		justify-content space-between
		
	&__swiper-item-title
		display flex
		align-items center
		font-weight: 700;
		font-size: 20px;
		line-height: 120%;
		letter-spacing: 0.02em;
		color: #FFFFFF;

		span
			flex 0 0 10px
			width 10px
			height 10px
			border-radius 100%
			margin-right 15px
			
			&.red
				background #F15A22
			
			&.green 
				background: #8DC63F;
				

	&__swiper-item-count
		background: #FFFFFF;
		border-radius: 25px;
		font-weight: bold;
		font-size: 18px;
		line-height: 27px;
		text-align: center;
		color: #002C3E;
		padding 2px 12px 1px
		
	&__swiper-item-bottom
		position absolute
		right 24px
		left 40px
		bottom 34px
		
	&__swiper-item-day
		font-weight: 700;
		font-size: 36px;
		line-height: 100%;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		
	&__swiper-item-year
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		
	&__swiper-item-pics 
		display none

	&__slider 
		margin-top 70px 
		overflow hidden
		position relative 
		
		&-inner 
			max-width 1482px
			
	&__swiper
		overflow inherit
	
	
	@media screen and (max-width: 1024px) 
		&__swiper-item 
			width 69vw
			max-width 600px
			
			&-img 
				border-radius: 30px;
				min-height 310px
	
	@media screen and (max-width: 768px) 
		&__swiper 
			&-item
				width 69vw
				max-width 400px 
				
				&-topline
					left 20px 
					right 14px 
					top 12px
				
				&-title 
					font-size 12px
					
					span 
						width 7px 
						height 7px
						flex: 0 0 7px;
						margin-right 8px
				
				&-count
					font-size 10px
					line-height 1 
					padding 6px 11px 4px
				
				&-bottom 
					left 20px 
					right 20px 
					bottom 20px
				
				&-day 
					font-size 14px 
				
				&-year
					font-size 10px 



[data-remodal-id=buildGallery]
	background transparent
	padding 0
	max-width 1760px
	
	.remodal-close 
		width 120px
		height 120px
		display flex 
		align-items center 
		justify-content center 
		z-index 2
		right 0 
		top 0 
		&:before 
			content none
		
		.svg-icon 
			width 55px 
			height 55px 
			transition .4s ease all 
			transform scale(.8)
			fill #fff 
		
		@media screen and (max-width: 1200px) 
			width 60px
			height 60px
			
			.svg-icon 
				width 30px 
				height 30px 
		
		&:hover 
			.svg-icon 
				fill #fff 
				transform scale(1)


.c-popup 
	border-radius 50px
	overflow hidden
	&__item 
		background-size cover 
		background-repeat no-repeat 
		background-position 50% 50%
		border-radius 50px
		height 48vw 
		max-height 920px 
		text-align left
		display flex 
		flex-direction column 
		justify-content end
		padding 5vw 7.5vw
		 
		&-title 
			font-weight: bold;
			font-size: 36px;
			line-height: 100%;
			letter-spacing: 0.02em;
			color: #FFFFFF;
			margin-bottom 8px 
		
		&-date 
			font-weight: bold;
			font-size: 20px;
			line-height: 1.2;
			letter-spacing: 0.02em;
			color: #FFFFFF;
	
	.swiper-button-next,
	.swiper-button-prev 
		margin 30px
		transform translateY(-50%)

	.swiper-button-prev 
		transform translateY(-50%) rotate(-180deg)

	@media screen and (max-width: 1480px) 
		&__item 
			height 90vh
		.swiper-button-next,
		.swiper-button-prev 
			margin 10px
		
		
	@media screen and (max-width: 1200px) 
		border-radius 20px
		
		&__item 
			border-radius 20px
	@media screen and (max-width: 768px)

		&__item 
			padding 5vw 5vw
			&-title 
				font-size: 20px;
			&-date 
				font-size: 14px;
				

@media all and (max-width: 1200px)
	.c-build
		
		&__form
			padding 0 50px
			margin-left -15px
			
			&-item
				flex 0 0 50%
				margin-right 0
				padding-left 15px
				
@media all and (max-width: 768px)
	.c-build
		
		&__form
			padding 0 30px
			
@media all and (max-width: 480px)
	.c-build
		
		&__form
			padding 0
			margin-left -10px
			
		&__form-item
			padding-left 10px
			
		&__form-item-title
			font-size 10px
			line-height 15px