<div block="l-aside-menu" mods="{{bodyClasses}}">
    <div class="l-aside-menu__content">
        <div class="l-aside-menu__navs">
            <div class="l-aside-menu__scroller">
                <div class="l-aside-menu__scroller-content">
                </div>
                <div class="l-aside-menu__foot"></div>
            </div>
        </div>
    </div>
    <div class="l-aside-menu__overlay"></div>
</div>
