.l-aside-menu-overlay
    position fixed
    z-index -1001
    pointer-events none
    opacity 0
    left 0
    right 0
    top 0
    bottom 0
    

.l-aside-menu
    position fixed
    z-index 1001
    top 0
    width 100%
    height 100%
    left 0
    right 0  
    pointer-events none

    &.js-opening
        left 0
        pointer-events auto

    &.js-animate
        .l-aside-menu__overlay
            opacity 1

        .l-aside-menu__content
            opacity 1

    &__content
        position: absolute;
        z-index: 25;
        overflow: hidden;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
        background-color: #F5FBFE;
        box-shadow: 5px 10px 15px 5px rgba(0,0,0,0.1);
        box-sizing: border-box;
        transition: opacity 0.3s linear;
        opacity 0
 

    &__close
        position: absolute;
        top: 0;
        left: 0;
        z-index: 150;
        padding: 10px 15px;
        cursor: pointer;
        background-color: #fff;
        border-radius: 0 0 16px 0;
        box-shadow: 0 0 20px rgba(0,0,0,0.3);
        
        .svg-icon
            fill #000
        
    &__back
        position: absolute;
        top: 0;
        left: 0;
        z-index: 150;
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-radius: 0 0 16px 0;
        box-shadow: 0 0 20px rgba(0,0,0,0.3);

    &__navs
        height 100%
        padding-top 90px  

    &__scroller
        width 100%
        height 100%
        overflow-y scroll
        -webkit-overflow-scrolling touch
        padding 0 0 35px 0
        box-sizing border-box

        &::-webkit-scrollbar
            width 4px

        &::-webkit-scrollbar-thumb
            border-radius 0
            background-color #B7BC4E

        &::-webkit-scrollbar-track
            border-radius 0
            background-color transparent

    &__scroller-content
        position relative
        z-index 75
                    
        .app-header__site-version
            margin-top: 50px
            max-width 60px
            margin-left: auto   
            display flex
            
        .app-header__site-version-item
            background-color: #000
            
        .app-header__site-version-dropdown
            z-index: 40 

    &__foot
        position relative

    &__overlay
        position: absolute;
        z-index: 15;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.39);
        opacity: 0;
        transition: opacity 0.3s linear;

.app-header__search.aside-nav-list__search
    margin 0
    padding 10px 73px 0 52px 
    display none  
    
.sub-menu-trigger
    position absolute
    top 10px
    right 20px
    width 30px
    height 30px
    cursor pointer
    z-index 35
    transform rotate (0)
    transition transform ease-out 0.3s
    

    .svg-icon
        width 30px
        height 30px
        fill #000
        display flex
        justify-content center
        align-items center


.aside-nav-list
    margin 10px 0 0 0
    padding 10px 0 0 0
    list-style-type none
    background-color transparent 
    
    &.aside-nav-list__menu
        padding 10px 10px 0
        
        & > ul
            
            & > li
                margin-bottom 10px
                
                & > a
                    background: #E2F0F9;
                    border-radius: 10px;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 18px;
                    color: #002C3E;
                    padding 17px 40px 15px 13px
                    
                & > ul
                    
                    & > li
                            
                        & > a
                            padding 10px 13px 15px 10px
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 38px;
                            color: #002C3E;
    
                    

    ul
        padding 0    

    li
        position: relative;
        padding-left: 0;
        margin-top: 0;
        margin-bottom 0
        overflow hidden    
        border-radius: 5px
        text-align: left        

        & > ul
            position: relative;
            z-index: 25;
            margin: 0;
            padding: 10px 0 10px 10px;
            list-style-type: none;
            display: none;

        &.opened.is-has-child
            & > ul
                display block
                background #fff
                
            & > a{}
                
            & > .sub-menu-trigger
                transform rotate(90deg)

        a
            position: relative;
            z-index: 35;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            transition: background-color 0.3s linear;
            padding 10px 73px 5px 52px  
            display block
            border none
            border-radius 0 
            text-decoration none
            background-color transparent
            
            color: #212121;
            font-size: 20px;
            font-weight: 500;
                
            .svg-icon
                position absolute
                width 40px
                height 40px   
                right 0
                display flex
                align-items center
                justify-content center
                top 0  
                bottom 0
                transform rotate(90deg)
                transition transform ease-out 0.3s
                
                .svg-icon__link
                    width 20px
                    height 20px
                    transform rotate(0)
                    transition transform ease-out 0.3s
            
            &:hover,&.active
                color #B7BC4E
                
.aside-nav-list li.opened > a > .svg-icon .svg-icon__link,
.aside-nav-list li.opening > a >.svg-icon .svg-icon__link {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.aside-nav-list li.opened.is-has-child > .sub-menu-trigger .svg-icon,
.aside-nav-list li.opening.is-has-child > .sub-menu-trigger .svg-icon {
  fill: #fff;
}

.aside-nav-list li.opened > a,
.aside-nav-list li.opening > a {
  color: #fff;
  background-color: #4f8ccf;
  -webkit-box-shadow: 0 6px 12px -9px rgba(51, 51, 51, 0.7);
  box-shadow: 0 6px 12px -9px rgba(51, 51, 51, 0.7);
}