.c-apartment
	padding 50px 0
	
	&__title
		font-family rm
		font-weight: bold;
		font-size: 48px;
		line-height: 48px;
		text-transform: uppercase;
		color: #002C3E;
		padding-left 150px
		
	&__filter
		background #fff
		border-radius: 40px;
		padding 34px 148px 38px
		margin-top 35px
		
	&__filter-topline
		display flex
		align-items flex-end
		flex-wrap wrap
		
	&__filter-item
		margin-right 26px
		
		&--range
			flex 1
			min-width 220px
		
	&__filter-item-title
		font-size: 16px;
		line-height: 21px;
		letter-spacing: 0.02em;
		color: #A1C4DA;
		margin-bottom 5px

	&__filter-item-buttons
		display flex
		
	&__filter-item-button
		text-decoration none
		background #E9F3F9
		border-radius 10px
		padding 18px 28px
		display block
		margin-right 10px
		font-size: 20px;
		line-height: 29px;
		text-align: center;
		color: #000000;
		
		&:last-child
			margin-right 0
			
		&:hover
			background #89D1FC
			
		&.active
			background #00AAE7
			color #fff
			
		&--small
			font-size 18px
			border-radius 100px
			padding 8px 20px
			margin-top 43px
			
	&__filter-button
		flex 0 0 295px

		.default-button
			max-width 100%
			
	&__filter-bottom
		display flex
		flex 1 1 auto
		flex-wrap wrap
		
	&__filter-select
		margin-bottom 6px
		display none
		
	&__filter-adaptive-row
		display none
		
	&__adaptive-button
		display none
		align-items center
		height 50px
		width 100%
		background: #8DC63F;
		border-radius: 10px;
		cursor pointer
		padding 0 15px
		
	&__adaptive-button-icon
		width 25px
		height 18px
		
		svg
			width 25px
			height 18px
			fill #fff
		
	&__adaptive-button-text
		flex 1
		font-family: rm;
		font-style: normal;
		font-weight: 700;
		font-size: 15px;
		line-height: 15px;
		text-transform: capitalize;
		text-align center
		color: #FFFFFF;
		
	&__adaptive-button-count
		width 18px
		height 18px
		background #fff
		font-family: rm;
		font-style: normal;
		font-weight: 700;
		font-size: 10px;
		line-height: 18px;
		text-align: center;
		color: #000000;
		border-radius 50%
		
	&--selectbypar
		padding 0
		
		.c-apartment
		
			&__filter
				margin-top 0
				padding 0
				border-radius 0
				

[data-remodal-id=filterRemodal]
	max-width 100%
	margin 0
	width 100%
	height 100%
	padding 10px 10px 35px
	text-align left
	
	&:before
		content ""
		position absolute
		left 0
		right 0
		height 10px
		bottom 100%
		background #fff
		z-index 1
		
	.c-apartment
		
		&__filter
			margin-top 0
			padding 0
			
		&__filter-adaptive-row
			display flex
			align-items center
			padding-left 5px
			padding-right 5px
			margin-bottom 20px
			
		&__filter-adaptive-back
			font-size: 16px;
			color: #002C3E;
			display flex
			align-items center
			
			svg
				width 15px
				height 18px
				margin-right 15px
				
		&__filter-adaptive-title
			font-family: rm;
			font-style: normal;
			font-weight: 700;
			font-size: 26px;
			line-height: 100%;
			text-transform: uppercase;
			color: #002C3E;
			flex 1 1 auto
			text-align center
			
		&__filter-adaptive-reset
			font-size: 16px;
			line-height: 18px;
			color: #E60000;
			
		&__filter-select
			display block
			
		
@media all and (max-width: 1400px)
	.c-apartment
		
		&__filter-item
			margin-right 13px
		
		&__filter-button
			flex 0 0 200px
			
			.default-button
				padding-left 9px
				padding-right 9px
				font-size 14px
				
@media all and (max-width: 1280px)
	.c-apartment

		&__filter-bottom
			flex 0 0 100%
		
		&__filter-button
			order 2
			margin-top 43px
			
		&__filter-topline
			
			& > div:nth-child(3)	
				margin-right 0
				
@media all and (max-width: 1200px)
	.c-apartment
		
		&__title
			padding-left 50px
			font-size 38px
			line-height 38px
			
		&__filter
			padding 30px 50px
		
		&__filter-item
			
			&--rooms
				margin-right 0
				flex 0 0 100%

			&--range
				flex 0 0 48%
				margin-top 35px
				
		&__filter-button
			margin-top 35px
			
		&__filter-item-button
			
			&--small
				margin-top 35px
				
			&:hover
				background #e9f3f9
				
			&.active
				background #00aae7
			
@media all and (max-width: 768px)
	.c-apartment
		
		&__title
			padding-left 30px
			
		&__filter
			padding 30px
			
		&--selectbypar
			.c-apartment
				
				&__block
					display none
					
				&__adaptive-button
					display flex
			
@media all and (max-width: 640px)
	.c-apartment
		
		&__filter-item
			
			&--range
				flex 0 0 100%
				margin-right 0
				
@media all and (max-width: 480px)
	.c-apartment
		padding 38px 0 28px
		
		&__title
			padding-left 0
			font-size 22px
			line-height 22px
			
			br
				display none
			
		&__block
			background #fff
			border-radius 30px
			padding 20px 10px 27px
			margin 0 -10px 0
			
		&__filter
			border-radius 0
			margin-top 14px
			padding 0
			
		&__filter-item
			
			&--range
				margin-top 25px
			
		&__filter-item-title
			font-size 10px
			line-height 13px
			
		&__filter-item-button
			font-size 12px
			padding 1px 22px
			
			&--small
				margin-top 9px
				
		&__filter-bottom
			margin-top 25px
			
		&__filter-button
			margin-top 30px
			flex 0 0 100%
			
			.default-button
				font-size 10px
				padding 9px
				
		&--selectbypar
			padding-top 32px


	[data-remodal-id=filterRemodal]
		.c-apartment
			
			&__filter-adaptive-back
				font-size: 12px;
				
				svg
					width 5px
					height 8px
					
			&__filter-adaptive-title
				font-size: 16px;
				
			&__filter-adaptive-reset
				font-size: 12px;