<div block="c-apartment" mods="{{apartmentMods}}">
	<div elem="inner" class="container">
		<form action="#" elem="block">
			<div elem="title">
				подобрать <br/> апартамент
			</div>
			<div elem="filter">
				<div elem="filter-topline">
					<div elem="filter-item" mods="rooms">
						<div elem="filter-item-title">
							Кол-во комнат
						</div>
						<div elem="filter-item-buttons">
							<a href="#" elem="filter-item-button">
								студия
							</a>
							<a href="#" elem="filter-item-button">
								1
							</a>
						</div>
					</div>
					<div elem="filter-item" mods="range">
						<div elem="filter-item-title">
							Стоимость, млн ₽
						</div>
						<div elem="filter-item-range" class="custom-range" data-step="0.1" data-decimals="1">
							<div elem="filter-item-range-inner" class="custom-range__inner">
								<div class="custom-range__block">
									<div class="custom-range__fields custom-range__fields--low">
										<span>от</span>
										<input autocomplete="off" type="text" class="custom-range__low" value="3" data-val="1">
									</div>
									<div class="custom-range__fields custom-range__fields--high">
										<span>до</span>
										<input autocomplete="off" type="text" class="custom-range__high" value="36,5" data-val="40,2">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div elem="filter-item" mods="range">
						<div elem="filter-item-title">
							Площадь, м2
						</div>
						<div elem="filter-item-range" class="custom-range" data-step="1" data-decimals="0">
							<div elem="filter-item-range-inner" class="custom-range__inner">
								<div class="custom-range__block">
									<div class="custom-range__fields custom-range__fields--low">
										<span>от</span>
										<input autocomplete="off" type="text" class="custom-range__low" value="19" data-val="10">
									</div>
									<div class="custom-range__fields custom-range__fields--high">
										<span>до</span>
										<input autocomplete="off" type="text" class="custom-range__high" value="34" data-val="40">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div elem="filter-button">
						<button class="default-button default-button--blue">Найдено 27 вариантов</button>
					</div>
					<div elem="filter-bottom">
						<a href="#" elem="filter-item-button" mods="small">
							акция
						</a>
						<a href="#" elem="filter-item-button" mods="small">
							с отделкой  whitebox
						</a>
						<a href="#" elem="filter-item-button" mods="small">
							окна во двор
						</a>
						<a href="#" elem="filter-item-button" mods="small">
							панорамный вид
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div><!-- b:c-apartment -->