<div block="c-site-path" mods="{{sitePathMods}}">
	<div elem="inner">
		<a elem="item" href="#" mods="first">
			Главная
		</a>
		<span elem="separator">
			•
		</span>
		<a elem="item" href="#">
			О проекте
		</a>	
		<span elem="separator">
			•
		</span>
		Расположение
	</div>
</div><!-- b:l-site-path -->