.c-site-path
	font-size: 14px;
	line-height: 21px;
	color: #6BB0D3;
	
	a
		text-decoration none
		font-size: 14px;
		line-height: 21px;
		color: #6BB0D3;
		
		&:hover
			text-decoration underline
			
	&__separator
		margin 0 2px
		
	&__item
		&--first
			font-weight 700