<div block="c-insta-gallery" mods="{{instagalleryMods}}">
	<div elem="inner">
		<div elem="topline" class="container">
			<div elem="title" class="default-title">
				Stories об объекте и окружении
			</div>
			<div elem="text">
				Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Здесь приятно проводить время и есть все, что нужно для счастливой жизни.
			</div>
		</div>
		<div elem="items">
			<a href="video/video1.mp4" elem="item" data-toggle="lightbox" data-gallery="insta-gallery">
				<span elem="item-play">
					<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z" fill="white"/>
					</svg>
				</span>
				<span elem="item-topline">
					<span elem="item-rec-button" mods="red"></span>
					<span elem="item-citimix">citi mix</span>
					<span elem="item-fav">
						{{ _icon('favorites') }}
					</span>
				</span>
				<span elem="item-bottom">
					<span elem="item-title">Активности с детьми</span>
				</span>
				<img src="img/insta-gal1.jpg" alt="">
			</a>
			<a href="video/video2.mp4" elem="item" data-toggle="lightbox" data-gallery="insta-gallery">
				<span elem="item-play">
					<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z" fill="white"/>
					</svg>
				</span>
				<span elem="item-topline">
					<span elem="item-rec-button" mods="green"></span>
					<span elem="item-citimix">citi mix</span>
					<span elem="item-fav">
						{{ _icon('favorites') }}
					</span>
				</span>
				<span elem="item-bottom">
					<span elem="item-title">Парк Тропарёво</span>
				</span>
				<img src="img/insta-gal2.jpg" alt="">
			</a>
			<a href="video/video1.mp4" elem="item" data-toggle="lightbox" data-gallery="insta-gallery">
				<span elem="item-play">
					<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z" fill="white"/>
					</svg>
				</span>
				<span elem="item-topline">
					<span elem="item-rec-button" mods="green"></span>
					<span elem="item-citimix">citi mix</span>
					<span elem="item-fav">
						{{ _icon('favorites') }}
					</span>
				</span>
				<span elem="item-bottom">
					<span elem="item-title">Пикник на природе</span>
				</span>
				<img src="img/insta-gal3.jpg" alt="">
			</a>
			<a href="video/video2.mp4" elem="item" data-toggle="lightbox" data-gallery="insta-gallery">
				<span elem="item-play">
					<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z" fill="white"/>
					</svg>
				</span>
				<span elem="item-topline">
					<span elem="item-rec-button" mods="green"></span>
					<span elem="item-citimix">citi mix</span>
					<span elem="item-fav">
						{{ _icon('favorites') }}
					</span>
				</span>
				<span elem="item-bottom">
					<span elem="item-title">Очаковские пруды</span>
				</span>
				<img src="img/insta-gal4.jpg" alt="">
			</a>
			<a href="video/video1.mp4" elem="item" data-toggle="lightbox" data-gallery="insta-gallery">
				<span elem="item-play">
					<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z" fill="white"/>
					</svg>
				</span>
				<span elem="item-topline">
					<span elem="item-rec-button" mods="green"></span>
					<span elem="item-citimix">citi mix</span>
					<span elem="item-fav">
						{{ _icon('favorites') }}
					</span>
				</span>
				<span elem="item-bottom">
					<span elem="item-title">Активности с детьми</span>
				</span>
				<img src="img/insta-gal5.jpg" alt="">
			</a>
			<a href="video/video1.mp4" elem="item" data-toggle="lightbox" data-gallery="insta-gallery">
				<span elem="item-play">
					<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z" fill="white"/>
					</svg>
				</span>
				<span elem="item-topline">
					<span elem="item-rec-button" mods="red"></span>
					<span elem="item-citimix">citi mix</span>
					<span elem="item-fav">
						{{ _icon('favorites') }}
					</span>
				</span>
				<span elem="item-bottom">
					<span elem="item-title">Активности с детьми</span>
				</span>
				<img src="img/insta-gal1.jpg" alt="">
			</a>
			<a href="video/video2.mp4" elem="item" data-toggle="lightbox" data-gallery="insta-gallery">
				<span elem="item-play">
					<svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z" fill="white"/>
					</svg>
				</span>
				<span elem="item-topline">
					<span elem="item-rec-button" mods="green"></span>
					<span elem="item-citimix">citi mix</span>
					<span elem="item-fav">
						{{ _icon('favorites') }}
					</span>
				</span>
				<span elem="item-bottom">
					<span elem="item-title">Парк Тропарёво</span>
				</span>
				<img src="img/insta-gal2.jpg" alt="">
			</a>
		</div>
	</div>
</div><!-- b:c-insta-gallery -->