.c-insta-gallery
	padding 240px 0 150px
	
	&__topline
		display flex
		align-items flex-end
		padding 0 150px
		
	&__title
		font-family rm
		font-weight 700
		font-size: 64px;
		line-height: 64px;
		text-transform: uppercase;
		color: #002C3E;
		flex 0 0 50%
		padding-right 50px
		
	&__text
		flex 0 0 50%
		padding-right 50px
		max-width 500px
		
	&__items
		margin 86px 0 0 0
		display flex
		width auto
		
	&__item
		width 290px
		flex 0 0 290px
		position relative
		border-radius 40px
		display block
		overflow hidden
		
		&:before
			content ""
			position absolute
			left 0
			right 0
			top 0
			bottom 0
			pointer-events none
			background: linear-gradient(180deg, rgba(0, 44, 62, 0.57) -3.89%, rgba(0, 44, 62, 0) 20.44%);
			
	&__item-play
		position absolute
		width 75px
		height 75px
		top 50%
		left 50%
		transform translate(-50%, -50%)
		background: rgba(255, 255, 255, 0.35);
		backdrop-filter: blur(4px);
		border-radius 100%
		display flex
		justify-content center
		align-items center
		
	&__item-topline
		position absolute
		top 24px
		left 24px
		right 24px
		display flex
		align-items center
		
	&__item-rec-button
		width 10px
		height 10px
		flex 0 0 10px
		background: #F15A22;
		display block
		margin-right 15px
		border-radius 100%
		
		&--green
			background #8DC63F
		
	&__item-citimix
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		
	&__item-fav
		display block
		font-size 0
		margin-left auto
		
		.svg-icon
			width 21px
			height 19px
			fill #fff
			
	&__item-bottom
		position absolute
		bottom 32px
		left 24px
		right 24px
		
	&__item-title
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.02em;
		color: #FFFFFF;