<div block="c-map" mods="{{mapMods}}">
	<div elem="links">
		<div elem="links-inner" class="container">
			<a href="#" elem="link" class="active" data-role="private">
				Собственная инфраструктура комплекса
			</a>
			<a href="#" elem="link" data-role="observe">
				Окружающая инфраструктура комплекса
			</a>
		</div>
	</div>
	<div elem="block-wrap" class="container">
		<div elem="block-popup">
			<div elem="block-popup-scroll">
				<div elem="block-popup-items" class="active" data-role="private">
					<div elem="block-popup-item" data-icon="img/map-icon1.png" data-hover-icon="img/map-hover-icon1.png">
						<div elem="block-popup-item-wrap">
							<div elem="block-popup-icon" mods="blue">
								<svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M20.3 3H19.3V2.1C19.3 0.9 18.4 0 17.2 0C16 0 15.1 0.9 15.1 2.1V6.1H6.9V2.1C6.9 0.9 6 0 4.8 0C3.6 0 2.7 0.9 2.7 2.1V3H1.7C0.8 3 0 3.7 0 4.7V11.9C0 12.9 0.8 13.6 1.7 13.6H2.7V14.1C2.7 15.3 3.6 16.2 4.8 16.2C6 16.2 6.9 15.3 6.9 14.1V10.5H15.1V14.1C15.1 15.3 16 16.2 17.2 16.2C18.4 16.2 19.3 15.3 19.3 14.1V13.6H20.3C21.3 13.6 22 12.8 22 11.9V4.7C22 3.7 21.2 3 20.3 3Z" fill="white"/>
								</svg>
							</div>
							<div elem="block-popup-title">
								Фитнес-центр
							</div>
						</div>
						<div elem="block-popup-points">
							<div elem="block-popup-point" data-img="img/map-fit.jpg" data-coords="55.663515,37.473640" data-title="Фитнес-центр" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Здесь приятно проводить время и есть все, что нужно для счастливой жизни." data-link="/index.html"></div>
							<div elem="block-popup-point" data-img="img/map-fit.jpg" data-coords="55.668079,37.471186" data-title="Фитнес-центр" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Здесь приятно проводить время и есть все, что нужно для счастливой жизни." data-link="#"></div>
						</div>
					</div>
					<div elem="block-popup-item" data-icon="img/map-icon2.png" data-hover-icon="img/map-hover-icon2.png">
						<div elem="block-popup-item-wrap">
							<div elem="block-popup-icon" mods="green">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M17.4038 5L18.75 8.125C18.75 9.16062 17.7706 10 16.5625 10C15.4006 10 14.45 9.22312 14.3794 8.2425C14.3787 8.23125 14.3719 8.23125 14.3706 8.2425C14.3 9.22312 13.3494 10 12.1875 10C11.0256 10 10.075 9.22312 10.0044 8.2425C10.0037 8.23125 9.99687 8.23125 9.99562 8.2425C9.925 9.22312 8.97437 10 7.8125 10C6.65063 10 5.7 9.22312 5.62937 8.2425C5.62875 8.23125 5.62187 8.23125 5.62063 8.2425C5.55 9.22312 4.59938 10 3.4375 10C2.22938 10 1.25 9.16062 1.25 8.125L2.59625 5H17.4038Z" fill="white"/>
									<path d="M17.5 3.75H2.5V1.875C2.5 1.53 2.78 1.25 3.125 1.25H16.875C17.22 1.25 17.5 1.53 17.5 1.875V3.75Z" fill="white"/>
									<path d="M17.5 11.1288V18.75H2.5V11.1288C2.79875 11.2063 3.11187 11.25 3.4375 11.25C3.76313 11.25 4.075 11.1975 4.375 11.1194V15.9375C4.375 16.11 4.515 16.25 4.6875 16.25H15.3125C15.485 16.25 15.625 16.11 15.625 15.9375V11.1194C15.925 11.1975 16.2369 11.25 16.5625 11.25C16.8881 11.25 17.2013 11.2063 17.5 11.1288Z" fill="white"/>
								</svg>

							</div>
							<div elem="block-popup-title">
								Магазин
							</div>
						</div>
						<div elem="block-popup-points">
							<div elem="block-popup-point" data-img="img/map-shop.jpg" data-coords="55.661184,37.475741" data-title="Магазин" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Здесь приятно проводить время и есть все, что нужно для счастливой жизни." data-link="#"></div>
							<div elem="block-popup-point" data-img="img/map-shop.jpg" data-coords="55.662230,37.476952" data-title="Магазин" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Здесь приятно проводить время и есть все, что нужно для счастливой жизни." data-link="#"></div>
							<div elem="block-popup-point" data-img="img/map-shop.jpg" data-coords="55.660930,37.469381" data-title="Магазин" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Здесь приятно проводить время и есть все, что нужно для счастливой жизни." data-link="#"></div>
						</div>
					</div>
					<div elem="block-popup-item" data-icon="img/map-icon3.png" data-hover-icon="img/map-hover-icon3.png">
						<div elem="block-popup-item-wrap">
							<div elem="block-popup-icon" mods="orange">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.7007 0.404297C11.2291 0.404297 10.7936 0.643359 10.5057 1.06082C10.3909 1.22691 10.2014 1.32656 9.99967 1.32656C9.79709 1.32656 9.60807 1.22691 9.49323 1.06082C9.20538 0.643359 8.76987 0.404297 8.29827 0.404297C7.46909 0.404297 6.79456 1.15309 6.79456 2.07328C6.79456 2.35457 6.85893 2.63262 6.9803 2.87703C7.89229 4.7207 9.36362 5.88078 9.99842 6.32039C10.6344 5.87793 12.1111 4.71129 13.0182 2.87824C13.1404 2.63262 13.2044 2.35457 13.2044 2.07328C13.2044 1.15309 12.5298 0.404297 11.7007 0.404297Z" fill="white"/>
								<path d="M7.20813 3.30329C8.12141 4.9002 9.41427 5.91578 9.99857 6.32047C10.5839 5.91328 11.881 4.89215 12.7911 3.30321C11.4915 3.2397 8.50755 3.23978 7.20813 3.30329Z" fill="white"/>
								<path d="M17.4495 7.82582C16.8195 6.08234 15.5918 4.61215 13.9909 3.67676C12.6291 6.22891 10.4037 7.53113 10.3068 7.58676C10.2116 7.64129 10.1058 7.66879 10 7.66879C9.89383 7.66879 9.78805 7.64133 9.69289 7.58676C9.59598 7.53113 7.37133 6.22934 6.00898 3.67684C4.40816 4.61219 3.18051 6.08238 2.55059 7.82582C1.13133 7.90156 0 9.07996 0 10.5177C0 12.0041 1.2093 13.2133 2.6957 13.2133H17.3043C18.7907 13.2133 20 12.0041 20 10.5177C20 9.07996 18.8686 7.90156 17.4495 7.82582Z" fill="white"/>
								<path d="M7.81372 14.4436L8.35775 19.5957H11.6423L12.1863 14.4436H7.81372Z" fill="white"/>
								<path d="M6.56455 14.4436H2.64404L4.16682 19.1692C4.24869 19.4234 4.48525 19.5957 4.75229 19.5957H7.12959L6.56455 14.4436Z" fill="white"/>
								<path d="M13.4351 14.4436L12.8701 19.5957H15.2477C15.5147 19.5957 15.7512 19.4234 15.8331 19.1692L17.3559 14.4436H13.4351V14.4436Z" fill="white"/>
								</svg>
							</div>
							<div elem="block-popup-title">
								Кондитерская
							</div>
						</div>
						<div elem="block-popup-points">
							<div elem="block-popup-point" data-img="img/map-cond.jpg" data-coords="55.662595,37.461544" data-title="Кондитерская" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Кондитерская" data-link="#"></div>
							<div elem="block-popup-point" data-img="img/map-cond.jpg" data-coords="55.666332,37.464143" data-title="Кондитерская" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Кондитерская" data-link="#"></div>
						</div>
					</div>
					<div elem="block-popup-item" data-icon="img/map-icon4.png" data-hover-icon="img/map-hover-icon4.png">
						<div elem="block-popup-item-wrap">
							<div elem="block-popup-icon" mods="yellow">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_482_387)">
								<path d="M10.1042 5.39668L9.34758 0.355C9.31758 0.15 9.14172 0 8.9359 0C8.93172 0 8.92672 0 8.92172 0C8.71004 0.00667969 8.53754 0.17082 8.5209 0.38168L8.15589 4.75918C8.13339 5.02918 7.65421 5.02918 7.63171 4.75918L7.26757 0.38168C7.24921 0.16582 7.06921 0 6.85257 0C6.63589 0 6.45507 0.16582 6.43757 0.38168L6.07257 4.75918C6.05007 5.02918 5.57089 5.02918 5.54839 4.75918L5.18421 0.38168C5.16671 0.17168 4.99421 0.0075 4.78253 0C4.77753 0 4.77335 0 4.76921 0C4.56339 0 4.38753 0.15 4.35753 0.355L3.6017 5.39668C3.3792 6.87418 4.18089 8.2875 5.53253 8.87668L4.88921 17.8934C4.85089 18.4359 5.04089 18.975 5.41171 19.3734C5.78171 19.7717 6.30589 20 6.85089 20H6.85421C7.39839 20 7.92339 19.7717 8.29421 19.3733C8.66504 18.975 8.85504 18.4358 8.81672 17.8933L8.17339 8.87668C9.52508 8.2875 10.3267 6.87418 10.1042 5.39668Z" fill="white"/>
								<path d="M16.2594 0.0767549C16.1494 -0.00156552 16.0077 -0.0199249 15.8802 0.0242548C15.8444 0.0367548 12.2694 1.35008 12.2694 5.41676C12.2694 8.34426 13.2219 9.82258 13.7577 10.4226L13.2244 10.9559C13.1561 11.0242 13.1136 11.1134 13.1044 11.2092L12.4452 17.8017C12.3886 18.3625 12.5727 18.9242 12.9511 19.3425C13.3294 19.7609 13.8719 20.0001 14.4353 20.0001C15.5378 20.0001 16.4353 19.1026 16.4353 18.0001V0.416755C16.4361 0.280896 16.3703 0.155075 16.2594 0.0767549Z" fill="white"/>
								</g>
								<defs>
								<clipPath id="clip0_482_387">
								<rect width="20" height="20" fill="white"/>
								</clipPath>
								</defs>
								</svg>
							</div>
							<div elem="block-popup-title">
								Ресторан
							</div>
						</div>
						<div elem="block-popup-points">
							<div elem="block-popup-point" data-img="img/map-rest.jpg" data-coords="55.665643,37.473244" data-title="Ресторан" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Ресторан Айва" data-link="#"></div>
							<div elem="block-popup-point" data-img="img/map-rest.jpg" data-coords="55.667043,37.468789" data-title="Ресторан" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Ресторан" data-link="#"></div>
						</div>
					</div>
					<div elem="block-popup-item" data-icon="img/map-icon5.png" data-hover-icon="img/map-hover-icon5.png">
						<div elem="block-popup-item-wrap">
							<div elem="block-popup-icon" mods="violet">
								<svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.0046 6.71184C10.7824 6.50961 10.5301 6.28012 10.5 6.25C10.5 5.79652 11.0837 4.83984 11.5261 4.12172L13.5713 3.30363C13.765 3.22633 13.8716 3.01758 13.8211 2.81574C13.7463 2.51871 13.3524 1.01277 12.8779 0.538711C12.3652 0.0260547 11.1543 0 10.9167 0C10.806 0 10.7002 0.0439453 10.6221 0.12207C10.1924 0.551758 8.88379 1.66668 8 1.66668C7.11863 1.66668 5.80844 0.551367 5.37793 0.12207C5.2998 0.0439453 5.19402 0 5.08332 0C4.8457 0 3.63477 0.0260547 3.12207 0.53875C2.64762 1.01277 2.25375 2.51875 2.17887 2.81578C2.1284 3.01762 2.23504 3.22633 2.42871 3.30367L4.47395 4.12176C4.91625 4.83988 5.5002 5.79539 5.50977 6.19227C5.46988 6.28016 5.21762 6.50965 4.99543 6.71187C3.65023 7.93703 0.5 10.8061 0.5 18.75C0.5 18.9803 0.686367 19.1667 0.91668 19.1667C2.63949 19.1667 3.47609 19.3636 4.36312 19.5723C5.25668 19.7827 6.18117 20 8 20C9.81883 20 10.7433 19.7827 11.6369 19.5723C12.5239 19.3636 13.3605 19.1667 15.0833 19.1667C15.3136 19.1667 15.5 18.9803 15.5 18.75C15.5 10.8061 12.3498 7.93703 11.0046 6.71184Z" fill="white"/>
								</svg>
							</div>
							<div elem="block-popup-title">
								Химчистка
							</div>
						</div>
						<div elem="block-popup-points">
							<div elem="block-popup-point" data-img="img/map-clean.jpg" data-coords="55.663235,37.471285" data-title="Химчистка" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Химчистка" data-link="#"></div>
							<div elem="block-popup-point" data-img="img/map-clean.jpg" data-coords="55.660005,37.470681" data-title="Химчистка" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Химчистка" data-link="#"></div>
						</div>	
					</div>
				</div>
				<div elem="block-popup-items" data-role="observe">
					<div elem="block-popup-item" data-icon="img/map-icon1.png" data-hover-icon="img/map-hover-icon1.png">
						<div elem="block-popup-item-wrap">
							<div elem="block-popup-icon" mods="blue">
								<svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M20.3 3H19.3V2.1C19.3 0.9 18.4 0 17.2 0C16 0 15.1 0.9 15.1 2.1V6.1H6.9V2.1C6.9 0.9 6 0 4.8 0C3.6 0 2.7 0.9 2.7 2.1V3H1.7C0.8 3 0 3.7 0 4.7V11.9C0 12.9 0.8 13.6 1.7 13.6H2.7V14.1C2.7 15.3 3.6 16.2 4.8 16.2C6 16.2 6.9 15.3 6.9 14.1V10.5H15.1V14.1C15.1 15.3 16 16.2 17.2 16.2C18.4 16.2 19.3 15.3 19.3 14.1V13.6H20.3C21.3 13.6 22 12.8 22 11.9V4.7C22 3.7 21.2 3 20.3 3Z" fill="white"/>
								</svg>
							</div>
							<div elem="block-popup-title">
								Фитнес-центр2
							</div>
						</div>
						<div elem="block-popup-points">
							<div elem="block-popup-point" data-img="img/map-fit.jpg" data-coords="55.664520,37.474630" data-title="Фитнес-центр2" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Здесь приятно проводить время и есть все, что нужно для счастливой жизни." data-link="/index.html"></div>
							<div elem="block-popup-point" data-img="img/map-fit.jpg" data-coords="55.669090,37.472165" data-title="Фитнес-центр2" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Здесь приятно проводить время и есть все, что нужно для счастливой жизни." data-link="#"></div>
						</div>
					</div>
					<div elem="block-popup-item" data-icon="img/map-icon2.png" data-hover-icon="img/map-hover-icon2.png">
						<div elem="block-popup-item-wrap">
							<div elem="block-popup-icon" mods="green">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M17.4038 5L18.75 8.125C18.75 9.16062 17.7706 10 16.5625 10C15.4006 10 14.45 9.22312 14.3794 8.2425C14.3787 8.23125 14.3719 8.23125 14.3706 8.2425C14.3 9.22312 13.3494 10 12.1875 10C11.0256 10 10.075 9.22312 10.0044 8.2425C10.0037 8.23125 9.99687 8.23125 9.99562 8.2425C9.925 9.22312 8.97437 10 7.8125 10C6.65063 10 5.7 9.22312 5.62937 8.2425C5.62875 8.23125 5.62187 8.23125 5.62063 8.2425C5.55 9.22312 4.59938 10 3.4375 10C2.22938 10 1.25 9.16062 1.25 8.125L2.59625 5H17.4038Z" fill="white"/>
									<path d="M17.5 3.75H2.5V1.875C2.5 1.53 2.78 1.25 3.125 1.25H16.875C17.22 1.25 17.5 1.53 17.5 1.875V3.75Z" fill="white"/>
									<path d="M17.5 11.1288V18.75H2.5V11.1288C2.79875 11.2063 3.11187 11.25 3.4375 11.25C3.76313 11.25 4.075 11.1975 4.375 11.1194V15.9375C4.375 16.11 4.515 16.25 4.6875 16.25H15.3125C15.485 16.25 15.625 16.11 15.625 15.9375V11.1194C15.925 11.1975 16.2369 11.25 16.5625 11.25C16.8881 11.25 17.2013 11.2063 17.5 11.1288Z" fill="white"/>
								</svg>

							</div>
							<div elem="block-popup-title">
								Магазин2
							</div>
						</div>
						<div elem="block-popup-points">
							<div elem="block-popup-point" data-img="img/map-shop.jpg" data-coords="55.662284,37.476780" data-title="Магазин2" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Здесь приятно проводить время и есть все, что нужно для счастливой жизни." data-link="#"></div>
							<div elem="block-popup-point" data-img="img/map-shop.jpg" data-coords="55.663210,37.477932" data-title="Магазин2" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Здесь приятно проводить время и есть все, что нужно для счастливой жизни." data-link="#"></div>
							<div elem="block-popup-point" data-img="img/map-shop.jpg" data-coords="55.661910,37.470421" data-title="Магазин2" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Здесь приятно проводить время и есть все, что нужно для счастливой жизни." data-link="#"></div>
						</div>
					</div>
					<div elem="block-popup-item" data-icon="img/map-icon3.png" data-hover-icon="img/map-hover-icon3.png">
						<div elem="block-popup-item-wrap">
							<div elem="block-popup-icon" mods="orange">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.7007 0.404297C11.2291 0.404297 10.7936 0.643359 10.5057 1.06082C10.3909 1.22691 10.2014 1.32656 9.99967 1.32656C9.79709 1.32656 9.60807 1.22691 9.49323 1.06082C9.20538 0.643359 8.76987 0.404297 8.29827 0.404297C7.46909 0.404297 6.79456 1.15309 6.79456 2.07328C6.79456 2.35457 6.85893 2.63262 6.9803 2.87703C7.89229 4.7207 9.36362 5.88078 9.99842 6.32039C10.6344 5.87793 12.1111 4.71129 13.0182 2.87824C13.1404 2.63262 13.2044 2.35457 13.2044 2.07328C13.2044 1.15309 12.5298 0.404297 11.7007 0.404297Z" fill="white"/>
								<path d="M7.20813 3.30329C8.12141 4.9002 9.41427 5.91578 9.99857 6.32047C10.5839 5.91328 11.881 4.89215 12.7911 3.30321C11.4915 3.2397 8.50755 3.23978 7.20813 3.30329Z" fill="white"/>
								<path d="M17.4495 7.82582C16.8195 6.08234 15.5918 4.61215 13.9909 3.67676C12.6291 6.22891 10.4037 7.53113 10.3068 7.58676C10.2116 7.64129 10.1058 7.66879 10 7.66879C9.89383 7.66879 9.78805 7.64133 9.69289 7.58676C9.59598 7.53113 7.37133 6.22934 6.00898 3.67684C4.40816 4.61219 3.18051 6.08238 2.55059 7.82582C1.13133 7.90156 0 9.07996 0 10.5177C0 12.0041 1.2093 13.2133 2.6957 13.2133H17.3043C18.7907 13.2133 20 12.0041 20 10.5177C20 9.07996 18.8686 7.90156 17.4495 7.82582Z" fill="white"/>
								<path d="M7.81372 14.4436L8.35775 19.5957H11.6423L12.1863 14.4436H7.81372Z" fill="white"/>
								<path d="M6.56455 14.4436H2.64404L4.16682 19.1692C4.24869 19.4234 4.48525 19.5957 4.75229 19.5957H7.12959L6.56455 14.4436Z" fill="white"/>
								<path d="M13.4351 14.4436L12.8701 19.5957H15.2477C15.5147 19.5957 15.7512 19.4234 15.8331 19.1692L17.3559 14.4436H13.4351V14.4436Z" fill="white"/>
								</svg>
							</div>
							<div elem="block-popup-title">
								Кондитерская2
							</div>
						</div>
						<div elem="block-popup-points">
							<div elem="block-popup-point" data-img="img/map-cond.jpg" data-coords="55.663695,37.462566" data-title="Кондитерская2" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Кондитерская" data-link="#"></div>
							<div elem="block-popup-point" data-img="img/map-cond.jpg" data-coords="55.667362,37.465157" data-title="Кондитерская2" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Кондитерская" data-link="#"></div>
						</div>
					</div>
					<div elem="block-popup-item" data-icon="img/map-icon4.png" data-hover-icon="img/map-hover-icon4.png">
						<div elem="block-popup-item-wrap">
							<div elem="block-popup-icon" mods="yellow">
								<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<g clip-path="url(#clip0_482_387)">
								<path d="M10.1042 5.39668L9.34758 0.355C9.31758 0.15 9.14172 0 8.9359 0C8.93172 0 8.92672 0 8.92172 0C8.71004 0.00667969 8.53754 0.17082 8.5209 0.38168L8.15589 4.75918C8.13339 5.02918 7.65421 5.02918 7.63171 4.75918L7.26757 0.38168C7.24921 0.16582 7.06921 0 6.85257 0C6.63589 0 6.45507 0.16582 6.43757 0.38168L6.07257 4.75918C6.05007 5.02918 5.57089 5.02918 5.54839 4.75918L5.18421 0.38168C5.16671 0.17168 4.99421 0.0075 4.78253 0C4.77753 0 4.77335 0 4.76921 0C4.56339 0 4.38753 0.15 4.35753 0.355L3.6017 5.39668C3.3792 6.87418 4.18089 8.2875 5.53253 8.87668L4.88921 17.8934C4.85089 18.4359 5.04089 18.975 5.41171 19.3734C5.78171 19.7717 6.30589 20 6.85089 20H6.85421C7.39839 20 7.92339 19.7717 8.29421 19.3733C8.66504 18.975 8.85504 18.4358 8.81672 17.8933L8.17339 8.87668C9.52508 8.2875 10.3267 6.87418 10.1042 5.39668Z" fill="white"/>
								<path d="M16.2594 0.0767549C16.1494 -0.00156552 16.0077 -0.0199249 15.8802 0.0242548C15.8444 0.0367548 12.2694 1.35008 12.2694 5.41676C12.2694 8.34426 13.2219 9.82258 13.7577 10.4226L13.2244 10.9559C13.1561 11.0242 13.1136 11.1134 13.1044 11.2092L12.4452 17.8017C12.3886 18.3625 12.5727 18.9242 12.9511 19.3425C13.3294 19.7609 13.8719 20.0001 14.4353 20.0001C15.5378 20.0001 16.4353 19.1026 16.4353 18.0001V0.416755C16.4361 0.280896 16.3703 0.155075 16.2594 0.0767549Z" fill="white"/>
								</g>
								<defs>
								<clipPath id="clip0_482_387">
								<rect width="20" height="20" fill="white"/>
								</clipPath>
								</defs>
								</svg>
							</div>
							<div elem="block-popup-title">
								Ресторан2
							</div>
						</div>
						<div elem="block-popup-points">
							<div elem="block-popup-point" data-img="img/map-rest.jpg" data-coords="55.667660,37.474299" data-title="Ресторан2" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Ресторан Айва" data-link="#"></div>
							<div elem="block-popup-point" data-img="img/map-rest.jpg" data-coords="55.669080,37.469654" data-title="Ресторан2" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Ресторан" data-link="#"></div>
						</div>
					</div>
					<div elem="block-popup-item" data-icon="img/map-icon5.png" data-hover-icon="img/map-hover-icon5.png">
						<div elem="block-popup-item-wrap">
							<div elem="block-popup-icon" mods="violet">
								<svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.0046 6.71184C10.7824 6.50961 10.5301 6.28012 10.5 6.25C10.5 5.79652 11.0837 4.83984 11.5261 4.12172L13.5713 3.30363C13.765 3.22633 13.8716 3.01758 13.8211 2.81574C13.7463 2.51871 13.3524 1.01277 12.8779 0.538711C12.3652 0.0260547 11.1543 0 10.9167 0C10.806 0 10.7002 0.0439453 10.6221 0.12207C10.1924 0.551758 8.88379 1.66668 8 1.66668C7.11863 1.66668 5.80844 0.551367 5.37793 0.12207C5.2998 0.0439453 5.19402 0 5.08332 0C4.8457 0 3.63477 0.0260547 3.12207 0.53875C2.64762 1.01277 2.25375 2.51875 2.17887 2.81578C2.1284 3.01762 2.23504 3.22633 2.42871 3.30367L4.47395 4.12176C4.91625 4.83988 5.5002 5.79539 5.50977 6.19227C5.46988 6.28016 5.21762 6.50965 4.99543 6.71187C3.65023 7.93703 0.5 10.8061 0.5 18.75C0.5 18.9803 0.686367 19.1667 0.91668 19.1667C2.63949 19.1667 3.47609 19.3636 4.36312 19.5723C5.25668 19.7827 6.18117 20 8 20C9.81883 20 10.7433 19.7827 11.6369 19.5723C12.5239 19.3636 13.3605 19.1667 15.0833 19.1667C15.3136 19.1667 15.5 18.9803 15.5 18.75C15.5 10.8061 12.3498 7.93703 11.0046 6.71184Z" fill="white"/>
								</svg>
							</div>
							<div elem="block-popup-title">
								Химчистка2
							</div>
						</div>
						<div elem="block-popup-points">
							<div elem="block-popup-point" data-img="img/map-clean.jpg" data-coords="55.665255,37.473320" data-title="Химчистка2" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Химчистка" data-link="#"></div>
							<div elem="block-popup-point" data-img="img/map-clean.jpg" data-coords="55.661105,37.471700" data-title="Химчистка2" data-description="Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Химчистка" data-link="#"></div>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<div elem="block" id="mapBlock">
		</div>
		<div elem="placemark-popup">
			<div elem="placemark-popup-logo">
				<img src="img/logo-min.svg" alt="logo">
			</div>
			<div elem="placemark-popup-img">
				<img src="" alt="">
			</div>	
			<div elem="placemark-popup-title">

			</div>
			<div elem="placemark-popup-description">

			</div>
			<div elem="placemark-popup-link">
				<a href="#" class="default-button default-button--blue">
					Подробнее
				</a>
			</div>
		</div>
	</div>
</div><!-- b:c-map -->

<div class="remodal" data-remodal-id="map" data-remodal-options="hashTracking: false, closeOnOutsideClick: true">
	<div data-remodal-action="close" class="remodal-close">
		{{ _icon('close') }}
	</div>
	<div class="remodal-content"></div>
</div>