.c-map
	background: #FFFFFF;
	border-radius: 50px;
	padding 95px 0 130px
	
	&--main
		margin-top 150px
		
	&__links-inner
		display flex
		padding 0 148px
		
	&__link
		flex 1 1 auto
		font-family: rm;
		font-weight: 700;
		font-size: 48px;
		line-height: 100%;
		text-transform: uppercase;
		color: #D1E4F0;
		padding-right 50px
		
		&:hover,&.active
			color #002C3E
			
	&__block
		height 583px
		width 100%
		overflow hidden
		border-radius 50px
		position relative
		
		ymaps[class$="copyright__layout"]
			display none
		
	&__block-wrap
		position relative
		margin-top 68px
		
	&__block-popup
		position absolute
		top 84px
		bottom 84px
		left 159px
		z-index 1
		width 328px
		background: #FFFFFF;
		border-radius: 40px;
		padding 40px 20px 40px 45px
		overflow hidden
		
	&__block-popup-item
		cursor pointer
		margin-bottom 20px
		
		&.disabled
			.c-map
				
				&__block-popup-icon
					background #f4f6fb
					
					&--metro
						background transparent
						
						svg
							
							fill #f4f6fb
								
				&__block-popup-row-icon
					svg
						stroke #f4f6fb
					
		&:last-child
			margin-bottom 0
			
	&__block-popup-item-wrap
		display flex
		align-items center
		
	&__block-popup-icon
		flex 0 0 38px
		width 38px
		height 38px
		border-radius: 10px;
		padding 10px 8px
		margin-right 29px
		display flex
		justify-content center
		align-items center
		
		svg
			max-width 100%
			
		&--blue
			background #00AAE7
			
		&--green
			background #8DC63F
			
		&--orange
			background #F15A22
			
		&--yellow
			background #F9DB26
			
		&--violet
			background #804199
			
		&--metro
			padding 0
			
		&--metro-orange
			svg
				fill #F15A22
				
		&--metro-yel
			svg
				fill #D3BB2A
			
	&__block-popup-row
		display flex
		align-items center
		margin-top 12px
		
	&__block-popup-row-icon
		flex 0 0 38px
		margin-right 29px
		display flex
		justify-content center
		align-items center
		
		&--orange
			svg
				fill #F15A22
				
		&--yel
			svg
				fill #D3BB2A
				
		&--green
			svg
				fill #8DC63F
				
		&--blue
			svg
				fill #00AAE7
		

	&__block-popup-title
		font-size: 16px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #002C3E;
		
	&__block-popup-scroll
		overflow-y auto
		max-height 100%
		height 100%
		display flex

	&__block-popup-items
		display none
		flex-direction column 
		flex 1
		justify-content center
		
		&.active
			display flex
			
	&__block-popup-points
		display none
		
	&__placemark-popup
		position absolute
		top 32px
		bottom 32px
		right 45px
		background: #FFFFFF;
		border-radius: 40px;
		padding 13px 22px 36px
		z-index 1
		width 372px
		display none
		flex-direction column	
		
		&.active
			display flex
			
	&__placemark-popup-logo
		font-size 0
		position absolute
		width 99px
		height 92px
		left 125px
		bottom calc(100% - 13px)
		
		img
			max-width 100%
			
	&__placemark-popup-close
		width 44px
		height 44px
		position absolute
		top 0
		right 0
		display flex
		justify-content center
		align-items center
		cursor pointer
		display none
		
		svg
			fill #fff
			width 18px
			height 18px
			
	&__placemark-popup-img
		font-size 0
		
		img
			max-width 100%
			border-radius: 40px;
			
	&__placemark-popup-title
		margin-top 30px
		font-weight: 700;
		font-size: 24px;
		line-height: 100%;
		color: #002C3E;
		
	&__placemark-popup-description
		font-size: 16px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #002C3E;
		margin-top 40px
		height 122px
		overflow hidden
		padding-right 60px
		
	&__placemark-popup-link
		margin-top auto
		
		.default-button
			max-width 200px
			height 51px	
			

[data-remodal-id=map]
	max-width 300px
	padding 0
	background transparent
	
	.remodal-close
		display flex
		justify-content center
		align-items center
		
		.svg-icon
			width 18px
			height 18px
			fill #fff

		&:before
			content none
	
	.remodal-content
		.c-map
			
			&__placemark-popup
				display flex
				position static
				width 100%
				padding 0 0 25px
				text-align left

@media all and (max-width: 1360px)
	.c-map
		
		&__link
			font-size 40px

@media all and (max-width: 1200px)
	.c-map
		
		&__links-inner
			padding 0 60px
			
		&__link
			padding-right 30px
			font-size 36px
			text-decoration-color #D1E4F0
			
			&:hover,&.active
				text-decoration underline
				text-decoration-color #00AAE7	
			
		&__block-wrap
			margin-top 50px
		
		&__block-popup
			position static
			width auto
			overflow visible
			padding 0 50px 20px
			
		&__block-popup-scroll
			overflow-y visible

		&__block-popup-items
			display none
			align-items center
			flex-direction row
			
			&.active
				display flex
				
			&--adaptive-row
				flex-wrap wrap
				
		&__block-popup-item
			margin-bottom 0
			flex 1 1 auto
			max-width 200px
			
			&--adaptive-row
				display flex
				max-width none
				width 100%
				margin-bottom 20px
				
				.c-map
					
					&__block-popup-item-wrap
						flex-direction row
						min-width 200px
						
					&__block-popup-title
						margin-top 0
						flex 1
						
					&__block-popup-icon
						margin-right 15px
			
		&__block-popup-item-wrap
			flex-direction column
			justify-content center
			
		&__block-popup-icon
			margin-right 0
			
		&__block-popup-title
			margin-top 15px
		
		&__block-popup-row
			margin-top 0
			min-width 150px

		&__block-popup-row-icon
			margin-right 15px
			
		&__placemark-popup
			right 40px
			top 70px
			bottom 70px
			width 320px
			
			&.active
				display none
			
		&__placemark-popup-title
			font-size 18px
			margin-top 20px
			padding 0 10px
			
		&__placemark-popup-logo
			display none
			
		&__placemark-popup-description
			font-size 14px
			line-height 110%
			padding-right 0
			margin-top 15px
			padding 0 10px
			height 80px
			
		&__placemark-popup-link
			.default-button
				margin 0 auto

@media all and (max-width: 1024px)
	.c-map
		
		&__link
			font-size 30px
				
@media all and (max-width: 768px)
	.c-map
		padding 50px 0 80px
		
		&--main
			margin-top 60px
			
		&__links-inner
			padding 0 40px
			
			&--threelinks
				flex-direction column
				
				.c-map__link
					padding-right 0
					margin-bottom 10px
			
		&__link
			padding-right 10px
			font-size 28px
			
		&__block-popup
			padding 0 30px 20px
			
		&__block-wrap
			margin-top 30px
			
		&__block-popup-row
			min-width 120px
			
		&__block-popup-item
			
			&--adaptive-row
				.c-map__block-popup-item-wrap
					min-width 170px

@media all and (max-width: 640px)
	.c-map
		
		&__link
			font-size 22px
			
		&__block-popup-title
			font-size 14px
			
@media all and (max-width: 480px)
	.c-map
		padding 23px 0 0
		border-radius 30px
		
		&--main
			margin-top 38px	
			
		&__links-inner
			padding 0 10px
			
		&__link
			font-size: 16px;
			
		&__block
			height 420px
			
		&__block-wrap
			margin-top 30px
			padding 0
			
		&__block-popup
			padding 0 10px 20px
			
		&__block-popup-item
			
			&--adaptive-row
				margin-bottom 10px
				
				.c-map
					
					&__block-popup-item-wrap
						min-width 120px
					
					&__block-popup-icon
						margin-right 2px
						
		&__block-popup-row
			min-width 70px

		&__block-popup-row-icon
			margin-right 4px
			flex 0 0 15px
			width 15px
			
		&__block-popup-row-title
			font-size: 10px;
			line-height: 130%;
			letter-spacing: 0.02em;
			color: #002C3E;
			
		&__block-popup-icon
			width 30px
			height 30px
			flex 0 0 30px
			padding 0
			
			&--metro
				width 20px
				height 20px
				flex 0 0 20px
				
				svg
					width 20px
					height 20px
			
		&__block-popup-title
			margin-top 4px
			font-size 10px
			font-weight 700