.c-compare-slider
	padding-top 10px
	
	&__layouts
		display flex
		
	&__layout
		flex 1 1 auto
		position relative
		
		&--titles
			flex 0 0 206px
			
			.c-compare-slider
				
				&__item-row
					font-size: 20px;
					line-height: 29px;
					color: #6BB0D3;
					font-weight 400
					justify-content flex-start
					padding-left 48px
					
	&__slider-navs
		.swiper-button-next, .swiper-button-prev
			border: 3px solid #002C3E;
			margin-top 0
			top 120px
			right -120px
			
			svg
				fill #002C3E
				
		.swiper-button-prev
			left -120px
			right auto
						
			
	&__item
		padding 20px 0 0
		
		&.swiper-slide-next
			background #fff
			border-radius: 40px;
			
			.c-compare-slider__item-rows .c-compare-slider__item-row:nth-child(odd)
				background #fff
				
			.c-compare-slider__item-row--price
				color #00AAE7

			
	&__item-img
		font-size 0
		padding 0 54px
		display flex
		justify-content center
		align-items center
		height 308px
		
		img
			max-width 100%
			
	&__item-compare
		padding 60px 0 42px
		height 122px
		
	&__item-compare-block
		width 46px
		height 18px
		background: #DAE9F3;
		border-radius: 8px;
		margin 0 auto
		position relative
		cursor pointer
		
		&.active
			.c-compare-slider__item-compare-button
				right 23px

	&__item-compare-button
		position absolute
		right 0
		width 22px
		height 18px
		background: #96BED8;
		border-radius: 8px;
		transition right ease-out 0.2s
		
	&__item-rows
		.c-compare-slider__item-row
			background #FFFFFF
			
			&:nth-child(odd)
				background #E9F3F9
				
	&__item-row
		display flex
		justify-content center
		align-items center
		height 66px
		line-height 100%
		font-size: 24px;
		color: #002C3E;
				
		&--price
			font-weight: 700;
			font-size: 35px;
			color: #002C3E;
			
	&__buttons
		padding 26px 0 50px
		
	&__button
		margin 0 auto
		width 186px
		background: #00AAE7;
		border-radius: 20px;
		height 59px
		font-family: Montserrat;
		font-weight: 700;
		font-size: 16px;
		line-height: 130%;
		display: flex;
		align-items: center;
		justify-content center
		text-decoration none
		letter-spacing: 0.02em;
		color: #FFFFFF;
		padding 10px
		border: 2px solid #00AAE7;
		transition background ease-out 0.3s
		
		&:hover
			color #00AAE7
			background transparent
			
		&--border
			color #00AAE7
			background transparent
			margin-bottom 30px
			
			&:hover
				background: #00AAE7;
				color #fff
				
@media all and (max-width: 1700px)
	.c-compare-slider
		
		&__slider-navs
			.swiper-button-next, .swiper-button-prev
				right -60px
				
			.swiper-button-prev
				left -60px


@media all and (max-width: 1600px)
	.c-compare-slider
		
		&__slider-navs
			.swiper-button-next, .swiper-button-prev
				right -10px
				
			.swiper-button-prev
				left -10px

@media all and (max-width: 1280px)
	.c-compare-slider
		
		&__item-img
			height 236px
			
@media all and (max-width: 1200px)
	.c-compare-slider
		
		&__item-img
			height 308px
			
		&__item-compare
			height 80px
			padding 40px 0 21px
			
		&__item-row
			font-size 20px
			height 60px
			
			&--price
				font-size 30px
				
@media all and (max-width: 900px)
	.c-compare-slider
		
		&__item-img
			height 200px
			
@media all and (max-width: 768px)
	.c-compare-slider
		
		&__layout
			
			&--titles
				display none
				
		&__item-img
			height auto
			
		&__buttons
			display flex
			margin-left -8px
			padding-bottom 0
			
		&__button
			flex 1 1 auto
			margin-left 8px
			
		&__item-row
			justify-content flex-start
			padding-left 20px
			
			&:before
				content attr(data-title)
				font-size: 14px;
				color: #6BB0D3;
				font-weight 400
				flex 0 0 210px
				
@media all and (max-width: 480px)
	.c-compare-slider
		padding 0
		
		&__slider-navs
			.swiper-button-next, .swiper-button-prev
				right 30px
				border 1.5px solid #002c3e
				top 18%
				
			.swiper-button-prev
				left 30px
				
		&__item
			padding-top 8px
			
			&.swiper-slide-next
				
				.c-compare-slider__item-rows .c-compare-slider__item-row:nth-child(odd)
					background #e9f3f9
					
				.c-compare-slider__item-row--price
					color #002c3e
			
		&__item-img
			padding 0 100px
			
		&__item-compare
			height 38px
			padding 8px 0 12px
			
		&__item-compare-block
			width 38px
			height 15px
			
			&.active
				.c-compare-slider__item-compare-button
					right 19px
			
		&__item-compare-button
			width 18px
			height 15px
			
		&__item-row
			height 42px
			padding-left 11px
			font-size 14px
			

			&:before
				flex 0 0 102px
				font-size 10px
				
			&--price
				font-size 24px
				
		&__buttons
			padding 3px 10px 10px
			
		&__button
			margin-bottom 0
			height 36px
			border-radius 10px
			font-size 10px