<div block="c-compare-slider" mods="{{comparesliderMods}}">
	<div elem="layouts">
		<div elem="layout" mods="titles">
			<div elem="item">
				<div elem="item-img">

				</div>
				<div elem="item-compare">

				</div>
				<div elem="item-rows">
					<div elem="item-row" mods="price">
						Стоимость
					</div>
					<div elem="item-row" mods="mortgage">
						В ипотеку
					</div>
					<div elem="item-row" mods="sett">
						Расположение
					</div>
					<div elem="item-row" mods="area">
						Площадь
					</div>
					<div elem="item-row" mods="floar">
						Этаж
					</div>
				</div>
				<div elem="buttons">

				</div>
			</div>
		</div>
		<div elem="layout" mods="slider">
			<div elem="block" class="swiper">
				<div elem="slider" class="swiper-wrapper">
					<div elem="item" class="swiper-slide">
						<div elem="item-img">
							<img src="img/compare1.png" alt="">
						</div>
						<div elem="item-compare">
							<div elem="item-compare-block">
								<div elem="item-compare-button"></div>
							</div>
						</div>
						<div elem="item-rows">
							<div elem="item-row" mods="price" data-title="Стоимость">
								5 000 000 ₽
							</div>
							<div elem="item-row" mods="mortgage" data-title="В ипотеку">
								30 000 ₽ в мес.
							</div>
							<div elem="item-row" mods="sett" data-title="Расположение">
								Корпус 1, секция 2
							</div>
							<div elem="item-row" mods="area" data-title="Площадь">
								30 м
							</div>
							<div elem="item-row" mods="floar" data-title="Этаж">
								10 из 12
							</div>
						</div>
						<div elem="buttons">
							<a href="#" elem="button" mods="border">
								Купить
							</a>
							<a href="#" elem="button">
								Забронировать
							</a>
						</div>
					</div>
					<div elem="item" class="swiper-slide">
						<div elem="item-img">
							<img src="img/compare2.png" alt="">
						</div>
						<div elem="item-compare">
							<div elem="item-compare-block">
								<div elem="item-compare-button"></div>
							</div>
						</div>
						<div elem="item-rows">
							<div elem="item-row" mods="price" data-title="Стоимость">
								2 000 000 ₽
							</div>
							<div elem="item-row" mods="mortgage" data-title="В ипотеку">
								30 000 ₽ в мес.
							</div>
							<div elem="item-row" mods="sett" data-title="Расположение">
								Корпус 1, секция 2
							</div>
							<div elem="item-row" mods="area" data-title="Площадь">
								30 м
							</div>
							<div elem="item-row" mods="floar" data-title="Этаж">
								10 из 12
							</div>
						</div>
						<div elem="buttons">
							<a href="#" elem="button" mods="border">
								Купить
							</a>
							<a href="#" elem="button">
								Забронировать
							</a>
						</div>
					</div>
					<div elem="item" class="swiper-slide">
						<div elem="item-img">
							<img src="img/compare1.png" alt="">
						</div>
						<div elem="item-compare">
							<div elem="item-compare-block">
								<div elem="item-compare-button"></div>
							</div>
						</div>
						<div elem="item-rows">
							<div elem="item-row" mods="price" data-title="Стоимость">
								5 000 000 ₽
							</div>
							<div elem="item-row" mods="mortgage" data-title="В ипотеку">
								30 000 ₽ в мес.
							</div>
							<div elem="item-row" mods="sett" data-title="Расположение">
								Корпус 1, секция 2
							</div>
							<div elem="item-row" mods="area" data-title="Площадь">
								30 м
							</div>
							<div elem="item-row" mods="floar" data-title="Этаж">
								10 из 12
							</div>
						</div>
						<div elem="buttons">
							<a href="#" elem="button" mods="border">
								Купить
							</a>
							<a href="#" elem="button">
								Забронировать
							</a>
						</div>
					</div>
					<div elem="item" class="swiper-slide">
						<div elem="item-img">
							<img src="img/compare1.png" alt="">
						</div>
						<div elem="item-compare">
							<div elem="item-compare-block">
								<div elem="item-compare-button"></div>
							</div>
						</div>
						<div elem="item-rows">
							<div elem="item-row" mods="price" data-title="Стоимость">
								5 000 000 ₽
							</div>
							<div elem="item-row" mods="mortgage" data-title="В ипотеку">
								30 000 ₽ в мес.
							</div>
							<div elem="item-row" mods="sett" data-title="Расположение">
								Корпус 1, секция 2
							</div>
							<div elem="item-row" mods="area" data-title="Площадь">
								30 м
							</div>
							<div elem="item-row" mods="floar" data-title="Этаж">
								10 из 12
							</div>
						</div>
						<div elem="buttons">
							<a href="#" elem="button" mods="border">
								Купить
							</a>
							<a href="#" elem="button">
								Забронировать
							</a>
						</div>
					</div>
					<div elem="item" class="swiper-slide">
						<div elem="item-img">
							<img src="img/compare2.png" alt="">
						</div>
						<div elem="item-compare">
							<div elem="item-compare-block">
								<div elem="item-compare-button"></div>
							</div>
						</div>
						<div elem="item-rows">
							<div elem="item-row" mods="price" data-title="Стоимость">
								2 000 000 ₽
							</div>
							<div elem="item-row" mods="mortgage" data-title="В ипотеку">
								30 000 ₽ в мес.
							</div>
							<div elem="item-row" mods="sett" data-title="Расположение">
								Корпус 1, секция 2
							</div>
							<div elem="item-row" mods="area" data-title="Площадь">
								30 м
							</div>
							<div elem="item-row" mods="floar" data-title="Этаж">
								10 из 12
							</div>
						</div>
						<div elem="buttons">
							<a href="#" elem="button" mods="border">
								Купить
							</a>
							<a href="#" elem="button">
								Забронировать
							</a>
						</div>
					</div>
					<div elem="item" class="swiper-slide">
						<div elem="item-img">
							<img src="img/compare1.png" alt="">
						</div>
						<div elem="item-compare">
							<div elem="item-compare-block">
								<div elem="item-compare-button"></div>
							</div>
						</div>
						<div elem="item-rows">
							<div elem="item-row" mods="price" data-title="Стоимость">
								5 000 000 ₽
							</div>
							<div elem="item-row" mods="mortgage" data-title="В ипотеку">
								30 000 ₽ в мес.
							</div>
							<div elem="item-row" mods="sett" data-title="Расположение">
								Корпус 1, секция 2
							</div>
							<div elem="item-row" mods="area" data-title="Площадь">
								30 м
							</div>
							<div elem="item-row" mods="floar" data-title="Этаж">
								10 из 12
							</div>
						</div>
						<div elem="buttons">
							<a href="#" elem="button" mods="border">
								Купить
							</a>
							<a href="#" elem="button">
								Забронировать
							</a>
						</div>
					</div>
				</div>
			</div>
			<div elem="slider-navs">
				<div class="swiper-button-prev">
					<svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg>
				</div>
				<div class="swiper-button-next">
					<svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg>
				</div>
			</div>
		</div>
	</div>
</div><!-- b:c-compare-slider -->