<div block="c-investors" mods="{{investorsMods}}">
	<div elem="inner" class="container">
		<div elem="block">
			<div elem="layout" mods="content">
				<div elem="content">	
					<div elem="logo">
						<img src="img/logo-min.svg" alt="logo">
					</div>
					<div elem="title">
						Инвесторам
					</div>
					<div elem="description">
						МФК CITI MIX на Никулинской — перспективная возможность для инвестиций в недвижимость.
					</div>
					<div elem="text">
						• Калькулятор позволяет приблизительно оценить, как быстро Вы окупите свои инвестиции в недвижимость.<br/><br/>
						• Горизонт инвестирования используется для расчета среднегодовой рентабельности (доходности, в процентах) на заданном временном отрезке.
					</div>
				</div>
			</div>
			<div elem="layout" mods="form">
				<form elem="form" action="#">
					<div elem="form-item">
						<div elem="form-item-title">
							Cтоимость аренды, ₽ в год
						</div>
						<div elem="form-item-range" class="custom-range--one" data-step="1" data-decimals="0">
							<div elem="form-item-range-inner" class="custom-range__inner">
								<div class="custom-range__block">
									<div class="custom-range__fields custom-range__fields--high">
										<input autocomplete="off" type="text" class="custom-range__high" value="500000" data-val="3000000">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div elem="form-item">
						<div elem="form-item-title">
							Стоимость квартиры , млн ₽
						</div>
						<div elem="form-item-range" class="custom-range--one" data-step="0.1" data-decimals="1">
							<div elem="form-item-range-inner" class="custom-range__inner">
								<div class="custom-range__block">
									<div class="custom-range__fields custom-range__fields--high">
										<input autocomplete="off" type="text" class="custom-range__high" value="12,4" data-val="20,2">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div elem="form-item" mods="last">
						<div elem="form-item-title">
							Расходы на содержание, ₽
						</div>
						<div elem="form-item-range" class="custom-range--one" data-step="1" data-decimals="0">
							<div elem="form-item-range-inner" class="custom-range__inner">
								<div class="custom-range__block">
									<div class="custom-range__fields custom-range__fields--high">
										<input autocomplete="off" type="text" class="custom-range__high" value="10000" data-val="40000">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div elem="form-button-wrap">
						<div elem="form-button-text">
							<strong>Окупаемость</strong><br/>
							20 лет
						</div>
						<div elem="form-button">
							<button type="submit" class="default-button default-button--orange">Подобрать апартамент</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div><!-- b:c-investors -->