.c-investors
	
	&--main
		margin-top 135px
	
	&__block
		background #fff
		padding 52px 148px
		display flex
		align-items flex-start
		border-radius 40px
		
	&__layout
		flex 1 1 auto
		
		&--form
			flex 0 0 716px
			background: #E9F3F9;
			border-radius: 40px;
			padding 60px
			
		&--content
			padding-right 100px
			
	&__logo
		width 99px
		height 91px
		font-size 0
		margin-top -77px
		
		img
			max-width 100%
			
	&__title
		margin-top 26px
		font-family: rm;
		font-weight: 700;
		font-size: 48px;
		line-height: 100%;
		text-transform: uppercase;
		color: #F15A22;
		
	&__description
		margin-top 76px
		font-weight: 700;
		font-size: 36px;
		line-height: 100%;
		letter-spacing: 0.02em;
		color: #002C3E;
		max-width 569px
		
	&__text
		font-size 20px
		line-height 26px
		letter-spacing: 0.02em;
		margin-top 27px
		max-width 569px
		
	&__form-item
		margin-bottom 35px
		
		&--last
			margin-bottom 50px
		
		&:last-child
			margin-bottom 0
			
	&__form-item-title
		font-size: 16px;
		line-height: 24px;
		color: #002C3E;
		
	&__form-button-wrap
		display flex
		justify-content space-between
		
	&__form-button-text
		font-size: 24px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #002C3E;
		margin-right 20px
		
		strong
			font-size 20px
			
	&__form-button
		.default-button
			max-width 100%
			height 65px
			padding 10px
			width 295px
			
	&--investors
		margin 30px 0 63px
		
	&--page
		.c-investors
			&__block
				padding-top 65px
				background #E9F3F9
				padding-bottom 34px
				
			&__content
				h1.h1
					color #002C3E
					margin-bottom 0
				
			&__text
				margin-top 94px
				
			&__layout
				
				&--form 
					flex 0 0 600px
					padding 25px 0
			
@media all and (max-width: 1600px)
	.c-investors
		
		&__layout
			
			&--content
				padding-right 40px
				
			&--form
				flex 0 0 600px
				
		&__form-button
			.default-button
				width 100%
				
@media all and (max-width: 1280px)
	.c-investors
		
		&__layout
			
			&--content
				padding-right 20px
				
			&--form
				flex 0 0 500px
				
		&--page
			.c-investors
				
				&__layout
					
					&--form
						flex 0 0 500px
				
@media all and (max-width: 1200px)
	.c-investors
		
		&__block
			padding 40px 50px	
			
		&__layout
			
			&--form
				flex 0 0 400px
				padding 30px
			
		&__title
			font-size 38px
			
		&__description
			margin-top 40px
			font-size 28px
			
		&__text
			font-size 17px
			line-height 20px
			
		&__form-item-range
			&.custom-range--one 
				.noUi-horizontal,.noUi-origin.noUi-background
					height 50px
					
		&__form-button-text
			font-size 20px
			
			strong
				font-size 16px
				
		&--page
			.c-investors
				
				&__layout
					
					&--form
						flex 0 0 400px
					
@media all and (max-width: 900px)
	.c-investors
		
		&__layout
			
			&--form
				flex 0 0 350px
				
		&--page
			.c-investors
				
				&__layout
					
					&--form
						flex 0 0 350px
				
@media all and (max-width: 768px)
	.c-investors
		
		&--main
			margin-top 50px
			

		&__block
			display block
			background transparent
			padding 30px
			
		&__logo
			display none
			
		&__title
			margin-top 0
			
		&__layout
			
			&--form
				margin-top 20px
				
		&--page
			.c-investors
				
				&__text
					margin-top 27px
				
@media all and (max-width: 480px)
	.c-investors
		
		&--main
			margin-top 50px
			
		&__layout
			&--content
				padding-top 0
				padding-right 0
				
			&--form
				margin 20px -10px 0
				padding 30px 10px
				border-radius 30px
				
		&__block
			padding 0
			
		&__title
			font-size 22px
			
		&__description
			margin-top 27px
			font-size 14px	
			
		&__text
			font-size 12px
			line-height 14px
			margin-top 12px
			
		&__form-item-title
			font-size 11px
			
		&__form-item
			margin-bottom 22px
			
		&__form-button-wrap
			display block
			
		&__form-button-text
			margin-right 0
			display flex
			align-items center
			justify-content center
			font-size 12px
			
			br
				display none
				
			strong
				font-size 12px
				margin-right 15px
				
		&__form-button
			margin-top 20px
			.default-button
				height 36px
				font-size 10px
				
		&__form-item-range.custom-range--one .noUi-horizontal, &__form-item-range.custom-range--one .noUi-origin.noUi-background
			height 36px
			
		&--page
			.c-investors
				
				&__block
					background transparent
					padding 0
					
				&__layout
					
					&--form
						padding 30px 10px
						
		&--investors
			margin-bottom 30px