<div block="c-company" mods="{{companyMods}}">
	<div elem="inner" class="container">
		<div elem="block">
			<div elem="site-path">
				<div block="c-site-path" mods="{{sitePathMods}}">
					<div elem="inner">
						<a elem="item" href="#" mods="first">
							Главная
						</a>
						<span elem="separator">
							•
						</span>
						<a elem="item" href="#">
							О проекте
						</a>	
						<span elem="separator">
							•
						</span>
						Застройщик
					</div>
				</div><!-- b:l-site-path -->
			</div>
			<div elem="row">
				<div elem="row-layout" mods="left">
					<h1 elem="title">
						Застройщик
					</h1>
				</div>
				<div elem="row-layout" mods="right">
					<div elem="logos">
						<div elem="logos-img">
							<img src="img/company1.png" alt="">
						</div>
						<div elem="logos-title">
							Компания APSIS GLOBE создана в
						</div>
						<div elem="logos-year">
							2008г
						</div>
					</div>
				</div>
			</div>
			<div elem="row">
				<div elem="row-layout" mods="left">
					<div elem="bottom-title">
						Сфера деятельности <br/> компании APSIS GLOBE
					</div>
				</div>
				<div elem="row-layout" mods="right">
					<div elem="text">
						девелопмент проектов жилой и коммерческой недвижимости, предлагающий качественно новый подход к формированию среды, окружающей человека. Также компания реализует благотворительные и инфраструктурные проекты в России и за рубежом.
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- b:c-company -->