.c-company
	
	&__block
		background: #FFFFFF;
		border-radius: 50px;
		padding 35px 148px 5px
		
	&__site-path
		margin-bottom 34px
		
	&__row
		display flex
		margin-bottom 85px
		
	&__row-layout
		flex 0 0 50%
		
		&--right
			padding-left 12px
			
	&__logos
		display flex
		align-items center
		
	&__logos-img
		flex 0 0 255px
		font-size 0
		margin-right 85px
		
		img			
			max-width 100%	
			
	&__logos-title
		font-size: 20px;
		line-height: 120%;
		letter-spacing: 0.02em;
		color: #002C3E;
		flex 1 1
		
	&__logos-year
		font-size: 64px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #E60000;
		flex 1
		margin-left 5px
		
	&__title
		margin 0
		
	&__bottom-title
		font-size: 39px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #002C3E;
		
	&__text
		font-size: 20px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #002C3E;
		
@media all and (max-width: 1560px)
	.c-company
		
		&__logos-img
			margin-right 20px
			
		&__logos-title
			font-size 18px
			
		&__logos-year
			font-size 50px
			
		&__text
			font-size 18px
			
		&__bottom-title
			font-size 36px
			
@media all and (max-width: 1360px)
	.c-company
		
		&__logos-year
			font-size 45px
			
		&__logos-img
			flex 0 0 200px
			
		&__logos-title
			font-size 16px
			
		&__bottom-title
			font-size 30px
			
		&__text
			font-size 16px
			
@media all and (max-width: 1200px)
	.c-company
		
		&__block
			padding 35px 50px 5px
			
		&__row
			display block
			margin-bottom 40px
			
		&__row-layout
			
			&--right
				padding-left 0
				margin-top 10px
				
		&__logos-title
			flex 1 1 auto
			text-align right
			
		&__logos-year
			flex 1 1 auto
			
		&__bottom-title
			br
				display none	

@media all and (max-width: 768px)
	.c-company
		
		&__site-path
			display none
		
		&__logos
			flex-wrap wrap
			margin-top 20px
			
		&__logos-img
			flex 1 1 100%
			margin-right 0
			
		&__logos-title
			text-align left
			flex none
			
		&__logos-year
			flex none
			font-size 32px
			
		&__block
			padding 35px 30px 5px
			
@media all and (max-width: 480px)
	.c-company
		
		&__inner
			padding-left 0
			padding-right 0
			
		&__block
			padding 20px 10px 1px
			border-radius 30px
			
		&__row
			margin-bottom 28px
			
		&__logos-title
			font-size 12px
			
		&__logos-year
			font-size 16px
			
		&__logos-img
			margin-bottom 8px
			
		&__bottom-title
			font-size 16px
			font-weight 700
			
		&__text
			font-size: 12px;
			line-height: 14px;