.c-flat-row
	background: #FFFFFF;
	border-radius: 40px;
	display flex
	align-items center
	padding 30px 66px 28px 54px
	position relative
	
	&__img
		font-size 0
		flex 0 0 173px
		margin-right 69px
		
		img
			max-width 100%
			
	// &__adaptive-wrap
	// 	flex 1 1 auto
	// 	display flex
	// 	align-items center
			
	&__content
		flex 0 0 313px
		padding-right 10px
			
	&__title
		font-weight: 700;
		font-size: 32px;
		line-height: 100%;
		letter-spacing: 0.02em;
		color: #002C3E;
		
		sup
			font-size 19px
		
	&__description
		margin-top 16px
		font-size: 19px;
		line-height: 28px;
		color: #002C3E;
		
	&__sett
		display flex
		align-items center
		background #E9F3F9
		border-radius 25px
		max-width 206px
		padding 8px 22px 7px
		margin-top 20px
		font-size 16px
		
	&__sett-time
		margin-left 3px
		
	&__price-layout
		flex 0 0 286px
		padding-right 30px
		
	&__price
		font-weight: 700;
		font-size: 32px;
		line-height: 1
		letter-spacing: 0.05em;
		color: #002C3E;
		
	&__price2
		margin-top 13px
		font-size: 19px;
		line-height: 28px;
		color: #002C3E;
		
	&__mortgage
		display flex
		align-items center
		margin-top 21px
		
	&__mortgage-icon
		flex 0 0 40px
		width 40px
		height 40px
		margin-right 15px
		border-radius 50%
		background #8DC63F
		display flex
		justify-content center
		align-items center
		padding 3px
		
		svg
			width 20px
			height 20px
			
	&__mortgage-title
		font-size: 16px;
		line-height: 24px;
		color: #002C3E;
		
	&__buttons-wrap
		flex 1 1 auto
		
	&__buttons
		display flex
		margin-left -12px
		
	&__button
		flex 0 0 50%
		margin-left 12px
		background: #00AAE7;
		border-radius: 20px;
		height 59px
		font-family: Montserrat;
		font-weight: 700;
		font-size: 16px;
		line-height: 130%;
		display: flex;
		align-items: center;
		justify-content center
		text-decoration none
		letter-spacing: 0.02em;
		color: #FFFFFF;
		padding 10px
		border: 2px solid #00AAE7;
		transition background ease-out 0.3s
		margin-bottom 13px
		
		&:last-child
			margin-bottom 0
		
		&:hover
			color #00AAE7
			background transparent
			
		&--border
			color #00AAE7
			background transparent
			
			&:hover
				background: #00AAE7;
				color #fff
				
	&__icons
		display flex
		margin 0 0 27px -12px
		
	&__icon-item
		display flex
		align-items center
		text-decoration none
		padding 7px 15px 7px 12px
		background transparent
		border-radius 50px
		flex 0 0 50%
		margin-left 12px
		
		&:hover

			.c-flat-row__icon-text
				color #F15A22
				
		&.active
			background #F15A22
			
			.c-flat-row
				
				&__icon-text
					color #fff
					
				&__icon
					
					svg
						display none
							
						&.second
							fill #fff
							display block
		
	&__icon
		flex 0 0 21px
		height 18px
		font-size 0
		margin-right 15px
		
		svg
			display none
			width 21px
			height 18px
			fill #002C3E
			
			&.first
				display block
				
	&__icon-text
		font-size: 17px;
		line-height: 27px;
		color: #93B4C8;
		
		&:before
			content attr(data-hover)
			

@media all and (max-width: 1460px)
	.c-flat-row 
		
		&__icons
			margin-bottom 10px
			
		&__icon-item
			max-width 320px
			margin-bottom 10px
			
			&:last-child
				margin-bottom 0
		
		&__icons,&__buttons
			display block
			
		&__button
			max-width 320px
				
@media all and (max-width: 1360px)
	.c-flat-row
		
		&__img
			margin-right 30px
			
		&__price-layout
			padding-right 10px
			
@media all and (max-width: 1200px)
	.c-flat-row
		padding 30px 30px 28px 30px
		
		&__content
			flex 1 1 auto
		
		&__title
			font-size 24px
			
		&__description
			font-size 14px
			margin-top 8px
			
		&__sett
			padding 4px 17px 4px
			font-size 14px
			
		&__price-layout
			flex 1 1 auto
			
		&__price
			font-size 24px
			line-height 1
			
		&__price2
			font-size 14px
			margin-top 8px
			
		&__mortgage
			margin-top 20px
			
		&__mortgage-icon
			flex 0 0 32px
			width 32px
			height 32px
			
			svg
				width 16px
				height 16px

		&__mortgage-title
			font-size 14px
					
@media all and (max-width: 1024px)
	.c-flat-row
		flex-wrap wrap
		
		&__buttons-wrap
			flex 0 0 100%
			margin-top 20px
		
		&__buttons
			display flex
			
		&__button
			flex 1 1 auto
			max-width 100%
			
		&__icon-item
			position absolute
			margin-left 0
			padding 0
			top 25px
			
			&--favorites
				right 32px
				
			&--compare
				right 71px
				
			&.active
				background transparent
				
				.c-flat-row__icon svg.second
					fill #F15A22
				
		&__icon
			margin-right 0
			
		
		&__icon-text
			font-size 0	
			
@media all and (max-width: 768px)
	.c-flat-row
		flex-direction column
		flex-wrap wrap
		align-items flex-start
		padding 30px 20px 28px 20px
		
		&__content
			order 1
			padding-right 0
			width 100%
			display flex
			flex-direction column
			
		&__sett
			order -1
			margin-top 0
			background transparent
			padding 0
			color #00AAE7
			
		&__title
			margin-top 10px
			

		&__img
			order 2
			width 100%
			margin 20px 0 0
			text-align center
			flex 1 1 auto
			
		&__price-layout
			order 3
			width 100%
			padding-right 0
			margin-top 18px
			display flex
			align-items center
			justify-content space-between
			
		&__mortgage
			margin-top 0
			
		&__buttons-wrap
			order 4
			flex 1 1 auto
			width 100%
				
@media all and (max-width: 480px)
	.c-flat-row
		border-radius 10px
		padding 28px 10px 15px
		
		&__sett
			font-size 10px
			
		&__title
			font-size 20px
			margin-top 7px
			
		&__description
			font-size 12px
			line-height 14px
			margin-top 5px
			
		&__img
			margin-top 10px
			
		&__price-layout
			padding-right 36px
			margin-top 12px

		&__price
			font-size 16px
			
		&__price2
			font-size: 9px;
			line-height: 13px;
			margin-top 3px
			
		&__mortgage-icon
			flex 0 0 30px
			width 30px
			height 30px
			margin-right 13px
			
		&__mortgage-title
			font-size 12px
			line-height 18px

		&__mortgage-text
			display block
			
		&__buttons
			margin-top 9px
			
		&__button
			height 36px
			font-size 10px
			border-radius 10px