<div block="c-flat-row" mods="{{flatrowMods}}">
	<div elem="img">
		<img src="img/flat2.png" alt="">
	</div>
	<div elem="content">
		<div elem="title">
			Студия 30 м<sup>2</sup>
		</div>
		<div elem="description">
			корпус №155, секция 1, этаж 10 
		</div>
		<div elem="sett">
			Заселение  - <strong elem="sett-time">01.01.2022</strong>
		</div>
	</div>
	<div elem="price-layout">
		<div elem="price-wrap">
			<div elem="price">
				5 000 000 ₽
			</div>
			<div elem="price2">
				160 000 ₽/м2
			</div>
		</div>
		<div elem="mortgage">
			<div elem="mortgage-icon">
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_660_13219)">
					<path d="M18.8994 18.2498H17.519V10.888H18.4392C18.8113 10.888 19.1469 10.6638 19.2895 10.3199C19.4318 9.97609 19.3533 9.58039 19.0901 9.31691L10.8081 1.03493C10.6284 0.85549 10.3929 0.765625 10.1573 0.765625C9.92168 0.765625 9.68613 0.85549 9.50668 1.03526L6.9365 3.60511V2.60606C6.9365 2.09779 6.52456 1.68584 6.01629 1.68584H5.09607C4.58779 1.68584 4.17585 2.09779 4.17585 2.60606V6.36577L1.22471 9.31691C0.961512 9.5801 0.882683 9.9758 1.02532 10.3199C1.16763 10.6638 1.50322 10.888 1.8753 10.888H2.79552V18.2498H1.41519C1.16091 18.2498 0.955078 18.4556 0.955078 18.7099C0.955078 18.9642 1.16091 19.17 1.41519 19.17H18.8994C19.1536 19.17 19.3595 18.9642 19.3595 18.7099C19.3595 18.4556 19.1536 18.2498 18.8994 18.2498ZM5.09607 2.60606H6.01629V4.52533L5.09607 5.44555V2.60606V2.60606ZM16.5988 18.2498H3.71574V9.96782H1.8753L10.1573 1.68584L18.4392 9.96782H16.5988V18.2498Z" fill="white"/>
					<path d="M13.513 8.72045L6.15137 16.082L6.80205 16.7327L14.1636 9.37114L13.513 8.72045Z" fill="white"/>
					<path d="M7.85704 8.58691C6.84235 8.58691 6.0166 9.41234 6.0166 10.4274C6.0166 11.4424 6.84264 12.2678 7.85704 12.2678C8.87173 12.2678 9.69748 11.4424 9.69748 10.4274C9.69748 9.41234 8.87173 8.58691 7.85704 8.58691ZM7.85704 11.3476C7.34937 11.3476 6.93682 10.9347 6.93682 10.4274C6.93682 9.92001 7.34937 9.50713 7.85704 9.50713C8.36471 9.50713 8.77726 9.92001 8.77726 10.4274C8.77726 10.9347 8.36471 11.3476 7.85704 11.3476Z" fill="white"/>
					<path d="M12.4576 13.1875C11.4429 13.1875 10.6172 14.0129 10.6172 15.0279C10.6172 16.0429 11.4429 16.8684 12.4576 16.8684C13.4723 16.8684 14.2981 16.0429 14.2981 15.0279C14.2981 14.0129 13.4723 13.1875 12.4576 13.1875ZM12.4576 15.9482C11.95 15.9482 11.5374 15.5353 11.5374 15.0279C11.5374 14.5206 11.95 14.1077 12.4576 14.1077C12.9653 14.1077 13.3778 14.5206 13.3778 15.0279C13.3778 15.5353 12.9653 15.9482 12.4576 15.9482Z" fill="white"/>
					</g>
					<defs>
					<clipPath id="clip0_660_13219">
					<rect width="18.4045" height="18.4045" fill="white" transform="translate(0.955078 0.764648)"/>
					</clipPath>
					</defs>
					</svg>
			</div>
			<div elem="mortgage-content">
				<div elem="mortgage-title">
					В ипотеку  <strong elem="mortgage-text">от 30 000 ₽/м2</strong> 
				</div>
			</div>
		</div>
	</div>
	<div elem="buttons-wrap">		
		<div elem="icons">
			<a href="#" elem="icon-item" mods="compare">
				<div elem="icon">
					<svg class="first" width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M10.4472 4.95L8.95507 6.364L6.27889 3.828V17H4.16834V3.828L1.49322 6.364L0 4.95L5.22362 0L10.4472 4.95ZM21 13.05L15.7764 18L10.5528 13.05L12.0449 11.636L14.7222 14.172L14.7211 1H16.8317V14.172L19.5078 11.636L21 13.05Z"/>
					</svg>
					<svg class="second" width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M10.4472 4.95L8.95507 6.364L6.27889 3.828V17H4.16834V3.828L1.49322 6.364L0 4.95L5.22362 0L10.4472 4.95ZM21 13.05L15.7764 18L10.5528 13.05L12.0449 11.636L14.7222 14.172L14.7211 1H16.8317V14.172L19.5078 11.636L21 13.05Z"/>
					</svg>
				</div>
				<div elem="icon-text" data-hover="Сравнить апартамент" data-active="Добавлено в сравнения">

				</div>
			</a>
			<a href="#" elem="icon-item" mods="favorites">
				<div elem="icon">
					<svg class="first" width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M14.5 0C17.538 0 20 2.43243 20 5.83784C20 12.6486 12.5 16.5405 10 18C7.5 16.5405 0 12.6486 0 5.83784C0 2.43243 2.5 0 5.5 0C7.36 0 9 0.972973 10 1.94595C11 0.972973 12.64 0 14.5 0ZM10.934 15.1823C11.815 14.6413 12.61 14.1032 13.354 13.5272C16.335 11.2213 18 8.7013 18 5.83784C18 3.54162 16.463 1.94595 14.5 1.94595C13.424 1.94595 12.26 2.50054 11.414 3.32173L10 4.69751L8.586 3.32173C7.74 2.50054 6.576 1.94595 5.5 1.94595C3.56 1.94595 2 3.55719 2 5.83784C2 8.70227 3.666 11.2213 6.645 13.5272C7.39 14.1032 8.185 14.6413 9.066 15.1813C9.365 15.3652 9.661 15.5413 10 15.7378C10.339 15.5413 10.635 15.3652 10.934 15.1823Z"/>
					</svg>

					<svg class="second" width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M13.05 0C15.7842 0 18 2.16216 18 5.18919C18 11.2432 11.25 14.7027 9 16C6.75 14.7027 0 11.2432 0 5.18919C0 2.16216 2.25 0 4.95 0C6.624 0 8.1 0.864865 9 1.72973C9.9 0.864865 11.376 0 13.05 0Z"/>
					</svg>
				</div>
				<div elem="icon-text" data-hover="Добавить в избранное" data-active="Добавлено в избранное">

				</div>
			</a>
		</div>
		<div elem="buttons">
			<a href="#" elem="button" mods="border">
				Купить
			</a>
			<a href="#" elem="button">
				Забронировать
			</a>
		</div>
	</div>
</div><!-- b:c-flat-row -->