.c-lot
	
	&__layouts
		display flex
		margin-left -30px
		
	&__layout
		flex 0 0 50%
		padding-left 30px
		
		&--slider
			.c-lot__layout-inner
				padding 108px 30px 70px
				
		&--content
			.c-lot__layout-inner
				background transparent
				
	&__layout-inner
		background: #FFFFFF;
		border-radius: 50px;
		position relative
		
	&__site-logo
		position absolute
		width 99px
		height 92px
		left 10px
		top -46px
		
	&__sliders
		display none
		
		&.active
			display flex
		
	&__main-slider-img
		border-radius 15px
		font-size 0
		
		img
			max-width 100%
			
	&__main-slider-navs
		display flex
		align-items flex-end
		justify-content space-between
		margin-top auto
		padding 0 26px
		
		.swiper-button-prev,.swiper-button-next
			position static
			width 32px
			height 32px
			border: 3px solid #002C3E;
			margin-top 0
			
			svg
				fill #002C3E
				width 7px
				height 12px
				margin-left 0
				
	&__slider-links
		display flex
		margin-top 55px
		
	&__slider-link
		margin-right 70px
		
		&:last-child
			margin-right 0
		
		a
			font-family: Room;
			font-weight: 700;
			font-size: 32px;
			line-height: 100%;
			text-decoration-color #D1E4F0
			text-transform: uppercase;
			color: #D1E4F0;
			
			&.active
				text-decoration-color #00AAE7
				color: #002C3E;
			
	&__thumb-slider-wrap
		flex 0 0 135px
		margin-left 20px
		display flex
		flex-direction column
		
	&__thumb-slider-block
		height 486px
		
	&__thumb-slider-item{}

	&__thumb-slider-img
		border-radius 8px
		font-size 0
		max-height 100%
		
		img
			max-height 100%
			max-width 100%
		
	&__content
		padding 50px
		background #fff
		border-radius: 40px;
		
	&__content-title
		font-weight: 700;
		font-size: 40px;
		line-height: 100%;
		letter-spacing: 0.02em;
		color: #002C3E;
		
		sup
			font-size 22px
			font-weight 900
			
	&__content-description,&__content-sett
		display none
		
			
	&__content-number
		font-weight: 700;
		font-size: 18px;
		line-height 1
		background: #00AAE7;
		border-radius: 25px;
		display inline-block
		align-items center
		padding 8px 17px 6px
		color: #FFFFFF;
		margin-left 30px
		
	&__price-row
		display flex
		align-items center
		margin-top 50px
		
	&__price-row-layout
		flex 1 1 auto
		
		&--mortgage
			padding-right 4px
		
	&__price
		font-weight: 700;
		font-size: 52px;
		line-height: 100%;
		color: #000000;

	&__price2
		font-size: 20px;
		line-height 100%
		color: #000000;
		margin-top 10px
		
	&__mortgage
		display flex
		align-items center
		justify-content flex-end
		
	&__mortgage-icon
		flex 0 0 69px
		width 69px
		height 69px
		margin-right 19px
		border-radius 50%
		background #8DC63F
		display flex
		justify-content center
		align-items center
		
		svg
			width 33px
			height 33px
			
	&__mortgage-title
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.02em;
		color: #000000;
		
	&__mortgage-text
		font-size 20px
		display block
		margin-top 10px
		
	&__buttons
		margin-top 54px
		display flex
		
	&__button
		max-width 187px
		width 100%
		background: #00AAE7;
		border-radius: 20px;
		height 59px
		font-family: Montserrat;
		font-weight: 700;
		font-size: 16px;
		line-height: 130%;
		display: flex;
		align-items: center;
		justify-content center
		text-decoration none
		letter-spacing: 0.02em;
		color: #FFFFFF;
		padding 10px
		border: 2px solid #00AAE7;
		transition background ease-out 0.3s
		margin-right 12px
		
		&:last-child
			margin-right 0
			
		&:hover
			color #00AAE7
			background transparent
			
		&--border
			color #00AAE7
			background transparent
			
			&:hover
				background: #00AAE7;
				color #fff
				
	&__fav
		font-size 0
		position absolute
		width 28px
		height 25px
		right 50px
		top 58px
		cursor pointer
		
		img,svg
			width 28px
			height 25px
			display none
			
			&.first
				display block
				fill #002c3e
				
			&.second
				fill #F15A22
				

		&.active
			
			svg
				&.second
					display block
					
				&.first
					display none


	&__chars
		margin-top 50px
		display flex
		
	&__chars-layout
		flex 1 1 auto
		
		&--download
			flex 1 1 auto
			
		&--values
			flex 0 0 295px
			padding 0 20px 0 60px
			
	&__chars-item
		display flex
		align-items center
		margin-bottom 26px
		
	&__chars-title
		flex 1 1 auto
		font-size: 20px;
		line-height: 29px;
		color: #000000;
		
	&__chars-value
		flex 1 1 auto
		max-width 75px
		font-size: 20px;
		line-height: 29px;
		color: #000000;
		
	&__chars-button
		background: #E9F3F9;
		font-size: 18px;
		padding 9px 10px
		text-align center
		margin-top 39px
		color: #000000;
		border-radius: 50px;
		
	&__chars-download-button
		min-height 154px
		background: #FFFFFF;
		border-radius: 40px;
		padding 37px 45px 33px 48px
		text-decoration none
		width 100%
		display block
		position relative
		margin-bottom 35px
		
		&:last-child
			margin-bottom 0
		
		.second-icon
			margin 0px 0 -44px 27px
			width 26px
			height 29px
		
		
	&__chars-download-buttonrow
		display flex
		align-items center
		font-weight: 700;
		font-size: 25px;
		line-height: 100%;
		letter-spacing: 0.02em;
		color: #002C3E;

		svg
			flex 0 0 37px
			width 37px
			height 41px
			margin-right 25px
		
	&__chars-download-buttondate
		display flex
		margin-top 30px
		font-size: 15px;
		line-height: 1;
		letter-spacing: 0.02em;
		color: #002C3E;
		
@media all and (max-width: 1480px)
	.c-lot
		
		&__thumb-slider-block
			height 400px
			
@media all and (max-width: 1360px)
	.c-lot
		
		&__thumb-slider-block
			height 330px
			
		&__chars-download-button
			padding 20px 35px
			min-height 130px
			
		&__chars-download-buttonrow
			font-size 20px
			
		&__chars-layout
			
			&--values
				flex 0 0 210px
				padding-left 0px
				padding-right 0
				
		&__chars-title,&__chars-value
			font-size 18px
			
			
@media all and (max-width: 1280px)	
	.c-lot
		
		&__content-title
			font-size 34px
			
		&__content-number
			font-size 16px
			
		&__price-row
			margin-top 40px
			
		&__price
			font-size 40px
			
@media all and (max-width: 1200px)	
	.c-lot
		
		&__site-logo
			display none
		
		&__layouts
			display block
			position relative
			max-width 720px
			margin 0 auto
			
		&__layout
			padding-left 0
			
			&--slider
				.c-lot__layout-inner
					padding 50px 60px 0
					border-radius 50px 50px 0px 0px
					
			&--content
				.c-lot__layout-inner
					position static
					
		&__content
			border-radius 0
			padding 30px 60px

		&__thumb-slider
			display none
			
		&__thumb-slider-wrap
			flex 0 0 0px
			margin-left 0
			
		&__main-slider-navs 
			.swiper-button-prev,.swiper-button-next
				position absolute
				
		&__slider-links
			margin-top 20px
			justify-content space-between
			
		&__slider-link
			margin-right 0
			
		&__buttons
			justify-content space-between
			
		&__fav
			right 20px
			top 40px
			
@media all and (max-width: 768px)	
	.c-lot
		
		&__layout
			&--slider
				.c-lot__layout-inner
					padding 40px 40px 0
		
		&__chars-layout
			
			&--download
				display none
				
			&--values
				flex 1 1 auto
				
		&__chars-block
			display flex
			
		&__chars-adaptive-wrap
			flex 1 1 auto
			
			&:first-child
				border-right 1px solid #D1E4F0;
				padding-right 30px
				
			&:nth-child(2)
				padding-left 30px
				
		&__chars-button
			max-width 160px
			
		&__slider-link 
			a
				font-size 26px
				
		&__fav
			width 20px
			height 20px
			right 13px
			
			svg,img
				width 20px
				height 20px
				
		&__main-slider-navs 
			.swiper-button-prev,.swiper-button-next
				width 25px
				height 25px
				border-width 2px 
				
				svg
					width 6px
					height 9px
					
			.swiper-button-prev
				left 5px
				
			.swiper-button-next
				right 5px
				
		&__content
			padding 30px 40px
			
		&__content-title
			font-size 30px
			
		&__price
			font-size 32px
			
		&__price2
			font-size 18px
			
		&__price-row-layout
			
			&--mortgage
				padding-right 0
				
		&__mortgage-icon
			flex 0 0 40px
			width 40px
			height 40px
			margin-right 7px
			
			svg
				width 20px
				height 20px
				
		&__mortgage-title
			font-size 14px
			
		&__mortgage-text
			font-size 18px
			
@media all and (max-width: 480px)	
	.c-lot
		
		&__layout
			&--slider
				.c-lot
					
					&__layout-inner
						border-radius 0
						padding 22px 53px 0
						
		&__fav
			right 22px
			top 13px

		&__main-slider-navs 
			.swiper-button-prev,.swiper-button-next
				margin-top -42px

			.swiper-button-prev
				left 23px
				
			.swiper-button-next
				right 23px
				
		&__slider-link
			a
				font-size 16px
				
		&__content
			padding 25px 10px 17px
		
		&__content-title-wrap
			display flex
			justify-content space-between
			
		&__content-title
			font-size 16px
			
			sup
				font-size 12px
				
		&__content-number
			display none
			
		&__content-description
			font-size: 10px;
			line-height: 10px;
			color: #002C3E;
			max-width 80px	
			margin-right 20px
			display block
			margin-left 12px
			
		&__content-sett
			display flex
			justify-content center
			align-items center
			width 82px
			height 18px
			background: #E9F3F9;
			border-radius: 25px;
			font-size: 6px;
			color: #002C3E;
			
		&__price-row
			margin-top 14px
			
		&__price
			font-size 16px
			
		&__price2
			font-size 9px
			margin-top 5px
			
		&__mortgage
			justify-content flex-start
			
		&__mortgage-icon
			flex 0 0 30px
			width 30px
			height 30px
			margin-right 13px
			
			svg
				width 15px
				height 15px
				

		&__mortgage-title
			font-size 12px
			line-height 18px
			
		&__mortgage-text
			font-size 12px
			margin-top 5px
			
		&__buttons
			margin-top 15px
			
		&__button
			margin-right 8px
			height 36px
			border-radius: 10px;
			font-size 10px
			
		&__chars
			margin-top 13px
			padding 0 10px
			
		&__chars-title,&__chars-value
			font-size: 12px;
			line-height: 18px;
			
		&__chars-item
			margin-bottom 6px
			
		&__chars-button
			margin-top 13px
			max-width 110px
			font-size 12px
			padding 6px 10px