<div block="c-lot" mods="{{lotMods}}">
	<div elem="layouts">
		<div elem="layout" mods="slider">
			<div elem="layout-inner">
				<div elem="site-logo">
					<img src="img/logo-min.svg" alt="">
				</div>
				<div elem="sliders-wrap">
					<div id="ctabslayout" elem="sliders" class="active">
						<div elem="main-slider" class="swiper">
							<div elem="main-slider-block" class="swiper-wrapper">
								<div elem="main-slider-item" class="swiper-slide">
									<div elem="main-slider-img" data-section-bg="img/lotimg1.jpg">
										<img src="img/lotimg1.jpg" alt="">
									</div>
								</div>
								<div elem="main-slider-item" class="swiper-slide">
									<div elem="main-slider-img" data-section-bg="img/lotimg2.jpg">
										<img src="img/lotimg2.jpg" alt="">
									</div>
								</div>	
								<div elem="main-slider-item" class="swiper-slide">
									<div elem="main-slider-img" data-section-bg="img/lotimg1.jpg">
										<img src="img/lotimg1.jpg" alt="">
									</div>
								</div>
								<div elem="main-slider-item" class="swiper-slide">
									<div elem="main-slider-img" data-section-bg="img/lotimg2.jpg">
										<img src="img/lotimg2.jpg" alt="">
									</div>
								</div>	
								<div elem="main-slider-item" class="swiper-slide">
									<div elem="main-slider-img" data-section-bg="img/lotimg1.jpg">
										<img src="img/lotimg1.jpg" alt="">
									</div>
								</div>
								<div elem="main-slider-item" class="swiper-slide">
									<div elem="main-slider-img" data-section-bg="img/lotimg2.jpg">
										<img src="img/lotimg2.jpg" alt="">
									</div>
								</div>		
							</div>
						</div>
						<div elem="thumb-slider-wrap">
							<div elem="thumb-slider" class="swiper">
								<div elem="thumb-slider-block" class="swiper-wrapper">
									<div elem="thumb-slider-item" class="swiper-slide">
										<div elem="thumb-slider-img" data-section-bg="img/lotimg1.jpg">
											<img src="img/lotimg1.jpg" alt="">
										</div>
									</div>
									<div elem="thumb-slider-item" class="swiper-slide">
										<div elem="thumb-slider-img" data-section-bg="img/lotimg2.jpg">
											<img src="img/lotimg2.jpg" alt="">
										</div>
									</div>
									<div elem="thumb-slider-item" class="swiper-slide">
										<div elem="thumb-slider-img" data-section-bg="img/lotimg1.jpg">
											<img src="img/lotimg1.jpg" alt="">
										</div>
									</div>
									<div elem="thumb-slider-item" class="swiper-slide">
										<div elem="thumb-slider-img" data-section-bg="img/lotimg2.jpg">
											<img src="img/lotimg2.jpg" alt="">
										</div>
									</div>
									<div elem="thumb-slider-item" class="swiper-slide">
										<div elem="thumb-slider-img" data-section-bg="img/lotimg1.jpg">
											<img src="img/lotimg1.jpg" alt="">
										</div>
									</div>
									<div elem="thumb-slider-item" class="swiper-slide">
										<div elem="thumb-slider-img" data-section-bg="img/lotimg2.jpg">
											<img src="img/lotimg2.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
							<div elem="main-slider-navs">
								<div class="swiper-button-prev">
									<svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg>
								</div>
								<div class="swiper-button-next">
									<svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg>
								</div>
							</div>
						</div>
					</div>
					<div id="ctabsfloor" elem="sliders">
						<div elem="main-slider" class="swiper">
							<div elem="main-slider-block" class="swiper-wrapper">
								<div elem="main-slider-item" class="swiper-slide">
									<div elem="main-slider-img" data-section-bg="img/lotimg2.jpg">
										<img src="img/lotimg2.jpg" alt="">
									</div>
								</div>
								<div elem="main-slider-item" class="swiper-slide">
									<div elem="main-slider-img" data-section-bg="img/lotimg1.jpg">
										<img src="img/lotimg1.jpg" alt="">
									</div>
								</div>	
								<div elem="main-slider-item" class="swiper-slide">
									<div elem="main-slider-img" data-section-bg="img/lotimg2.jpg">
										<img src="img/lotimg2.jpg" alt="">
									</div>
								</div>
								<div elem="main-slider-item" class="swiper-slide">
									<div elem="main-slider-img" data-section-bg="img/lotimg1.jpg">
										<img src="img/lotimg1.jpg" alt="">
									</div>
								</div>	
								<div elem="main-slider-item" class="swiper-slide">
									<div elem="main-slider-img" data-section-bg="img/lotimg2.jpg">
										<img src="img/lotimg2.jpg" alt="">
									</div>
								</div>
								<div elem="main-slider-item" class="swiper-slide">
									<div elem="main-slider-img" data-section-bg="img/lotimg1.jpg">
										<img src="img/lotimg1.jpg" alt="">
									</div>
								</div>		
							</div>
						</div>
						<div elem="thumb-slider-wrap">
							<div elem="thumb-slider" class="swiper">
								<div elem="thumb-slider-block" class="swiper-wrapper">
									<div elem="thumb-slider-item" class="swiper-slide">
										<div elem="thumb-slider-img" data-section-bg="img/lotimg1.jpg">
											<img src="img/lotimg1.jpg" alt="">
										</div>
									</div>
									<div elem="thumb-slider-item" class="swiper-slide">
										<div elem="thumb-slider-img" data-section-bg="img/lotimg2.jpg">
											<img src="img/lotimg2.jpg" alt="">
										</div>
									</div>
									<div elem="thumb-slider-item" class="swiper-slide">
										<div elem="thumb-slider-img" data-section-bg="img/lotimg1.jpg">
											<img src="img/lotimg1.jpg" alt="">
										</div>
									</div>
									<div elem="thumb-slider-item" class="swiper-slide">
										<div elem="thumb-slider-img" data-section-bg="img/lotimg2.jpg">
											<img src="img/lotimg2.jpg" alt="">
										</div>
									</div>
									<div elem="thumb-slider-item" class="swiper-slide">
										<div elem="thumb-slider-img" data-section-bg="img/lotimg1.jpg">
											<img src="img/lotimg1.jpg" alt="">
										</div>
									</div>
									<div elem="thumb-slider-item" class="swiper-slide">
										<div elem="thumb-slider-img" data-section-bg="img/lotimg2.jpg">
											<img src="img/lotimg2.jpg" alt="">
										</div>
									</div>
								</div>
							</div>
							<div elem="main-slider-navs">
								<div class="swiper-button-prev">
									<svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg>
								</div>
								<div class="swiper-button-next">
									<svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div elem="slider-links">
					<div elem="slider-link">
						<a href="#ctabslayout" class="active">
							Планировка
						</a>
					</div>
					<div elem="slider-link">
						<a href="#ctabsfloor">
							План этажа
						</a>
					</div>
				</div>
			</div>
		</div>
		<div elem="layout" mods="content">
			<div elem="layout-inner" mods="content">
				<div elem="content">
					<div elem="fav" class="active">
						<svg class="first" width="28" height="25" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.425 0C11.3997 0 13 1.62162 13 3.89189C13 8.43243 8.125 11.027 6.5 12C4.875 11.027 0 8.43243 0 3.89189C0 1.62162 1.625 0 3.575 0C4.784 0 5.85 0.648649 6.5 1.2973C7.15 0.648649 8.216 0 9.425 0ZM7.1071 10.1215C7.67975 9.76086 8.1965 9.40216 8.6801 9.01816C10.6177 7.48086 11.7 5.80086 11.7 3.89189C11.7 2.36108 10.7009 1.2973 9.425 1.2973C8.7256 1.2973 7.969 1.66703 7.4191 2.21449L6.5 3.13168L5.5809 2.21449C5.031 1.66703 4.2744 1.2973 3.575 1.2973C2.314 1.2973 1.3 2.37146 1.3 3.89189C1.3 5.80151 2.3829 7.48086 4.31925 9.01816C4.8035 9.40216 5.32025 9.76087 5.8929 10.1209C6.08725 10.2435 6.27965 10.3609 6.5 10.4919C6.72035 10.3609 6.91275 10.2435 7.1071 10.1215Z"></path>
									</svg>
						<svg class="second" width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M20.3 0C24.5532 0 28 3.37838 28 8.10811C28 17.5676 17.5 22.973 14 25C10.5 22.973 0 17.5676 0 8.10811C0 3.37838 3.5 0 7.7 0C10.304 0 12.6 1.35135 14 2.7027C15.4 1.35135 17.696 0 20.3 0Z"/>
						</svg>

					</div>
					<div elem="content-title-wrap">
						<div elem="content-title">
							Студия 30 м<sup>2</sup> <span elem="content-number">№ 123</span>
						</div>
						<div elem="content-description">
							корпус №155, секция 1, этаж 10 
						</div>
						<div elem="content-sett">
							Заселение  - <strong>01.01.2022</strong>
						</div>
					</div>
					<div elem="price-row">
						<div elem="price-row-layout">
							<div elem="price">
								5 000 000 ₽
							</div>
							<div elem="price2">
								160 000 ₽/м2
							</div>
						</div>
						<div elem="price-row-layout" mods="mortgage">
							<div elem="mortgage">
								<div elem="mortgage-icon">
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_660_13219)">
                                    <path d="M18.8994 18.2498H17.519V10.888H18.4392C18.8113 10.888 19.1469 10.6638 19.2895 10.3199C19.4318 9.97609 19.3533 9.58039 19.0901 9.31691L10.8081 1.03493C10.6284 0.85549 10.3929 0.765625 10.1573 0.765625C9.92168 0.765625 9.68613 0.85549 9.50668 1.03526L6.9365 3.60511V2.60606C6.9365 2.09779 6.52456 1.68584 6.01629 1.68584H5.09607C4.58779 1.68584 4.17585 2.09779 4.17585 2.60606V6.36577L1.22471 9.31691C0.961512 9.5801 0.882683 9.9758 1.02532 10.3199C1.16763 10.6638 1.50322 10.888 1.8753 10.888H2.79552V18.2498H1.41519C1.16091 18.2498 0.955078 18.4556 0.955078 18.7099C0.955078 18.9642 1.16091 19.17 1.41519 19.17H18.8994C19.1536 19.17 19.3595 18.9642 19.3595 18.7099C19.3595 18.4556 19.1536 18.2498 18.8994 18.2498ZM5.09607 2.60606H6.01629V4.52533L5.09607 5.44555V2.60606V2.60606ZM16.5988 18.2498H3.71574V9.96782H1.8753L10.1573 1.68584L18.4392 9.96782H16.5988V18.2498Z" fill="white"></path>
                                    <path d="M13.513 8.72045L6.15137 16.082L6.80205 16.7327L14.1636 9.37114L13.513 8.72045Z" fill="white"></path>
                                    <path d="M7.85704 8.58691C6.84235 8.58691 6.0166 9.41234 6.0166 10.4274C6.0166 11.4424 6.84264 12.2678 7.85704 12.2678C8.87173 12.2678 9.69748 11.4424 9.69748 10.4274C9.69748 9.41234 8.87173 8.58691 7.85704 8.58691ZM7.85704 11.3476C7.34937 11.3476 6.93682 10.9347 6.93682 10.4274C6.93682 9.92001 7.34937 9.50713 7.85704 9.50713C8.36471 9.50713 8.77726 9.92001 8.77726 10.4274C8.77726 10.9347 8.36471 11.3476 7.85704 11.3476Z" fill="white"></path>
                                    <path d="M12.4576 13.1875C11.4429 13.1875 10.6172 14.0129 10.6172 15.0279C10.6172 16.0429 11.4429 16.8684 12.4576 16.8684C13.4723 16.8684 14.2981 16.0429 14.2981 15.0279C14.2981 14.0129 13.4723 13.1875 12.4576 13.1875ZM12.4576 15.9482C11.95 15.9482 11.5374 15.5353 11.5374 15.0279C11.5374 14.5206 11.95 14.1077 12.4576 14.1077C12.9653 14.1077 13.3778 14.5206 13.3778 15.0279C13.3778 15.5353 12.9653 15.9482 12.4576 15.9482Z" fill="white"></path>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_660_13219">
                                    <rect width="18.4045" height="18.4045" fill="white" transform="translate(0.955078 0.764648)"></rect>
                                    </clipPath>
                                    </defs>
                                    </svg>
								</div>
								<div elem="mortgage-content">
									<div elem="mortgage-title">
										В Ипотеку:
										<strong elem="mortgage-text">
											 от 30 000 ₽/м
										</strong>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div elem="buttons">
						<a href="#" elem="button" mods="border">
							Купить
						</a>
						<a href="#" elem="button">
							Забронировать
						</a>
					</div>
				</div>
				<div elem="chars">
					<div elem="chars-layout" mods="values">
						<div elem="chars-block">
							<div elem="chars-adaptive-wrap">
								<div elem="chars-item">
									<div elem="chars-title">
										Корпус
									</div>
									<div elem="chars-value">
										1
									</div>
								</div>
								<div elem="chars-item">
									<div elem="chars-title">
										Секция
									</div>
									<div elem="chars-value">
										1
									</div>
								</div>
								<div elem="chars-item">
									<div elem="chars-title">
										Этаж
									</div>
									<div elem="chars-value">
										10 из 20
									</div>
								</div>
							</div>
							<div elem="chars-adaptive-wrap">
								<div elem="chars-item">
									<div elem="chars-title">
										Комната
									</div>
									<div elem="chars-value">
										10 м<sup>2</sup>
									</div>
								</div>
								<div elem="chars-item">
									<div elem="chars-title">
										Кухня
									</div>
									<div elem="chars-value">
										10 м<sup>2</sup>
									</div>
								</div>
								<div elem="chars-item">
									<div elem="chars-title">
										Балкон
									</div>
									<div elem="chars-value">
										10 м<sup>2</sup>
									</div>
								</div>
							</div>
						</div>
						<div elem="chars-buttons">
							<div elem="chars-button">
								ванная с окном
							</div>
						</div>
					</div>
					<div elem="chars-layout" mods="download">
						<div elem="chars-download">
							<a download href="#" elem="chars-download-button">
								<span elem="chars-download-buttonrow">
									<svg width="37" height="41" viewBox="0 0 37 41" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M5.33225 29.7695H5.53625C6.34025 29.7695 7.44425 29.7935 7.88825 29.7935C11.0923 29.7935 12.7003 27.8495 12.7003 25.4975C12.7003 23.2655 11.3443 21.3335 7.98425 21.3335C7.43225 21.3335 5.94425 21.3695 5.50025 21.3695H5.33225V29.7695ZM7.96025 23.1335C9.52025 23.1335 10.6603 23.9495 10.6603 25.4975C10.6603 27.0935 9.60425 27.9935 7.94825 27.9935C7.67225 27.9935 7.50425 27.9935 7.25225 27.9695V23.1695C7.49225 23.1335 7.75625 23.1335 7.96025 23.1335ZM13.6619 25.5695C13.6619 28.2455 15.5699 29.9135 18.1259 29.9135C20.6819 29.9135 22.5899 28.1135 22.5899 25.5695C22.5899 22.8935 20.6819 21.2255 18.1259 21.2255C15.4499 21.2255 13.6619 23.1335 13.6619 25.5695ZM15.7019 25.5695C15.7019 24.0335 16.7339 23.0255 18.1259 23.0255C19.4819 23.0255 20.5499 24.0335 20.5499 25.5695C20.5499 26.9855 19.7219 28.1135 18.1259 28.1135C16.7819 28.1135 15.7019 27.0095 15.7019 25.5695ZM29.9606 27.5015C29.3966 27.9215 28.7366 28.1135 28.1366 28.1135C26.6246 28.1135 25.5926 27.0575 25.5926 25.5695C25.5926 23.9135 26.6486 23.0255 27.9446 23.0255C28.7366 23.0255 29.2046 23.2655 29.6606 23.5415L30.5126 22.1015C30.0086 21.6095 29.0606 21.2255 27.9446 21.2255C25.0526 21.2255 23.5526 23.1575 23.5526 25.5695C23.5526 28.1855 25.3526 29.9135 27.9566 29.9135C29.0966 29.9135 30.1886 29.5055 30.6926 28.9415L29.9606 27.5015Z" fill="#00AAE7"/>
										<path d="M36.0263 12.6866V38.6601C36.0282 38.9226 35.9783 39.183 35.8794 39.4262C35.7806 39.6694 35.6349 39.8908 35.4504 40.0778C35.266 40.2647 35.0466 40.4135 34.8046 40.5156C34.5627 40.6178 34.303 40.6713 34.0403 40.6732H2.01236C1.48599 40.6732 0.981148 40.4643 0.608759 40.0925C0.23637 39.7206 0.0268973 39.2162 0.0263672 38.6901V2.67543C0.0263672 1.60195 0.924366 0.692383 2.03036 0.692383H24.0203L36.0263 12.6866ZM32.0263 14.6857H22.0263V4.69046H4.02636V36.6751H32.0263V14.6857Z" fill="#00AAE7"/>
									</svg>
									Планировка
									<svg class="second-icon" width="27" height="30" viewBox="0 0 27 30" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M14.6837 15.2472H18.9953L13.2465 20.996L7.4976 15.2472H11.8092V9.49829H14.6837V15.2472ZM17.5581 3.74943H3.18595V26.7449H23.307V9.49829H17.5581V3.74943ZM0.311523 2.30072C0.311523 1.51312 0.953959 0.875 1.7473 0.875H18.9953L26.1814 8.06108V28.172C26.1827 28.3608 26.1469 28.5479 26.0759 28.7228C26.0049 28.8977 25.9001 29.0569 25.7676 29.1913C25.6351 29.3256 25.4774 29.4326 25.3035 29.5061C25.1296 29.5795 24.943 29.618 24.7542 29.6193H1.73868C1.36123 29.6167 0.999975 29.4657 0.73294 29.1989C0.465906 28.9321 0.314534 28.571 0.311523 28.1936V2.30072Z" fill="#002C3E"/>
									</svg>
								</span>
								<span elem="chars-download-buttondate">Документ размещен: <strong>02.03.2020</strong></span>
							</a>
							<a download href="#" elem="chars-download-button">
								<span elem="chars-download-buttonrow">
									<svg width="37" height="41" viewBox="0 0 37 41" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M5.33225 29.7695H5.53625C6.34025 29.7695 7.44425 29.7935 7.88825 29.7935C11.0923 29.7935 12.7003 27.8495 12.7003 25.4975C12.7003 23.2655 11.3443 21.3335 7.98425 21.3335C7.43225 21.3335 5.94425 21.3695 5.50025 21.3695H5.33225V29.7695ZM7.96025 23.1335C9.52025 23.1335 10.6603 23.9495 10.6603 25.4975C10.6603 27.0935 9.60425 27.9935 7.94825 27.9935C7.67225 27.9935 7.50425 27.9935 7.25225 27.9695V23.1695C7.49225 23.1335 7.75625 23.1335 7.96025 23.1335ZM13.6619 25.5695C13.6619 28.2455 15.5699 29.9135 18.1259 29.9135C20.6819 29.9135 22.5899 28.1135 22.5899 25.5695C22.5899 22.8935 20.6819 21.2255 18.1259 21.2255C15.4499 21.2255 13.6619 23.1335 13.6619 25.5695ZM15.7019 25.5695C15.7019 24.0335 16.7339 23.0255 18.1259 23.0255C19.4819 23.0255 20.5499 24.0335 20.5499 25.5695C20.5499 26.9855 19.7219 28.1135 18.1259 28.1135C16.7819 28.1135 15.7019 27.0095 15.7019 25.5695ZM29.9606 27.5015C29.3966 27.9215 28.7366 28.1135 28.1366 28.1135C26.6246 28.1135 25.5926 27.0575 25.5926 25.5695C25.5926 23.9135 26.6486 23.0255 27.9446 23.0255C28.7366 23.0255 29.2046 23.2655 29.6606 23.5415L30.5126 22.1015C30.0086 21.6095 29.0606 21.2255 27.9446 21.2255C25.0526 21.2255 23.5526 23.1575 23.5526 25.5695C23.5526 28.1855 25.3526 29.9135 27.9566 29.9135C29.0966 29.9135 30.1886 29.5055 30.6926 28.9415L29.9606 27.5015Z" fill="#00AAE7"/>
										<path d="M36.0263 12.6866V38.6601C36.0282 38.9226 35.9783 39.183 35.8794 39.4262C35.7806 39.6694 35.6349 39.8908 35.4504 40.0778C35.266 40.2647 35.0466 40.4135 34.8046 40.5156C34.5627 40.6178 34.303 40.6713 34.0403 40.6732H2.01236C1.48599 40.6732 0.981148 40.4643 0.608759 40.0925C0.23637 39.7206 0.0268973 39.2162 0.0263672 38.6901V2.67543C0.0263672 1.60195 0.924366 0.692383 2.03036 0.692383H24.0203L36.0263 12.6866ZM32.0263 14.6857H22.0263V4.69046H4.02636V36.6751H32.0263V14.6857Z" fill="#00AAE7"/>
									</svg>
									Брошюра
									<svg class="second-icon" width="27" height="30" viewBox="0 0 27 30" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M14.6837 15.2472H18.9953L13.2465 20.996L7.4976 15.2472H11.8092V9.49829H14.6837V15.2472ZM17.5581 3.74943H3.18595V26.7449H23.307V9.49829H17.5581V3.74943ZM0.311523 2.30072C0.311523 1.51312 0.953959 0.875 1.7473 0.875H18.9953L26.1814 8.06108V28.172C26.1827 28.3608 26.1469 28.5479 26.0759 28.7228C26.0049 28.8977 25.9001 29.0569 25.7676 29.1913C25.6351 29.3256 25.4774 29.4326 25.3035 29.5061C25.1296 29.5795 24.943 29.618 24.7542 29.6193H1.73868C1.36123 29.6167 0.999975 29.4657 0.73294 29.1989C0.465906 28.9321 0.314534 28.571 0.311523 28.1936V2.30072Z" fill="#002C3E"/>
									</svg>
								</span>
								<span elem="chars-download-buttondate">Документ размещен: <strong>02.03.2020</strong></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- b:c-lot -->