<div block="b-stories">
	<div elem="container" class="container">
		<div elem="inner">
			<div elem="header" class="">
				<div elem="title" class="h1">Stories об объекте и окружении</div>
				<div elem="text">Совсем рядом раскинулся ландшафтный заказник «Тропарево» и Очаковские пруды. Здесь приятно проводить время и есть все, что нужно для счастливой жизни.</div>
			</div>	
			<div elem="swiper" class="swiper">
				<div elem="swiper-wrapper" class="swiper-wrapper">
					<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie1.jpg);">
						<div elem="header">
							<div elem="label" class="red">
								citi mix
							</div>
							<a href="#" elem="favorite" class="is-active">
								<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
								</svg> 
							</a>
						</div>	
						<div elem="play">
							<svg width="18" height="20" viewBox="0 0 18 20"  xmlns="http://www.w3.org/2000/svg">
							<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z"></path>
							</svg>
						</div>
						<div elem="title">
							Активности с детьми
						</div>
					</div>
					<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie2.jpg);">
						<div elem="header">
							<div elem="label" class="green">
								citi mix
							</div>
							<a href="#" elem="favorite">
								<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
								</svg> 
							</a>
						</div>	
						<div elem="play">
							<svg width="18" height="20" viewBox="0 0 18 20"  xmlns="http://www.w3.org/2000/svg">
							<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z"></path>
							</svg>
						</div>
						<div elem="title">
							Парк Тропарёво
						</div>
					</div>
					<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie3.jpg);">
						<div elem="header">
							<div elem="label" class="green">
								citi mix
							</div>
							<a href="#" elem="favorite">
								<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
								</svg> 
							</a>
						</div>	
						<div elem="play">
							<svg width="18" height="20" viewBox="0 0 18 20"  xmlns="http://www.w3.org/2000/svg">
							<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z"></path>
							</svg>
						</div>
						<div elem="title">
							Пикник на природе
						</div>
					</div>
					<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie4.jpg);">
						<div elem="header">
							<div elem="label" class="green">
								citi mix
							</div>
							<a href="#" elem="favorite">
								<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
								</svg> 
							</a>
						</div>	
						<div elem="play">
							<svg width="18" height="20" viewBox="0 0 18 20"  xmlns="http://www.w3.org/2000/svg">
							<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z"></path>
							</svg>
						</div>
						<div elem="title">
							Очаковские пруды
						</div>
					</div>
					<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie5.jpg);">
						<div elem="header">
							<div elem="label" class="red">
								citi mix
							</div>
							<a href="#" elem="favorite">
								<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
								</svg> 
							</a>
						</div>	
						<div elem="play">
							<svg width="18" height="20" viewBox="0 0 18 20"  xmlns="http://www.w3.org/2000/svg">
							<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z"></path>
							</svg>
						</div>
						<div elem="title">
							Активности с детьми
						</div>
					</div>

					<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie1.jpg);">
						<div elem="header">
							<div elem="label" class="red">
								citi mix
							</div>
							<a href="#" elem="favorite">
								<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
								</svg> 
							</a>
						</div>	
						<div elem="play">
							<svg width="18" height="20" viewBox="0 0 18 20"  xmlns="http://www.w3.org/2000/svg">
							<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z"></path>
							</svg>
						</div>
						<div elem="title">
							Активности с детьми
						</div>
					</div>
					<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie2.jpg);">
						<div elem="header">
							<div elem="label" class="green">
								citi mix
							</div>
							<a href="#" elem="favorite">
								<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
								</svg> 
							</a>
						</div>	
						<div elem="play">
							<svg width="18" height="20" viewBox="0 0 18 20"  xmlns="http://www.w3.org/2000/svg">
							<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z"></path>
							</svg>
						</div>
						<div elem="title">
							Парк Тропарёво
						</div>
					</div>
					<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie3.jpg);">
						<div elem="header">
							<div elem="label" class="green">
								citi mix
							</div>
							<a href="#" elem="favorite">
								<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
								</svg> 
							</a>
						</div>	
						<div elem="play">
							<svg width="18" height="20" viewBox="0 0 18 20"  xmlns="http://www.w3.org/2000/svg">
							<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z"></path>
							</svg>
						</div>
						<div elem="title">
							Пикник на природе
						</div>
					</div>
					<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie4.jpg);">
						<div elem="header">
							<div elem="label" class="green">
								citi mix
							</div>
							<a href="#" elem="favorite">
								<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
								</svg> 
							</a>
						</div>	
						<div elem="play">
							<svg width="18" height="20" viewBox="0 0 18 20"  xmlns="http://www.w3.org/2000/svg">
							<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z"></path>
							</svg>
						</div>
						<div elem="title">
							Очаковские пруды
						</div>
					</div>
					<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie5.jpg);">
						<div elem="header">
							<div elem="label" class="red">
								citi mix
							</div>
							<a href="#" elem="favorite">
								<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
								</svg> 
							</a>
						</div>	
						<div elem="play">
							<svg width="18" height="20" viewBox="0 0 18 20"  xmlns="http://www.w3.org/2000/svg">
							<path d="M16.1444 8.28535C17.4383 9.06229 17.4383 10.9377 16.1444 11.7147L3.27955 19.4393C1.94652 20.2397 0.250001 19.2795 0.250001 17.7246L0.250002 2.2754C0.250002 0.720515 1.94652 -0.239669 3.27955 0.560746L16.1444 8.28535Z"></path>
							</svg>
						</div>
						<div elem="title">
							Активности с детьми
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- b-stories -->

<div class="remodal" data-remodal-id="extendedStories" data-remodal-options="hashTracking: false, closeOnOutsideClick: true">
    <div data-remodal-action="close" class="remodal-close">{{ _icon('close') }}</div>
    <div class="remodal-content">
		<div class="swiper">
			<div class="swiper-wrapper">

				<div block="b-storie" class="swiper-slide">
					<div elem="fake-video-length"><div elem="fake-video-block"></div></div>
					<video autoplay crossorigin playsinline data-poster="img/storie1.jpg"><source src="video/video1.mp4" type="video/mp4"></video>
					<div elem="header">
						<div elem="label" class="red">
							citi mix
						</div>
						<a href="#" elem="favorite">
							<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
							</svg> 
						</a>
					</div>	
					
					<div elem="title">
						Активности с детьми
					</div>
				</div>

				<div block="b-storie" class="swiper-slide">
					<div elem="fake-video-length"><div elem="fake-video-block"></div></div>
					<video crossorigin playsinline data-poster="img/storie2.jpg"><source src="video/video2.mp4" type="video/mp4"></video>
					<div elem="header">
						<div elem="label" class="red">
							citi mix
						</div>
						<a href="#" elem="favorite">
							<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
							</svg> 
						</a>
					</div>	
					
					<div elem="title">
						Активности с детьми
					</div>
				</div>

				<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie3.jpg);">
					<div elem="fake-video-length"><div elem="fake-video-block"></div></div>
					<video crossorigin playsinline data-poster="img/storie2.jpg"><source src="video/video2.mp4" type="video/mp4"></video>
					<div elem="header">
						<div elem="label" class="green">
							citi mix
						</div>
						<a href="#" elem="favorite">
							<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
							</svg> 
						</a>
					</div>	
					
					<div elem="title">
						Пикник на природе
					</div>
				</div>
				<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie4.jpg);">
					<div elem="fake-video-length"><div elem="fake-video-block"></div></div>
					<video crossorigin playsinline data-poster="img/storie2.jpg"><source src="video/video1.mp4" type="video/mp4"></video>
					<div elem="header">
						<div elem="label" class="green">
							citi mix
						</div>
						<a href="#" elem="favorite">
							<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
							</svg> 
						</a>
					</div>	
					
					<div elem="title">
						Очаковские пруды
					</div>
				</div>
				<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie5.jpg);">
					<div elem="fake-video-length"><div elem="fake-video-block"></div></div>
					<video crossorigin playsinline data-poster="img/storie2.jpg"><source src="video/video2.mp4" type="video/mp4"></video>
					<div elem="header">
						<div elem="label" class="red">
							citi mix
						</div>
						<a href="#" elem="favorite">
							<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
							</svg> 
						</a>
					</div>	
					
					<div elem="title">
						Активности с детьми
					</div>
				</div>

				<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie1.jpg);">
					<div elem="fake-video-length"><div elem="fake-video-block"></div></div>
					<video crossorigin playsinline data-poster="img/storie2.jpg"><source src="video/video1.mp4" type="video/mp4"></video>
					<div elem="header">
						<div elem="label" class="red">
							citi mix
						</div>
						<a href="#" elem="favorite">
							<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
							</svg> 
						</a>
					</div>	
					
					<div elem="title">
						Активности с детьми
					</div>
				</div>
				<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie2.jpg);">
					<div elem="fake-video-length"><div elem="fake-video-block"></div></div>
					<video crossorigin playsinline data-poster="img/storie2.jpg"><source src="video/video2.mp4" type="video/mp4"></video>
					<div elem="header">
						<div elem="label" class="green">
							citi mix
						</div>
						<a href="#" elem="favorite">
							<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
							</svg> 
						</a>
					</div>	
					
					<div elem="title">
						Парк Тропарёво
					</div>
				</div>
				<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie3.jpg);">
					<div elem="fake-video-length"><div elem="fake-video-block"></div></div>
					<video crossorigin playsinline data-poster="img/storie2.jpg"><source src="video/video1.mp4" type="video/mp4"></video>
					<div elem="header">
						<div elem="label" class="green">
							citi mix
						</div>
						<a href="#" elem="favorite">
							<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
							</svg> 
						</a>
					</div>	
					
					<div elem="title">
						Пикник на природе
					</div>
				</div>
				<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie4.jpg);">
					<div elem="fake-video-length"><div elem="fake-video-block"></div></div>
					<video crossorigin playsinline data-poster="img/storie2.jpg"><source src="video/video2.mp4" type="video/mp4"></video>
					<div elem="header">
						<div elem="label" class="green">
							citi mix
						</div>
						<a href="#" elem="favorite">
							<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
							</svg> 
						</a>
					</div>	
					
					<div elem="title">
						Очаковские пруды
					</div>
				</div>
				<div block="b-storie" class="swiper-slide" style="background-image: url(img/storie5.jpg);">
					<div elem="fake-video-length"><div elem="fake-video-block"></div></div>
					<video crossorigin playsinline data-poster="img/storie2.jpg"><source src="video/video1.mp4" type="video/mp4"></video>
					<div elem="header">
						<div elem="label" class="red">
							citi mix
						</div>
						<a href="#" elem="favorite">
							<svg width="28" height="25" viewBox="0 0 28 25" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.845 0C24.0029 0 27.3724 3.34354 27.3724 8.0245C27.3724 17.3864 17.1078 22.7361 13.6862 24.7422C10.2647 22.7361 0 17.3864 0 8.0245C0 3.34354 3.42155 0 7.52742 0C10.0731 0 12.3176 1.33742 13.6862 2.67483C15.0548 1.33742 17.2994 0 19.845 0ZM14.9645 20.8691C16.1703 20.1255 17.2583 19.3859 18.2766 18.5941C22.3564 15.4244 24.6352 11.9605 24.6352 8.0245C24.6352 4.8682 22.5316 2.67483 19.845 2.67483C18.3724 2.67483 16.7793 3.43716 15.6214 4.56594L13.6862 6.45705L11.751 4.56594C10.5931 3.43716 9.00006 2.67483 7.52742 2.67483C4.87229 2.67483 2.73724 4.8896 2.73724 8.0245C2.73724 11.9619 5.01737 15.4244 9.09449 18.5941C10.1141 19.3859 11.2022 20.1255 12.4079 20.8677C12.8171 21.1205 13.2223 21.3626 13.6862 21.6327C14.1502 21.3626 14.5553 21.1205 14.9645 20.8691Z" />
							</svg> 
						</a>
					</div>	
					
					<div elem="title">
						Активности с детьми
					</div>
				</div>

			</div>
		</div>
    </div>
	<div class="swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg></div>
	<div class="swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg></div>
</div>

