.b-stories
	overflow hidden
	position relative 
	margin 130px 0 
	
	&__inner
		padding 0 148px
	
	&__swiper
		overflow initial
	
	&__header 
		display flex 
		flex-wrap wrap 
		align-items flex-end 
		margin-bottom 86px
	
	&__title 
		font-size: 64px;
		line-height: 100%;
		text-transform: uppercase;
		color: #002C3E;
		max-width 680px 
		margin-right 60px 
		font-family: 'Room', sans-serif;
		
	&__text 
		font-size: 20px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #002C3E;
		max-width 570px
	
	.b-storie
		width 290px
		height 450px

		

.b-storie
	position relative 
	border-radius: 40px;
	background-size cover 
	background-repeat no-repeat 
	background-position 50% 50%
	padding 25px 25px 30px 
	z-index 1 
	display flex 
	flex-direction column 
	justify-content space-between
	
	&:before 
		content ''
		display block 
		position absolute 
		left 0 
		top 0 
		right 0 
		bottom 0 
		z-index -1 
		border-radius inherit 
		background: linear-gradient(180deg, rgba(0, 44, 62, 0.57) -3.89%, rgba(0, 44, 62, 0) 20.44%);
		
	video
		object-fit cover
	
	&__header 
		display flex 
		align-items center 
		justify-content space-between
	
	&__title 
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.02em;
		color: #FFFFFF;
	
	&__favorite
		padding 0 10px 
		font-size 0 
		line-height 0
		
		svg 
			fill #FFFFFF
			width 21px 
			height 19px 
			transition .4s ease all
		
		&.is-active,
		&:hover
			svg
				fill #F15A22
	
	&__label 
		display flex 
		align-items center 
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.02em;
		color: #FFFFFF;

		
		&:before 
			content ''
			display block 
			margin-right 15px 
			width 10px 
			height 10px 
			border-radius 50% 
			
		&.red:before  
			background: #F15A22;
		
		&.green:before  
			background: #8DC63F;
	
	&__play 
		position: absolute;
		width: 75px;
		height: 75px;
		padding-left 6px
		left: 50%
		top: 50%
		background: rgba(255, 255, 255, 0.35);
		backdrop-filter: blur(4px);
		border-radius 50% 
		display flex 
		align-items center 
		justify-content center 
		transform translate(-50%, -50%)
		cursor pointer 
		
		svg 
			width 16px 
			height 19px 
			fill #fff
			transition .4s ease all
			
		&:hover 
			svg 
				transform scale(1.6)
				
	&__fake-video-length
		position absolute
		left 36px
		right 30px
		height 2px
		background rgba(255, 255, 255, 0.35)
		top 15px
		
		&.active
			.b-storie__fake-video-block
				animation widthlength 15s linear
				


	&__fake-video-block
		position absolute
		left 0
		right 0
		top 0
		bottom 0
		background #fff
		width 0%
		max-width 100%
		transition width ease-out 0.3s
		
	
	> .plyr 
		position absolute 
		left 0 
		top 0 
		right 0 
		bottom 0 
		border-radius inherit
		z-index -1
		
		&:hover 
			.plyr__control--overlaid 
				opacity 1
				visibility visible
		
		.plyr__controls__item
			display none
		
		.plyr__progress__container
			display block 
		
		.plyr__controls
			padding 0
			position absolute 
			left 30px 
			right 30px 
			top 5px
			bottom auto
		
		input[type=range]
			box-shadow none 
			background transparent
		
		.plyr__controls
			background transparent !important
		
	.plyr--full-ui input[type=range]::-webkit-slider-thumb
		background transparent
		box-shadow none 
	
	.plyr__control--overlaid
		width 75px 
		height 75px 
		background: rgba(255, 255, 255, 0.35);
		backdrop-filter: blur(4px);
		display flex  !important
		align-items center 
		justify-content center 
		opacity 0
		transition .4s ease all
		visibility hidden
		
		&.plyr__control--pressed 
			opacity 0  !important
			visibility hidden !important
			
		svg 
			transition .4s ease all
		
		&:hover 
			background: rgba(255, 255, 255, 0.35);
			backdrop-filter: blur(4px);
			svg 
				transform scale(1.6)
				
	.plyr__poster
		background-size cover
		
	.plyr__progress
		display none

				
[data-remodal-id="extendedStories"]
	text-align left
	padding 20px 80px
	background transparent 
	max-width 538px
	

	.remodal-close
		width 80px
		right -10px 
		height 80px 
		display flex 
		align-items center 
		justify-content center
		
		.svg-icon 
			width 43px 
			height 43px 
			fill #fff 
		
		&:before 
			content none 

	.b-storie
		width 378px
		height 586px
	
	.swiper 
		border-radius 40px 
		overflow hidden
		

@media all and (max-width: 1642px)
	.b-stories
		
		&__title
			margin-bottom 30px
			
@media all and (max-width: 1200px)
	.b-stories
		
		&__inner
			padding 0 50px
			
@media all and (max-width: 768px)
	.b-stories
		margin 70px 0
		
		&__inner
			padding 0 30px
			
		&__text
			font-size 16px
			
		&__title
			margin-right 0
			
		&__header
			margin-bottom 40px
			
@media all and (max-width: 480px)
	.b-stories
		margin 37px 0 0
		
		&__title
			margin-bottom 15px
		
		&__inner
			padding 0
			
		&__text
			font-size 12px
			line-height 14px
			
		&__header
			margin-bottom 30px
			
		.b-storie
			width 222px
			height 306px
			
	.b-storie
		border-radius 30px
		padding 15px 17px
		
		&__label
			font-size 12px
			
			&:before
				width 8px
				height 8px
				margin-right 11px
				
		&__favorite
			svg
				width 20px
				height 17px
				
		&__play
			width 49px
			height 49px
			
		&__title
			font-size 12px
			
	[data-remodal-id="extendedStories"] 
		padding 10px
		
		.swiper-button-next, .swiper-button-prev
			display none
			
		.remodal-close
			width 30px
			height 30px
			top 38px
			right 27px
			z-index 2
			
			.svg-icon
				width 18px
				height 18px
				
		.b-storie
			height 497px
			padding 30px 55px 35px 25px