.c-apartments
	
	&__topline
		background #fff
		padding 37px 0 80px
		
	&__links
		display flex
		align-items center
		justify-content space-between
		margin-top 37px
		
	&__link-item
		
		&--icon
			display flex
			align-items center
			
	&__link-item-icon
		flex 0 0 90px
		width 90px
		height 90px
		border-radius 50%
		background #00AAE7
		margin-right 34px
		font-size 0
		display flex
		justify-content center
		align-items center
		padding 5px
		
		svg
			width 42px
			height 42px
			fill #fff
			
			&.adaptive
				display none
		
	&__link
		font-family: rm;
		font-weight: 700;
		font-size: 48px;
		line-height: 100%;
		text-transform: uppercase;
		color: #002C3E;
		text-decoration-color #00AAE7
		
	&__middle
		background #fff
		
	&__bottom
		padding 66px 0 65px
		
	&__sort-link
		display inline-flex
		align-items center
		font-size: 12px;
		line-height: 18px;
		color: #0F496D;
		
		svg
			width 14px
			height 14px
			fill #0F496D
			margin-right 9px
			
	&__flats
		margin-top 4px
		
		.c-flat-row
			margin-bottom 25px
			
			&:last-child
				margin-bottom 0
				
		.c-grid__pagers
			margin 47px 0 0px
	
	&__flatsall
		margin-top 17px
		display none

	&__flatsall-button
		border: 1px solid #00AAE7;
		box-sizing: border-box;
		border-radius: 10px;
		max-width 300px
		height 36px
		display flex
		justify-content center
		align-items center
		font-family: Montserrat;
		font-weight: 700;
		font-size: 10px;
		line-height: 120%;
		color: #002C3E;
		width 100%
		margin-left auto
		margin-right auto
		
	&__content-layouts
		display flex
		margin-top 48px
		
	&__content-layout
		flex 0 0 50%
		
	&__content-layout-text
		font-size: 20px;
		line-height: 150%;
		letter-spacing: 0.02em;
		color: #002C3E;
		max-width 640px
		padding-right 20px
		
	&__content-layout-button
		margin-top 58px
		
		.default-button
			max-width 250px
				
	&--selectbypar
		.c-apartments
			
			&__bottom
				padding-top 20px
				padding-bottom 60px
				
		.c-mortgage__sort
			margin-left 0
			margin-right 0
				
	&--lot
		.c-apartments
			
			&__topline
				padding-bottom 62px
				
			&__bottom
				padding-top 80px
				
	&--mortgage
		.c-apartments
			
			&__topline
				padding-bottom 40px
		
@media all and (max-width: 1200px)
	.c-apartments
		
		&__link
			font-size 40px
			
		&__link-item-icon
			flex 0 0 70px
			width 70px
			height 70px
			
			svg
				width 33px
				height 33px
				
		&__content-layout-text
			font-size 18px
				
		&--lot 
			.c-apartments__bottom
				padding-top 20px
				
@media all and (max-width: 900px)
	.c-apartments
		
		&--selectbypar
			.c-mortgage__sort-row
				display block	
			
@media all and (max-width: 768px)
	.c-apartments
		
		&__site-path
			display none

		&__links
			margin-top 0
		
		&__link
			font-size 32px
			
		&__link-item-icon
			flex 0 0 50px
			width 50px
			height 50px
			margin-right 15px
			
			svg
				width 25px
				height 25px
				
		&__content-layouts
			display block
			margin-top 30px
			
		&__content-layout-button
			margin-top 30px
			
		&__content-layout-text
			padding-right 0
			max-width 100%
			
		&__content-layout-list
			margin-top 30px
				
		&--lot
			.c-apartments__topline
				padding-bottom 40px

@media all and (max-width: 640px)
	.c-apartments
		
		&__link
			font-size 24px
			
@media all and (max-width: 480px)
	.c-apartments
		
		&--selectbypar
			.c-apartments
				
				&__bottom
					padding 15px 0 15px
					
		&--lot
			.c-apartments
				
				&__topline
					border-radius 10px 10px 0 0
					padding-bottom 0
				
				&__bottom
					padding-top 0
					padding-bottom 10px
					
		&--mortgage
			.c-apartments
				
				&__topline
					border-radius 30px
					padding-bottom 15px
					
				&__link
					font-size 28px
					
				&__content-layouts
					margin-top 15px
					
				&__content-layout-list
					margin-top 10px
					
				&__content-layout-button
					margin-top 10px
					
		&--compare
			
			.c-apartments__bottom
				padding-bottom 0

		&__link-item
			font-size 16px
			line-height 16px
		
		&__link
			font-size 16px

		&__topline
			padding 16px 0 14px
			
		&__bottom
			padding 8px 0 30px
			
		&__bottom-inner
			
			&.container2
				padding-left 0
				padding-right 0
				
		&__link-item-icon
			flex 0 0 23px
			width 23px
			height 23px
			margin-right 12px
			
			svg
				width 10px
				height 10px
				display none
				
				&.adaptive
					display block
					
		&__sort-link-wrap
			padding 0 10px
			
		&__flats
			margin-top 12px
			
			.c-flat-row
				margin-bottom 10px
				
			.c-grid__pagers
				margin-top 17px
				
		&__flatsall
			display block
			
		&__content-layout-text
			font-size: 12px;
			line-height: 18px;
			
		&__content-layout-button
			.default-button
				max-width 100%
				height 36px
				padding 0
				font-size 10px