<div block="c-apartments" mods="{{apartmentsMods}}">
	<div elem="inner">
		<div elem="topline">
			<div elem="topline-inner" class="container2">
				<div elem="site-path">
					<div block="c-site-path">
						<div elem="inner">
							<a elem="item" href="#" mods="first">
								Главная
							</a>
							<span elem="separator">
								•
							</span>
							Избранное
						</div>
					</div><!-- b:l-site-path -->
				</div>
				<div elem="links">
					<div elem="link-item">
						<span elem="link" class="active">
							Избранное
						</span>
					</div>
					<div elem="link-item">
						<a href="#" elem="link">
							Сравнение
						</a>
					</div>
				</div>
			</div>
		</div>
		<div elem="bottom">
			<div elem="bottom-inner" class="container2">
				{% include 'grid.html' %}
			</div>
		</div>
	</div>
</div><!-- b:c-apartments -->