= yaml =
pageTitle: Расположение
bodyClasses: 
main: false
investorsMods: 
callbackMods: 
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}

{% block main %}

	{% include 'about.html' %}
	<div class="c-main-banner-row c-main-banner-row--about container">
		<div class="c-main-banner-row__item">
			<div block="c-main-banner" mods="about">
				<div elem="inner">
					<div elem="img" data-section-bg="img/banner3.png">
						<img src="img/banner3.png" alt="">
					</div>
					<div elem="content">
						<div elem="logo">
							<img src="img/logo-min.svg" alt="">
						</div>
						<div elem="title">
							<span elem="title-green">ЗелЁный район</span> с чистым воздухом
						</div>
						<div elem="text">
							Перевести дух от суеты, собрать мысли в порядок, отдохнуть на свежем воздухе — для этого больше никуда не нужно идти. Ведь рядом уединенный Тропаревский парк и пруд на Очаковке, который в жаркие дни превращается в настоящий пляж.
						</div>
					</div>
				</div>
			</div><!-- b:c-main-banner -->
		</div>
		<div class="c-main-banner-row__item c-main-banner-row__item--img" data-section-bg="img/banner4.png">
			<img src="img/banner4.png" alt="">
		</div>
	</div>
	<div block="c-main-banner" mods="right about-right">
		<div elem="inner" class="container">
			<div elem="img" data-section-bg="img/banner5.png">
				<img src="img/banner5.png" alt="">
			</div>
			<div elem="content">
				<div elem="logo">
					<img src="img/logo-min.svg" alt="">
				</div>
				<div elem="title">
					<span>образование </span> <br/>для нового поколения
				</div>
				<div elem="text">
					Вокруг ЖК находится сразу несколько высших учебных заведений — МГИМО, РАНХиГС, РУДН и другие. Если в вашей семье растут будущие студенты, вы легко найдете образовательный проект по вкусу.
				</div>
			</div>
		</div>
	</div><!-- b:c-main-banner -->


	<div block="c-map">
		<div elem="links">
			<div elem="links-inner" class="container" mods="threelinks">
				<a href="#" elem="link" class="active" data-role="location">
					Расположение
				</a>
				<a href="#" elem="link" data-role="surround">
					Окружение
				</a>
				<a href="#" elem="link" data-role="education">
					образование
				</a>
			</div>
		</div>
		<div elem="block-wrap" class="container">
			<div elem="block-popup">
				<div elem="block-popup-scroll">
					<div elem="block-popup-items" class="active" data-role="location" mods="adaptive-row">
						<div elem="block-popup-item" data-icon="img/metro2.png" mods="adaptive-row">
							<div elem="block-popup-item-wrap">
								<div elem="block-popup-icon" mods="metro metro-orange">
									<svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="21" cy="21" r="21" />
									<path d="M13.0813 27.6316H15.7873V16.5656L20.6933 23.3416H21.0893L25.9513 16.4996V27.6316H28.6353V12.2316H26.0833L21.0673 19.4256L15.8093 12.2316H13.0813V27.6316Z" fill="white"/>
									</svg>

								</div>
								<div elem="block-popup-title">
									Юго-Западная
								</div>
							</div>
							<div elem="block-popup-row">
								<div elem="block-popup-row-icon" mods="orange">
									<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M13.5162 15.0778H4.97742V15.9316C4.97742 16.1581 4.88746 16.3753 4.72732 16.5354C4.56719 16.6956 4.35 16.7855 4.12354 16.7855H2.41577C2.18931 16.7855 1.97212 16.6956 1.81199 16.5354C1.65185 16.3753 1.56189 16.1581 1.56189 15.9316V8.24671H0.708008V4.83118H1.56189V2.26953C1.56189 1.8166 1.74181 1.38223 2.06208 1.06196C2.38235 0.741692 2.81673 0.561768 3.26965 0.561768H15.224C15.6769 0.561768 16.1113 0.741692 16.4316 1.06196C16.7518 1.38223 16.9318 1.8166 16.9318 2.26953V4.83118H17.7857V8.24671H16.9318V15.9316C16.9318 16.1581 16.8418 16.3753 16.6817 16.5354C16.5215 16.6956 16.3044 16.7855 16.0779 16.7855H14.3701C14.1437 16.7855 13.9265 16.6956 13.7663 16.5354C13.6062 16.3753 13.5162 16.1581 13.5162 15.9316V15.0778ZM3.26965 2.26953V7.39283H15.224V2.26953H3.26965ZM15.224 9.10059H3.26965V13.37H15.224V9.10059ZM5.40436 12.5161C5.06466 12.5161 4.73888 12.3812 4.49868 12.141C4.25848 11.9008 4.12354 11.575 4.12354 11.2353C4.12354 10.8956 4.25848 10.5698 4.49868 10.3296C4.73888 10.0894 5.06466 9.95447 5.40436 9.95447C5.74406 9.95447 6.06984 10.0894 6.31004 10.3296C6.55024 10.5698 6.68518 10.8956 6.68518 11.2353C6.68518 11.575 6.55024 11.9008 6.31004 12.141C6.06984 12.3812 5.74406 12.5161 5.40436 12.5161ZM13.0893 12.5161C12.7496 12.5161 12.4238 12.3812 12.1836 12.141C11.9434 11.9008 11.8085 11.575 11.8085 11.2353C11.8085 10.8956 11.9434 10.5698 12.1836 10.3296C12.4238 10.0894 12.7496 9.95447 13.0893 9.95447C13.429 9.95447 13.7548 10.0894 13.995 10.3296C14.2352 10.5698 14.3701 10.8956 14.3701 11.2353C14.3701 11.575 14.2352 11.9008 13.995 12.141C13.7548 12.3812 13.429 12.5161 13.0893 12.5161Z" />
									</svg>
								</div>
								<div elem="block-popup-row-title">
									15 минут
								</div>
							</div>
							<div elem="block-popup-row">
								<div elem="block-popup-row-icon" mods="orange">
									<svg width="13" height="19" viewBox="0 0 13 19" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M2.50393 6.43896L5.24062 4.45112C5.54783 4.2263 5.9215 4.11086 6.30199 4.12323C6.76608 4.1348 7.21504 4.29068 7.58644 4.5692C7.95785 4.84772 8.23325 5.23503 8.37437 5.6773C8.53319 6.17511 8.67835 6.51154 8.80985 6.68659C9.20717 7.21668 9.72257 7.64687 10.3152 7.94301C10.9077 8.23916 11.5612 8.39311 12.2237 8.39264V10.1004C11.3419 10.1014 10.4708 9.90681 9.67321 9.53075C8.87561 9.15469 8.17131 8.60648 7.611 7.92557L7.01584 11.3027L8.77569 12.7799L10.6739 17.9954L9.06857 18.5795L7.32665 13.7943L4.43199 11.365C4.19444 11.1732 4.01266 10.9212 3.90559 10.6352C3.79851 10.3493 3.77005 10.0399 3.82317 9.73921L4.2578 7.27577L3.67972 7.69588L1.86352 10.196L0.481934 9.19188L2.48941 6.42871L2.50393 6.43896ZM7.52732 3.69629C7.07439 3.69629 6.64001 3.51637 6.31974 3.1961C5.99948 2.87583 5.81955 2.44145 5.81955 1.98853C5.81955 1.5356 5.99948 1.10122 6.31974 0.780954C6.64001 0.460686 7.07439 0.280762 7.52732 0.280762C7.98024 0.280762 8.41462 0.460686 8.73489 0.780954C9.05515 1.10122 9.23508 1.5356 9.23508 1.98853C9.23508 2.44145 9.05515 2.87583 8.73489 3.1961C8.41462 3.51637 7.98024 3.69629 7.52732 3.69629ZM4.98958 14.9513L2.2452 18.2217L0.937053 17.1244L3.47821 14.0966L4.1152 12.2351L5.64451 13.5159L4.98958 14.9513Z"/>
									</svg>
								</div>
								<div elem="block-popup-row-title">
									5 минут
								</div>
							</div>
							<div elem="block-popup-points">
								<div elem="block-popup-point" data-coords="55.662408,37.480930"></div>
							</div>
						</div>
						<div elem="block-popup-item" data-icon="img/metro1.png" mods="adaptive-row">
							<div elem="block-popup-item-wrap">
								<div elem="block-popup-icon" mods="metro metro-yel">
									<svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="21" cy="21" r="21" />
										<path d="M13.0813 27.6316H15.7873V16.5656L20.6933 23.3416H21.0893L25.9513 16.4996V27.6316H28.6353V12.2316H26.0833L21.0673 19.4256L15.8093 12.2316H13.0813V27.6316Z" fill="white"/>
									</svg>
								</div>
								<div elem="block-popup-title">
									Озёрная
								</div>
							</div>
							<div elem="block-popup-row">
								<div elem="block-popup-row-icon" mods="yel">
									<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M13.5162 15.0778H4.97742V15.9316C4.97742 16.1581 4.88746 16.3753 4.72732 16.5354C4.56719 16.6956 4.35 16.7855 4.12354 16.7855H2.41577C2.18931 16.7855 1.97212 16.6956 1.81199 16.5354C1.65185 16.3753 1.56189 16.1581 1.56189 15.9316V8.24671H0.708008V4.83118H1.56189V2.26953C1.56189 1.8166 1.74181 1.38223 2.06208 1.06196C2.38235 0.741692 2.81673 0.561768 3.26965 0.561768H15.224C15.6769 0.561768 16.1113 0.741692 16.4316 1.06196C16.7518 1.38223 16.9318 1.8166 16.9318 2.26953V4.83118H17.7857V8.24671H16.9318V15.9316C16.9318 16.1581 16.8418 16.3753 16.6817 16.5354C16.5215 16.6956 16.3044 16.7855 16.0779 16.7855H14.3701C14.1437 16.7855 13.9265 16.6956 13.7663 16.5354C13.6062 16.3753 13.5162 16.1581 13.5162 15.9316V15.0778ZM3.26965 2.26953V7.39283H15.224V2.26953H3.26965ZM15.224 9.10059H3.26965V13.37H15.224V9.10059ZM5.40436 12.5161C5.06466 12.5161 4.73888 12.3812 4.49868 12.141C4.25848 11.9008 4.12354 11.575 4.12354 11.2353C4.12354 10.8956 4.25848 10.5698 4.49868 10.3296C4.73888 10.0894 5.06466 9.95447 5.40436 9.95447C5.74406 9.95447 6.06984 10.0894 6.31004 10.3296C6.55024 10.5698 6.68518 10.8956 6.68518 11.2353C6.68518 11.575 6.55024 11.9008 6.31004 12.141C6.06984 12.3812 5.74406 12.5161 5.40436 12.5161ZM13.0893 12.5161C12.7496 12.5161 12.4238 12.3812 12.1836 12.141C11.9434 11.9008 11.8085 11.575 11.8085 11.2353C11.8085 10.8956 11.9434 10.5698 12.1836 10.3296C12.4238 10.0894 12.7496 9.95447 13.0893 9.95447C13.429 9.95447 13.7548 10.0894 13.995 10.3296C14.2352 10.5698 14.3701 10.8956 14.3701 11.2353C14.3701 11.575 14.2352 11.9008 13.995 12.141C13.7548 12.3812 13.429 12.5161 13.0893 12.5161Z" />
									</svg>
								</div>
								<div elem="block-popup-row-title">
									15 минут
								</div>
							</div>
							<div elem="block-popup-row">
								<div elem="block-popup-row-icon" mods="yel">
									<svg width="13" height="19" viewBox="0 0 13 19" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M2.50393 6.43896L5.24062 4.45112C5.54783 4.2263 5.9215 4.11086 6.30199 4.12323C6.76608 4.1348 7.21504 4.29068 7.58644 4.5692C7.95785 4.84772 8.23325 5.23503 8.37437 5.6773C8.53319 6.17511 8.67835 6.51154 8.80985 6.68659C9.20717 7.21668 9.72257 7.64687 10.3152 7.94301C10.9077 8.23916 11.5612 8.39311 12.2237 8.39264V10.1004C11.3419 10.1014 10.4708 9.90681 9.67321 9.53075C8.87561 9.15469 8.17131 8.60648 7.611 7.92557L7.01584 11.3027L8.77569 12.7799L10.6739 17.9954L9.06857 18.5795L7.32665 13.7943L4.43199 11.365C4.19444 11.1732 4.01266 10.9212 3.90559 10.6352C3.79851 10.3493 3.77005 10.0399 3.82317 9.73921L4.2578 7.27577L3.67972 7.69588L1.86352 10.196L0.481934 9.19188L2.48941 6.42871L2.50393 6.43896ZM7.52732 3.69629C7.07439 3.69629 6.64001 3.51637 6.31974 3.1961C5.99948 2.87583 5.81955 2.44145 5.81955 1.98853C5.81955 1.5356 5.99948 1.10122 6.31974 0.780954C6.64001 0.460686 7.07439 0.280762 7.52732 0.280762C7.98024 0.280762 8.41462 0.460686 8.73489 0.780954C9.05515 1.10122 9.23508 1.5356 9.23508 1.98853C9.23508 2.44145 9.05515 2.87583 8.73489 3.1961C8.41462 3.51637 7.98024 3.69629 7.52732 3.69629ZM4.98958 14.9513L2.2452 18.2217L0.937053 17.1244L3.47821 14.0966L4.1152 12.2351L5.64451 13.5159L4.98958 14.9513Z" />
									</svg>
								</div>
								<div elem="block-popup-row-title">
									5 минут
								</div>
							</div>
							<div elem="block-popup-points">
								<div elem="block-popup-point" data-coords="55.667688,37.455897"></div>
							</div>
						</div>
					</div>
					<div elem="block-popup-items" data-role="surround">
						<div elem="block-popup-item" data-icon="img/map-icon6.png">
							<div elem="block-popup-item-wrap">
								<div elem="block-popup-icon" mods="green">
									<img src="img/map-icon-tree.png" alt="">
								</div>
								<div elem="block-popup-title">
									Парк
								</div>
							</div>
							<div elem="block-popup-points">
								<div elem="block-popup-point" data-coords="55.661184,37.475741"></div>
								<div elem="block-popup-point" data-coords="55.662230,37.476952"></div>
								<div elem="block-popup-point" data-coords="55.660930,37.469381"></div>
							</div>
						</div>
						<div elem="block-popup-item" data-icon="img/map-icon7.png">
							<div elem="block-popup-item-wrap">
								<div elem="block-popup-icon" mods="orange">
									<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M5.04199 19.2501C4.50029 19.2501 3.96389 19.1434 3.46342 18.9361C2.96296 18.7288 2.50822 18.4249 2.12518 18.0419C1.74214 17.6589 1.43829 17.2041 1.23099 16.7037C1.02369 16.2032 0.916992 15.6668 0.916992 15.1251C0.916992 14.5834 1.02369 14.047 1.23099 13.5465C1.43829 13.046 1.74214 12.5913 2.12518 12.2083C2.50822 11.8252 2.96296 11.5214 3.46342 11.3141C3.96389 11.1068 4.50029 11.0001 5.04199 11.0001C6.13601 11.0001 7.18522 11.4347 7.95881 12.2083C8.7324 12.9819 9.16699 14.0311 9.16699 15.1251C9.16699 16.2191 8.7324 17.2683 7.95881 18.0419C7.18522 18.8155 6.13601 19.2501 5.04199 19.2501ZM5.04199 17.4167C5.64978 17.4167 6.23267 17.1753 6.66245 16.7455C7.09222 16.3158 7.33366 15.7329 7.33366 15.1251C7.33366 14.5173 7.09222 13.9344 6.66245 13.5046C6.23267 13.0749 5.64978 12.8334 5.04199 12.8334C4.4342 12.8334 3.85131 13.0749 3.42154 13.5046C2.99177 13.9344 2.75033 14.5173 2.75033 15.1251C2.75033 15.7329 2.99177 16.3158 3.42154 16.7455C3.85131 17.1753 4.4342 17.4167 5.04199 17.4167ZM16.9587 19.2501C16.417 19.2501 15.8806 19.1434 15.3801 18.9361C14.8796 18.7288 14.4249 18.4249 14.0418 18.0419C13.6588 17.6589 13.355 17.2041 13.1477 16.7037C12.9404 16.2032 12.8337 15.6668 12.8337 15.1251C12.8337 14.5834 12.9404 14.047 13.1477 13.5465C13.355 13.046 13.6588 12.5913 14.0418 12.2083C14.4249 11.8252 14.8796 11.5214 15.3801 11.3141C15.8806 11.1068 16.417 11.0001 16.9587 11.0001C18.0527 11.0001 19.1019 11.4347 19.8755 12.2083C20.6491 12.9819 21.0837 14.0311 21.0837 15.1251C21.0837 16.2191 20.6491 17.2683 19.8755 18.0419C19.1019 18.8155 18.0527 19.2501 16.9587 19.2501ZM16.9587 17.4167C17.5664 17.4167 18.1493 17.1753 18.5791 16.7455C19.0089 16.3158 19.2503 15.7329 19.2503 15.1251C19.2503 14.5173 19.0089 13.9344 18.5791 13.5046C18.1493 13.0749 17.5664 12.8334 16.9587 12.8334C16.3509 12.8334 15.768 13.0749 15.3382 13.5046C14.9084 13.9344 14.667 14.5173 14.667 15.1251C14.667 15.7329 14.9084 16.3158 15.3382 16.7455C15.768 17.1753 16.3509 17.4167 16.9587 17.4167ZM10.1047 9.44633L11.917 11.0001V16.5001H10.0837V11.9167L7.59124 9.83958C7.36945 9.68716 7.18393 9.48778 7.04786 9.2556C6.91179 9.02341 6.8285 8.76411 6.80392 8.49612C6.77933 8.22813 6.81405 7.95801 6.9056 7.70494C6.99715 7.45187 7.1433 7.22206 7.33366 7.03183L9.92599 4.4395C10.0962 4.26918 10.2984 4.13407 10.5209 4.04189C10.7433 3.94971 10.9818 3.90226 11.2226 3.90226C11.4634 3.90226 11.7019 3.94971 11.9244 4.04189C12.1469 4.13407 12.349 4.26918 12.5192 4.4395L13.8154 5.73566C14.7862 6.70992 16.0455 7.34486 17.406 7.54608L17.3968 9.39316C15.5508 9.18064 13.8314 8.34855 12.5192 7.03275L10.1047 9.44633ZM14.667 4.58341C14.1808 4.58341 13.7144 4.39026 13.3706 4.04644C13.0268 3.70263 12.8337 3.23631 12.8337 2.75008C12.8337 2.26385 13.0268 1.79754 13.3706 1.45372C13.7144 1.1099 14.1808 0.916748 14.667 0.916748C15.1532 0.916748 15.6195 1.1099 15.9634 1.45372C16.3072 1.79754 16.5003 2.26385 16.5003 2.75008C16.5003 3.23631 16.3072 3.70263 15.9634 4.04644C15.6195 4.39026 15.1532 4.58341 14.667 4.58341Z" fill="white"/>
									</svg>
								</div>
								<div elem="block-popup-title">
									Велодорожка
								</div>
							</div>
							<div elem="block-popup-points">
								<div elem="block-popup-point" data-coords="55.665643,37.473244"></div>
								<div elem="block-popup-point" data-coords="55.667043,37.468789"></div>
							</div>
						</div>
						<div elem="block-popup-item" data-icon="img/map-icon8.png">
							<div elem="block-popup-item-wrap">
								<div elem="block-popup-icon" mods="blue">
									<img src="img/map-icon12.png" alt="">
								</div>
								<div elem="block-popup-title">
									Достопримечательность
								</div>
							</div>
							<div elem="block-popup-points">
								<div elem="block-popup-point" data-coords="55.663235,37.471285"></div>
								<div elem="block-popup-point" data-coords="55.660005,37.470681"></div>
							</div>
						</div>
					</div>
					<div elem="block-popup-items" data-role="education" mods="adaptive-row">
						<div elem="block-popup-item" data-icon="img/map-icon9.png" mods="adaptive-row">
							<div elem="block-popup-item-wrap">
								<div elem="block-popup-icon" mods="orange">
									<img src="img/map-icon-edu.png" alt="">
								</div>
								<div elem="block-popup-title">
									МГИМО
								</div>
							</div>
							<div elem="block-popup-row">
								<div elem="block-popup-row-icon" mods="orange">
									<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M13.5162 15.0778H4.97742V15.9316C4.97742 16.1581 4.88746 16.3753 4.72732 16.5354C4.56719 16.6956 4.35 16.7855 4.12354 16.7855H2.41577C2.18931 16.7855 1.97212 16.6956 1.81199 16.5354C1.65185 16.3753 1.56189 16.1581 1.56189 15.9316V8.24671H0.708008V4.83118H1.56189V2.26953C1.56189 1.8166 1.74181 1.38223 2.06208 1.06196C2.38235 0.741692 2.81673 0.561768 3.26965 0.561768H15.224C15.6769 0.561768 16.1113 0.741692 16.4316 1.06196C16.7518 1.38223 16.9318 1.8166 16.9318 2.26953V4.83118H17.7857V8.24671H16.9318V15.9316C16.9318 16.1581 16.8418 16.3753 16.6817 16.5354C16.5215 16.6956 16.3044 16.7855 16.0779 16.7855H14.3701C14.1437 16.7855 13.9265 16.6956 13.7663 16.5354C13.6062 16.3753 13.5162 16.1581 13.5162 15.9316V15.0778ZM3.26965 2.26953V7.39283H15.224V2.26953H3.26965ZM15.224 9.10059H3.26965V13.37H15.224V9.10059ZM5.40436 12.5161C5.06466 12.5161 4.73888 12.3812 4.49868 12.141C4.25848 11.9008 4.12354 11.575 4.12354 11.2353C4.12354 10.8956 4.25848 10.5698 4.49868 10.3296C4.73888 10.0894 5.06466 9.95447 5.40436 9.95447C5.74406 9.95447 6.06984 10.0894 6.31004 10.3296C6.55024 10.5698 6.68518 10.8956 6.68518 11.2353C6.68518 11.575 6.55024 11.9008 6.31004 12.141C6.06984 12.3812 5.74406 12.5161 5.40436 12.5161ZM13.0893 12.5161C12.7496 12.5161 12.4238 12.3812 12.1836 12.141C11.9434 11.9008 11.8085 11.575 11.8085 11.2353C11.8085 10.8956 11.9434 10.5698 12.1836 10.3296C12.4238 10.0894 12.7496 9.95447 13.0893 9.95447C13.429 9.95447 13.7548 10.0894 13.995 10.3296C14.2352 10.5698 14.3701 10.8956 14.3701 11.2353C14.3701 11.575 14.2352 11.9008 13.995 12.141C13.7548 12.3812 13.429 12.5161 13.0893 12.5161Z" />
									</svg>
								</div>
								<div elem="block-popup-row-title">
									15 минут
								</div>
							</div>
							<div elem="block-popup-row">
								<div elem="block-popup-row-icon" mods="orange">
									<svg width="13" height="19" viewBox="0 0 13 19" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M2.50393 6.43896L5.24062 4.45112C5.54783 4.2263 5.9215 4.11086 6.30199 4.12323C6.76608 4.1348 7.21504 4.29068 7.58644 4.5692C7.95785 4.84772 8.23325 5.23503 8.37437 5.6773C8.53319 6.17511 8.67835 6.51154 8.80985 6.68659C9.20717 7.21668 9.72257 7.64687 10.3152 7.94301C10.9077 8.23916 11.5612 8.39311 12.2237 8.39264V10.1004C11.3419 10.1014 10.4708 9.90681 9.67321 9.53075C8.87561 9.15469 8.17131 8.60648 7.611 7.92557L7.01584 11.3027L8.77569 12.7799L10.6739 17.9954L9.06857 18.5795L7.32665 13.7943L4.43199 11.365C4.19444 11.1732 4.01266 10.9212 3.90559 10.6352C3.79851 10.3493 3.77005 10.0399 3.82317 9.73921L4.2578 7.27577L3.67972 7.69588L1.86352 10.196L0.481934 9.19188L2.48941 6.42871L2.50393 6.43896ZM7.52732 3.69629C7.07439 3.69629 6.64001 3.51637 6.31974 3.1961C5.99948 2.87583 5.81955 2.44145 5.81955 1.98853C5.81955 1.5356 5.99948 1.10122 6.31974 0.780954C6.64001 0.460686 7.07439 0.280762 7.52732 0.280762C7.98024 0.280762 8.41462 0.460686 8.73489 0.780954C9.05515 1.10122 9.23508 1.5356 9.23508 1.98853C9.23508 2.44145 9.05515 2.87583 8.73489 3.1961C8.41462 3.51637 7.98024 3.69629 7.52732 3.69629ZM4.98958 14.9513L2.2452 18.2217L0.937053 17.1244L3.47821 14.0966L4.1152 12.2351L5.64451 13.5159L4.98958 14.9513Z"/>
									</svg>
								</div>
								<div elem="block-popup-row-title">
									5 минут
								</div>
							</div>
							<div elem="block-popup-points">
								<div elem="block-popup-point" data-coords="55.662408,37.480930"></div>
							</div>
						</div>
						<div elem="block-popup-item" data-icon="img/map-icon10.png" mods="adaptive-row">
							<div elem="block-popup-item-wrap">
								<div elem="block-popup-icon" mods="green">
									<img src="img/map-icon-edu.png" alt="">
								</div>
								<div elem="block-popup-title">
									РАНХиГС
								</div>
							</div>
							<div elem="block-popup-row">
								<div elem="block-popup-row-icon" mods="green">
									<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M13.5162 15.0778H4.97742V15.9316C4.97742 16.1581 4.88746 16.3753 4.72732 16.5354C4.56719 16.6956 4.35 16.7855 4.12354 16.7855H2.41577C2.18931 16.7855 1.97212 16.6956 1.81199 16.5354C1.65185 16.3753 1.56189 16.1581 1.56189 15.9316V8.24671H0.708008V4.83118H1.56189V2.26953C1.56189 1.8166 1.74181 1.38223 2.06208 1.06196C2.38235 0.741692 2.81673 0.561768 3.26965 0.561768H15.224C15.6769 0.561768 16.1113 0.741692 16.4316 1.06196C16.7518 1.38223 16.9318 1.8166 16.9318 2.26953V4.83118H17.7857V8.24671H16.9318V15.9316C16.9318 16.1581 16.8418 16.3753 16.6817 16.5354C16.5215 16.6956 16.3044 16.7855 16.0779 16.7855H14.3701C14.1437 16.7855 13.9265 16.6956 13.7663 16.5354C13.6062 16.3753 13.5162 16.1581 13.5162 15.9316V15.0778ZM3.26965 2.26953V7.39283H15.224V2.26953H3.26965ZM15.224 9.10059H3.26965V13.37H15.224V9.10059ZM5.40436 12.5161C5.06466 12.5161 4.73888 12.3812 4.49868 12.141C4.25848 11.9008 4.12354 11.575 4.12354 11.2353C4.12354 10.8956 4.25848 10.5698 4.49868 10.3296C4.73888 10.0894 5.06466 9.95447 5.40436 9.95447C5.74406 9.95447 6.06984 10.0894 6.31004 10.3296C6.55024 10.5698 6.68518 10.8956 6.68518 11.2353C6.68518 11.575 6.55024 11.9008 6.31004 12.141C6.06984 12.3812 5.74406 12.5161 5.40436 12.5161ZM13.0893 12.5161C12.7496 12.5161 12.4238 12.3812 12.1836 12.141C11.9434 11.9008 11.8085 11.575 11.8085 11.2353C11.8085 10.8956 11.9434 10.5698 12.1836 10.3296C12.4238 10.0894 12.7496 9.95447 13.0893 9.95447C13.429 9.95447 13.7548 10.0894 13.995 10.3296C14.2352 10.5698 14.3701 10.8956 14.3701 11.2353C14.3701 11.575 14.2352 11.9008 13.995 12.141C13.7548 12.3812 13.429 12.5161 13.0893 12.5161Z" />
									</svg>
								</div>
								<div elem="block-popup-row-title">
									2 минут
								</div>
							</div>
							<div elem="block-popup-row">
								<div elem="block-popup-row-icon" mods="green">
									<svg width="13" height="19" viewBox="0 0 13 19" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M2.50393 6.43896L5.24062 4.45112C5.54783 4.2263 5.9215 4.11086 6.30199 4.12323C6.76608 4.1348 7.21504 4.29068 7.58644 4.5692C7.95785 4.84772 8.23325 5.23503 8.37437 5.6773C8.53319 6.17511 8.67835 6.51154 8.80985 6.68659C9.20717 7.21668 9.72257 7.64687 10.3152 7.94301C10.9077 8.23916 11.5612 8.39311 12.2237 8.39264V10.1004C11.3419 10.1014 10.4708 9.90681 9.67321 9.53075C8.87561 9.15469 8.17131 8.60648 7.611 7.92557L7.01584 11.3027L8.77569 12.7799L10.6739 17.9954L9.06857 18.5795L7.32665 13.7943L4.43199 11.365C4.19444 11.1732 4.01266 10.9212 3.90559 10.6352C3.79851 10.3493 3.77005 10.0399 3.82317 9.73921L4.2578 7.27577L3.67972 7.69588L1.86352 10.196L0.481934 9.19188L2.48941 6.42871L2.50393 6.43896ZM7.52732 3.69629C7.07439 3.69629 6.64001 3.51637 6.31974 3.1961C5.99948 2.87583 5.81955 2.44145 5.81955 1.98853C5.81955 1.5356 5.99948 1.10122 6.31974 0.780954C6.64001 0.460686 7.07439 0.280762 7.52732 0.280762C7.98024 0.280762 8.41462 0.460686 8.73489 0.780954C9.05515 1.10122 9.23508 1.5356 9.23508 1.98853C9.23508 2.44145 9.05515 2.87583 8.73489 3.1961C8.41462 3.51637 7.98024 3.69629 7.52732 3.69629ZM4.98958 14.9513L2.2452 18.2217L0.937053 17.1244L3.47821 14.0966L4.1152 12.2351L5.64451 13.5159L4.98958 14.9513Z" />
									</svg>
								</div>
								<div elem="block-popup-row-title">
									7 минут
								</div>
							</div>
							<div elem="block-popup-points">
								<div elem="block-popup-point" data-coords="55.667688,37.455897"></div>
							</div>
						</div>
						<div elem="block-popup-item" data-icon="img/map-icon11.png" mods="adaptive-row">
							<div elem="block-popup-item-wrap">
								<div elem="block-popup-icon" mods="blue">
									<img src="img/map-icon-edu.png" alt="">
								</div>
								<div elem="block-popup-title">
									МГУ
								</div>
							</div>
							<div elem="block-popup-row">
								<div elem="block-popup-row-icon" mods="blue">
									<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M13.5162 15.0778H4.97742V15.9316C4.97742 16.1581 4.88746 16.3753 4.72732 16.5354C4.56719 16.6956 4.35 16.7855 4.12354 16.7855H2.41577C2.18931 16.7855 1.97212 16.6956 1.81199 16.5354C1.65185 16.3753 1.56189 16.1581 1.56189 15.9316V8.24671H0.708008V4.83118H1.56189V2.26953C1.56189 1.8166 1.74181 1.38223 2.06208 1.06196C2.38235 0.741692 2.81673 0.561768 3.26965 0.561768H15.224C15.6769 0.561768 16.1113 0.741692 16.4316 1.06196C16.7518 1.38223 16.9318 1.8166 16.9318 2.26953V4.83118H17.7857V8.24671H16.9318V15.9316C16.9318 16.1581 16.8418 16.3753 16.6817 16.5354C16.5215 16.6956 16.3044 16.7855 16.0779 16.7855H14.3701C14.1437 16.7855 13.9265 16.6956 13.7663 16.5354C13.6062 16.3753 13.5162 16.1581 13.5162 15.9316V15.0778ZM3.26965 2.26953V7.39283H15.224V2.26953H3.26965ZM15.224 9.10059H3.26965V13.37H15.224V9.10059ZM5.40436 12.5161C5.06466 12.5161 4.73888 12.3812 4.49868 12.141C4.25848 11.9008 4.12354 11.575 4.12354 11.2353C4.12354 10.8956 4.25848 10.5698 4.49868 10.3296C4.73888 10.0894 5.06466 9.95447 5.40436 9.95447C5.74406 9.95447 6.06984 10.0894 6.31004 10.3296C6.55024 10.5698 6.68518 10.8956 6.68518 11.2353C6.68518 11.575 6.55024 11.9008 6.31004 12.141C6.06984 12.3812 5.74406 12.5161 5.40436 12.5161ZM13.0893 12.5161C12.7496 12.5161 12.4238 12.3812 12.1836 12.141C11.9434 11.9008 11.8085 11.575 11.8085 11.2353C11.8085 10.8956 11.9434 10.5698 12.1836 10.3296C12.4238 10.0894 12.7496 9.95447 13.0893 9.95447C13.429 9.95447 13.7548 10.0894 13.995 10.3296C14.2352 10.5698 14.3701 10.8956 14.3701 11.2353C14.3701 11.575 14.2352 11.9008 13.995 12.141C13.7548 12.3812 13.429 12.5161 13.0893 12.5161Z" />
									</svg>
								</div>
								<div elem="block-popup-row-title">
									25 минут
								</div>
							</div>
							<div elem="block-popup-points">
								<div elem="block-popup-point" data-coords="55.663515,37.473640"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div elem="block" id="mapBlock" mods="without-popup">
			</div>
		</div>
	</div><!-- b:c-map -->

	{% include 'page-buttons.html' %}

{% endblock %}
