= yaml =
pageTitle: Ход строительства
bodyClasses: 
main: false
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}

{% block main %}

    <div block="c-content" mods="build">
        <div elem="inner" class="container">
            <div elem="block">
                <div elem="site-path">
                    <div block="c-site-path" mods="{{sitePathMods}}">
                        <div elem="inner">
                            <a elem="item" href="#" mods="first">
                                Главная
                            </a>
                            <span elem="separator">
                                •
                            </span>
                            <a elem="item" href="#">
                                О проекте
                            </a>    
                            <span elem="separator">
                                •
                            </span>
                            Ход строительства
                        </div>
                    </div>
                </div>
                <div elem="layout">
                    <h1 elem="title">
                        Ход строительства
                    </h1>
                    <div elem="text">
                        <div elem="progress-row">
                            <div elem="progress-bar-wrap">
                                <div elem="progress-bar">
                                    <div elem="progress-bar-line"></div>
                                    <div elem="progress-content">
                                        <div elem="progress-bar-title">
                                            Готовность объекта
                                        </div>
                                        <div elem="progress-bar-percent">
                                            <span elem="progress-bar-per">75</span>%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div elem="mark-layout">
                                <div elem="mark-block">
                                    <div elem="mark">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
                                    </div>
                                    <div elem="mark-text">
                                        Возведение стен
                                    </div>
                                </div>
                                <div elem="loading-block">
                                    <div elem="loading">
                                        <img src="img/loading.png" alt="loading">
                                    </div>
                                    <div elem="loading-text">
                                        Отделка
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- b:content -->

	{% include 'c-build.html' %}
	

	{% include 'page-buttons.html' %}

{% endblock %}
