= yaml =
pageTitle: Сравнение
bodyClasses: apartments
mainmenu: true
main: false
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}

{% block main %}

	<div block="c-apartments" mods="compare">
        <div elem="inner">
            <div elem="topline">
                <div elem="topline-inner" class="container2">
                    <div elem="site-path">
                        <div block="c-site-path">
                            <div elem="inner">
                                <a elem="item" href="#" mods="first">
                                    Главная
                                </a>
                                <span elem="separator">
                                    •
                                </span>
                                Сравнение
                            </div>
                        </div><!-- b:l-site-path -->
                    </div>
                    <div elem="links">
                        <div elem="link-item">
                            <span elem="link" class="active">
                                Сравнение
                            </span>
                        </div>
                        <div elem="link-item">
                            <a href="#" elem="link">
                                Избранное
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="bottom">
                <div elem="bottom-inner" class="container2">
                    {% include 'compare-slider.html' %}
                </div>
            </div>
        </div>
    </div><!-- b:c-apartments -->
	

{% endblock %}
