= yaml =
pageTitle: Контакты
bodyClasses: apartments contacts
mainmenu: true
main: false
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}

{% block main %}

	   <div block="c-content" mods="contacts">
            <div elem="inner" class="container2">
                <div elem="block">
                    <div elem="site-path">
                        <div block="c-site-path">
                            <div elem="inner">
                                <a elem="item" href="#" mods="first">
                                    Главная
                                </a>
                                <span elem="separator">
                                    •
                                </span>
                                Контакты
                            </div>
                        </div><!-- b:l-site-path -->
                    </div>
                    <div elem="layout">
                        <h1 elem="title">
                            Контакты
                        </h1>
                    </div>
                </div>
            </div>
        </div><!-- b:content -->
        {% include 'contacts.html' %}
	

{% endblock %}
