= yaml =
pageTitle: Отделка
bodyClasses: 
main: false
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}

{% block main %}

    <div block="c-content" mods="{{contentMods}}">
        <div elem="inner" class="container">
            <div elem="block">
                <div elem="site-path">
                    <div block="c-site-path" mods="{{sitePathMods}}">
                        <div elem="inner">
                            <a elem="item" href="#" mods="first">
                                Главная
                            </a>
                            <span elem="separator">
                                •
                            </span>
                            <a elem="item" href="#">
                                О проекте
                            </a>    
                            <span elem="separator">
                                •
                            </span>
                            Отделка
                        </div>
                    </div><!-- b:l-site-path -->
                </div>
                <div elem="layout">
                    <h1 elem="title">
                        Отделка
                    </h1>
                </div>
            </div>
        </div>
    </div><!-- b:content -->

	{% include 'tabs.html' %}
	

	<div block="c-page-buttons" mods="{{pagebuttonsMods}}">
        <div elem="inner" class="container">
            <div elem="block">
                <a href="#" elem="button" mods="prev">
                    <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8.23515L8.23534 16.4703L10 14.7056L3.52945 8.23505L9.99982 1.76466L8.23514 0L0 8.23515Z" fill="white"/>
                    </svg>
                    Ход строительства
                </a>
                <a href="#" elem="button" mods="next">
                    <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 8.23515L1.76466 16.4703L0 14.7056L6.47055 8.23505L0.000177383 1.76466L1.76486 0L10 8.23515Z" fill="white"/>
                    </svg>
                    Инвесторам
                </a>
            </div>
        </div>
    </div><!-- b:c-page-buttons -->

{% endblock %}
