= yaml =
pageTitle: Документы
bodyClasses: 
main: false
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}

{% block main %}

	<div block="c-content" mods="{{contentMods}}">
        <div elem="inner" class="container">
            <div elem="block">
                <div elem="site-path">
                    <div block="c-site-path">
                        <div elem="inner">
                            <a elem="item" href="#" mods="first">
                                Главная
                            </a>
                            <span elem="separator">
                                •
                            </span>
                            <a elem="item" href="#">
                                О проекте
                            </a>    
                            <span elem="separator">
                                •
                            </span>
                            Документы
                        </div>
                    </div><!-- b:l-site-path -->
                </div>
                <div elem="layout">
                    <h1 elem="title">
                        Документы
                    </h1>
                </div>
                {% include 'docs.html' %}
            </div>
        </div>
    </div><!-- b:content -->
	
    <div block="c-callback" mods="{{callbackMods}}">
        <div elem="inner" class="container">
            <div elem="block">
                <div elem="layout" mods="title">
                    <div elem="title">
                        Свяжитесь с нами
                    </div>
                    <div elem="description">
                        Если остались вопросы
                    </div>
                </div>
                <div elem="layout" mods="form">
                    <form elem="form" action="#">
                        <div elem="form-row" mods="inputs">
                            <div elem="form-item" mods="input">
                                <input type="text" placeholder="Ваше имя">
                            </div>
                            <div elem="form-item" mods="input">
                                <input class="masked-input" type="tel" placeholder="+7 (___) ___-__-__">
                            </div>
                            <div elem="form-item" mods="input">
                                <input type="text" placeholder="e-mail">
                            </div>
                            <div elem="form-item" mods="button">
                                <button class="default-button default-button--green" type="submit">Позвоните мне</button>
                            </div>
                        </div>
                        <div elem="form-row">
                            <div elem="form-item" mods="personal">
                                Нажимая кнопку вы подтверждаете свое согласие на <a href="#">обработку персональных данных</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- b:c-callback -->
	{% include 'page-buttons.html' %}

{% endblock %}
