= yaml =
pageTitle: Главная
bodyClasses: main
mainmenu: true
main: true
maintopline: true
investorsMods: main
callbackMods: main
mapMods: main
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}

{% block main %}

	{% include 'main-slider.html' %}
	{% include 'apartment.html' %}
	{% include 'main-banner.html' %}
	{% include 'b-stories.html' %}
	{% include 'map.html' %}
	
	<div block="c-main-banner" mods="right main-padding">
		<div elem="inner" class="container">
			<div elem="img" data-section-bg="img/banner2.jpg">
				<img src="img/banner2.jpg" alt="">
			</div>
			<div elem="content">
				<div elem="logo">
					<img src="img/logo-min.svg" alt="">
				</div>
				<div elem="title">
					<span>Все самое лучшее </span> <br/>для жизни в citi mix
				</div>
				<div elem="text">
					Мы спроектировали современные подъезды с высокими потолками, дизайнерской отделкой и двумя входами: со двора и с улицы. Витражи и стеклянные двери в лобби создают ощущение открытого, но безопасного пространства, наполняют помещение дневным светом и воздухом.
				</div>
				<div elem="button">
					<a href="#" class="default-button default-button--blue">Подробнее</a>
					<a href="#" elem="play-link" mods="adaptive 360" class="_js-3dpopup">
						360°
					<img src="img/eye.png" alt="">
					</a>
				</div>
			</div>
			<div elem="play">
				<a href="#" elem="play-link" mods="360" class="_js-3dpopup">
					360°
					<img src="img/eye.png" alt="">
				</a>
			</div>
		</div>
	</div><!-- b:c-main-banner -->

	{% include 'investors.html' %}
	{% include 'callback.html' %}

{% endblock %}
