= yaml =
pageTitle: Рассрочка
bodyClasses: apartments
mainmenu: true
flatRowfavorites: false
main: false
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}

{% block main %}

	<div block="c-apartments" mods="mortgage">
        <div elem="inner">
            <div elem="topline">
                <div elem="topline-inner" class="container2">
                    <div elem="site-path">
                        <div block="c-site-path">
                            <div elem="inner">
                                <a elem="item" href="#" mods="first">
                                    Главная
                                </a>
                                <span elem="separator">
                                    •
                                </span>
                                <a elem="item" href="#">
                                    Условия покупки
                                </a>    
                                <span elem="separator">
                                    •
                                </span>
                                Рассрочка
                            </div>
                        </div><!-- b:l-site-path -->
                    </div>
                    <div elem="links">
                        <div elem="link-item">
                            <span elem="link" class="active">
                                Рассрочка
                            </span>
                        </div>
                        <div elem="link-item">
                            <a href="#" elem="link">
                                Ипотека
                            </a>
                        </div>
                    </div>
                    <div elem="content-layouts">
                        <div elem="content-layout" mods="left">
                            <div elem="content-layout-text">
                                Проект прошел аккредитацию в Сбербанке, ТрансКапамиталбанке и в СМП Банке, что позволяет сокращать время рассмотрения кредитных заявок и упрощает для клиента процедуру прохождения одобрения кредита.
                            </div>
                            <div elem="content-layout-button">
                                <a href="#" class="default-button default-button--green">Подать заявку</a>
                            </div>
                        </div>
                        <div elem="content-layout" mods="right">
                            <div elem="content-layout-list">
                                <ul class="c-green-list">
                                    <li>Персональный менеджер по ипотеке</li>
                                    <li>Подбор оптимальной программы кредитования</li>
                                    <li>Предварительный расчет ежемесячных платежей и оптимизация выплат</li>
                                    <li>Возможность оформления заявки на ипотеку дистанционно, в офисе продаж застройщика</li>
                                    <li>Подача документов в банк кредитным менеджером</li>
                                    <li>Контроль процесса рассмотрения заявки</li>
                                    <li>Сопровождение ипотечной сделки</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- b:c-apartments -->
    <div block="c-mortgage" mods="page installments">
        <div elem="inner" class="container2">
            <div elem="sort-row">
                <select name="" id="" elem="sort">
                    <option value="1">по умолчанию</option>
                    <option value="2">по цене</option>
                    <option value="3">по площади</option>
                </select>
            </div>
            <div elem="main-layout">
                <div elem="main-layout-item" mods="block">
                    <div elem="filter">
                        <div elem="filter-title">
                            Расчет рассрочки
                        </div>
                        <div elem="filter-item-wrap">
                            <div elem="filter-item">
                                <div elem="filter-item-title">
                                    Стоимость, млн ₽
                                </div>
                                <div elem="filter-item-range" class="custom-range" data-step="0.1" data-decimals="1">
                                    <div elem="filter-item-range-inner" class="custom-range__inner">
                                        <div class="custom-range__block">
                                            <div class="custom-range__fields custom-range__fields--low">
                                                <span>от</span>
                                                <input autocomplete="off" type="text" class="custom-range__low" value="3" data-val="1">
                                            </div>
                                            <div class="custom-range__fields custom-range__fields--high">
                                                <span>до</span>
                                                <input autocomplete="off" type="text" class="custom-range__high" value="36,5" data-val="40,2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div elem="filter-item">
                                <div elem="filter-item-title">
                                    Первоначальный взнос
                                </div>
                                <div elem="filter-item-range" class="custom-range" data-step="0.1" data-decimals="1">
                                    <div elem="filter-item-range-inner" class="custom-range__inner">
                                        <div class="custom-range__block">
                                            <div class="custom-range__fields custom-range__fields--low">
                                                <span>от</span>
                                                <input autocomplete="off" type="text" class="custom-range__low" value="3" data-val="1">
                                            </div>
                                            <div class="custom-range__fields custom-range__fields--high">
                                                <span>до</span>
                                                <input autocomplete="off" type="text" class="custom-range__high" value="36,5" data-val="40,2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div elem="filter-item">
                                <div elem="filter-item-title">
                                    Срок кредит, лет
                                </div>
                                <div elem="filter-item-range" class="custom-range" data-step="0.1" data-decimals="1">
                                    <div elem="filter-item-range-inner" class="custom-range__inner">
                                        <div class="custom-range__block">
                                            <div class="custom-range__fields custom-range__fields--low">
                                                <span>от</span>
                                                <input autocomplete="off" type="text" class="custom-range__low" value="3" data-val="1">
                                            </div>
                                            <div class="custom-range__fields custom-range__fields--high">
                                                <span>до</span>
                                                <input autocomplete="off" type="text" class="custom-range__high" value="36,5" data-val="40,2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div elem="button">
                            <a href="#" class="default-button default-button--orange">
                                Подать заявку
                            </a>
                        </div>
                    </div>
                </div>
                <div elem="main-layout-item" mods="items">
                    <div elem="banks-grid">
                        <div elem="banks-elem">
                            <div elem="installments">
                                <div elem="installments-top">
                                    <div elem="installments-title">
                                        Первый <br/>взнос
                                    </div>
                                    <div elem="installments-description">
                                        от 10 %
                                    </div>
                                </div>
                                <div elem="installments-row">
                                    <div elem="installments-row-title">
                                        Срок рассрочки
                                    </div>
                                    <div elem="installments-row-text">
                                        до 3 месяцев
                                    </div>  
                                </div>
                                <div elem="installments-row">
                                    <div elem="installments-row-title">
                                        Ставка
                                    </div>
                                    <div elem="installments-row-text">
                                        от 8%
                                    </div>  
                                </div>
                                <div elem="installments-row">
                                    <div elem="installments-row-title">
                                        Ежемесячный платеж
                                    </div>
                                    <div elem="installments-row-text">
                                        500 000  ₽
                                    </div>  
                                </div>
                                <div elem="installments-button">
                                    <a href="#" class="default-button default-button--blue">
                                        Подать заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div elem="banks-elem">
                            <div elem="installments">
                                <div elem="installments-top">
                                    <div elem="installments-title">
                                        Первый <br/>взнос
                                    </div>
                                    <div elem="installments-description">
                                        от 10 %
                                    </div>
                                </div>
                                <div elem="installments-row">
                                    <div elem="installments-row-title">
                                        Срок рассрочки
                                    </div>
                                    <div elem="installments-row-text">
                                        до 3 месяцев
                                    </div>  
                                </div>
                                <div elem="installments-row">
                                    <div elem="installments-row-title">
                                        Ставка
                                    </div>
                                    <div elem="installments-row-text">
                                        от 8%
                                    </div>  
                                </div>
                                <div elem="installments-row">
                                    <div elem="installments-row-title">
                                        Ежемесячный платеж
                                    </div>
                                    <div elem="installments-row-text">
                                        500 000  ₽
                                    </div>  
                                </div>
                                <div elem="installments-button">
                                    <a href="#" class="default-button default-button--blue">
                                        Подать заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div elem="banks-elem">
                            <div elem="installments">
                                <div elem="installments-top">
                                    <div elem="installments-title">
                                        Первый <br/>взнос
                                    </div>
                                    <div elem="installments-description">
                                        от 10 %
                                    </div>
                                </div>
                                <div elem="installments-row">
                                    <div elem="installments-row-title">
                                        Срок рассрочки
                                    </div>
                                    <div elem="installments-row-text">
                                        до 3 месяцев
                                    </div>  
                                </div>
                                <div elem="installments-row">
                                    <div elem="installments-row-title">
                                        Ставка
                                    </div>
                                    <div elem="installments-row-text">
                                        от 8%
                                    </div>  
                                </div>
                                <div elem="installments-row">
                                    <div elem="installments-row-title">
                                        Ежемесячный платеж
                                    </div>
                                    <div elem="installments-row-text">
                                        500 000  ₽
                                    </div>  
                                </div>
                                <div elem="installments-button">
                                    <a href="#" class="default-button default-button--blue">
                                        Подать заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div elem="banks-elem">
                            <div elem="installments">
                                <div elem="installments-top">
                                    <div elem="installments-title">
                                        Первый <br/>взнос
                                    </div>
                                    <div elem="installments-description">
                                        от 10 %
                                    </div>
                                </div>
                                <div elem="installments-row">
                                    <div elem="installments-row-title">
                                        Срок рассрочки
                                    </div>
                                    <div elem="installments-row-text">
                                        до 3 месяцев
                                    </div>  
                                </div>
                                <div elem="installments-row">
                                    <div elem="installments-row-title">
                                        Ставка
                                    </div>
                                    <div elem="installments-row-text">
                                        от 8%
                                    </div>  
                                </div>
                                <div elem="installments-row">
                                    <div elem="installments-row-title">
                                        Ежемесячный платеж
                                    </div>
                                    <div elem="installments-row-text">
                                        500 000  ₽
                                    </div>  
                                </div>
                                <div elem="installments-button">
                                    <a href="#" class="default-button default-button--blue">
                                        Подать заявку
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div elem="all">
                        <a href="#" elem="all-button">
                            Смотреть все
                        </a>
                    </div>
                </div>  
            </div>
        </div>
    </div><!-- b:c-mortgage -->
	

{% endblock %}
