= yaml =
pageTitle: Инвесторам
bodyClasses: 
main: false
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}

{% block main %}

    <div block="c-about">
        <div elem="inner" class="container">
            <div elem="block">
                <div elem="img" data-section-bg="img/about2.png">
                    <img src="img/about2.png" alt="about">
                </div>
                <div elem="content">
                    <div elem="content-path">
                        <div block="c-site-path">
                            <div elem="inner">
                                <a elem="item" href="#" mods="first">
                                    Главная
                                </a>
                                <span elem="separator">
                                    •
                                </span>
                                <a elem="item" href="#">
                                    О проекте
                                </a>    
                                <span elem="separator">
                                    •
                                </span>
                                Инвесторам
                            </div>
                        </div><!-- b:l-site-path -->
                    </div>
                    <div elem="content-row">
                        <h1 elem="content-title">
                            Инвесторам
                        </h1>
                        <div elem="content-description">
                            МФК CITI MIX расположен в самой тихой точке Юго-Запада Москвы, в окружении Тропаревского парка и Очаковских прудов. Выйти на пробежку, неспешно пройтись у воды или встретиться с друзьями — даже в большом городе можно наслаждаться тишиной и чистым воздухом.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- b:c-about -->

    <div block="c-investors" mods="page investors">
        <div elem="inner" class="container">
            <div elem="block">
                <div elem="layout" mods="content">
                    <div elem="content">  
                        <h1 class="h1">
                            Калькулятор
                        </h1>
                        <div elem="text">
                            • Калькулятор позволяет приблизительно оценить, как быстро Вы окупите свои инвестиции в недвижимость.<br/><br/>
                            • Горизонт инвестирования используется для расчета среднегодовой рентабельности (доходности, в процентах) на заданном временном отрезке.
                        </div>
                    </div>
                </div>
                <div elem="layout" mods="form">
                    <form elem="form" action="#">
                        <div elem="form-item">
                            <div elem="form-item-title">
                                Cтоимость аренды, ₽ в год
                            </div>
                            <div elem="form-item-range" class="custom-range--one" data-step="1" data-decimals="0">
                                <div elem="form-item-range-inner" class="custom-range__inner">
                                    <div class="custom-range__block">
                                        <div class="custom-range__fields custom-range__fields--high">
                                            <input autocomplete="off" type="text" class="custom-range__high" value="500000" data-val="3000000">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div elem="form-item">
                            <div elem="form-item-title">
                                Расходы на содержание, ₽
                            </div>
                            <div elem="form-item-range" class="custom-range--one" data-step="1" data-decimals="0">
                                <div elem="form-item-range-inner" class="custom-range__inner">
                                    <div class="custom-range__block">
                                        <div class="custom-range__fields custom-range__fields--high">
                                            <input autocomplete="off" type="text" class="custom-range__high" value="10000" data-val="40000">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div elem="form-item" mods="last"> 
                            <div elem="form-item-title">
                                Стоимость квартиры , млн ₽
                            </div>
                            <div elem="form-item-range" class="custom-range--one" data-step="0.1" data-decimals="1">
                                <div elem="form-item-range-inner" class="custom-range__inner">
                                    <div class="custom-range__block">
                                        <div class="custom-range__fields custom-range__fields--high">
                                            <input autocomplete="off" type="text" class="custom-range__high" value="12,4" data-val="20,2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div elem="form-button-wrap">
                            <div elem="form-button-text">
                                <strong>Окупаемость</strong><br/>
                                20 лет
                            </div>
                            <div elem="form-button">
                                <button type="submit" class="default-button default-button--orange">Подобрать апартамент</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- b:c-investors -->
	
	<div block="c-page-buttons" mods="{{pagebuttonsMods}}">
        <div elem="inner" class="container">
            <div elem="block">
                <a href="#" elem="button" mods="prev">
                    <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 8.23515L8.23534 16.4703L10 14.7056L3.52945 8.23505L9.99982 1.76466L8.23514 0L0 8.23515Z" fill="white"/>
                    </svg>
                    Отделка
                </a>
                <a href="#" elem="button" mods="next">
                    <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 8.23515L1.76466 16.4703L0 14.7056L6.47055 8.23505L0.000177383 1.76466L1.76486 0L10 8.23515Z" fill="white"/>
                    </svg>
                    О застройщике
                </a>
            </div>
        </div>
    </div><!-- b:c-page-buttons -->

{% endblock %}
