= yaml =
pageTitle: Визуальный подбор
bodyClasses: apartments
mortgageMods: lot
lotsliderMods: lot
mainmenu: true
flatRowfavorites: false
main: false
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}

{% block main %}

	<div block="c-apartments" mods="lot">
        <div elem="inner">
            <div elem="topline">
                <div elem="topline-inner" class="container2">
                    <div elem="site-path">
                        <div block="c-site-path">
                            <div elem="inner">
                                <a elem="item" href="#" mods="first">
                                    Главная
                                </a>
                                <span elem="separator">
                                    •
                                </span>
                                <a elem="item" href="#">
                                    Выбор апартаментов
                                </a>    
                                <span elem="separator">
                                    •
                                </span>
                                Визуальный подбор
                            </div>
                        </div><!-- b:l-site-path -->
                    </div>
                    <div elem="links">
                        <div elem="link-item">
                            <span elem="link" class="active">
                                Подбор по <br/> параметрам
                            </span>
                        </div>
                        <div elem="link-item" mods="icon">
                            <div elem="link-item-icon">
                                <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M41.3 40.6H37.1V17.5C37.1 17.1134 36.7866 16.8 36.4 16.8H26.6V0.7C26.6 0.313425 26.2866 0 25.9 0H7.7C7.31343 0 7 0.313425 7 0.7V40.6H0.7C0.313425 40.6 0 40.9134 0 41.3C0 41.6866 0.313425 42 0.7 42H41.3C41.6866 42 42 41.6866 42 41.3C42 40.9134 41.6866 40.6 41.3 40.6ZM14.7 40.6H11.9V34.3C11.9 33.9134 12.2134 33.6 12.6 33.6H14C14.3866 33.6 14.7 33.9134 14.7 34.3V40.6ZM17.5 17.5V40.6H16.1V34.3C16.1 33.1402 15.1598 32.2 14 32.2H12.6C11.4402 32.2 10.5 33.1402 10.5 34.3V40.6H8.4V1.4H25.2V16.8H18.2C17.8134 16.8 17.5 17.1134 17.5 17.5ZM35.7 40.6H18.9V18.2H35.7V40.6Z"/>
                                    <path d="M22.4 9.7998H18.2C17.8134 9.7998 17.5 10.1132 17.5 10.4998V14.6998C17.5 15.0864 17.8134 15.3998 18.2 15.3998H22.4C22.7866 15.3998 23.1 15.0864 23.1 14.6998V10.4998C23.1 10.1132 22.7866 9.7998 22.4 9.7998ZM21.7 13.9998H18.9V11.1998H21.7V13.9998Z"/>
                                    <path d="M22.4 2.7998H18.2C17.8134 2.7998 17.5 3.11323 17.5 3.4998V7.69981C17.5 8.08638 17.8134 8.39981 18.2 8.39981H22.4C22.7866 8.39981 23.1 8.08638 23.1 7.69981V3.4998C23.1 3.11323 22.7866 2.7998 22.4 2.7998ZM21.7 6.9998H18.9V4.1998H21.7V6.9998Z"/>
                                    <path d="M15.4 9.7998H11.2C10.8134 9.7998 10.5 10.1132 10.5 10.4998V14.6998C10.5 15.0864 10.8134 15.3998 11.2 15.3998H15.4C15.7866 15.3998 16.1 15.0864 16.1 14.6998V10.4998C16.1 10.1132 15.7866 9.7998 15.4 9.7998ZM14.7 13.9998H11.9V11.1998H14.7V13.9998Z"/>
                                    <path d="M15.4 2.7998H11.2C10.8134 2.7998 10.5 3.11323 10.5 3.4998V7.69981C10.5 8.08638 10.8134 8.39981 11.2 8.39981H15.4C15.7866 8.39981 16.1 8.08638 16.1 7.69981V3.4998C16.1 3.11323 15.7866 2.7998 15.4 2.7998ZM14.7 6.9998H11.9V4.1998H14.7V6.9998Z"/>
                                    <path d="M15.4 16.7998H11.2C10.8134 16.7998 10.5 17.1132 10.5 17.4998V21.6998C10.5 22.0864 10.8134 22.3998 11.2 22.3998H15.4C15.7866 22.3998 16.1 22.0864 16.1 21.6998V17.4998C16.1 17.1132 15.7866 16.7998 15.4 16.7998ZM14.7 20.9998H11.9V18.1998H14.7V20.9998Z"/>
                                    <path d="M15.4 23.7998H11.2C10.8134 23.7998 10.5 24.1132 10.5 24.4998V28.6998C10.5 29.0864 10.8134 29.3998 11.2 29.3998H15.4C15.7866 29.3998 16.1 29.0864 16.1 28.6998V24.4998C16.1 24.1132 15.7866 23.7998 15.4 23.7998ZM14.7 27.9998H11.9V25.1998H14.7V27.9998Z"/>
                                    <path d="M28.7 32.1996H32.9C33.2866 32.1996 33.6 31.8862 33.6 31.4996V27.2996C33.6 26.913 33.2866 26.5996 32.9 26.5996H28.7C28.3134 26.5996 28 26.913 28 27.2996V31.4996C28 31.8862 28.3134 32.1996 28.7 32.1996ZM29.4 27.9996H32.2V30.7996H29.4V27.9996Z"/>
                                    <path d="M28.7 25.1996H32.9C33.2866 25.1996 33.6 24.8862 33.6 24.4996V20.2996C33.6 19.913 33.2866 19.5996 32.9 19.5996H28.7C28.3134 19.5996 28 19.913 28 20.2996V24.4996C28 24.8862 28.3134 25.1996 28.7 25.1996ZM29.4 20.9996H32.2V23.7996H29.4V20.9996Z"/>
                                    <path d="M28.7 39.1996H32.9C33.2866 39.1996 33.6 38.8862 33.6 38.4996V34.2996C33.6 33.913 33.2866 33.5996 32.9 33.5996H28.7C28.3134 33.5996 28 33.913 28 34.2996V38.4996C28 38.8862 28.3134 39.1996 28.7 39.1996ZM29.4 34.9996H32.2V37.7996H29.4V34.9996Z"/>
                                    <path d="M21.7 32.1996H25.9C26.2866 32.1996 26.6 31.8862 26.6 31.4996V27.2996C26.6 26.913 26.2866 26.5996 25.9 26.5996H21.7C21.3134 26.5996 21 26.913 21 27.2996V31.4996C21 31.8862 21.3134 32.1996 21.7 32.1996ZM22.4 27.9996H25.2V30.7996H22.4V27.9996Z"/>
                                    <path d="M21.7 25.1996H25.9C26.2866 25.1996 26.6 24.8862 26.6 24.4996V20.2996C26.6 19.913 26.2866 19.5996 25.9 19.5996H21.7C21.3134 19.5996 21 19.913 21 20.2996V24.4996C21 24.8862 21.3134 25.1996 21.7 25.1996ZM22.4 20.9996H25.2V23.7996H22.4V20.9996Z"/>
                                    <path d="M21.7 39.1996H25.9C26.2866 39.1996 26.6 38.8862 26.6 38.4996V34.2996C26.6 33.913 26.2866 33.5996 25.9 33.5996H21.7C21.3134 33.5996 21 33.913 21 34.2996V38.4996C21 38.8862 21.3134 39.1996 21.7 39.1996ZM22.4 34.9996H25.2V37.7996H22.4V34.9996Z"/>
                                </svg>
                                <svg class="adaptive" width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.42731 6.71463C7.50356 6.71463 7.57668 6.68434 7.6306 6.63043C7.68451 6.57651 7.71481 6.50338 7.71481 6.42713V5.53301C7.94767 5.47057 8.15344 5.33304 8.30019 5.14175C8.44694 4.95046 8.52649 4.7161 8.52649 4.47501C8.52649 4.23391 8.44694 3.99955 8.30019 3.80826C8.15344 3.61698 7.94767 3.47945 7.71481 3.41701V0.573633C7.71481 0.497383 7.68451 0.424256 7.6306 0.37034C7.57668 0.316423 7.50356 0.286133 7.42731 0.286133C7.35106 0.286133 7.27793 0.316423 7.22401 0.37034C7.1701 0.424256 7.13981 0.497383 7.13981 0.573633V3.41988C6.90694 3.48232 6.70117 3.61985 6.55442 3.81114C6.40767 4.00243 6.32812 4.23679 6.32812 4.47788C6.32812 4.71898 6.40767 4.95334 6.55442 5.14463C6.70117 5.33591 6.90694 5.47344 7.13981 5.53588V6.43001C7.14056 6.50576 7.17119 6.57815 7.22502 6.63144C7.27886 6.68474 7.35155 6.71464 7.42731 6.71463ZM6.90118 4.47501C6.90118 4.37095 6.93204 4.26923 6.98985 4.18271C7.04766 4.09619 7.12983 4.02875 7.22597 3.98893C7.3221 3.94911 7.42789 3.93869 7.52995 3.95899C7.63201 3.97929 7.72575 4.0294 7.79933 4.10298C7.87291 4.17656 7.92302 4.27031 7.94332 4.37237C7.96362 4.47442 7.9532 4.58021 7.91338 4.67635C7.87356 4.77248 7.80613 4.85465 7.7196 4.91246C7.63308 4.97028 7.53136 5.00113 7.42731 5.00113C7.28777 5.00113 7.15395 4.9457 7.05528 4.84703C6.95661 4.74837 6.90118 4.61454 6.90118 4.47501Z"/>
                                    <path d="M4.50054 6.71463C4.57679 6.71463 4.64992 6.68434 4.70384 6.63042C4.75775 6.5765 4.78804 6.50338 4.78804 6.42713V2.44238C5.0457 2.37268 5.26928 2.21177 5.41718 1.98958C5.56507 1.76738 5.62723 1.49903 5.59208 1.23443C5.55693 0.969839 5.42686 0.727021 5.22608 0.551148C5.02529 0.375275 4.76746 0.27832 4.50054 0.27832C4.23362 0.27832 3.97579 0.375275 3.77501 0.551148C3.57422 0.727021 3.44416 0.969839 3.40901 1.23443C3.37386 1.49903 3.43601 1.76738 3.58391 1.98958C3.73181 2.21177 3.95538 2.37268 4.21304 2.44238V6.42713C4.21304 6.50338 4.24333 6.5765 4.29725 6.63042C4.35117 6.68434 4.42429 6.71463 4.50054 6.71463ZM3.97442 1.38725C3.97385 1.28307 4.00422 1.18107 4.06168 1.09417C4.11915 1.00727 4.20112 0.939392 4.2972 0.899129C4.39329 0.858867 4.49916 0.848037 4.60141 0.868012C4.70366 0.887986 4.79767 0.937867 4.87154 1.01133C4.94541 1.0848 4.9958 1.17854 5.01634 1.28067C5.03687 1.38281 5.02662 1.48874 4.98689 1.58505C4.94715 1.68135 4.87972 1.76369 4.79314 1.82163C4.70656 1.87957 4.60472 1.9105 4.50054 1.9105C4.3615 1.9105 4.22811 1.85547 4.12953 1.75742C4.03094 1.65937 3.97518 1.52629 3.97442 1.38725Z"/>
                                    <path d="M1.28629 4.55936V6.42811C1.28629 6.50436 1.31658 6.57749 1.3705 6.6314C1.42441 6.68532 1.49754 6.71561 1.57379 6.71561C1.65004 6.71561 1.72317 6.68532 1.77708 6.6314C1.831 6.57749 1.86129 6.50436 1.86129 6.42811V4.55936C2.09416 4.49692 2.29992 4.35939 2.44668 4.1681C2.59343 3.97682 2.67297 3.74245 2.67297 3.50136C2.67297 3.26026 2.59343 3.0259 2.44668 2.83462C2.29992 2.64333 2.09416 2.5058 1.86129 2.44336V0.574609C1.86129 0.49836 1.831 0.425233 1.77708 0.371316C1.72317 0.317399 1.65004 0.287109 1.57379 0.287109C1.49754 0.287109 1.42441 0.317399 1.3705 0.371316C1.31658 0.425233 1.28629 0.49836 1.28629 0.574609V2.44336C1.05342 2.5058 0.847658 2.64333 0.700905 2.83462C0.554152 3.0259 0.474609 3.26026 0.474609 3.50136C0.474609 3.74245 0.554152 3.97682 0.700905 4.1681C0.847658 4.35939 1.05342 4.49692 1.28629 4.55936ZM1.57379 2.97523C1.67797 2.97466 1.77997 3.00504 1.86687 3.0625C1.95377 3.11997 2.02165 3.20193 2.06191 3.29802C2.10217 3.3941 2.113 3.49998 2.09303 3.60223C2.07305 3.70447 2.02317 3.79849 1.94971 3.87236C1.87625 3.94622 1.78251 3.99662 1.68037 4.01715C1.57823 4.03769 1.4723 4.02744 1.376 3.9877C1.27969 3.94797 1.19735 3.88054 1.13941 3.79395C1.08147 3.70737 1.05054 3.60554 1.05054 3.50136C1.05054 3.36232 1.10557 3.22893 1.20362 3.13035C1.30167 3.03176 1.43475 2.97599 1.57379 2.97523Z"/>
                                </svg>

                            </div>
                            <a href="#" elem="link">
                                визуальный <br/> выбор
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div elem="bottom">
                <div elem="bottom-inner" class="container2">
                    {% include 'lot.html' %}
                </div>
            </div>
        </div>
    </div><!-- b:c-apartments -->
    <div block="c-tabs" mods="lot" id="responsiveTabs">
        <div elem="inner">
            <div elem="links-wrap" class="container">
                <ul elem="links">
                    <li elem="link-wrap"><a elem="link" href="#responsiveTabItem1"><span>Отделка 1</span></a></li>
                    <li elem="link-wrap"><a elem="link" href="#responsiveTabItem2"><span>Отделка 2</span></a></li>
                    <li elem="link-wrap"><a elem="link" href="#responsiveTabItem3"><span>Вид из окна</span></a></li>
                </ul>
            </div>
            <div elem="blocks" class="container">
                <div id="responsiveTabItem1" elem="block">
                    <div class="swiper tabsSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" data-section-bg="img/decor2.jpg">
                                <img src="img/decor1.jpg" alt="">
                                <div class="swiper-slider-text">Описание данной отделки1</div>
                            </div>
                            <div class="swiper-slide" data-section-bg="img/banner1.jpg"><img src="img/banner1.jpg" alt=""><div class="swiper-slider-text">Описание данной отделки2</div></div>
                         </div>
                        <div class="swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg></div>
                        <div class="swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg></div>
                    </div>
                </div>
                <div id="responsiveTabItem2" elem="block">
                    <div class="swiper tabsSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" data-section-bg="img/banner1.jpg"><img src="img/banner1.jpg" alt=""><div class="swiper-slider-text">Описание данной отделки1</div></div>
                            <div class="swiper-slide" data-section-bg="img/decor2.jpg"><img src="img/decor1.jpg" alt=""><div class="swiper-slider-text">Описание данной отделки2</div></div>
                         </div>
                        <div class="swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg></div>
                        <div class="swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg></div>
                    </div>
                </div>
                <div id="responsiveTabItem3" elem="block">
                    <div class="swiper tabsSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" data-section-bg="img/banner1.jpg"><img src="img/banner1.jpg" alt=""><div class="swiper-slider-text">Описание данной отделки1</div></div>
                            <div class="swiper-slide" data-section-bg="img/decor2.jpg"><img src="img/decor1.jpg" alt=""><div class="swiper-slider-text">Описание данной отделки2</div></div>
                         </div>
                        <div class="swiper-button-next"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg></div>
                        <div class="swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="26" viewBox="0 0 14 26" fill="none"><path d="M1.77036 25.3287C1.59671 25.5024 1.37966 25.5892 1.1409 25.5892C0.90214 25.5892 0.685085 25.5024 0.511442 25.3287C0.164155 24.9814 0.164155 24.4171 0.511442 24.0698L11.5812 13L0.511442 1.93027C0.164155 1.58298 0.164155 1.01864 0.511442 0.671354C0.858729 0.324067 1.42307 0.324067 1.77036 0.671354L13.4696 12.3706C13.8169 12.7179 13.8169 13.2822 13.4696 13.6295L1.77036 25.3287Z"></path></svg></div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- b:c-tabs -->
    {% include 'mortgage.html' %}
    {% include 'lotslider.html' %}
	

{% endblock %}
