= yaml =
pageTitle: Визуальный выбор
bodyClasses: apartments
mainmenu: true
main: false
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}

{% block main %}

	   <div block="c-content" mods="steps">
            <div elem="inner" class="container2">
                <div elem="block">
                    <div elem="site-path">
                        <div block="c-site-path">
                            <div elem="inner">
                                <a elem="item" href="#" mods="first">
                                    Главная
                                </a>
                                <span elem="separator">
                                    •
                                </span>
                                <a href="#" elem="item">Выбор апартаментов</a>
                                Визуальный подбор
                            </div>
                        </div><!-- b:l-site-path -->
                    </div>
                    <div elem="layout">
                        <h1 elem="title">
                            Выбор аппартаментов
                        </h1>
                        <div elem="text">
                            Все, что может понадобиться современному горожанину можно найти поблизости: салоны красоты и магазины, кафе и рестораны, бытовые сервисы и развлекательные центры.
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- b:content -->
        {% include 'steps.html' %}
	

{% endblock %}
