= yaml =
pageTitle: Стили
bodyClasses:
main: false
investorsMods: 
callbackMods: 
mapMods: main
layout: !!map
    header: true
    footer: true
    left: false
    right: false
= yaml =

{% extends 'app.html' %}

{% block main %}

	<div block="c-content" mods="build">
        <div elem="inner" class="container">
            <div elem="block">
                <div elem="site-path">
                    <div block="c-site-path" mods="{{sitePathMods}}">
                        <div elem="inner">
                            <a elem="item" href="#" mods="first">
                                Главная
                            </a>
                            <span elem="separator">
                                •
                            </span>
                            <a elem="item" href="#">
                                О проекте
                            </a>    
                            <span elem="separator">
                                •
                            </span>
                            Ход строительства
                        </div>
                    </div>
                </div>
                <div elem="layout">
                    <h1 elem="title">
                        Ход строительства
                    </h1>
                </div>
            </div>
        </div>
    </div><!-- b:content -->

{% endblock %}
