<div block="c-docs" mods="{{docsMods}}">
	<div elem="inner">
		<a href="#" elem="item" download="#">
			<div elem="item-layout" mods="icon">
				<div elem="icon">
					<svg viewBox="0 0 57 63" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.1138 40.2888H15.3178C16.1218 40.2888 17.2258 40.3128 17.6698 40.3128C20.8738 40.3128 22.4818 38.3688 22.4818 36.0168C22.4818 33.7848 21.1258 31.8528 17.7658 31.8528C17.2138 31.8528 15.7258 31.8888 15.2818 31.8888H15.1138V40.2888ZM17.7418 33.6528C19.3018 33.6528 20.4418 34.4688 20.4418 36.0168C20.4418 37.6128 19.3858 38.5128 17.7298 38.5128C17.4538 38.5128 17.2858 38.5128 17.0338 38.4888V33.6888C17.2738 33.6528 17.5378 33.6528 17.7418 33.6528ZM23.4435 36.0888C23.4435 38.7648 25.3515 40.4328 27.9075 40.4328C30.4635 40.4328 32.3715 38.6328 32.3715 36.0888C32.3715 33.4128 30.4635 31.7448 27.9075 31.7448C25.2315 31.7448 23.4435 33.6528 23.4435 36.0888ZM25.4835 36.0888C25.4835 34.5528 26.5155 33.5448 27.9075 33.5448C29.2635 33.5448 30.3315 34.5528 30.3315 36.0888C30.3315 37.5048 29.5035 38.6328 27.9075 38.6328C26.5635 38.6328 25.4835 37.5288 25.4835 36.0888ZM39.7421 38.0208C39.1781 38.4408 38.5181 38.6328 37.9181 38.6328C36.4061 38.6328 35.3741 37.5768 35.3741 36.0888C35.3741 34.4328 36.4301 33.5448 37.7261 33.5448C38.5181 33.5448 38.9861 33.7848 39.4421 34.0608L40.2941 32.6208C39.7901 32.1288 38.8421 31.7448 37.7261 31.7448C34.8341 31.7448 33.3341 33.6768 33.3341 36.0888C33.3341 38.7048 35.1341 40.4328 37.7381 40.4328C38.8781 40.4328 39.9701 40.0248 40.4741 39.4608L39.7421 38.0208Z"/>
						<path d="M56.1038 18.6923V59.1705C56.1067 59.5796 56.0289 59.9853 55.8749 60.3644C55.7209 60.7434 55.4937 61.0885 55.2063 61.3798C54.9189 61.6711 54.5769 61.903 54.1999 62.0622C53.8228 62.2214 53.4181 62.3048 53.0087 62.3077H3.09506C2.27474 62.3077 1.48797 61.9822 0.907624 61.4027C0.327277 60.8232 0.000826104 60.0371 0 59.2172V3.09046C0 1.4175 1.39948 0 3.12311 0H37.3932L56.1038 18.6923ZM49.8701 21.8077H34.2857V6.23077H6.23376V56.0769H49.8701V21.8077Z"/>
					</svg>
				</div>
			</div>
			<div elem="item-layout" mods="content">
				<div elem="item-title">
					Разрешение на строительство. Корпус 2.
				</div>
				<div elem="item-description">
					Документ размещен: 02.03.2020
				</div>
			</div>
			<div elem="item-layout" mods="download">
				<div elem="item-download">
					<svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.6827 17.247H22.9943L17.2455 22.9958L11.4966 17.247H15.8083V11.4981H18.6827V17.247ZM21.5571 5.74925H7.18498V28.7447H27.306V11.4981H21.5571V5.74925ZM4.31055 4.30053C4.31055 3.51294 4.95298 2.87482 5.74633 2.87482H22.9943L30.1804 10.0609V30.1719C30.1818 30.3606 30.1459 30.5477 30.0749 30.7226C30.0039 30.8975 29.8991 31.0567 29.7666 31.1911C29.6341 31.3255 29.4764 31.4324 29.3025 31.5059C29.1286 31.5793 28.942 31.6178 28.7533 31.6191H5.7377C5.36026 31.6165 4.999 31.4655 4.73196 31.1987C4.46493 30.932 4.31356 30.5709 4.31055 30.1934V4.30053Z"/>
					</svg>
				</div>
			</div>	
		</a>
		<a href="#" elem="item" download="#">
			<div elem="item-layout" mods="icon">
				<div elem="icon">
					<svg viewBox="0 0 57 63" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.1138 40.2888H15.3178C16.1218 40.2888 17.2258 40.3128 17.6698 40.3128C20.8738 40.3128 22.4818 38.3688 22.4818 36.0168C22.4818 33.7848 21.1258 31.8528 17.7658 31.8528C17.2138 31.8528 15.7258 31.8888 15.2818 31.8888H15.1138V40.2888ZM17.7418 33.6528C19.3018 33.6528 20.4418 34.4688 20.4418 36.0168C20.4418 37.6128 19.3858 38.5128 17.7298 38.5128C17.4538 38.5128 17.2858 38.5128 17.0338 38.4888V33.6888C17.2738 33.6528 17.5378 33.6528 17.7418 33.6528ZM23.4435 36.0888C23.4435 38.7648 25.3515 40.4328 27.9075 40.4328C30.4635 40.4328 32.3715 38.6328 32.3715 36.0888C32.3715 33.4128 30.4635 31.7448 27.9075 31.7448C25.2315 31.7448 23.4435 33.6528 23.4435 36.0888ZM25.4835 36.0888C25.4835 34.5528 26.5155 33.5448 27.9075 33.5448C29.2635 33.5448 30.3315 34.5528 30.3315 36.0888C30.3315 37.5048 29.5035 38.6328 27.9075 38.6328C26.5635 38.6328 25.4835 37.5288 25.4835 36.0888ZM39.7421 38.0208C39.1781 38.4408 38.5181 38.6328 37.9181 38.6328C36.4061 38.6328 35.3741 37.5768 35.3741 36.0888C35.3741 34.4328 36.4301 33.5448 37.7261 33.5448C38.5181 33.5448 38.9861 33.7848 39.4421 34.0608L40.2941 32.6208C39.7901 32.1288 38.8421 31.7448 37.7261 31.7448C34.8341 31.7448 33.3341 33.6768 33.3341 36.0888C33.3341 38.7048 35.1341 40.4328 37.7381 40.4328C38.8781 40.4328 39.9701 40.0248 40.4741 39.4608L39.7421 38.0208Z"/>
						<path d="M56.1038 18.6923V59.1705C56.1067 59.5796 56.0289 59.9853 55.8749 60.3644C55.7209 60.7434 55.4937 61.0885 55.2063 61.3798C54.9189 61.6711 54.5769 61.903 54.1999 62.0622C53.8228 62.2214 53.4181 62.3048 53.0087 62.3077H3.09506C2.27474 62.3077 1.48797 61.9822 0.907624 61.4027C0.327277 60.8232 0.000826104 60.0371 0 59.2172V3.09046C0 1.4175 1.39948 0 3.12311 0H37.3932L56.1038 18.6923ZM49.8701 21.8077H34.2857V6.23077H6.23376V56.0769H49.8701V21.8077Z"/>
					</svg>
				</div>
			</div>
			<div elem="item-layout" mods="content">
				<div elem="item-title">
					Проектная декларация, дополнение
				</div>
				<div elem="item-description">
					Документ размещен: 02.03.2020
				</div>
			</div>
			<div elem="item-layout" mods="download">
				<div elem="item-download">
					<svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.6827 17.247H22.9943L17.2455 22.9958L11.4966 17.247H15.8083V11.4981H18.6827V17.247ZM21.5571 5.74925H7.18498V28.7447H27.306V11.4981H21.5571V5.74925ZM4.31055 4.30053C4.31055 3.51294 4.95298 2.87482 5.74633 2.87482H22.9943L30.1804 10.0609V30.1719C30.1818 30.3606 30.1459 30.5477 30.0749 30.7226C30.0039 30.8975 29.8991 31.0567 29.7666 31.1911C29.6341 31.3255 29.4764 31.4324 29.3025 31.5059C29.1286 31.5793 28.942 31.6178 28.7533 31.6191H5.7377C5.36026 31.6165 4.999 31.4655 4.73196 31.1987C4.46493 30.932 4.31356 30.5709 4.31055 30.1934V4.30053Z"/>
					</svg>
				</div>
			</div>	
		</a>
		<a href="#" elem="item" download="#">
			<div elem="item-layout" mods="icon">
				<div elem="icon">
					<svg viewBox="0 0 57 63" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.1138 40.2888H15.3178C16.1218 40.2888 17.2258 40.3128 17.6698 40.3128C20.8738 40.3128 22.4818 38.3688 22.4818 36.0168C22.4818 33.7848 21.1258 31.8528 17.7658 31.8528C17.2138 31.8528 15.7258 31.8888 15.2818 31.8888H15.1138V40.2888ZM17.7418 33.6528C19.3018 33.6528 20.4418 34.4688 20.4418 36.0168C20.4418 37.6128 19.3858 38.5128 17.7298 38.5128C17.4538 38.5128 17.2858 38.5128 17.0338 38.4888V33.6888C17.2738 33.6528 17.5378 33.6528 17.7418 33.6528ZM23.4435 36.0888C23.4435 38.7648 25.3515 40.4328 27.9075 40.4328C30.4635 40.4328 32.3715 38.6328 32.3715 36.0888C32.3715 33.4128 30.4635 31.7448 27.9075 31.7448C25.2315 31.7448 23.4435 33.6528 23.4435 36.0888ZM25.4835 36.0888C25.4835 34.5528 26.5155 33.5448 27.9075 33.5448C29.2635 33.5448 30.3315 34.5528 30.3315 36.0888C30.3315 37.5048 29.5035 38.6328 27.9075 38.6328C26.5635 38.6328 25.4835 37.5288 25.4835 36.0888ZM39.7421 38.0208C39.1781 38.4408 38.5181 38.6328 37.9181 38.6328C36.4061 38.6328 35.3741 37.5768 35.3741 36.0888C35.3741 34.4328 36.4301 33.5448 37.7261 33.5448C38.5181 33.5448 38.9861 33.7848 39.4421 34.0608L40.2941 32.6208C39.7901 32.1288 38.8421 31.7448 37.7261 31.7448C34.8341 31.7448 33.3341 33.6768 33.3341 36.0888C33.3341 38.7048 35.1341 40.4328 37.7381 40.4328C38.8781 40.4328 39.9701 40.0248 40.4741 39.4608L39.7421 38.0208Z"/>
						<path d="M56.1038 18.6923V59.1705C56.1067 59.5796 56.0289 59.9853 55.8749 60.3644C55.7209 60.7434 55.4937 61.0885 55.2063 61.3798C54.9189 61.6711 54.5769 61.903 54.1999 62.0622C53.8228 62.2214 53.4181 62.3048 53.0087 62.3077H3.09506C2.27474 62.3077 1.48797 61.9822 0.907624 61.4027C0.327277 60.8232 0.000826104 60.0371 0 59.2172V3.09046C0 1.4175 1.39948 0 3.12311 0H37.3932L56.1038 18.6923ZM49.8701 21.8077H34.2857V6.23077H6.23376V56.0769H49.8701V21.8077Z"/>
					</svg>
				</div>
			</div>
			<div elem="item-layout" mods="content">
				<div elem="item-title">
					Разрешение на строительство. Корпус 1.
				</div>
				<div elem="item-description">
					Документ размещен: 02.03.2020
				</div>
			</div>
			<div elem="item-layout" mods="download">
				<div elem="item-download">
					<svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.6827 17.247H22.9943L17.2455 22.9958L11.4966 17.247H15.8083V11.4981H18.6827V17.247ZM21.5571 5.74925H7.18498V28.7447H27.306V11.4981H21.5571V5.74925ZM4.31055 4.30053C4.31055 3.51294 4.95298 2.87482 5.74633 2.87482H22.9943L30.1804 10.0609V30.1719C30.1818 30.3606 30.1459 30.5477 30.0749 30.7226C30.0039 30.8975 29.8991 31.0567 29.7666 31.1911C29.6341 31.3255 29.4764 31.4324 29.3025 31.5059C29.1286 31.5793 28.942 31.6178 28.7533 31.6191H5.7377C5.36026 31.6165 4.999 31.4655 4.73196 31.1987C4.46493 30.932 4.31356 30.5709 4.31055 30.1934V4.30053Z"/>
					</svg>
				</div>
			</div>	
		</a>
		<a href="#" elem="item" download="#" mods="pdf">
			<div elem="item-layout" mods="icon">
				<div elem="icon">
					<svg viewBox="0 0 56 63" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.8876 40.2307V37.3747C19.1876 37.4107 19.6436 37.4107 19.8236 37.4107C21.7676 37.4107 22.9316 36.0907 22.9316 34.5907C22.9316 33.1387 22.0916 31.8067 19.5356 31.8067C18.8876 31.8067 17.4356 31.8307 16.9676 31.8307V40.2307H18.8876ZM19.7276 33.6067C20.4116 33.6067 20.8916 33.8347 20.8916 34.5787C20.8916 35.3947 20.2676 35.6107 19.7636 35.6107C19.4876 35.6107 19.1636 35.5867 18.8876 35.5507V33.6307C19.2836 33.6187 19.4756 33.6067 19.7276 33.6067ZM24.4911 40.2307H24.6951C25.4991 40.2307 26.6031 40.2547 27.0471 40.2547C30.2511 40.2547 31.8591 38.3107 31.8591 35.9587C31.8591 33.7267 30.5031 31.7947 27.1431 31.7947C26.5911 31.7947 25.1031 31.8307 24.6591 31.8307H24.4911V40.2307ZM27.1191 33.5947C28.6791 33.5947 29.8191 34.4107 29.8191 35.9587C29.8191 37.5547 28.7631 38.4547 27.1071 38.4547C26.8311 38.4547 26.6631 38.4547 26.4111 38.4307V33.6307C26.6511 33.5947 26.9151 33.5947 27.1191 33.5947ZM33.4207 40.2307H35.3407V37.2067H37.9207V35.4067H35.3407V33.6307H38.2807V31.8307H33.4207V40.2307Z"/>
						<path d="M55.9999 18.6577V59.0609C56.0028 59.4693 55.9252 59.8742 55.7715 60.2526C55.6178 60.631 55.391 60.9754 55.1041 61.2662C54.8172 61.5569 54.4759 61.7884 54.0995 61.9473C53.7232 62.1062 53.3192 62.1895 52.9106 62.1923H3.08933C2.27053 62.1923 1.48522 61.8674 0.905943 61.289C0.326671 60.7106 0.000824574 59.926 0 59.1076V3.08474C0 1.41488 1.39689 0 3.11733 0H37.3239L55.9999 18.6577ZM49.7777 21.7673H34.2222V6.21923H6.22221V55.9731H49.7777V21.7673Z"/>
					</svg>
				</div>
			</div>
			<div elem="item-layout" mods="content">
				<div elem="item-title">
					Проектная декларация
				</div>
				<div elem="item-description">
					Документ размещен: 02.03.2020
				</div>
			</div>
			<div elem="item-layout" mods="download">
				<div elem="item-download">
					<svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.6827 17.247H22.9943L17.2455 22.9958L11.4966 17.247H15.8083V11.4981H18.6827V17.247ZM21.5571 5.74925H7.18498V28.7447H27.306V11.4981H21.5571V5.74925ZM4.31055 4.30053C4.31055 3.51294 4.95298 2.87482 5.74633 2.87482H22.9943L30.1804 10.0609V30.1719C30.1818 30.3606 30.1459 30.5477 30.0749 30.7226C30.0039 30.8975 29.8991 31.0567 29.7666 31.1911C29.6341 31.3255 29.4764 31.4324 29.3025 31.5059C29.1286 31.5793 28.942 31.6178 28.7533 31.6191H5.7377C5.36026 31.6165 4.999 31.4655 4.73196 31.1987C4.46493 30.932 4.31356 30.5709 4.31055 30.1934V4.30053Z"/>
					</svg>
				</div>
			</div>	
		</a>
		<a href="#" elem="item" download="#">
			<div elem="item-layout" mods="icon">
				<div elem="icon">
					<svg viewBox="0 0 57 63" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.1138 40.2888H15.3178C16.1218 40.2888 17.2258 40.3128 17.6698 40.3128C20.8738 40.3128 22.4818 38.3688 22.4818 36.0168C22.4818 33.7848 21.1258 31.8528 17.7658 31.8528C17.2138 31.8528 15.7258 31.8888 15.2818 31.8888H15.1138V40.2888ZM17.7418 33.6528C19.3018 33.6528 20.4418 34.4688 20.4418 36.0168C20.4418 37.6128 19.3858 38.5128 17.7298 38.5128C17.4538 38.5128 17.2858 38.5128 17.0338 38.4888V33.6888C17.2738 33.6528 17.5378 33.6528 17.7418 33.6528ZM23.4435 36.0888C23.4435 38.7648 25.3515 40.4328 27.9075 40.4328C30.4635 40.4328 32.3715 38.6328 32.3715 36.0888C32.3715 33.4128 30.4635 31.7448 27.9075 31.7448C25.2315 31.7448 23.4435 33.6528 23.4435 36.0888ZM25.4835 36.0888C25.4835 34.5528 26.5155 33.5448 27.9075 33.5448C29.2635 33.5448 30.3315 34.5528 30.3315 36.0888C30.3315 37.5048 29.5035 38.6328 27.9075 38.6328C26.5635 38.6328 25.4835 37.5288 25.4835 36.0888ZM39.7421 38.0208C39.1781 38.4408 38.5181 38.6328 37.9181 38.6328C36.4061 38.6328 35.3741 37.5768 35.3741 36.0888C35.3741 34.4328 36.4301 33.5448 37.7261 33.5448C38.5181 33.5448 38.9861 33.7848 39.4421 34.0608L40.2941 32.6208C39.7901 32.1288 38.8421 31.7448 37.7261 31.7448C34.8341 31.7448 33.3341 33.6768 33.3341 36.0888C33.3341 38.7048 35.1341 40.4328 37.7381 40.4328C38.8781 40.4328 39.9701 40.0248 40.4741 39.4608L39.7421 38.0208Z"/>
						<path d="M56.1038 18.6923V59.1705C56.1067 59.5796 56.0289 59.9853 55.8749 60.3644C55.7209 60.7434 55.4937 61.0885 55.2063 61.3798C54.9189 61.6711 54.5769 61.903 54.1999 62.0622C53.8228 62.2214 53.4181 62.3048 53.0087 62.3077H3.09506C2.27474 62.3077 1.48797 61.9822 0.907624 61.4027C0.327277 60.8232 0.000826104 60.0371 0 59.2172V3.09046C0 1.4175 1.39948 0 3.12311 0H37.3932L56.1038 18.6923ZM49.8701 21.8077H34.2857V6.23077H6.23376V56.0769H49.8701V21.8077Z"/>
					</svg>
				</div>
			</div>
			<div elem="item-layout" mods="content">
				<div elem="item-title">
					Проектная декларация, дополнение
				</div>
				<div elem="item-description">
					Документ размещен: 02.03.2020
				</div>
			</div>
			<div elem="item-layout" mods="download">
				<div elem="item-download">
					<svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.6827 17.247H22.9943L17.2455 22.9958L11.4966 17.247H15.8083V11.4981H18.6827V17.247ZM21.5571 5.74925H7.18498V28.7447H27.306V11.4981H21.5571V5.74925ZM4.31055 4.30053C4.31055 3.51294 4.95298 2.87482 5.74633 2.87482H22.9943L30.1804 10.0609V30.1719C30.1818 30.3606 30.1459 30.5477 30.0749 30.7226C30.0039 30.8975 29.8991 31.0567 29.7666 31.1911C29.6341 31.3255 29.4764 31.4324 29.3025 31.5059C29.1286 31.5793 28.942 31.6178 28.7533 31.6191H5.7377C5.36026 31.6165 4.999 31.4655 4.73196 31.1987C4.46493 30.932 4.31356 30.5709 4.31055 30.1934V4.30053Z"/>
					</svg>
				</div>
			</div>	
		</a>
		<a href="#" elem="item" download="#" mods="pdf">
			<div elem="item-layout" mods="icon">
				<div elem="icon">
					<svg viewBox="0 0 56 63" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.8876 40.2307V37.3747C19.1876 37.4107 19.6436 37.4107 19.8236 37.4107C21.7676 37.4107 22.9316 36.0907 22.9316 34.5907C22.9316 33.1387 22.0916 31.8067 19.5356 31.8067C18.8876 31.8067 17.4356 31.8307 16.9676 31.8307V40.2307H18.8876ZM19.7276 33.6067C20.4116 33.6067 20.8916 33.8347 20.8916 34.5787C20.8916 35.3947 20.2676 35.6107 19.7636 35.6107C19.4876 35.6107 19.1636 35.5867 18.8876 35.5507V33.6307C19.2836 33.6187 19.4756 33.6067 19.7276 33.6067ZM24.4911 40.2307H24.6951C25.4991 40.2307 26.6031 40.2547 27.0471 40.2547C30.2511 40.2547 31.8591 38.3107 31.8591 35.9587C31.8591 33.7267 30.5031 31.7947 27.1431 31.7947C26.5911 31.7947 25.1031 31.8307 24.6591 31.8307H24.4911V40.2307ZM27.1191 33.5947C28.6791 33.5947 29.8191 34.4107 29.8191 35.9587C29.8191 37.5547 28.7631 38.4547 27.1071 38.4547C26.8311 38.4547 26.6631 38.4547 26.4111 38.4307V33.6307C26.6511 33.5947 26.9151 33.5947 27.1191 33.5947ZM33.4207 40.2307H35.3407V37.2067H37.9207V35.4067H35.3407V33.6307H38.2807V31.8307H33.4207V40.2307Z"/>
						<path d="M55.9999 18.6577V59.0609C56.0028 59.4693 55.9252 59.8742 55.7715 60.2526C55.6178 60.631 55.391 60.9754 55.1041 61.2662C54.8172 61.5569 54.4759 61.7884 54.0995 61.9473C53.7232 62.1062 53.3192 62.1895 52.9106 62.1923H3.08933C2.27053 62.1923 1.48522 61.8674 0.905943 61.289C0.326671 60.7106 0.000824574 59.926 0 59.1076V3.08474C0 1.41488 1.39689 0 3.11733 0H37.3239L55.9999 18.6577ZM49.7777 21.7673H34.2222V6.21923H6.22221V55.9731H49.7777V21.7673Z"/>
					</svg>
				</div>
			</div>
			<div elem="item-layout" mods="content">
				<div elem="item-title">
					Разрешение на строительство. Корпус 2.
				</div>
				<div elem="item-description">
					Документ размещен: 02.03.2020
				</div>
			</div>
			<div elem="item-layout" mods="download">
				<div elem="item-download">
					<svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.6827 17.247H22.9943L17.2455 22.9958L11.4966 17.247H15.8083V11.4981H18.6827V17.247ZM21.5571 5.74925H7.18498V28.7447H27.306V11.4981H21.5571V5.74925ZM4.31055 4.30053C4.31055 3.51294 4.95298 2.87482 5.74633 2.87482H22.9943L30.1804 10.0609V30.1719C30.1818 30.3606 30.1459 30.5477 30.0749 30.7226C30.0039 30.8975 29.8991 31.0567 29.7666 31.1911C29.6341 31.3255 29.4764 31.4324 29.3025 31.5059C29.1286 31.5793 28.942 31.6178 28.7533 31.6191H5.7377C5.36026 31.6165 4.999 31.4655 4.73196 31.1987C4.46493 30.932 4.31356 30.5709 4.31055 30.1934V4.30053Z"/>
					</svg>
				</div>
			</div>	
		</a>
		<a href="#" elem="item" download="#">
			<div elem="item-layout" mods="icon">
				<div elem="icon">
					<svg viewBox="0 0 57 63" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.1138 40.2888H15.3178C16.1218 40.2888 17.2258 40.3128 17.6698 40.3128C20.8738 40.3128 22.4818 38.3688 22.4818 36.0168C22.4818 33.7848 21.1258 31.8528 17.7658 31.8528C17.2138 31.8528 15.7258 31.8888 15.2818 31.8888H15.1138V40.2888ZM17.7418 33.6528C19.3018 33.6528 20.4418 34.4688 20.4418 36.0168C20.4418 37.6128 19.3858 38.5128 17.7298 38.5128C17.4538 38.5128 17.2858 38.5128 17.0338 38.4888V33.6888C17.2738 33.6528 17.5378 33.6528 17.7418 33.6528ZM23.4435 36.0888C23.4435 38.7648 25.3515 40.4328 27.9075 40.4328C30.4635 40.4328 32.3715 38.6328 32.3715 36.0888C32.3715 33.4128 30.4635 31.7448 27.9075 31.7448C25.2315 31.7448 23.4435 33.6528 23.4435 36.0888ZM25.4835 36.0888C25.4835 34.5528 26.5155 33.5448 27.9075 33.5448C29.2635 33.5448 30.3315 34.5528 30.3315 36.0888C30.3315 37.5048 29.5035 38.6328 27.9075 38.6328C26.5635 38.6328 25.4835 37.5288 25.4835 36.0888ZM39.7421 38.0208C39.1781 38.4408 38.5181 38.6328 37.9181 38.6328C36.4061 38.6328 35.3741 37.5768 35.3741 36.0888C35.3741 34.4328 36.4301 33.5448 37.7261 33.5448C38.5181 33.5448 38.9861 33.7848 39.4421 34.0608L40.2941 32.6208C39.7901 32.1288 38.8421 31.7448 37.7261 31.7448C34.8341 31.7448 33.3341 33.6768 33.3341 36.0888C33.3341 38.7048 35.1341 40.4328 37.7381 40.4328C38.8781 40.4328 39.9701 40.0248 40.4741 39.4608L39.7421 38.0208Z"/>
						<path d="M56.1038 18.6923V59.1705C56.1067 59.5796 56.0289 59.9853 55.8749 60.3644C55.7209 60.7434 55.4937 61.0885 55.2063 61.3798C54.9189 61.6711 54.5769 61.903 54.1999 62.0622C53.8228 62.2214 53.4181 62.3048 53.0087 62.3077H3.09506C2.27474 62.3077 1.48797 61.9822 0.907624 61.4027C0.327277 60.8232 0.000826104 60.0371 0 59.2172V3.09046C0 1.4175 1.39948 0 3.12311 0H37.3932L56.1038 18.6923ZM49.8701 21.8077H34.2857V6.23077H6.23376V56.0769H49.8701V21.8077Z"/>
					</svg>
				</div>
			</div>
			<div elem="item-layout" mods="content">
				<div elem="item-title">
					Проектная декларация
				</div>
				<div elem="item-description">
					Документ размещен: 02.03.2020
				</div>
			</div>
			<div elem="item-layout" mods="download">
				<div elem="item-download">
					<svg viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.6827 17.247H22.9943L17.2455 22.9958L11.4966 17.247H15.8083V11.4981H18.6827V17.247ZM21.5571 5.74925H7.18498V28.7447H27.306V11.4981H21.5571V5.74925ZM4.31055 4.30053C4.31055 3.51294 4.95298 2.87482 5.74633 2.87482H22.9943L30.1804 10.0609V30.1719C30.1818 30.3606 30.1459 30.5477 30.0749 30.7226C30.0039 30.8975 29.8991 31.0567 29.7666 31.1911C29.6341 31.3255 29.4764 31.4324 29.3025 31.5059C29.1286 31.5793 28.942 31.6178 28.7533 31.6191H5.7377C5.36026 31.6165 4.999 31.4655 4.73196 31.1987C4.46493 30.932 4.31356 30.5709 4.31055 30.1934V4.30053Z"/>
					</svg>
				</div>
			</div>	
		</a>
	</div>
</div><!-- b:c-docs -->