.c-docs
	margin-top 80px
	
	&__item
		display flex
		align-items center
		background: #FFFFFF;
		border-radius: 50px;
		padding 40px 50px
		text-decoration none
		transition background ease-out 0.3s
		margin-top 30px
		
		&:hover
			background #00AAE7
			
			.c-docs
			
				&__icon,&__item-download
					svg
						fill #fff
						
				&__item-title
					color #fff
					
				&__item-description
					color #C3E4F8
					
		&--pdf
			.c-docs
				
				&__icon
					svg
						fill #F15A22
		
	&__item-layout
		flex 1 1 auto
		
		&--icon
			flex 0 0 56px
			margin-right 38px
		
		&--download
			flex 0 0 26px
			
		&--content
			padding-right 20px
			
	&__icon
		svg
			width 56px
			height 62px
			fill #00AAE7
			
	&__item-title
		font-weight: bold;
		font-size: 26px;
		line-height: 100%;
		letter-spacing: 0.02em;
		color: #002C3E;
		
	&__item-description
		font-size: 20px;
		line-height: 130%;
		letter-spacing: 0.02em;
		color: #A1C4DA;
		margin-top 13px
		
	&__item-download
		svg
			width 26px
			height 30px
			fill #00AAE7
			
@media all and (max-width: 1200px)
	.c-docs
		
		&__item
			padding 20px 40px
			margin-top 20px
			
		&__item-title
			font-size 20px
			
		&__item-description
			font-size 16px
			
@media all and (max-width: 768px)
	.c-docs
		margin-top 50px
		
		&__item
			padding 20px
		
		&__item-layout
			
			&--icon
				flex 0 0 30px
				margin-right 20px
			
			&--download
				flex 0 0 20px
				
		&__icon
			svg
				width 30px
				height 40px
				
		&__item-download
			svg
				width 20px
				height 25px

		&__item-title
			font-size 18px
			
		&__item-description
			font-size 14px
			
@media all and (max-width: 480px)
	.c-docs
		margin-top 13px
		
		&__item
			padding 10px 7px 0px 12px
			margin-top 10px
			
		&__item-layout
			
			&--icon
				flex 0 0 16px
				margin-right 8px
			
			&--download
				flex 0 0 16px
				
		&__item-title
			font-size 10px
			font-weight 400
			
		&__item-description
			font-size 10px
			font-weight 700
			margin-top 0
			
		&__icon
			svg
				width 16px
				height 18px
				
		&__item-download
			svg
				width 16px
				height 18px