<!doctype html>
<html lang="{{ app.lang }}">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="theme-color" content="{{ app.stylus.colors.theme }}">

        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta name="format-detection" content="telephone=no">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


		<link type="image/png" href="favicon.ico" rel="icon">

        <meta name="msapplication-tap-highlight" content="no">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">

        <title>{{ pageTitle }}</title>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="css/swiper.css">
        <link rel="stylesheet" href="css/plugins.min.css">
        <link rel="stylesheet" href="css/app.css">

        <script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU"></script>

        {% block inlineStyles %}{% endblock %}

    </head>

    <body block="app" class="{{ bodyClasses }}">

        <div class="l-aside-menu-overlay"></div>
        {% include 'aside-menu.html' %}

		{{ inlineSvgSprite() }}

        <div elem="wrapper">

            {% if layout.header %}
            	{% include 'app-header.html' %}
            {% endif %}

            <div elem="content">

                <main elem="main">
                    {% block main %}{% endblock %}
                </main><!-- app__main -->

                {% if layout.left %}
                <aside elem="aside" mods="left">
                    {% block asideLeft %}{% endblock %}
                </aside><!-- app__aside left -->
                {% endif %}

                {% if layout.right %}
                <aside elem="aside" mods="right">
                    {% block asideRight %}{% endblock %}
                </aside><!-- app__aside right -->
                {% endif %}

            </div><!-- app__content -->

            {% if layout.footer %}
            	{% include 'app-footer.html' %}
            {% endif %}

        </div><!-- app__wrapper -->

        <div class="remodal remodal-is-initialized remodal-is-closed" data-remodal-id="3dpopup" data-remodal-options="hashTracking: false, closeOnOutsideClick: true" tabindex="-1">
            <div class="remodal-title">
                <div class="h2"></div>
                <div data-remodal-action="close" class="remodal-close"></div>
            </div>    
            <div class="remodal-content">
                <div class="threed-tour">
                    <iframe src="https://citi-mix.ru/upload/pano/pano4/index.html" frameborder="0"></iframe>
                </div>
            </div>
        </div><!-- 3dpopup -->

        <div class="remodal remodal-is-initialized remodal-is-closed" data-remodal-id="callbackpopup" data-remodal-options="hashTracking: false, closeOnOutsideClick: true" tabindex="-1">   
            <div class="remodal-content">
                {% include 'callbackpopup.html' %}
            </div>
        </div><!-- callbackpopup -->

        <script src="js/vendors/jquery-3.4.1.min.js"></script>
        <script src="js/vendors/swiper.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/bs5-lightbox.min.js"></script>
        <script src="js/plyr.polyfilled.js"></script>
        <script src="js/plugins.min.js"></script>
        <script src="js/app.js"></script>

    </body><!-- app -->
</html>
