html,
body
  margin 0
  padding 0
  background #F5FBFE

html
  min-height 100%
  min-height 100vh
  
  &.menu-fixed
    overflow hidden
    
    .l-aside-menu-overlay
      pointer-events auto
      z-index 1001

.app
  display flex
  flex-direction column
  height 100%
  height 100vh

  &__wrapper
    display flex
    flex-direction column
    height 100%
    height 100vh

  &__content
    display flex
    flex 1 0 auto

  &__main
    flex 1

  &.main
    .app-header
      padding-bottom 20px
      
  &.menu-fixed
    
    .app-header__middle
      position relative
      z-index 1001
      
  &.apartments
    .app-header
      background #fff
      
      &__middle
        padding-bottom 30px
        background #F5FBFE
        border-radius: 0px 0px 40px 40px;
        
      &.scroller
        padding-top 150px
        .app-header
          
          &__middle
            background #fff
            border-radius 0
            
  &.selectbypar
    .remodal-wrapper
      padding 0
      
    .c-apartments__topline
      padding-bottom 40px
      
    .c-apartments__middle
      padding-bottom 68px
      
  &.contacts
    background #fff
    
    .app__main
      background #fff
            
@media all and (max-width: 1200px)
  .app
    &.apartments
      .app-header
        &__middle
          border-radius 0
          padding-bottom 10px
          
        &.scroller
          padding-top 0
          
@media all and (max-width: 480px)
  .app
    &.selectbypar
      .c-apartments
        
        &__topline
          padding-bottom 10px
        
        &__middle
          padding-bottom 10px
        
