<div block="c-page-buttons" mods="{{pagebuttonsMods}}">
	<div elem="inner" class="container">
		<div elem="block">
			<a href="#" elem="button" mods="prev">
				<svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0 8.23515L8.23534 16.4703L10 14.7056L3.52945 8.23505L9.99982 1.76466L8.23514 0L0 8.23515Z" fill="white"/>
				</svg>
				Документы
			</a>
			<a href="#" elem="button" mods="next">
				<svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M10 8.23515L1.76466 16.4703L0 14.7056L6.47055 8.23505L0.000177383 1.76466L1.76486 0L10 8.23515Z" fill="white"/>
				</svg>
				Инфраструктура
			</a>
		</div>
	</div>
</div><!-- b:c-page-buttons -->