.c-page-buttons
	background: #E9F3F9;
	border-radius: 50px 50px 0px 0px;
	padding 42px 0
	margin-top 40px

	&__inner{}
		
	&__block
		display flex
		align-items center
		justify-content space-between
		padding 0 150px
		
	&__button
		background: #00AAE7;
		border-radius: 20px;
		height 65px
		display flex
		justify-content center
		align-items center
		position relative
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		font-size: 16px;
		line-height: 130%;
		letter-spacing: 0.02em;
		text-decoration none
		color: #FFFFFF;
		max-width 268px
		width 100%
		padding 20px
		
		svg
			position absolute
			width 10px
			height 16px
			top 25px
			left 17px
			
		&--next
			margin-left 10px
			svg
				right 17px
				left auto
				
@media all and (max-width: 1200px)
	.c-page-buttons

		&__block
			padding 0 50px
		
		&__button
			max-width 240px
			height 50px
			font-size 15px

			svg
				top 17px
				
@media all and (max-width: 768px)
	.c-page-buttons
		
		&__block
			padding 0 30px
		
		&__button
			max-width 240px
			height 45px
			font-size 13px

			svg
				top 15px
				left 15px
				
			&--next
				svg
					right 15px
					left auto
					
@media all and (max-width: 480px)
	.c-page-buttons
		padding 12px 0
		border-radius 10px 10px 0 0 
		margin-top 27px
		
		&__block
			padding 0
		
		&__button
			max-width 146px
			height 36px
			font-size 10px
			padding 5px
			border-radius 10px
			font-weight 400
			
			svg
				width 6px
				height 10px
				top 14px
				left 10px
				
			&--next
				svg
					right 10px
					left auto